[2021-10-21 17:16] #9140 closed, assigned to jalopezg-git

[2021-10-21 17:46] alja commented on #7718
@pcanal
FYI, When applying two commits from root cms branch for IB?CMSSW_12_X_rootmaster releases the problem is gone:
https://github.com/alja/root/commit/cc4b24996738694d282a9c05768b33458a4b6190
https://github.com/root-project/root/commit/741fe64047a3cf34e824aa79e50dac1055653a22

[2021-10-21 23:55] SamuelMarks opened #9166 "`std::vector<T,Allocator>::operator[]` with unsafe assignment break pretty printer"
[code]

(yes yes I know people use [`std::vector<T,Allocator>::at`](https://en.cppreference.com/w/cpp/container/vector/at) often for this exact reason… but the pretty printer should still show all elements, no?)

[2021-10-22 10:52] jalopezg-git opened #9171 "[cling] Properly split input line in top-level declaration/statements"
### Explain what you would like to see improved
Currently, cling uses `cling::utils::getWrapPoint()` to cut the input line in two parts: one that will become part of an internal wrapper function (i.e., `__cling_Un1Qu3xxx`) and the other that will not.
This mechanism is overly simplistic and cannot correctly handle some cases, e.g. users would expect that the excerpts below are equivalent, however,

[2021-10-22 14:38] casaburf opened #9172 "Number of divisions of ratio plot"
Hello, I wanted to set the number of divisions of a ratio plot, but it looks like that it isn't possible.
More details here https://root-forum.cern.ch/t/y-axis-resdual-plot/47364
Thank you

[2021-10-22 15:11] peter-jansson opened #9173 "Root v6.24/06 using XrdSysDNS: Failure to compile using g++ 10.3.1"
[code]

XrdSysDNS was deprecated in xrootd. Perhaps either add cast to socklen_t* on the third parameter or update to xrootd 5.3.2?

[2021-10-22 19:53] #9166 closed, assigned to nobody

[2021-10-23 14:09] ynikitenko opened #9176 "Add documentation for saving TCanvas and TPad (reference and manual)"
### Explain what you would like to see improved
I used [TCanvas](https://root.cern.ch/doc/master/classTCanvas.html)::SaveAs (which is a virtual function from its parent, [TPad::SaveAs](https://root.cern.ch/doc/master/classTPad.html#ac5f647da7241953352aa3c12baf41029)) to write canvases to files.
This function has two arguments

however, there is absolutely no documentation what the "option" could b

[2021-10-25 08:21] MohammadMohammadidoust opened #9179 "segmentation violation"
I have installed [xfitter](https://www.xfitter.org/xFitter/) package using ROOT. Installation was completed successfully
but when I want to run some examples I encounter this error:

[code]

Setup
1. ROOT version: 6.24/06
2. Operating system: ubuntu, 20.04 Built for linuxx8664gcc
3. How you obtained ROOT:  built it myself with c++17 standard library.

[2021-10-25 10:22] #9179 closed, assigned to nobody

[2021-10-25 12:12] #9176 closed, assigned to couet

[2021-10-26 12:45] Axel-Naumann opened #9187 "Code unloading fails assert: "Can not revert previous transactions""
From https://root-forum.cern.ch/t/segmentation-violation-when-re-compiling-cpp-file-after-running/47373

[code]
This gives

[code]

[2021-10-26 12:57] Axel-Naumann opened #9188 "Unnecessary (?) warnings reading `unique_ptr`"
From https://root-forum.cern.ch/t/segmentation-error-when-i-try-to-draw-a-histogram/47392

Opening https://root-forum.cern.ch/uploads/short-url/vue07kduqCLe9dhZ3MGW8pLWja0.root shows

[code]
That's on Ubuntu 20.04.

[2021-10-26 14:46] DLBacher opened #9189 "TEfficiency constructors not appended to current directory"
The TEfficiency constructors for fixed or variable bin size are not appended to the current directory. The description of TEfficiency mentions that this should only happen for the constructor using two histograms (passed and total).

The following code does not save the TEfficiency object to the file in version 6.24
[code]
Executing in version 6.18 (latest I have installed other than 6.24) does pr

[2021-10-27 17:46] luilongo opened #9196 "[RF] Possible memory leak when running upper-limits with toys"
- [ X] Checked for duplicates

Dear All,
as discussed in a previous [issue](https://github.com/root-project/root/issues/7890),  we have observed an increase in the memory when method GetInterval of the HypoTestInverter is called (see for example this [slide](https://docs.google.com/presentation/d/1hpDIabM3pMOvooI2TH3hen0YpVy74YCg9XUNNw5prvk/edit?usp=sharing).  I've prepared a small example using r

[2021-10-28 10:09] jalopezg-r00t opened #9202 "[ntuple] Members of an aliased type do not resolve to the underlying type"
- [X] Checked for duplicates
### Describe the bug
[code]

Produces the same error: "Field sgkey has unknown type SG::sgkey_t"

Cheers, Marcin.

### Setup
Using ROOT from `master` branch.

[2021-10-29 03:50] jiaxin-du opened #9207 "WebSocket data handler does not check opcode"
### The WebSocket data handler in ROOT is not complete
The data handler (as defined in line 136 in TCivetWeb.cxx) only checks the `fin` bit (`code & 0x0f`) bit but not the `opcode` (`code & 0x0f`), which may leads to unexpected behaviour in some circumstance.

### Optional: both `fin` and `opcode` need to be checked to determine the type of frame received.
As stated in RF4855, the the `fin` bit an

[2021-10-29 11:44] #9207 closed, assigned to linev

[2021-10-30 13:26] davehadley opened #9215 "TFile::MakeProject "nocompile" option does not prevent compilation"
- [x] Checked for duplicates

### Describe the bug

The documented `nocompile` flag for `TFile::MakeProject` does not prevent compilation.

### Expected behavior

`nocompile` flag prevents compilation of a shared object library.

### To Reproduce

Run: `tfile->MakeProject("test", "*", "recreate+nocompile");`
on any ROOT file with a `TTree` containing data that `MakeProject` can generate classes fo

[2021-11-01 16:45] #9116 closed

[2021-11-01 17:02] eguiraud commented on #8622
I just encountered this. A minimal reproducer that makes use of the underlying code triggering this issue within `AsNumpy`:

[code]

[2021-11-02 10:26] jalopezg-r00t commented on #8622
Yes, we will be emitting warnings in that case -except for unnamed macros, whose contents are parsed as if they came from the prompt [see here](https://github.com/root-project/root/blob/master/core/metacling/src/TCling.cxx#L2575).  If that is good enough, we can go for it -just need changing some lines.

If not, a different, more precise implementation (requiring more work) would be to buffer diag

[2021-11-02 10:26] jalopezg-r00t commented on #8389
@axel, @vgvassilev, any take on this?

[2021-11-02 10:56] Axel-Naumann commented on #8622
I think this is good enough. Thanks.

[2021-11-02 15:14] ShamrockLee opened #9225 "[Feature][DF] `Snapshot()` to a `TDirectory`"
### Is your feature request related to a problem? Please describe.
When taking a snapshot (generating a `TTree`) of an `RInterface` with RDataFrame, I need to close the current file, write to it, and open it up again.

### Describe the solution you'd like
Aside from the file name, I also hope to be able to feed a `TDirectory` to the `Snapshot()` method of an `RInterface`.

### Describe alternative

[2021-11-02 15:25] couet commented on #9011
Removing this patch will produce a problem with this macro:
[code]
Without this patch you get a different X range depending if you center the X title or not. I guess we should keep the patch and understand why in log scale it crashes (it should be protected).

[2021-11-02 15:45] couet commented on #9011
Actually it worked for you because you centred the X title. In the previous macro, remove the X title centring and go to log scale in Y and you will get the problem you discovered. So that's not a regression. The bug fix simply revealed a problem (?) which was hidden by the bug generated by the X title centring. To make it short, with a ROOT version without the patch, try:
[code]

[2021-11-02 17:16] eguiraud commented on #9225
Hi @ShamrockLee , thank you for opening this, the request makes absolute sense, but this might be a bit complicated for multi-thread Snapshots, where we need to write to the file from multiple threads and to do so we have to wrap the TFile in a `unique_ptr` and pass it to `TBufferMerger` (which would then close the file when it's done..).

Can you elaborate on your usecase a bit more please? Why d

[2021-11-02 18:44] ShamrockLee commented on #9225
@eguiraud I have little knowledge about multi-threading, and was just (naïvely) looking for an RDataFrame-anology of creating a TTree inside a TDirectory.

I currently create some TDirectories representing different stages of seloctions, and write histograms into it. For some reason, I would like to have TTree output also in some of the stages, and for that I need to use the `Snapshot` method.

Th

[2021-11-02 19:33] vgvassilev commented on #8389
Hm... yeah, maybe removing the assert is the way to go.

[2021-11-03 09:09] couet commented on #9011
The problem has indeed nothing to do with TMultiGraph. It can be described as follow: "Turning Y log scale on a empty histogram with the minimum <=0 produce an error message". And it can be reproduce by the simple following code:
[code]

[2021-11-03 14:17] couet commented on #9011
This PR https://github.com/root-project/root/pull/9229 fixes this issu. Thanks to have seen it.

[2021-11-03 15:59] radupopescu opened #9231 "Error creating SqliteDataFrame"
- [x] Checked for duplicates

### Describe the bug

ROOT script crashes when trying to read an SQLite file into an data frame:
[code]

### Expected behavior

Should not crash

### To Reproduce

[code]

### Setup

ROOT 6.24/04

Linux lxcvmfs146.cern.ch 3.10.0-1160.36.2.el7.x86_64 #1 SMP Wed Jul 21 11:57:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Additional context

You can download the ROOT sc

[2021-11-04 08:25] ShamrockLee opened #9240 "[DF] Issues managing `TClonesArray` branches"
- [X] Checked for duplicates

### Describe the bug
*   The `GetSize()` result of the `TClonesArray` fed to the (re)defining function are always 1000, not reflecting the correct value.
*   Redefining a variable that was the type `TClonesArray` causes `GetColumnNames()` method to return a column name vector with repeated column names, and trying to snapshot against related names causes fatal errors.

[2021-11-04 09:00] eguiraud commented on #9240
Hi @ShamrockLee , thank you for the detailed report and sorry for the trouble!

I will take a look as soon as possible.

[2021-11-04 09:02] eguiraud opened #9241 "[SOFIE] Provide signature with one input variable per feature"
This is required to inject SOFIE's inference functions into RDataFrame's event loops.

[2021-11-04 09:03] eguiraud opened #9242 "[TMVA][RDF] Tutorials for ML inference in RDF"
We should provide tutorials that show how to perform NN and BDT inference with TMVA's experimental interfaces (SOFIE and the fast BDT inference engine).

[2021-11-04 09:34] eguiraud commented on #9225
If you just want to Snapshot a tree in a sub-directory, it's enough to specify the path as part of the tree name:

[code]

Does that work for you?

[2021-11-04 10:21] peremato opened #9243 "ROOT.gSystem.GetIncludePath() adds extra locations on ARM64"
### Describe the bug

With ROOT 6.24/06 on aarch64 we get additional locations for include files with `TSystem::GetIncludePath()` pointing to directories exiting only in the node where the build was done. The problem is that ACliC uses these locations in the invocation of the compiler and fails because they do not exists or wrong protections at the runtime.

[code]
The first three elements are dir

[2021-11-04 10:24] peremato commented on #9243
The JIRA ticket in SPI is https://sft.its.cern.ch/jira/browse/SPI-2021

[2021-11-04 13:24] jalopezg-r00t commented on #8622
Sorry, I was completely wrong with the origin of the problem.  The original issue came from wrapper functions generated by `TClingCallFunc`, which in turn ends up triggering warnings when used by cppyy/PyROOT.

The way to go is to supress `-Wunused-result` diagnostics only for `TClingCallFunc` wrapper functions.  See all the information in the linked PR.

[2021-11-04 14:58] #9011 closed

[2021-11-04 18:24] #8389 closed

[2021-11-05 09:52] paguenther opened #9246 "Enums are not correctly resolved by PyROOT when using an alias within a class/struct"
- [x] Checked for duplicates

### Describe the bug

PyROOT is not able correctly resolve an `enum` when it is aliased in a struct.

### Expected behavior

Giving a different name to the `enum` should not cause PyROOT to fail to correctly resolve it.

### To Reproduce

[code]

### Setup

ROOT 6.24.06 from LCG101 on CentOS7

### Additional context

[2021-11-05 20:54] pcanal opened #9252 "`TTree::CloneTree` is incorrect in case of schema evolution and slow cloning"
The problem is that `CloneTree` also copies the class version number of the content of the `TBranch` onto the new branch.

In the case of fast cloning (content of the file is forwarded to the new file as is), this is the correct and necessary behavior.

In the case of slow cloning (copy entry by entry, i.e. your case), this is the wrong thing (it uses the old StreamerInfo to write instead of the n

[2021-11-05 21:03] pcanal commented on #9252
[reproducer_9252.tar.gz](https://github.com/root-project/root/files/7488905/reproducer_9252.tar.gz)

Adding a simple reproducer of the failing case. See README in the tar file for instruction.

[2021-11-06 08:19] balejk opened #9253 "ROOT does not compile on musl libc"
I'm trying to compile ROOT v6.24/06 on Void Linux with musl libc, however the build fails with the following error message:
[code]

The relevant part of `mmapsup.c` is:
[code]

My understanding is that as musl doesn't define `R__GLIBC`, the condition resolves in favor of declaring `getpagesize` return value as `size_t`. However, this conflicts with the declaration present in `unistd.h` (which is i

[2021-11-06 10:15] #9117 closed

[2021-11-07 17:03] ShamrockLee commented on #9225
Sorry for late reply.

How about adding it to the documentation?

[2021-11-07 22:55] #8622 closed

[2021-11-08 07:34] balejk commented on #9253
Another compilation failure is caused by this error:
[code]
The relevant code is
[code]
I am actually not sure if this could be a bug in `gcc`, because [apparently](https://www.gnu.org/software/libc/manual/html_node/Argument-Macros.html) `__va_copy` should be defined by the compiler and thus should not(?) be affected by libc.

Anyway, is there any reason why the above code block could not be rewri

[2021-11-08 11:17] eguiraud commented on #9225
I did not realize this was not documented, thanks! Done in #9254 .

[2021-11-08 11:34] MrCarroll commented on #9243
I've had similar issues with the Snap build, where ACliC remembers its build environment which doesn't exist in the runtime environment. As a remedy I've taken to patching `root/build/unix/compiledata.sh`, adding a segment which runs `sed` and clears up the unwanted extra include directories. Maybe something similar could work in your use case as a workaround.

 [Example here](https://github.com/M

[2021-11-08 11:38] balejk commented on #9253
Next problem is that musl [apparently](https://www.gnu.org/software/gnulib/manual/html_node/fpu_005fcontrol_002eh.html) does not provide `fpu_control.h`. According to this [forum post](https://root-forum.cern.ch/t/compiling-error-conflicting-types-alpine-linux/28193/3), nothing from this file is in fact used and thus it should be possible to remove the include - based on the `fpu_control.h` [sourc

[2021-11-08 12:49] #9225 closed

[2021-11-08 12:49] eguiraud commented on #9225
Marking this as closed now that we document the Snapshot feature.

[2021-11-08 17:06] Axel-Naumann commented on #9253
Can you propose PRs for the items for which you identified solutions already? (And we don't support this libc and OS officially, but I bet your changes will actually do cleanup, not add complexity, so let's do it!)

[2021-11-08 17:22] pcanal commented on #9189
This behavior is intentional and documented at https://root.cern.ch/doc/master/classTEfficiency.html, see example 1 and 2 for example.

[2021-11-08 18:28] DLBacher commented on #9189
This behavior is only intentional for the constructor `TEfficiency(const TH1& passed,const TH1& total)` with two, already filled histograms, as documented in the section you mentioned. All other constructors should be appended to the current directory as described a few sentences above in the same section.

[2021-11-08 18:39] pcanal commented on #9189
@lmoneta Could confirm/inform whether the doc or the code (or neither) are matching the intent?

[2021-11-08 19:54] balejk commented on #9253
Well, I wouldn't say I have identified solutions, I was hoping you would judge that, which is why I first opened an issue to discuss it.

Anyway, [here](https://github.com/root-project/root/pull/9260) is a pull request draft which comprises all the changes mentioned here. I was able to apply this patch to the current stable release and successfully build it against glibc. With musl there are still

[2021-11-08 21:37] ShamrockLee opened #9261 "[cling][DF] `auto firstTwo = Take(v, 2)` causes error"
- [X] Checked for duplicates

### Describe the bug
[code]
causes error in the ROOT interactive environment for ROOT version 6.22/08 (released) and 6.25/01 (master).

### Expected behavior
The above expressions work in the interactive environment.
It should be guaranteed to work since it's documented as the example code in the [manual](https://root.cern/doc/master/group__vecops.html#gab314e8e57fba6

[2021-11-08 21:41] balejk commented on #9253
[code]
is the next error.

The problem stems from the fact, that the condition for using `socklen_t` is (among others) glibc:
[code]
[Here](https://pubs.opengroup.org/onlinepubs/9699919799/xrat/V4_xsh_chap02.html#tag_22_02_10_06) is some context:

I am not sure how to approach this, because the standardization of `socklen_t` seems fairly recent, but in the long run, avoiding this whole types dance

[2021-11-08 23:29] ShamrockLee commented on #9261
Update: the issue is not reproduceable on LXPLUS 7 ROOT 6.24/04. Maybe it's platform specific.

[2021-11-09 09:44] jblomer commented on #9231
Narrowed it town to the use of the custom Sqlite3 VFS module.  Apparently, in some case such as complex queries / many rows, sqlite would like to use a "temporary journal" and create a temporary file for it.  That is currently unsupported by the VFS module.

[2021-11-09 09:55] jblomer commented on #9231
We need to use `PRAGMA temp_store=2` on the database to make sqlite write temporary tables to memory.

[2021-11-09 12:43] guitargeek commented on #9196
I have spent some time simplifying the reproducer significantly. This code snippet it enough to reproduce the memory leak:
[code]
For the memory increase to happen, it is important that both `RooRealVars` are defined in the loop.

Now that we have a simple reproduced, I will continue to investigate the problem later. This problem with the RooRealVar seems so general that we probably solve a ton of

[2021-11-09 13:55] eguiraud commented on #9242
For inference using an xgboost BDT model from Python we plan to offer the following API:

[code]

[2021-11-09 14:57] #9231 closed

[2021-11-09 16:02] belmakier opened #9263 "TRatioPlot axes sync"
Disclaimer: I'm new to this sort of thing but keen to contribute. Please let me know if I'm going about this the wrong way!

### Explain what you would like to see improved
At present, changing the x axis range on the lower panel of a TRatioPlot does not automatically zoom the top panel. The axes update but the histogram is not redrawn with the correct scale.

### Optional: share how it could be i

[2021-11-09 16:54] lmoneta commented on #9189
It is true that in the past versions TEfficiency was added automatically to gDIrectory.
Although I am not keen on this, I think it would be better to maintain the past behavior.
The commit causing this was   https://github.com/root-project/root/commit/ab9b80a651d458f5cf64d8d9aa5708495c00da4e
which was done to fix some thread issue and to avoid using the global `TH1::AddDirectoryStatus`.

[2021-11-09 16:57] lmoneta commented on #9189
I will commit a simple fix for this

[2021-11-09 20:56] belmakier commented on #9172
This is also the case for the upper y axis, and x axes.

It seems to be related to the distinction between
a) fLowYaxis, fUpYaxis members, and
b) the axes returned by GetLowerRefYaxis(), GetUpperRefYaxis() functions.

The number of division in the drawn axes are taken from the former which can be accessed by GetLowYaxis() and GetUpYaxis() functions, i.e.

`rp1->GetLowYaxis()->SetNdivisions(2)`

Th

[2021-11-09 21:31] eguiraud commented on #9240
Hi, I can reproduce the issue but at the moment I don't have cycles to take a better look, so I don't have a precise timeline for the fix. Still, I believe we want this fixed for our next release, 6.26. Let me know if you this is completely blocking you, in which case I might be able to suggest a workaround.

[2021-11-10 05:31] ShamrockLee commented on #9240
Sorry to hear that. It would still be great to learn possible workaround to make my project step forward.

[2021-11-10 07:30] couet commented on #9172
Yes this can be done.

[2021-11-10 07:48] couet commented on #9263
Thanks for your input. We will take it into account.

[2021-11-10 08:22] smuzaffar commented on #7718
@osschar , note that we are only applying the revert for root master branch ( https://github.com/cms-sw/root/commits/cms/master/03d7710 ) .root 6.24 branch of cmssw ( https://github.com/cms-sw/root/commits/cms/v6-24-00-patches/f4ad42e ) does not need the revert.

[2021-11-10 08:32] smuzaffar commented on #7718
@pcanal , I am testing cms root master branch ( https://github.com/cms-sw/root/commits/cms/master/03d7710 ) without the revert of ofending commit (https://github.com/cms-sw/root/commit/f9834e30eaa01b5b8921e69bfe40681092303895 ) , once it is available then hopefully I will be able to provide you with the reproducer

[2021-11-10 10:11] eguiraud commented on #9240
Alright, let's see :)

1. [GetSize](https://root.cern.ch/doc/master/classTCollection.html#af0ca154693eeb1e9d9a0ff3a8d43e466) returns the capacity of the object, you need to use `GetEntries` for the number of elements (I know, terrible naming). That should solve number 1.
2. that's annoying (and a bug to fix, of course) but you can work around it by passing the list through a `std::sort` and a [`st

[2021-11-10 21:53] smuzaffar commented on #7718
@pcanal , please use
[code]
to create cmssw dev and then run the commands  in https://github.com/root-project/root/issues/7718#issuecomment-815052660 and https://github.com/root-project/root/issues/7718#issuecomment-815212145  to reproduce the errors.

[2021-11-10 22:05] pcanal commented on #7718
@smuzaffar Thanks.

[2021-11-10 22:15] pcanal commented on #7754
Still no ETA but actively working on it.  I got to the point where I can reproduce and analyze the negative side effect of the patch.

[2021-11-11 01:50] pcanal commented on #7754
Note: I am confused :( ... I had been able to use your example and solve the problem (in a way that turns out to not be sufficient) but now that I return to it (to make sure the 'new way' is also working), I am having some "unrelated" problem.

With any release of ROOT  i tried (including v6.22/00) and NONE of your libraries around, I get:
[code]

where the warning are expected but the Error are n

[2021-11-11 09:48] nlurkin commented on #7754
Hello @pcanal
I confirm that using the command you provide, I get the same crash.

[2021-11-11 12:06] Axel-Naumann commented on #9261
Note: `Take` should be found through ADL.

[2021-11-11 14:45] #9172 closed

[2021-11-11 14:57] pcanal commented on #7754
Do you have other similar files (and/or can you still generate that type of file)?  If you do, do they also have the same problem (i.e. wondering if that file is somehow corrupted or if something is going on.  eg. the 'new' file does not have that problem).

[2021-11-11 15:14] nlurkin commented on #7754
I will have to check. I do not remember now how I generated those files.

[2021-11-11 15:26] belmakier commented on #9263
calling `gPad->Update()` from the prompt after zooming does update the upper plot. However I'm not sure where the appropriate place to call this in the TRatioPlot class would be. I have tried
- at the end of TRatioPlot::Paint()
- at the end of TRatioPlot::RangeAxisChanged()
- at the end of TRatioPlot::CreateVisualAxes()

and none of these have the desired effect.

[2021-11-11 15:29] Axel-Naumann commented on #9123
Please ask for help at https://root-forum.cern.ch - this is for reporting bugs in ROOT.

[2021-11-11 15:29] #9123 closed

[2021-11-11 15:33] Axel-Naumann commented on #9072
Yes looks good, @mpatrascoiu ! I see you have tests - I don't think we can add much here :-)

[2021-11-11 15:34] Axel-Naumann commented on #9036
OK, then there's not much we can do here. Please reopen if you disagree :-)

[2021-11-11 15:34] #9036 closed

[2021-11-11 15:56] nlurkin commented on #7754
I think I managed to produce a new file the same way as I did in the past. You can find it at
`/afs/cern.ch/user/n/nlurkin/public/pluto_oldpers.root`
However it has the same issue as the one you have (probably due to filtering and skimming using a software that has the new persistency)
[code]
The original file (which doesn't show this particular issue you spotted, but still the one that we want to

[2021-11-11 17:13] jalopezg-r00t commented on #9261
This resolves correctly to `ROOT::VecOps::Take()` after a `using namespace ROOT::VecOps;`, which is what appears in the example referenced above.
I cannot tell whether the names in `ROOT::VecOps` were directly available for unqualified lookup in the past.  @Axel-Naumann?

Anyways, I agree that the interpreter should be more clear about unresolved names (instead of partially dumping the AST).  I ca

[2021-11-11 17:26] Axel-Naumann commented on #9261
Dunno about the past but I see no reason why ADL shouldn't work here?

[2021-11-11 17:35] jalopezg-r00t commented on #9261
Yes, you are right, @Axel-Naumann.  I will get to this in the beginning of December.  :-)

[2021-11-11 18:23] pcanal commented on #7754
CloneTree currently can only handle schema evolution if the 'fast' option is selected.  For slow cloning it does not (yet?) deal well with the fact that the on-file and in-memory representation does not match (the reading part is 'sorta' fine but the writing part is confused because the cloned branches are (for now) the exact same as the input and thus we are now in the case were we attempt to wri

[2021-11-12 08:24] #9189 closed

[2021-11-12 09:19] eguiraud commented on #9136
Need a test for this

[2021-11-12 09:22] eguiraud commented on #7713
Adding the 6.26 milestone after discussion with Axel

[2021-11-12 11:28] couet commented on #9263
I put `gPad->Modified(); gPad->Update()` in all possible places and none of them worked. I guess for the time being we keep that a "feature" as the workaround is simple:  it is enough to zoom on the X top Axis.

[2021-11-12 15:00] guitargeek commented on #9196
Ok, so even after merging https://github.com/root-project/root/pull/9270 this issue needs to remain open because there are still more memory leaks in the full reproducer code provided in the first post of this PR.

[2021-11-12 16:06] joequant opened #9285 "compile error using gcc 11 on 6.24.06"
- [X] Checked for duplicates

### Describe the bug
compile error with gcc11

[code]

### Expected behavior
should comple

### To Reproduce

compile 6.24.06 with latest gcc11 on mageia
6.24.04 seems to work

[2021-11-12 17:15] belmakier commented on #9263
Emitting the RangeAxisChanged() signal at line [4751](https://root.cern/doc/master/THistPainter_8cxx_source.html#l04571) of THistPainter.cxx does fix the behavior. The axes need to be synced before the call to PaintInit() and PaintFrame()

[2021-11-12 17:38] couet commented on #9263
Nice ! What’s the code exactly ?

[2021-11-12 18:45] belmakier commented on #9263
See here: https://github.com/belmakier/root/commit/a7175c4395323e29a435d969b21d8259c1e8c8d3

[2021-11-12 21:24] radupopescu commented on #9231
Thank you!

[2021-11-13 01:32] bendavid commented on #7108
Some insight into when/where this actually causes a problem.

Take for example a recent CMSSW release where we indeed end up with a bunch of stuff in the include path starting with "/data/cmsbld/jenkins/...".  If I try to do anything with gSystem->CompileMacro then things are fine if /data/cmsbld doesn't exist on the machine where I'm running, but if I create that directory and set permissions to

[2021-11-13 09:04] joequant commented on #9285
Correction.  It fails to compile on 6.24.02.

The gcc version that it fails on is

(base) [joe@big-apple buildbot (master)]$ gcc --version
gcc (Mageia 11.2.1-0.20211106.1.mga9) 11.2.1 20211106
Copyright (C) 2021 Free Software Foundation, Inc.

[2021-11-13 15:45] vgvassilev commented on #7108
Libraries are free to use the interpreter during their static initialization after being loaded. In that case this library decided to add an extra include path. If we do not need this include path (eg there is no useful header to resolve from there). In fact we ignore such include paths [here](https://github.com/root-project/root/blob/666cd7981afcaeed4728c86591cbdfa5e20df4d2/cmake/modules/RootMacr

[2021-11-13 17:45] eguiraud commented on #7108
Hi @vgvassilev , I don't have the repro set up anymore, sorry

[2021-11-15 07:38] smuzaffar commented on #7718
@pcanal note that `/cvmfs/cms-ci.cern.ch/week0/cms-sw/cmsdist/7442/20426` area(for externals) and `CMSSW_12_2_ROOT6_X_2021-11-09-2300` IB will be deleted on SAT 20th NOV. If you still need to debug the issue after that date then let me know so that I can rebuilt it.

[2021-11-15 08:20] Axel-Naumann commented on #7108
@vgvassilev

Isn't the recent nlohmann_json issue contradicting this? These headers must be found at runtime, and that's happening either because they are found where they were during build time, or due to `ROOT_INCLUDE_PATH`. Unless "this" in "we do not need this injected include path" specifically refers to the ROOT build directory. I suppose we'd "survive" that because we anyway inject `$ROOTSY

[2021-11-15 09:47] joequant commented on #9285
This seems to have been triggered by a change to libstdc++

https://www.mail-archive.com/gcc-bugs@gcc.gnu.org/msg711632.html

[2021-11-15 13:53] couet commented on #8098
@ferdymercury do you think this PR can be merged ? or should we add more ?
https://github.com/root-project/root/pull/9280

[2021-11-15 14:05] ferdymercury commented on #8098
Cool, thanks for the PR !

Maybe this link could be added, too? https://doi.org/10.1038/s41467-020-19160-7

[2021-11-15 14:11] ferdymercury commented on #8098
And maybe also adding this script in the "tutorials/graphics" section ?
[color_palette.cpp.zip](https://github.com/root-project/root/files/7539213/color_palette.cpp.zip)

[2021-11-15 14:14] SilentAssassinMa opened #9292 "Integer overflow in TTreeCache::FillBuffer"
### Describe the bug

The `TTree::SetCacheSize()` method takes 64-byte integer as input, however the types of member `fBuffer` and `fBufferMin` in class `TTreeCache` are both 32-byte integer, so there will be an integer overflow if one tries to set the buffer size more than 512MB because in the line 1614 of `TTreeCache.cxx`:

[code]
so one will get weird warnings like:
[code]
even though every thi

[2021-11-15 14:39] vgvassilev commented on #7108
@Axel-Naumann, yeah, "this" means "ROOT build directory". I suspect that we did not capture properly which is the build directory. I remember some discussion about this with @linev where he reported he could not drop the `root_build/include` iirc.

[2021-11-15 15:03] couet commented on #8098
This example would need to be modified before being put in tutorials:

1. It should be formatted the proper way. See for instance [this one](https://github.com/root-project/root/blob/master/tutorials/graphics/arrows.C). The header should be formatted that way with a proper author name at the end.
2. The description of the macro should be more than just a brief. May be some explanation about the si

[2021-11-15 15:10] linev commented on #7108
I do not remember all details, but one reason why `root_build/include` may be still required - builtins libraries. Includes of that builtins installed in `root_build/include` directory and must be there when ROOT is running.

For instance - `root_build/include/vdt` directory which is used by `RVec,hxx`.
Or `root_build/include/VecCore`, which are used by `Math/types.h`

[2021-11-15 15:12] couet commented on #8098
Is it fine for you to do it ?

[2021-11-15 15:39] ferdymercury commented on #8098
Sure, I can do it :)

[2021-11-15 15:56] couet commented on #9263
Can you make a PR on the ROOT repository with this code ?

[2021-11-15 17:29] ferdymercury opened #9294 "Root Lockguard"
- [x] Checked for duplicates

### Describe the bug
I've been using in my programs these constructs:
[code]
(In analogy with https://en.cppreference.com/w/cpp/thread/lock_guard)

Somehow, in one of my computers (not in the other, not sure if it is related with an update I did in ROOT or something similar), I get a compilation error. This error didn't appear before.

[code]

### Expected behavior
No

[2021-11-15 17:39] ferdymercury commented on #9294
I noticed that in one computer, _REENTRANT is defined, but not in the other, not sure why, even if they are both Ubuntu.
https://github.com/root-project/root/blob/master/core/base/inc/TVirtualMutex.h#L90

So my original code only worked if _REENTRANT was undefined.

[2021-11-15 19:39] guitargeek commented on #9196
After my first PR, the remaining memory increase was dominated by a leak in `RooMinimizerFcn` that is now getting fixed in https://github.com/root-project/root/pull/9296.

However, after that PR the issue is still not fixed yet. There still remains a memory increase that is dominated by the memory waste of the RooFit memory pool for the RooDataSet. This next problem will be solved by https://githu

[2021-11-15 20:35] smuzaffar opened #9297 "ROOT 6.24 debug build failed on ppc64le"
Currently we are using ROOT 6.22 for CMS offline SW (CMSSW). It works great on all our supported archs e.g. **amd64, ppc64le, aarch64, slc7/cc8** using **gcc 9.3 10.3, 11.2**.  Now we are trying to move to ROOT 6.24 for CMS Offline Software ( CMSSW) but for

**OS: slc7
Compiler: GCC 9.3
ARCH: ppc64le**

when we try to load CMSSW dictionaries then pyROOT fails with error [see full log](https://cmss

[2021-11-15 21:14] pcanal commented on #7718
@smuzaffar Thanks for the heads up.  I made significant progress and will "hopefully" not need this build that long! :)

[2021-11-15 23:09] bendavid commented on #9112
In case it helps, I tracked down where template functions called from cppyy are actually getting instantiated.  I had initially thought this was happening from TClingCallFunc::compile_wrapper but it actually happens already before, via TListOfFunctions::FindObject (see the below stack trace)

[code]

[2021-11-16 00:23] joequant commented on #9285
This turned out to be a problem in the prerelease version of gcc 11.2 and was fixed by an internal patch.

[2021-11-16 00:23] #9285 closed

[2021-11-16 07:09] linev commented on #7108
But maybe one can resolve this - `root_build/include` as include path required only during ROOT compilation.
But should not be inserted into generated ROOT dictionaries - `$ROOTSYS/include` anyway accessible during ROOT running.
No idea how this can be done.

[2021-11-16 15:32] #8098 closed

[2021-11-17 06:42] smuzaffar commented on #9297
@vgvassilev , any suggestions?

[2021-11-17 09:41] couet commented on #9294
I am not sure who can look at this. I assigned it to @Axel-Naumann for the time being.

[2021-11-17 09:58] Axel-Naumann commented on #9294
Because ROOT traditionally passes pointers. You are welcome to propose a PR, I think this would be a fine and minimal addition. It might be more useful to make sure that the argument is a pointer to a `TVirtualMutex` even in the non-`_REENTRANT` case, though - for which I'd also welcome a PR!

Please just provide `;` after `R__LOCKGUARD(mutex)`. Alternatively, please submit a PR that adds `; {}` b

[2021-11-17 13:11] pcanal commented on #9294
In addition to what @Axel-Naumann  mentioned, ROOT supports a run-time switch where no lock is taken ('thread safety is not enabled') and this is indicated by the pointer being ```nullptr``` (thus avoid even the construction of the mutex when they are not needed).

[2021-11-17 16:33] vgvassilev commented on #9297
@smuzaffar, the major difference is the llvm9 which ships with v6.24. Do we have access to ppc64le machine so that we can build ROOT and LLVM in debug mode to investigate?

cc: @davidlange6

[2021-11-17 18:23] davidlange6 commented on #9297
is there no root test build on ppc?

[2021-11-17 20:32] kkauder opened #9309 "GDML Export Option "f"
- [ x ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2021-11-17 20:54] kkauder opened #9310 "GDML Export Option "f" is bugged."
- [ x ] Checked for duplicates

### Describe the bug
After I write out (part of) a geometry with
[code]
the main volume is named, e.g., `HcalBarrel0x0x55d87ec06500`. However, at the end of the file it still says
[code]
The result is that ROOT itself cannot read the file:
[code]

### Expected behavior
The function should return usable gdml. I tested that if I change by hand to
[code]
the file is wo

[2021-11-18 13:01] #9309 closed

[2021-11-18 15:55] Axel-Naumann opened #9312 "Possible optimizer optimization"
### Explain what you would like to see improved
`-O1` for cling spends considerable time in stressGraphics:

test | opt | non-opt
-----|-----|--------
stressGraphics.cxx | 57.68 | 16.13

We need to
- verify that it's the optimizer taking so long
- find out which pass is causing it
- consider disabling that pass by default, or reproducing and discussing with upstream what we can do

See also https:

[2021-11-18 16:30] virenvarma007 commented on #8758
Hello @guitargeek @couet , I'd like to contribute to this repository. Can you guide me in going about this issue?

[2021-11-19 15:21] etejedor opened #9315 "[PyROOT] Memory leak when iterating over std::map from Python"
Reproducer taken from the forum (https://root-forum.cern.ch/t/memory-leak-using-root-std-map-int-t-float-t/47737):

[code]

[2021-11-19 15:22] etejedor commented on #9315
It seems just invoking `begin` on the map is enough to trigger it:

[code]

[2021-11-20 09:35] virenvarma007 commented on #8758
Sir I'm having a little issue with setting up the code can you help out? @guitargeek @couet

[2021-11-21 09:57] guitargeek commented on #8758
Hi @virenvarma007, thanks for reaching out to us about this issue!

Fortunately, you don't necessarily have to compile and set up ROOT yourself to work on this issue :) All you need it a working ROOT installation on your system. Which Linux distribution are you using? Most likely root is available as a package for your distribution, for example on Ubuntu you can just do `sudo apt install root` to

[2021-11-21 15:09] virenvarma007 commented on #8758
Thanks you so much for the details Sir, I'm using Ubuntu 18.04 and I already have root installed in pc. I'll start with the tutorial and work on the Issue right away.

[2021-11-21 21:58] virenvarma007 commented on #8758
Hello @guitargeek Sir, while Installing Root to my Ubuntu VM 18.04, during the building of the file "cmake --build . -- -j3" the build stops and shows this error every time at the 49% of the build. I have tried to start the process multiple times and even increase space in my Oracle VM but nothing seemed to work.

CMake Error at /home/viren/Root CERN/root/AFTERIMAGE-prefix/src/AFTERIMAGE-stamp/AFT

[2021-11-22 11:20] eguiraud opened #9316 "[TMVA] Experimental::RBDT segfaults if input file does not exist"
Running

[code]
as

[code]
yields:
[code]

RBDT should probably protect nullptr accesses or similar and throw an exception or return an error rather than crashing.

[2021-11-22 15:12] eguiraud opened #9319 "[TTree] Print("clusters") off-by-one error in case of partial clusters"
[code]

The file has 10k entries, TTree reports only one cluster of 5966 entries (`_file0->Get<TTree>("events")->GetAutoFlush()` prints `5966`.

Unfortunately I can't share the file but this should be easy to reproduce.

[2021-11-22 15:38] hahnjo commented on #9297
I think we need to backport fb3367fa03e1c8b639e9591b93f6ac5226a80fed to v6.24

[2021-11-22 16:13] smuzaffar commented on #9297
thanks @hahnjo , I am testing fb3367f on top of v6.24 here ( https://github.com/cms-sw/root/pull/160 )

[2021-11-22 16:14] #9263 closed

[2021-11-22 17:28] smuzaffar commented on #9297
with fb3367f root build ( non-debug) fails with error [a]

[a] https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-facf87/20675/lcg/root/6.24.07-8f15712a8ca095b2e7ecc700ddf4b55e/log
[code]

[2021-11-22 17:34] hahnjo commented on #9297
@smuzaffar yes, see the other points in #8072

[2021-11-22 19:50] cburgard opened #9321 "segfault in RooProduct::Print("v")"
### Describe the bug
Verbose printout of RooProduct results in a segfault.

### Expected behavior
A printout occurs.

### To Reproduce
This script

[code]

results in a segfault:

[code]

### Setup

Current master.

[2021-11-23 09:26] #9253 closed

[2021-11-23 10:47] eguiraud commented on #9312
]This rootbench benchmark](https://github.com/root-project/rootbench/blob/master/root/tree/dataframe/RDataFrameBenchmarks.cxx#L186-L205) that creates an artificially large jitted RDataFrame computation graph sees exploding runtimes with cling + O1.

Standalone RDF code that reproduces the problem:

[code]

Actual generated code (the body of `void foo()` is what RDF passes to `TCling::Calc`, I adde

[2021-11-23 12:27] hahnjo commented on #9312
For `stressGraphics.cxx`, the explosion comes from interpreting generated C++ code. I'm attaching the largest instance, which is the last of 50 sub-tests: [sg50.zip](https://github.com/root-project/root/files/7587535/sg50.zip) (similar to Enrico, I added the `#include`s to make it compile standalone)
For this single file, Clang 12.0.1 (from C8S) takes 4s with `-O0` and 12s with `-O1`.

Looking at

[2021-11-23 12:46] hahnjo commented on #9312
The commonality between the two cases seems to be that we generate a lot of code in a single function. The current hypothesis is that this makes some optimization (or their required analyses) explode because compilers perform better for a more balanced ratio of number of functions and their lengths.

We therefore want to
1. confirm that this is actually the case by creating a reproducer, ideally w

[2021-11-23 15:52] vgvassilev commented on #7366
I cannot seem to reproduce it in the ubuntu environment. Can you put your failing environment in some docker container we could use?

[2021-11-23 16:25] eguiraud commented on #7366
See my first post here :D

[2021-11-24 07:41] eguiraud commented on #9312
When we discussed I understood cling was doing much worse than clang, but that does not seem to be the case in the end..?

[2021-11-24 07:43] hahnjo commented on #9312
No, that's another thing to investigate. But the first few factors can be understood via Clang, which should be easier for now. Then we can think about the rest.

[2021-11-24 08:15] ikabadzhov opened #9325 "x-axis limits of TGraph do not change after SetLimits"
I would like to set a custom x axis limits of my plot.

Consider the following script:
[code]
Here, `g.GetXaxis().SetLimits(-1, 3)` takes no effect.

[2021-11-24 10:32] eguiraud commented on #9312
Uh. The `const char**` were introduced because `std::vector<std::string>` made _O0_ compile times explode, see https://github.com/root-project/root/commit/3c3fd99a671cade7ad9bfbd35cd301f4e299759b . Does it help if `string_view`s are also substituted with `const char *`?

I'm working on the chunking.

[2021-11-24 10:37] hahnjo commented on #9312
Yes, that's essentially what I did. However, it's a bit inconvenient because the `std::string_view`s travel all the way into the constructor of `RDefineBase`...

[2021-11-24 10:44] eguiraud commented on #9312
we just need the `const char *` at that level in the callstack, we can build `string_view`s out of them down the stack. I'll do that asap.

[2021-11-24 10:51] hahnjo commented on #9312
No, unfortunately that's not sufficient because of inlining. Which probably also means that the commit you linked above doesn't work anymore...

[2021-11-24 15:22] nsjarvis opened #9330 "TBrowser's SetShowProjection fails under CentOS 8"
- [ y] Checked for duplicates

### The bug
In TBrowser, SetShowProjectionY and then specifying the number of bins produces an error message and no projection.
Error in <TClingCallFunc::IFacePtr(kind)>: Attempt to get interface while invalid.
Error in <TClingCallFunc::Exec(address, interpVal)>: Called with no wrapper, not implemented!

### Expected behavior
It should open a new window containing th

[2021-11-24 15:42] ktf opened #9331 "TBranch::GetEntriesSerialized count_buf contains offsets in big endian ordering?"
It looks like TBranch::GetEntriesSerialized() for the case of VLAs fills the count_buf TBuffer with bigendian ordered ints. Is that expected?

[2021-11-24 15:44] couet commented on #9330
I just tried. It is fine for me. A new black canvas is opened and as soon as the mouse is moved on top of the 2Dplot the projection appears in the newly created canvas. I am using the ROOT master version.

[2021-11-24 15:47] pcanal commented on #9331
Yes.  The "Serialized" part in the function name indicates that the return buffer is "only" decompressed but is other-wise "as-on-file".  The idea is that doing the swapping at the usage site will avoid one scan through the buffer and "may" results in better performance.

[2021-11-24 15:53] couet commented on #9325
`SetLimits` is meant to change the axis Xlow and Xmax of an histogram. A graph is a set of discreet points.  The axis range is computed from the points themselves. You cannot change the limits in the sense of the Xlow and Xmax values of an histogram. If your goal is to  make a zoom on the graph you can use `SetRangeUser`.

[2021-11-24 16:07] ikabadzhov commented on #9325
I just tried `SetRangeUser`. My goal is to rather zoom out on the x axis. It seems that Xlow and Xmax are limitations. `g.GetXaxis().SetRangeUser(-1, 3)` takes no effect again.

On the other hand, I can easily do that on the y axis, i.e. `g.GetYaxis().SetRangeUser(-1, 3)` and get zoom out on y axis.

[2021-11-24 16:12] nsjarvis commented on #9330
I'll try the master.  Thank you.

[2021-11-24 16:14] couet commented on #9325
Yes you can zoom in with `SetRangeUser` . That's the goal of this method. To "zoom out" you need to define first a Frame with the limits you need and then draw the graph in it.
[code]

[2021-11-24 16:19] ikabadzhov commented on #9325
That solves the issue. I think this can be closed now.

Thanks for the quick response.

[2021-11-24 16:19] #9325 closed

[2021-11-24 18:57] ktf commented on #9331
ok, i think i finally understand what you meant in the other thread.

Ciao,
Giulio

On Wed, Nov 24 2021 at 4:47 PM, Philippe Canal ***@***.***>
wrote:

[2021-11-24 19:00] #9331 closed

[2021-11-25 08:07] sponce opened #9334 "Lack of size validation in ZSTD compression"
- [ ] Checked for duplicates

### Describe the bug
The size validation is missing in https://github.com/root-project/root/blob/master/core/zstd/src/ZipZSTD.cxx line 47.
This leads to invalid stream in case of sizes between 0x1000000 and 0xffffffff as only the 3 last bytes of the length are put in the encoded data.

### Expected behavior
The size should be checked as done in https://github.com/root

[2021-11-25 11:22] lmoneta opened #9335 "[hist] TGraphMultiErrors: needs some improvements in interface and better documentation"
[UPDATE]: The problem is  in the default internal flag used for computing  the combined error.  Code below works if one uses correct settings. See comments below

The TGraphMultiErrors does not implement correctly the overloads from TGraph of the error getters.
In case of multiple errors, the function should returned , according to the documentation, the combined error, summing them in quadrature

[2021-11-25 15:01] adriansev opened #9339 "TMap.IsFolder() should not be true"
- [ ] Checked for duplicates
yes, not found

### Describe the bug
I would argue that, given the conceptual identity of 'folder' == 'directory'
only a TDirectory can be IsFolder, but a TMap that behaves completely different than a TDirectory, is not..

### Expected behavior
TMap.IsFolder() == False

[2021-11-25 15:49] peremato commented on #9243
`compiledata.sh` is not installed. The only one installed is `compiledata.h` and this one has no reference to the build directories.  It uses relative to `$ROOTSYS`
[code]

[2021-11-25 17:08] pcanal commented on #9339
In this context, "Folder" means "contains other (T)Objects", so all `TCollection` return `true` for `IsFolder`.

[2021-11-25 19:23] smuzaffar commented on #9297
@vgvassilev I had sent you instruction to access ppc64le machine. Were you able connect and test?

[2021-11-25 19:35] vgvassilev commented on #9297
@smuzaffar, I've contacted the llvm jit maintainer to get more insights. I have not yet started looking at this as I have some pressing deadlines. How urgent is that?

[2021-11-25 19:39] smuzaffar commented on #9297
kind of urgent as this is blocking us moving to root v6.24 . Next week we are opening next CMSSW release cycle (12.3.X)  where we want to include this

[2021-11-26 11:17] vgvassilev commented on #9297
The current valgrind report hints at the jit relocation:
[code]

[2021-11-26 14:22] eguiraud commented on #7604
Work on reducing jitting times of large RDF computation graphs when cling is using O1 is being done at:

- https://github.com/root-project/root/pull/9328
- https://github.com/root-project/root/pull/9329
- https://github.com/root-project/root/pull/9342

Once these are all in we can re-check what the situation is in terms of O0 vs O1 but also clang++ vs cling (we have seen that in some cases cling i

[2021-11-27 07:05] adriansev commented on #9339
oh.. well, unfortunate naming .. so, while now i got back to check if class name is TDirectory, maybe would be useful a isDirectory() ? to be able to check a list of keys in a TFile if is a TDirectory?

[2021-11-27 17:48] pcanal commented on #9339
For a `TKey` you can use:
[code]
For a TObject you can use:
[code]
Cheers,
Philippe.

[2021-11-27 19:20] vgvassilev commented on #8072
@hahnjo, I fixed the `clang::Parser::TryAltiVecToken` error in my local setup but it does not change the crash. I think the JIT is really overwriting the stack:
[code]

[2021-11-28 20:12] pcanal commented on #9339
Yes, those 2 interface are accessible/similar in python.

[2021-11-29 08:50] hahnjo commented on #8072
Okay, so if I understand correctly, `TUnixSystem::AccessPathName` is called from interpreted code from `hsimple.C`? If the `const char *` passed from there is not accessible, it could also be some code being wrongly generated or wrongly relocated. @vgvassilev could you figure out which of the three calls it is in `hsimple.C`? I would *guess* the third one on line 56 because `getFile` defaults to `

[2021-11-29 09:35] wmyyy opened #9347 "Hit CMake Error when build root with msvc"
### Describe the bug
Hi All,

I have follow [Build from source](https://root.cern/install/#build-from-source) to build root project on Windows with VS 2019, but hit below CMake Error while building, it seems the error details are in FREETYPE-configure-out.log, and I have attached the log.
[FREETYPE-configure-out.log](https://github.com/root-project/root/files/7617109/FREETYPE-configure-out.log)
Co

[2021-11-29 20:11] vgvassilev commented on #8072
That is the reduced version:

[code]

and we get:

[code]

[2021-11-29 21:41] belmakier commented on #9335
Try:

[code]

Since the first argument to `AddYError` is the number of points (length of your `e1` and `e2` arrays). You can set the sum type to `kSquareSum` to sum in quadrature.

[2021-11-29 22:18] vgvassilev commented on #8072
More differential:

It seems that `root.exe -l -b -e 'gSystem->AccessPathName("KKKKK",kFileExists)'` works and `root.exe -l -b -e 'gSystem->AccessPathName("",kFileExists)'` does not.

The LLVM IR diff:

[code]

[2021-11-29 23:11] vgvassilev commented on #8072
It seems the reproducer for the issue is:

[code]

and then calling `root.exe -l -b -q -e '.X P045_TDavixSystem.C' -e '.X P050_TWebSystem.C'` causes a crash...

[2021-11-30 00:21] ferdymercury commented on #7430
Just fyi, Clang now supports multi-line NOLINTs:
https://llvm.discourse.group/t/clang-tidy-multi-line-nolint/3041

[2021-11-30 09:33] bellenot commented on #9347
@wmyyy  Could you attach the `F:/root-project/root_build/FREETYPE-prefix/src/FREETYPE-stamp/FREETYPE-configure-*.log` files?

[2021-11-30 09:36] bellenot commented on #9347
@wmyyy  It looks like there is a conflict with `C:/Strawberry/perl/bin/pkg-config.bat` (which is not needed). Can you remove `C:\Strawberry\perl\bin\` from the `PATH` and try again?

[2021-11-30 09:56] bellenot commented on #9347
@wmyyy BTW, this error comes from the `CMakeLists.txt` of `FREETYE`, not from ROOT itself.

[2021-11-30 18:00] hageboeck opened #9353 "[RF] Streamer info warnings"
On some platforms, there are streamer info warnings due to schema evolution without increments of the class version.
One should check if it's possible to make root recognise that it's the same class, or increment the class version.

1. Revert d91509e24fe00844bf102fd7d20c22decda8f3ff
2. Fix all warnings in google tests.

[2021-11-30 18:01] hageboeck opened #9354 "[Win] Warnings about missing PCMs"
Cling warns about missing PCMs on windows.

1. Revert e3f2ed26b7903ff540a37e77f6c026b8502db747
2. Fix the warnings in the failing tests.

[2021-11-30 18:03] hageboeck opened #9355 "[RNT] Remove suppression of diagnostics when RNT leaves beta stage"
Since RNT is warning that it's a beta, extra suppressions for diagnostics in google test had to be added. Remove those once RNT doesn't issue the warning.

Revert 44f9863aaf0391f4e9867dcdbd6eab2ad9028e0c.

[2021-11-30 18:06] hageboeck opened #9356 "[DAOS] Remove suppression of diagnostics when daos leaves experimental stage"
Revert e2405a7aff84830a2ce02fa77e331d26238c702e once the daos backend stops warning.

Same for e946db94d7d31277e536b40c46cb0baed41ad1fd.

[2021-11-30 18:19] hageboeck opened #9357 "[RF] Failing tutorial when pandas not installed."
Add it to the black list here:
https://github.com/root-project/root/blob/e946db94d7d31277e536b40c46cb0baed41ad1fd/tutorials/CMakeLists.txt#L682-L684

The same goes for things that require numpy.

[2021-11-30 18:31] jalopezg-r00t commented on #9356
@hageboeck Many thanks!!

[2021-12-01 09:27] #9202 closed

[2021-12-01 11:21] hageboeck opened #9360 "[RF] Update Python version of rf408 tutorial"
Yes, if you have the time.
- It also accesses the global RNGs from an MT context.
- The printing is also done in a loop, and could theoretically go into a function.

_Originally posted by @hageboeck in https://github.com/root-project/root/issues/9352#issuecomment-982680071_

[2021-12-01 17:55] linev opened #9362 "Candle plot with low statistic histograms makes wrong output"
Can be reproduced with following macro:
[code]
![candle_bad](https://user-images.githubusercontent.com/4936580/144286427-c18d03d5-caf2-4879-b1d9-af224ac0a1e6.png)

For the first bins full interval drawn wrongly.
Rectangle around 50% of counts shown ok, but lines which should show 99.9% of existing values are absolutely wrong - they are drawn inside of 50% rectangle.

This happens while center of b

[2021-12-02 06:50] wmyyy commented on #9347
@bellenot I have tried to remove C:\Strawberry\perl\bin\ from the PATH, ROOT can successfully build now. Thanks a lot for your helping!

[2021-12-02 06:50] #9347 closed

[2021-12-02 08:49] linev opened #9364 "TH1::GetQuantiles provide wrong results for some usecases"
Example:
[code]

Output is:
[code]

I would expect that for probability `0.5` quantile is near `0.0`.
Function used in candle plot and because of this feature produces confusing output.

[2021-12-02 10:56] linev commented on #9362
Another problem with candle plot drawing is so-called `kMedianNotched`.
For low_stat histograms they make output:

![candle_bad2](https://user-images.githubusercontent.com/4936580/144408739-c4f9f694-c674-4b36-95dc-c9b6b43646b0.png)

Additional fix will be provided to the PR to get:

![candle4_good](https://user-images.githubusercontent.com/4936580/144409065-a64ec073-f342-4a15-b931-fd7042d0853b.png

[2021-12-02 11:00] couet commented on #9362
I emailed the author of the code: georg.troska@uni-dortmund.de

[2021-12-02 11:17] ShirinGolpayeganiCern opened #9366 "Snapshot can't store event affected by missing "TBranch" across different."
Dear all,

**Description :**
I have come across an issue in my analysis. I have been using **RDF** and **multithread** for my analysis.
I was **previously storing** the output of my analysis as **1D and 2D histograms root files**.
I changed the method and started storing the results using snapshot.
**After storing the TTree/TChain** by using **snapshot** now, I have a separate script which creates

[2021-12-02 11:52] eguiraud commented on #9366
As a first quick reply: if there are errors like those you mention printed on screen during the processing, indeed you can expect the output to not be all ok.

In particular RDataFrame does not deal well with disappearing/reappearing branches. The TTree schema is expected to be constant across the whole dataset being processed. I am not 100% what the effect will be in this case, it also depends on

[2021-12-02 15:32] #9362 closed

[2021-12-02 16:03] hahnjo commented on #9312
With #9342, JIT time for 10k RDF nodes is down from 33.5s to 12.4s, compared to 8.7s with `-O0`. On Grafana, it's 17s versus 23s:

![Bildschirmfoto vom 2021-12-02 16-58-32](https://user-images.githubusercontent.com/1613332/144457487-c34e166b-179c-4a00-86f5-2c8d35a9857a.png)

`perf diff` says:
[code]

Most of this makes sense to me:
 * optimization passes check function and parameter attributes tha

[2021-12-02 20:03] egpbos opened #9370 "GoogleTest (and hence ROOT with testing on) fails to build on GCC 4.8.5"
- [x] Checked for duplicates

### Describe the bug
When compiling with GCC c++ 4.8.5, GoogleTest fails to build. A sample of messages:

[code]
There is more, but I think this already indicates that one of the issues is the GCC version, since `is_trivially_copy_constructible` is available from GCC 5.

### Expected behavior
CMake should not configure successfully on GCC versions below 5 when configu

[2021-12-03 08:47] bendavid opened #9371 "Spurious(?) warnings persisting interpreted classes"
In some cases when trying to persist classes from ACLIC or the interpreter, there are warnings about missing dictionaries, which apparently don't prevent correctly persisting the class.

Real use case is persisting boost histogram templates instantiated with PyROOT, but a standalone example is included below.

[code]

The output is:
[code]

So apparently both classes (and the std::atomic<double> d

[2021-12-03 09:37] pcanal commented on #9371
Sorta.   If (and it look like it here) it succeeded in writing it, it did not in a likely platform dependent manners (i.e. recording the complete set of implementation dependent class hierarchy in the currently used std library).

We had a similar problem for `std::unique_ptr` which we solved by the I/O "ignoring", per se, the implementation and treating it memory content almost the same as a raw

[2021-12-03 10:24] eguiraud commented on #7441
Looks like somehow at some point the behavior switched to not copy `xrdcp` & friends into the ROOT build's `bin` directory. They are still being built though, and they can be used from `<builddir>/builtins/xrootd/XROOTD-prefix/bin/xrdcp`

[2021-12-03 10:39] vepadulano commented on #7441
Since https://github.com/root-project/root/pull/7335 , xrootd is treated as other builtins in ROOT. That means it gets its own directory in the build process under `<builddir>/builtins/xrootd`. Before this change, the install directory for xrootd corresponded to the ROOT build directory, hence why the xrootd command line executables like `xrdcp` were installed in `<builddir>/bin`. Now all the buil

[2021-12-03 11:05] lmoneta commented on #9335
Thank you for the comment. Yes there was an error in the code above, it is fixed now.

It is also correct that adding `g.SetSumErrorsMode(TGraphMultiErrors::kSquareSum);` fixes the problem.

It is then a question of documentation. I will keep the issue open, but changing its title

[2021-12-03 13:34] bendavid commented on #9371
Thanks,
One thing which confused me here is that there is no warning if I try to persist a std::atomic<double> directly (ie not as a base class or a data member), but I guess the same potential issue is present regardless.

[2021-12-03 13:43] guitargeek opened #9372 "[RF] Known bugs in RooFit JSON tool"
PR https://github.com/root-project/root/pull/8944 was a good first step to get the RooWorkspace to JSON converter work for typical histfactory models, but this simple example code showcases that are are still significant bugs.

These bugs need to be fixed in the release, such that we can promote the JSON converter as a new feature.

[code]

The JSON dump will look like this:

[code]

Here are the

[2021-12-03 13:47] guitargeek commented on #9372
@cburgard, your help would be greatly appreciated here to ensure that the fixes are correctly implemented without breaking support for HistFactory models.

[2021-12-03 14:29] nsjarvis commented on #9330
I cannot install the master easily, but I installed 6.24.06 instead and this TBrowser bug has gone.  Yay!

[2021-12-03 14:29] #9330 closed

[2021-12-03 14:39] vgvassilev commented on #9370
@Axel-Naumann, do we still support that compiler version?

[2021-12-03 15:10] Axel-Naumann commented on #9370
We don't (as we require C++14 these days). And thus @egpbos is correct when stating:

[2021-12-03 15:29] eguiraud opened #9379 "Make sure cling also adds `-DNDEBUG` to the compilation flags besides `-O1`"
In current master, cling's default switched to `-O1`. We probably also want `-DNDEBUG` as a compilation flag for the same reasons and we are currently not 100% sure that's the case.

[2021-12-03 15:33] egpbos commented on #9370
4.8 is still mentioned in the dependencies here: https://root.cern/install/dependencies/

[2021-12-03 19:47] pcanal commented on #9371
humm ... that might be a fluke (that there is no warning in the direct case),  On MacOS, I do:
[code]
(and reading it back does not seem to work either).

[2021-12-03 22:40] vgvassilev commented on #8072
Reducing further we get to a minimal reproducer: `root.exe -l -b -q -e 'void f() { TString configfeatures = gROOT->GetConfigFeatures(); bool c = configfeatures.Contains("davix");} f()'`

It is still unclear if the problem is in the relocations or incorrect lowering. The current stack is:

[code]

Here the this pointer of `TString` seems incorrect. The _ZN7TStringC1EPKc (TString::TString(char const

[2021-12-03 22:40] #9357 closed

[2021-12-04 07:54] linev commented on #9362
ok, I will revert commit

[2021-12-04 13:02] andresailer opened #9381 "RooFit HS3 JSonParsers fails to build with external nlohmann-json"
- [x] Checked for duplicates

### Describe the bug
Building root in the LCG stack dev3 slot (HEAD of master branch), full logs http://cdash.cern.ch/viewFiles.php?buildid=134296
[code]

I think introduced here #8944
I guess something like what is done in Eve needs to be added to the other CMakeLists.txt

cf.
https://github.com/root-project/root/blob/94f518c380d9c7c00d92f1fecf29806b8105ce9f/graf3d/e

[2021-12-04 14:14] #9353 closed

[2021-12-05 17:33] olifre opened #9383 "[TGeo][Regression] RadLen and IntLen changed by factor of 10 (default unit system)"
- [x] Checked for duplicates

### Describe the bug
`TGeoMaterial::RadLen` and `TGeoMaterial::IntLen` are off by a factor of 10 since commit:
https://github.com/root-project/root/commit/69ecafae96c17de621f68966f6cb4af213734e6c#diff-d30f058e18d96b0e287376ae81abec13a0acabeff56793ceafdeaa258925fa1d

Example session with ROOT 6.14/02:
[code]

Example session with ROOT 6.24/06:
[code]

### Additional co

[2021-12-05 17:48] #8377 closed

[2021-12-05 20:11] ferdymercury opened #9384 "TPad::SaveAs .tex Standalone option"
### Is your feature request related to a problem? Please describe.
When saving a canvas as .tex, I often have to later add the begin{document} and usepackages by hand.

### Describe the solution you'd like
- `SaveAs(".tex", "standalone")` adds the statements below in the output file:
- Default behaviour without arguments adds the statements below as comment (prepend %)

[code]

### Describe altern

[2021-12-06 09:27] couet commented on #9384
Yes this option "standalone"  as you described it seems a good idea. Do you want to do a PR ?

[2021-12-06 09:29] couet commented on #9383
I think @agheata should know what's going on here.

[2021-12-06 10:37] agheata commented on #9383
Hi, this is because the default unit was changed at the time to Geant4 units, which produced this changed behavior. Since v6-25-01 the default behavior of having by default CGS units was restored. In v6-14 you can try:
[code]
before creating any material.

[2021-12-06 12:08] couet commented on #9384
I'll do it.

[2021-12-06 13:00] #9315 closed

[2021-12-06 13:18] #9381 closed

[2021-12-06 15:36] ferdymercury commented on #9384
Thanks!
(And sorry for the late reply, it's a holiday in Spain).

[2021-12-06 22:04] olifre commented on #9383
@agheata Many thanks, indeed, that fixes it!

So I think (for future reference), to get into a situation which can be used in an analysis framework which should work consistently across ROOT versions >= 6.00.00 to 6.25.00 and beyond, I have to use:
[code]
Correct?

[2021-12-07 07:43] andresailer commented on #9381
Thanks @guitargeek our builds are fine again.

[2021-12-07 09:27] agheata commented on #9383
@olifre yes this looks to behave correctly also for more recent versions, where the lines will have no effect.

[2021-12-07 09:54] olifre commented on #9383
@agheata Thanks for the confirmation!
Since this is a rather breaking change in defaults which has cost one of us over a week to identify, I wonder whether a warning in the release notes would be possible. Checking at:
https://root.cern/doc/v620/release-notes.html
I don't find any warning that the units were changed in that release. What do you think?

[2021-12-07 10:14] wmyyy opened #9389 "Does ROOT support windows x64 platform?"
Hi All,

In the ROOT [release binary list](https://root.cern/releases/release-62406/), for windows, I see there is only root_v6.24.06.**win32**.vc16.exe/zip but no x64 binary. And I have follow below steps to build root project on Windows with VS 2019 to generate x64 binary, but hit below error, so I wonder if ROOT support generate x64 binary on windows? Could you please help have a look, thanks a

[2021-12-07 10:33] ferdymercury commented on #9389
https://github.com/root-project/root/pull/9387

[2021-12-07 11:00] agheata commented on #9383
@olifre this was an oversight so it does not appear in the release notes. I totally agree that we should avoid wasting other people time trying to debug the same thing, but the release notes of 6.20 may not be the first place people look, in particular since this affects several versions. I was thinking to put a short description of the incompatibility and fix in the reference guide of [TGeoMateri

[2021-12-07 11:57] olifre commented on #9383
@agheata That sounds like a reasonable location to add the documentation :-). I also talked to the user on our end who invested a signficant time to find the issue, and while of course the actual place to look for was unclear for most of the time (since he just saw that energy loss calculation in reconstruction had changed, but did not see why), [TGeoMaterial](https://root.cern/doc/master/classTGe

[2021-12-08 08:01] couet commented on #9384
Now implemented

[2021-12-08 08:01] #9384 closed

[2021-12-08 09:22] agheata commented on #9383
@olifre I digged a bit more and discovered that as the units were gradually introduced, the interface was not the same from the beginning. So the initial version switching to G4 units by default was v6-19-02 (backported also to v6-18-02) and there the interface to change the unit back to CGS was:
[code]
The system allowing to set the default unit via TGeoManager was introduced in v6-23-02 (and bac

[2021-12-08 10:41] #9383 closed

[2021-12-08 10:46] ferdymercury commented on #9384
Amazing! Thanks so much

[2021-12-08 15:36] mattiasotgia opened #9395 "Why there is not a TFormula::Eval(Double_t* values) but I have to call TFormula::EvalPar()?"
Hi,
I was trying to evaluate a N-dimensional function but found that the `TFormula::Eval()` method only accept `Double_t x, y, z, t` as arguments, and later passes them to a private method `DoEval()` as an array. I was wondering why there is not a `Eval()` methods which require a variable dimension array.

Its implementation would be quite easy, for example could be:
[code]

[2021-12-09 02:47] wmyyy commented on #9389
@ferdymercury I have tried disabling roofit can successfully build now. Thanks a lot!

[2021-12-09 02:47] #9389 closed

[2021-12-09 09:06] vveckaln opened #9397 "Bug in invocation of namespace in Root"
described in https://root-forum.cern.ch/t/bug-in-invocation-of-namespace-in-root/47997

Please answer to this post otherwise I am spending long hours figuring out what to do.

[2021-12-09 10:25] amorsch commented on #9383
Please correct also the formula related to the Geant4 units in TGeoMaterial::SetRadLen(...)
The returned value is off by a factor of 100 (ie radlength in dm instead mm) if one uses density in g/cm^3.
Cheers Andreas

[2021-12-09 10:26] #8072 closed

[2021-12-09 10:29] agheata commented on #9383
@MarkusFrankATcernch and @petricm can you comment on this?

[2021-12-09 19:36] vgvassilev commented on #7366
@eguiraud, could you test https://github.com/root-project/root/pull/9404 on your setup?

[2021-12-09 20:02] ihrivnac commented on #9383
@agheata , I have proposed a PR with a fix https://github.com/root-project/root/pull/9401

[2021-12-09 20:24] vlisovsk opened #9406 "Low-statistics fits terminate with BatchMode and NumCPU arguments"
ROOT 6.24/06

I have observed in multiple circumstances that the fits of very small datasets (< 50 events) occasionally terminate if the arguments `BatchMode(1)` and `NumCPU(X)` are used, especially if X is a sufficiently large number. This also happens in simultaneous fits where at least one dataset is very small.

A minimal reproducible example is the following:

[code]

Here I fit to a dataset

[2021-12-10 10:31] hahnjo commented on #9297
Should be addressed by #9380 (backported in #9398) and the backport of fb3367fa03e1c8b639e9591b93f6ac5226a80fed in #9407.

[2021-12-10 10:31] #9297 closed

[2021-12-10 16:12] ellert commented on #8072
Thank you for investigating this.
I have updated the packages in Fedora and EPEL.

[2021-12-10 17:35] jalopezg-r00t commented on #7366
@vgvassilev I have a similar setup (Arch Linux x86_64) and I can confirm that the patch fixes the problem.  :-)

[2021-12-10 20:10] pcanal commented on #7754
Note that this fix will be part of the next ROOT release (v6.26/00 coming soon) [and of course be back ported as needed].

[2021-12-12 09:12] dwcasper opened #9421 "GDML geometry import does not handle isotopes properly (6.24.6)"
GDML files exported from Geant4 include isotope information with correct abundances where appropriate.

When such a file is imported by TGeoManager::Import, the isotope information is not properly associated with the elements in question.

The problem seems to arise due to the attachment of isotopes being skipped when one of the default elements is "reused":

https://github.com/root-project/root/b

[2021-12-12 17:37] veprbl opened #9422 "`undefined reference to 'TChain::kBigNumber'` when ROOT is built without C++17"
- [x] Checked for duplicates

### Describe the bug

ROOT seems to claim (some?) C++14 compatibility. However the current use of `static constexpr` member values are missing external linking support

### To Reproduce

[code]

Also can play with a toy example in https://godbolt.org/z/frn4e8KPd

### Setup

Seen in production with ROOT 6.16 + GCC 4.8.5, but can be also demonstrated with modern GCC run

[2021-12-12 20:10] guitargeek commented on #9395
Hi @mattiasotgia, I'm not sure, but I think the code owner of TFormula is @lmoneta. I have assigned the issue to him.

[2021-12-12 20:12] guitargeek commented on #9397
Hi @vveckaln! Since the forum post was followed up on by @pcanal, I'll close this issue. I hope that is okay!

[2021-12-12 20:12] #9397 closed

[2021-12-12 20:52] guitargeek commented on #9422
Hi @veprbl! I can't reproduce this issue myself, even if I configure ROOT with `CMAKE_CXX_STANDARD =14`. So I guess this issue has been fixed in the long time since 6.16 got released? ROOT also only claims C++14 compatibility with the upcoming v6.26 release.

I would close this issue because it works with the new ROOT, and for older versions there is the workaround you are suggesting yourself. But

[2021-12-12 23:46] veprbl commented on #9422
@guitargeek Thanks for looking into this. I don't see any fixes for this issue, it would require to "duplicate" the definition in the class'es "main" translation unit, and there are quite a few definitions to go through.

Here is an MRE with c++11, but should be identical for c++14:
[code]

I don't mind if this gets closed with wontfix.

[2021-12-13 08:04] Axel-Naumann commented on #9422
Can you remind us of the output of ROOT v6.16's `root-config --libs`? Are you building against ROOT v6.16 in the above example? ROOT's master does not support GCC 4.8 anymore.

[2021-12-13 08:38] lmoneta commented on #9395
Hi,
We could add this method, but we have already `TFormula::EvalPar` which has as default parameter a nullptr. I would then prefer avoiding adding this function.
Any particular reason that you need it and you cannot use EvalPar ?

[2021-12-13 09:05] eguiraud commented on #7366
Hi, works for me as well! It would be nice to have confirmation for Gentoo as well if and when @amadio has time to try this out, but the patch is a fix for the original issue.

[2021-12-13 09:29] amadio commented on #7366
Sorry, I missed this before, please ping me in the issue description or add me as assignee next time to ensure I see it. Gentoo has `-fPIE` enabled by default in GCC, and I've had to make changes in ROOT already because of some tests failing due to that. If the patch fixes it for Arch, it should fix it for Gentoo. I can pick up the patch in 6.24.06, but I think this is important enough that a new

[2021-12-13 09:39] smuzaffar opened #9424 "ROOT 6.24 failed to build with GCC10 or 11 on ppc64le arch"
Thanks for fixing the root 6.24 build issues for ppc64le with gcc9.3 ( https://github.com/root-project/root/issues/9297) but looks like we still have build issues with GCC 10.3 and 11.2. We get build errors like [a] full build log is available at https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-8678b1/21211/lcg/root/6.24.07-12a11ac5dbf21d7c2a6a8cef92c99bc0/log

FYI @vgvassi

[2021-12-13 09:46] hahnjo commented on #9424
https://github.com/llvm/llvm-project/commit/3185c30c54d0af5bffbff3bcfd721668d086ff10, I will apply the patch to our LLVM 9 and backport to 6.24

[2021-12-13 09:59] hageboeck opened #9425 "[RF] Figure out how to handle RooArgList with duplicates and hash-assisted find"
Indeed, if you have a RooArgList, and two elements with the same name, you might remove the first one from the hash map. The find function will now report that there's no element by that name if the hash map is active. If it's inactive, it will report the element. It's something we have to think about. @guitargeek
This is anyway a bit shaky, since it will only ever find the first element by that n

[2021-12-13 10:03] hahnjo commented on #9424
Oh, already there in 01e3a904179f0ebb88edff3783708cf7215cb18b. https://github.com/root-project/root/pull/9426 backports it to 6.24, sorry for missing this so far.

[2021-12-13 10:11] hahnjo commented on #9424
Barely missed the 30 minutes, damn :sweat_smile:

[2021-12-13 10:11] #9424 closed

[2021-12-13 10:25] eguiraud commented on #7366
Thank you Guilherme, afaik it's enough to run `ctest -j8` to test this, see your comment at https://github.com/root-project/root/issues/7936#issuecomment-825672249

[2021-12-13 10:29] amadio commented on #7366
Ok, I will build the latest master and (maybe) report which tests are failing for me in a new issue then. Thanks!

[2021-12-13 10:44] eguiraud opened #9428 "[DF] Fill method does not support arbitrary signatures"
According to the documentation of RDataFrame's [Fill method](https://root.cern/doc/master/classROOT_1_1RDF_1_1RInterface.html#ac1b7fe6b530c21f7917d55afe059ae08), the following should be supported:

[code]
Instead, `FillParHelper` only supports `Boo::Fill` signatures that take combinations of doubles and collections thereof.

https://github.com/root-project/root/pull/7499 goes in the right directio

[2021-12-13 10:57] veprbl commented on #9422
Sure

6.16:
[code]
6.24/06:
[code]

In my previous message it was against 6.24/06 built with the same gcc:
[code]

At godbolt link above you can reproduce the same error with GCC 11.2 and clang 13.0.0.

[2021-12-13 11:05] swertz opened #9429 "[DF] Crash with distributed RDataFrame on dask with dask_jobqueue"
- [x] Checked for duplicates

### Describe the bug

I've been trying out the new `RDF.Experimental.Distributed.Dask.RDataFrame` in ROOT master, which is a great addition. It seems to work fine when using a single-machine cluster of workers (`dask.distributed.LocalCluster`), but it fails when using a batch cluster (either `dask_jobqueue.HTCondorCluster` or `dask_jobqueue.SLURMCluster`):

[code]

##

[2021-12-13 11:31] egpbos opened #9430 "Add RooFit::MultiProcess build to default CI matrix"
### Explain what you would like to see improved
The current Jenkins build matrix doesn't have any builds with `RooFit::MultiProcess` activated currently. PRs that touch anything related to this may silently break things, because it is too easy to forget to manually pass the build flags to the Jenkins bot to activate it.

### Optional: share how it could be improved
Ideally, all builds, except the

[2021-12-13 13:37] amadio commented on #7366
No dataframe tests fail for me, but a bunch of others do fail, so if this is in master, it should have fixed the problem in Gentoo.

[2021-12-13 13:38] swertz commented on #9429
I should add that when running the RDF on an existing file and TTree, there is a different exception:

[code]

With the code:
[code]

And the file `tree.root` attached

[tree.root.zip](https://github.com/root-project/root/files/7704237/tree.root.zip)

[2021-12-13 13:44] vepadulano commented on #9429
Hi @swertz,
Thanks a lot for trying it out and for the reproducer!
The issue is a bit silly and it has to do with how we compute a reasonable default value for the `npartitions` attribute if the user doesn't provide one. The idea, for the moment at least, is to get information about how many cores are available in the distributed cluster to the user application and submit one task per core.

In th

[2021-12-13 13:46] vepadulano commented on #9429
As for your second comment

I think you are still seeing the effect of HTCondor that hasn't already given resources to Dask. Try again adding `client.wait_for_workers(N_WORKERS)` before calling RDF API. `N_WORKERS` should be the amount of Dask workers that the HTCondor job should give you back, so I guess one in your case. But the dask docs are a bit scarce on this so I can't give you too many det

[2021-12-13 15:28] swertz commented on #9429
Thanks for the quick feedback!

I've tried with `client.wait_for_workers(1)` before creating the RDF, but it doesn't have the expected effect: it just waits forever after printing `DEBUG:Starting job: 12241446.0` (debugging activated with `import logging; logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.DEBUG)`). I can see the job in `condor_q` come and go, but the blocking ca

[2021-12-13 15:38] vepadulano commented on #9429
The fact that `wait_for_workers` waits forever looks to me like the Dask job is never actually started. You should double check that a simple Dask application with the same config but doing something else unrelated to RDF is working. Let's see, something like this should suffice (inspired by the dask [docs](https://examples.dask.org/delayed.html) and your reproducer):
[code]

Coming back to RDF, t

[2021-12-13 16:33] swertz commented on #9429
Strange, I've tried the dask-only example (with lxbatch) but in both cases (with or without the `wait`) it waits forever.  I see the job come and go in `condor_q` but nothing happens. Perhaps we're missing something to correctly use `dask_jobqueue` :thinking:

About the choice of `npartitions`: thanks, that's useful information. I should check how many clusters/file we have on average for nanoAOD

[2021-12-13 16:36] Axel-Naumann commented on #9422
That's indeed a bug; `static constexpr` variables must have a definition somewhere. Thanks for reporting!

[2021-12-13 19:03] vepadulano commented on #9429
Deciding how many tasks to submit to a distributed scheduler is a fine art on its own :)  From what I understand of your case, I would try to test first with `npartitions ~ n_files * (n_clusters_per_file / 5)` so that each task has at least more than 100 MB of data to process and you don't incur in too many small tasks that bring more overhead than actual gain. In the future it would be nice to ha

[2021-12-13 20:13] #9429 closed

[2021-12-14 07:29] smuzaffar commented on #9424
thanks @hahnjo , this indeed fixed the ppc64le GCC 11 build issues

[2021-12-14 09:12] amadio opened #9436 "Failing tests in the master branch"
I had to run the tests to check the fix for the `-fPIE` issue, and decided it may be useful to report on the other test failures that I observe.

The full command line I used for the configuration is below
[code]
I am attaching here the [CMake configuration output](https://github.com/root-project/root/files/7709954/cmake.log), [CMakeCache.txt](https://github.com/root-project/root/files/7709963/CMa

[2021-12-14 09:23] amadio commented on #9436
I've assigned people for cling and math test failures, please assign others as necessary for other failures.

[2021-12-14 09:44] amadio commented on #9436
FYI, after setting the build type to `Release` and rerunning, only these still fail:
[code]
and the log of failures is [here](https://github.com/root-project/root/files/7710438/ctest-failed.log).

[2021-12-14 11:02] Axel-Naumann commented on #9430
Which of the builtin packages can we use from the distro - are we waiting for the next release of cppzmq or zeromq, and can we use a current release for the other one? For testing we try to use distro packages wherever possible.

[2021-12-14 11:21] egpbos commented on #9430
For zeromq (libzmq): indeed, we have to wait for the next release, anything higher than 4.3.4 (not sure if it will be a patch or minor version bump).

For cppzmq: the most recent release works. Most distros package cppzmq together with libzmq though, so still need to wait for libzmq's next release. I didn't test what the oldest supported release was.

[2021-12-14 12:01] Axel-Naumann commented on #9430
Is cppzmq different from [zmqpp](https://github.com/zeromq/zmqpp)? That's what Ubuntu offers, while cppzmq is known...

[2021-12-14 12:04] egpbos commented on #9430
Yes, that's a different one, [cppzmq](https://github.com/zeromq/cppzmq) includes zmq.hpp, which is included in the Ubuntu dev package, e.g. this one: https://packages.ubuntu.com/impish/amd64/libzmq3-dev/filelist

[2021-12-14 12:27] Axel-Naumann commented on #9436
You can get that down by a couple by addressing:
[code]

[2021-12-14 12:49] amadio commented on #9436
I did mention that I don't have numba installed and those should be ignored in the description...

[2021-12-14 12:51] mattiasotgia commented on #9395
Hi,
thanks for the response. No I just asked because I needed to evaluate a N-dimensional function in a point, but couldn't find any documentation on how to do it, and couldn't find any documentation on the `TFormula::EvalPar()` method, whereas lot of documentation is given for the `TFormula::Eval()` method.
Other than this I don't have any other particular reason to need another implementationi o

[2021-12-14 12:52] Axel-Naumann commented on #9436
We really want you to install numba if you want to test ROOT.

[2021-12-14 14:34] swertz commented on #9429
I managed to get it to work on HTCondor/lxbatch thanks to the instructions [here](https://batchdocs.web.cern.ch/specialpayload/dask.html). The distributed RDF case (with the `wait_for_workers`  call) works fine provided the cluster is configured as:
[code]

Note that for the dask-only example I had to use futures instead of `delayed`, and submit explicitly to the cluster (and this works both with

[2021-12-14 16:25] vepadulano commented on #9429
Thanks for all the insights! We are still learning how to cope with all the different interfaces. It is possible that at some point all this extra configuration will be collected in a single place to make it easier for new users to activate from distributed RDataFrame directly.

It would be amazing if you could try again your reproducer with the next nightlies if you have time, thank you so much :

[2021-12-15 16:42] TomasDado commented on #8946
Hi, I have just tested this with 6.24.06 version and it seems the error has disappeared.

[2021-12-15 16:42] #8946 closed

[2021-12-16 09:49] wmyyy opened #9445 "Hit errors when build ROOT with msvc on AddressSanitizer mode"
### Describe the bug
Hi All,

I have follow below steps to build root project with msvc on AddressSanitizer mode, but hit below errors. And I have seen "WARNING "Address sanitizer builds only tested with gcc and Clang" on CMakeLists. So I am not sure if root support asan mode with msvc. Could you please help have a look and confirm it? Thanks a lot!

(The error message shows "The items cannot be b

[2021-12-16 14:30] jalopezg-git opened #9448 "[rootcling] `genreflex --cxxmodule` generates a truncated .pcm file"
- [X] Checked for duplicates

### Describe the bug
`genreflex --cxxmodule ...` generates a truncated `xxx_rflx.pcm` file (0 bytes).  The equivalent invocation of `rootcling --cxxmodule` using a linkdef.h instead of a XML file works as expected.

### Expected behavior
`genreflex` should generate a valid cxxmodule file.

### To Reproduce
Run genreflex/rootcling as follows.  The contents of the requi

[2021-12-16 14:44] jalopezg-r00t commented on #7861
I noticed today that this issue is a duplicate of #9202 and was addressed in pull-request #9351.  In the aforementioned PR, the typedef resolution is done via `TClassEdit::ResolveTypedef()` in `GetNormalizedType()` (which is called by `RFieldBase::Create()`).

#9351 is merged; thus, closing this issue.

[2021-12-16 14:44] #7861 closed

[2021-12-16 15:01] sbmorphe opened #9449 "[cling] `error: function definition is not allowed here` when trying to overload `operator<=`"
When trying to define an operator in the cling cli repl, the "function definition is not allowed here" error is generated. "cling -version" reports "0.8". Here's a copy/paste of a session to demonstrate the issue:

<pre>
****************** CLING ******************
* Type C++ code and press enter to run it *
*             Type .q to exit             *
*******************************************
[cl

[2021-12-16 15:21] jalopezg-r00t commented on #8073
@ellert, sorry, I skept over this.

I cannot reproduce these failures using ROOT master in Fedora 34 with gcc 11.2.1 20210728 (RedHat 11.2.1-1).  I think @vgvassilev already fixed this problem.

Can you confirm that it works for you?

[2021-12-16 16:03] mxxo commented on #7861
Hey that's great! Nice one Javier :)

[2021-12-16 16:11] jalopezg-r00t commented on #9449
@sbmorphe, thanks for reporting!  This is a good catch!

In this case, cling is trying to wrap the input as it thinks `bool operator<=(...)` is not a valid function declarator -presumably due to the `<=`.  This seems to be another limitation of the current strategy to generate wrapper functions.

See also the related issue #9171.  @vgvassilev and I recently talked about this, which has to be addre

[2021-12-16 16:26] eguiraud commented on #7108
Ping :) it would be nice to fix this for v6.26

[2021-12-16 17:24] mxxo commented on #7875
@jalopezg-r00t I think this issue is also resolved by type-translation map in #9351?

[2021-12-16 17:58] linev opened #9453 "Compiler failure in `tmva/sofie/inc/TMVA/ROperator_Conv.hxx`"
After recent change I get compiler error with `-Ddev=On` option like:

[code]

Looking in the code, and error message `std::runtime_error("TMVA SOFIE Conv Op Shape inference only accept tensor with 3, 4 or 5 dimensions")`, I suspect that these checks are wrong.

One should have `if (fDim < 1 || fDim > 3)`. But while `fDim` is unsigned integer, one better
checks original size `if (input[i].size() <

[2021-12-16 18:09] linev opened #9455 "`TEfficiency::SetStatisticOption` not always set/reset `fBoundary` member"
Here: https://github.com/root-project/root/blob/master/hist/hist/src/TEfficiency.cxx#L3444-L3494

For `kBJeffrey`, `kBUniform`,`kBBayesian` statistic options `fBoundary` not set.
It kept default or from previous settings - making output results non-determenistic.
In my mind, one should reset it to some predefined value like `fBoundary = &ClopperPearson;`

[2021-12-17 07:50] peter-jansson commented on #9173
I have tried to add "-fpermissive" to the compilation flags, then the XRootd build fails for another reason (some issue with <netdb.h> and an undefined call to the innetgr function). Maybe Alpine Linux is too "minimized" for Root?

[2021-12-17 08:34] linev commented on #9453
Solved by https://github.com/root-project/root/pull/9457

[2021-12-17 08:34] #9453 closed

[2021-12-17 09:11] simonmichal commented on #9173
Hi guys, the `XrdSysDNS` has been removed completely (https://github.com/xrootd/xrootd/commit/3d88fba139aa3384fd32a51cd1104db7e814bb05#diff-5101a8169c50b1ce76dbe0883bb868ac945b9de192313d56a0acdb5ad84fb484) as it has been deprecated for long time and replaced by `XrdNetAddrInfo` (AFAIR). I would advice moving to a newer version of xrootd.

[2021-12-17 09:30] lmoneta commented on #9395
Hi,
Note that TF1 implements also the `operator()(double * x, double * p = nullptr)`. You can do for example:
[code]

[2021-12-17 09:30] #9395 closed

[2021-12-17 15:47] Axel-Naumann commented on #9448
IIRC that's expected (@vgvassilev might correct me): genreflex embeds the header as string in the dictionary. As such we don't need an actual PCM file; we provide one to regularize the build systems.

[2021-12-17 15:56] pcanal commented on #9448
humm ... why?  Is that much much slower (parsing) than a binary pcm or do you mean that it is a binary blob?  Either way why is the option --cxxmodule behaving differently for genreflex than rootcling?

[2021-12-17 17:17] danielbattistini opened #9465 "lambda expressions in TF1 - pyroot"
Hi,
I'm trying to use lambda expressions to define TF1 objects.
Inside python I run the following code:
`from ROOT import TF1`
`f = TF1('f', lambda x: x[0], 0, 1)`
`f.Draw()`

but I get a blank canvas and this error:
[code]

I'm using pyroot inside the AliPhysics environment. I tested these lines on 4 different machines that use different versions of python: 3.6, 3.7, 3.8 and 3.9. Only with the tw

[2021-12-19 07:43] peter-jansson commented on #9173
I suppose this will be handled by #7335.

[2021-12-19 20:53] vgvassilev commented on #9448
On my machine both commands produce a 0-sized module. Eg:
[code]

That is because you need to write a modulemap (normally the build system or aclic does it for you).

[code]

If you want to use the selection xml file you could still do it like:
[code]

We never really tried the `-cxxmodule` option under `genreflex`.  Maybe we should just drop it from there. We use `rootcling -reflex ...`. See here

[2021-12-19 21:25] bendavid commented on #9371
A similar warning is also provoked in the simpler case below, so it's not only related to STL stuff:

[code]

[code]

[2021-12-19 21:53] bendavid commented on #9371
And for this I think the problem is "just" the checks on ```TClass::IsLoaded()``` at

https://github.com/root-project/root/blob/702e1ee22ce472508d0ab2de7f51b85e6613b55d/io/io/src/TStreamerInfo.cxx#L384
https://github.com/root-project/root/blob/702e1ee22ce472508d0ab2de7f51b85e6613b55d/io/io/src/TStreamerInfo.cxx#L580
https://github.com/root-project/root/blob/702e1ee22ce472508d0ab2de7f51b85e6613b55d

[2021-12-19 23:19] pcanal commented on #9371
The support for I/O of interpreted classes is not complete (it is missing at least support for STL collection).   Even-though that some classes could be stored, we choose (for now?) to leave the message for all of them (rather than trying to test for the subset that 'works' and have a mixed up message)

[2021-12-20 00:07] bendavid commented on #9371
Ok noted, thanks.  The current situation is pretty confusing though because

1) There is no warning when trying to directly persist an interpreted class, only when it is a base class or data member
2) Trying to persist a data member which is a pointer to an interpreted class is an Error rather than a warning
3) The warning itself is not really accurate because the data member or base class may act

[2021-12-20 12:36] hahnjo commented on #9312
see #9467

[2021-12-20 12:36] #9312 closed

[2021-12-20 12:46] bellenot opened #9468 "Roofit doesn't compile on Windows 64 bit"
- [x] Checked for duplicates

### Describe the bug

The compilation fails with the following error:
[code]

[2021-12-20 13:48] lmoneta commented on #9468
@guitargeek  _curIndex should be of type `size_t`.
It was like this before, I don't understand why it was changed to unsigned long.
I don't think this was causing the streamer/warning mentioned in https://github.com/root-project/root/pull/9374

[2021-12-20 15:07] guitargeek commented on #9468
Hi, it was changed to `unsigned long` because `std::size_t` is platform dependent, as explained by @pcanal here: https://github.com/root-project/root/pull/9374#issuecomment-985770700. So actually it was causing the stream warnings.

The issue here can be solved by using `std::numeric_limits<unsigned long>::max()` instead, I will fix that

[2021-12-20 15:19] lmoneta commented on #9468
But then you will get the same warning when writing a file on Linux and reading on Windows since unsigned long is 32 bits on Windows and 64 on Linux.
But probably this use case is not very common.

[2021-12-20 15:22] ikabadzhov opened #9474 "[RDF] Unexpected behaviour of SaveGraph in interpreted version"
There is a difference between the result from the interpreted and the compiled version of `SaveGraph`.

Consider the following minimal reproducible script.

[code]
 It produces 2 different computation graphs when compiled (either with `g++` and `clang++`) and when interpreted (as a macro with `root`).

In particular, the compiled version is correct.

By observing the .dot files produced, one can s

[2021-12-20 15:32] etejedor commented on #9465
The problem here is that the lambda you are passing to the constructor of `TF1` is a temporary that is (can be) garbage collected right after the constructor call of `TF1` returns. That's what the `callable was deleted` error is saying.

If you define the lambda beforehand and bind it to a variable so that it's still alive when you draw, you can solve that problem:
[code]

The fact that it was wor

[2021-12-20 15:43] lmoneta commented on #9455
For the Bayesian statistics methods, kBJeffrey, kBUniform,kBBayesian, the function pointer fBoundary is not used, so it should not matter if it is not set. I think it will stay to the default constructed value, i.e. .a nullptr.
@linev , did you observe a problem using some of these 3 bayesian methods ?

[2021-12-20 15:44] linev commented on #9455
`fBoundary` is used for drawing

[2021-12-20 15:50] lmoneta commented on #9455
In JSROOT, I see it is used, but in TEfficiency.cxx is used only in GetEfficiencyErrorUp/Low.
The problem then is maybe in JSROOT.  Do you take care correctly of the Bayesian case there ?

[2021-12-20 15:55] lmoneta commented on #9455
I see in JSROOT :
[code]
so no handling of the Bayesian case. In the C++ case you have Ignoring the weighted case):
[code]

[2021-12-20 16:05] linev commented on #9455
Ok, I see this now - thanks for explanation.
There are too many flags around the code.

In JSROOT I could not implement all options - only part of them.
Otherwise I need to copy lot of `MathCore`/`MathMore` code.

[2021-12-20 16:05] #9455 closed

[2021-12-20 19:54] egpbos commented on #9430
I see now that you added it to the build, that's great, thanks! We should keep the issue open then to revisit the builtin configuration later, right?

[2021-12-21 11:28] Axel-Naumann commented on #9430
I think we'll just revisit this as part of the ongoing inclusion of new distro versions; reviewing the available set of external packages is just part of that. Let's close this instead!

[2021-12-21 11:28] #9430 closed

[2021-12-21 12:06] #9468 closed

[2021-12-21 14:57] eguiraud commented on #9474
Ivan and I took a look and it looks like the culprit is `cling` getting static initialization wrong (e.g. calling a static initializer multiple times instead of once, even in a single-thread program). Unfortunately I didn't manage to disentangle the issue from RDF.

The simplest way to reproduce is to add this patch to ROOT master (47f66c57ca):

[code]

and execute the following code (adapted from

[2021-12-25 09:58] ellert commented on #8073
Many of the tests in the list above were renamed in master, but they all succceed:
[code]

[2021-12-29 07:20] wmyyy opened #9487 "SofieCompileModels_PyTorch.vcxproj fails to compile on pytest version 6.2.5"
### Describe the bug
Hi All,

I am trying to build ROOT project as well as tests, but there is an error occurred when building, and it maybe related to pytest version. When I use same build steps but different pytest version, ROOT project build success with pytest version 6.1.1, but SofieCompileModels_PyTorch.vcxproj fails to compile with pytest version 6.2.5, the error as belows. I have checked i

[2022-01-01 13:18] acampove opened #9489 "[RF] Cannot turn off useless messages with RooMCStudy unbinned fits + Progress bar would be better."
### Explain what you would like to see improved
When running:
[code]
![image](https://user-images.githubusercontent.com/14037062/147851308-1eb033f3-94ea-4e53-a88b-f7e017a278aa.png)

which is not ideal, here a progress bar would be better, it would prevent the screen from been filled. However, having a 10 fits step seems reasonable.

On the other hand, when running the fit with unbinned data (uncom

[2022-01-01 18:56] goi42 opened #9490 "[RF] RooMCStudy does not save generated parameters"
- [x] Checked for duplicates

### Describe the bug

First reported in the forum [here](https://root-forum.cern.ch/t/cannot-access-roomcstudy-genpardataset/46724), `keepGenData` is not sufficient to save generated parameters, despite the claims of the [documentation](https://root.cern.ch/doc/v624/classRooMCStudy.html#aa8654b8fcb5983d834c02489a35c9981). One must *also* specify an *internal* constrai

[2022-01-01 20:51] goi42 commented on #9490
Diagnostic findings:

Parameters are not saved unless there is a constraint due to [this line](https://root.cern.ch/doc/v624/RooMCStudy_8cxx_source.html#l00197). The documentation makes no mention of the need for constraints, and the use case without constraints is clear.

*External* constraints do not work because of the [use](https://root.cern.ch/doc/v624/RooMCStudy_8cxx_source.html#l00189) of `

[2022-01-04 09:14] ferdymercury opened #9491 "TGraph SaveAs .csv"
### Is your feature request related to a problem? Please describe.
When working with collaborators from other disciplines, it is always problematic to share results and raw data created in ROOT in formats other than PNG or PDF.

### Describe the solution you'd like
It would be really helpful if the TGraph and TGraphErrors classes had an option to `->SaveAs(".csv")` so that the result can be immedi

[2022-01-04 19:44] simonthor opened #9493 "Concluding remarks not displayed as heading in Primer documentation"
- [x] Checked for duplicates

### Describe the bug
At almost the end of the [primer documentation](https://root.cern/primer/#custom-code-from-c-to-python), there should be a heading called "Concluding remarks". Instead, it is displayed as regular text, see the text underlined with red in the image:
![bild](https://user-images.githubusercontent.com/45770021/148113677-dc8b8836-c8d2-4b4e-8671-28eeb12

[2022-01-04 19:50] simonthor commented on #9493
Upon further inspection, maybe the issue should not be raised here but instead in the [root.cern repo](https://github.com/root-project/web). I will create a PR there. Sorry for the mistake, I have not really contributed to ROOT before.

[2022-01-05 11:53] eguiraud commented on #9366
Hi @ShirinGolpayeganiCern , can you please provide a minimal reproducer for the issue?

[2022-01-05 11:59] ShirinGolpayeganiCern commented on #9366
Hi again and happy holidays,

I unfortunately have never used root to create ttrees, i only use the provided data for analysis.
One easy way to reproduce this error, is to use tchain to read from various events and ttrees of root files, and the importance is that some contain some branches while others dont.
And then take snapshot from the whole thing.
I now know for sure it is a bug, because as s

[2022-01-05 12:11] eguiraud commented on #9366
Hi,
as I mentioned above RDataFrame does not support disappearing/reappearing branches, so I don't doubt that the behavior in this case is broken/incorrect/surprising.

I would like to improve the diagnostics for your case (your point number 2.), but for that I would need a reproducer. Otherwise this falls under the umbrella of #8704 .

Regarding points 1. and 3., that should already be the case:

[2022-01-05 12:17] ShirinGolpayeganiCern commented on #9366
Hey again,

I think it is a big problem, because I and some colleagues are using the snapshot method to save the root files so later one we will plot from them, however, if many events are not recorded accordingly, our root files are also be wring, this issue costed me a few months and many people don't even recognize they are missing events since they have not used alternative methods to save and

[2022-01-05 12:18] ShirinGolpayeganiCern commented on #9366
To be saved as root files and later read again as rdf and saved as snapshot shouldnt be so time taking for a root programmer.
I really want to help but I don't know how, since you don't have access to the data I have used.

[2022-01-05 15:19] eguiraud commented on #8363
Assigning to @ikabadzhov . It should be enough to copy what's done for the `Graph` action to implement this.

[2022-01-05 15:29] #8597 closed

[2022-01-06 09:49] eguiraud commented on #9366
Hi @ShirinGolpayeganiCern ,
RDataFrame should print errors and also exit with an error status for the case you describe, is that not the case for you?

I tried to reproduce the problem but I get a noisy error:

[code]

yields:

[code]

As RDataFrame does not support processing disappearing/appearing branches (in Snapshots or any other method) everything seems to be working as expected here.

I'd l

[2022-01-06 09:53] ShirinGolpayeganiCern commented on #9366
Hi,

I got the error message that TBranch is missing, but it never threw an exception handling, in fact in my case, i even had a cout at the end of the scripts which stated the script has ran fine and I always got that. Meaning, the run was never terminated due to the error....
I really want to help, but i dont know how, i sent the github link of my script, also the data I have used, but you dont

[2022-01-06 10:02] eguiraud commented on #9366
Ok, no exception but the problem is still diagnosed and reported, that's something.

If that was with a ROOT version prior to v6.24, can you please try with v6.24? Handling of errors during the event loop was improved in recent versions.

If you don't get an exception with v6.24 can you share the datasets (or the part of the datasets required to reproduce the problem) with me (also privately is fi

[2022-01-06 10:29] eguiraud commented on #9366
Ah no, my bad sorry, the exception-throwing-on-error is not even in 6.24, it's only in the development branch (and soon will be in v6.26). So what you see is expected (but starting from the next ROOT version you'll also get an exception and a non-zero exit code).

[2022-01-06 10:34] ShirinGolpayeganiCern commented on #9366
So I guess this issue is solved in next version then 🙈

[2022-01-06 10:41] eguiraud commented on #9366
In the next version (v6.26, being released in a few weeks) an exception is thrown on top of the error message that is currently printed.

Then in a future version users will be able to tell RDF what default values to use for disappearing/reappearing branches, which gives users a way to deal with this case more nicely.

For now, I am afraid the best workaround is to not read or write such branches

[2022-01-06 10:41] #9366 closed

[2022-01-06 10:46] ShirinGolpayeganiCern commented on #9366
Hi again,

I have only used a subset for now, I will tell other colleagues too,
Thanks for the nice error handling, hopefully no one is gonna have similar experience regarding this matter in future.
Thanks for the hard work again,

Best regards

Shirin

[2022-01-06 11:51] agheata commented on #9421
This is tricky to do because isotopes cannot be added to normal elements (see: TGeoElement::AddIsotope) because one may want to use both standard elements and elements having isotopes in the same geometry. Since the reusing mechanism relies on the element name, the easiest is to rename the elements having isotopes to something non-standard (e.g. HydrogenNat).
Of course, the definition of such elem

[2022-01-06 13:00] ikabadzhov commented on #8893
Problem here is that `Describe` defined in `tree/dataframe/inc/ROOT/RDF/RInterface.hxx` returns a string. The simplest solution is to call `print(df.Describe())` to format properly the string.

"Fixing" the desired output would change the existing usage of `Describe()` - returned type change from string to void and printing inside of the Describe.

This is what is going on:
[code]

[2022-01-06 15:12] mateus-vicente opened #9505 "(New) option “TEXTE”, for 1D histograms, with "± bin error""
Hello,

following https://root-forum.cern.ch/t/option-texte-for-1d-histograms/48277/4, would it be possible to have a new drawing option for TH1s where, in addition to the error bar and bin content text, we also have the bin error text (as illustrated in red in the attached picture)?

Thank you!
Best,
Mateus

<img width="949" alt="Screenshot 2022-01-06 at 12 53 14" src="https://user-images.githubu

[2022-01-06 15:24] couet commented on #9505
Thanks for the PR. We will look how to implement this new option.

[2022-01-06 16:09] guitargeek opened #9507 "Not possible anymore to build `roottest` standalone"
In the past, it was possible to build the [roottest suite](https://github.com/root-project/roottest) standalone, just having ROOT sourced in your environment. This possibility is also advertised in the README.md of roottest.

After https://github.com/root-project/root/commit/56c6ace5340003a9135d565f4d5fa68be67aa0d5, it is not possible anymore to do that, because the unit tests depend on the `ROOTU

[2022-01-06 16:24] guitargeek opened #9508 "[RF] RooFit issues to be fixed and backports to be done for v6.26 release"
**GitHub issue** that we still want to resolve before the v6.26 release:

- [x] https://github.com/root-project/root/issues/9372

**Other items** that still need to be done without any associated GitHub issue:

- [x] `Pythonizations`: write about new pythonizations in release notes
- [x] `RooFitHS3`: Write release notes
- [x] `RooFitHS3`: Put JSONInterface in `RooFit::Experimental` namespace
- [x]

[2022-01-07 08:15] #9428 closed

[2022-01-07 11:22] etejedor commented on #9465
Closing this issue, please let me know if you have any other problem.

[2022-01-07 11:22] #9465 closed

[2022-01-07 13:57] couet commented on #6966
Fix applied.

[2022-01-07 13:57] #6966 closed

[2022-01-07 14:48] mxxo commented on #7875
Ok, how about leaving it as a issue for type-translation map completeness? Looking at the map I think these could be added:
* `long int`
* `unsigned long int`
* `short int`
* `short unsigned int`

Not sure what to do about `long long`, `long double` etc.

Not to mention `long long long`: https://godbolt.org/z/qvv313KTW

[2022-01-07 15:43] eguiraud commented on #8893
As per the discussion at https://mattermost.web.cern.ch/root/pl/9yqt4pm4qtfs38n3pc5stkhp5a , we want to change Describe's behavior so that by default it prints to stdout. The signature should be:

[code]

 We need to do this before the feature is published in v6.26.

[2022-01-07 19:07] lmoneta commented on #9115
#9513 should fixes the case of using integer spectator variables in the Reader.
As a workaround use the interface requiring a float* : `Reader::AddSpectator("eventID", float *)`
Thank you for reporting this problem!

[2022-01-07 21:12] ShamrockLee opened #9514 "Printed SVG image contains newline cutting through XML tags"
- [X] Checked for duplicates

### Describe the bug

When plotting to SVG file the way
[code]

The produced SVG file is occasionally broken due to the newline character being inserted to the middle of the closing XML tag.

The error might be caused by certain kind of 250-character-per-line limit.

### Expected behavior

The newline should be inserted somewhere before the closing XML tag.

Please do

[2022-01-07 23:28] ShamrockLee commented on #9514
In
core/base/src/TVirtualPS.cxx
There goes
[code]

[2022-01-08 06:55] dwcasper commented on #9421
It would seem to me that by reading in a GDML file that redefines the default elements, the user has indicated that their intention is to ... redefine the default elements.

Perhaps the override of default elements (i.e. giving them isotopes) could be controlled by adding a boolean flag to the import call, or a static method of the TElement class.  You could make the default value of the flag agre

[2022-01-08 16:44] ryandward commented on #6903
As of today, TBB version 2020.2 is the last version that works on M1.

[2022-01-10 08:12] eguiraud commented on #7366
I guess this needs a backport to v6-26-00-patches?

[2022-01-10 08:35] #7381 closed

[2022-01-10 12:21] ferdymercury commented on #8781
@couet the bug in doxygen is now fixed in official release doxygen version 1.9.3. https://github.com/doxygen/doxygen/issues/8753#issuecomment-1003347799

[2022-01-10 12:22] hageboeck opened #9523 "Documentation of `RooAbsReal::getValues` is broken"
- A rebase or similar apparently cut the documentation in two, and a stray sentence now leads the documentation of the second overload.
- The first overload has no documentation at all ...

Please make it a habit immediately write a good docstring in the same commit where the interface is fixed defined.

https://github.com/root-project/root/blob/a8874141392745a4f9b35fa52d41ada66f203df5/roofit/roof

[2022-01-10 12:37] bellenot commented on #9445
Here are the errors I got when following your receipe:
[code]

[2022-01-10 12:50] couet commented on #8781
@ferdymercury thanks to let me know. See the bottom of https://root.cern/doc/master/ . 1.9.3 is already the doxygen version used to build the ROOT reference guide. So we can close this issue ?

[2022-01-10 13:08] ferdymercury commented on #8781
I would say it would be handier if the QCH is generated directly and is downloadable via the CERN website. (At least for stable releases 6.24, 6.26, ...).

[2022-01-10 13:15] couet commented on #8781
Can you propose a PR for that ?

[2022-01-10 13:32] agheata commented on #9421
A static flag that allows the user to explicitly override default elements sounds like a good compromise. This can be implemented indeed as a static method like: `TGeoElement::AllowElementOverride(true)` to be called by the user before reading the geometry file. If the user forgets to call it, importing the geometry would produce an exception (like in your case). Is this acceptable?

[2022-01-10 13:32] sethrj opened #9524 "Failure to build/run when MACOSX_DEPLOYMENT_TARGET is set to 11 or higher"
- [x] Checked for duplicates

### Describe the bug

Having the environment variable `MACOSX_DEPLOYMENT_TARGET` set to a value of 11 or higher (suitable for macOS Big Sur or newer) causes `rootcling` to fail at runtime. Because rootcling is used as part of the installation process itself, the environment will cause a ROOT build to fail. See https://github.com/spack/spack/issues/28161 .

### Expecte

[2022-01-10 13:53] dwcasper commented on #9421
Yes, it's a good solution for me.

Thanks.

[2022-01-10 14:23] agheata commented on #9421
OK, I'll make a PR on that on a one week scale and add you as reviewer

[2022-01-10 15:43] couet commented on #8781
Thanks ! I would say the table on the page https://root.cern/reference/ should have one more column pointing to the qch. So I guess un extra PR is needed to modify https://github.com/root-project/web/blob/main/reference/index.md (may be an explanation saying what these files are and how to use them might be useful).

[2022-01-10 16:07] ferdymercury commented on #8781
I created it now. I just added the link for 6.24 as I do not think it worth to retrospectively add all the previous versions I guess...
https://github.com/root-project/web/pull/716

[2022-01-11 08:43] bellenot commented on #9487
How did you enable `tmva-sofie`? This has not been tested on Windows

[2022-01-11 08:49] andrea-celentano opened #9530 "TH1D::GetRandom and histograms with non-uniform binning"
Assume to have a TH1D object, with non-uniform binning, representing some kind of differential quantity (for example, a particle flux as a function of the particle energy, dN/dE). The `TH1D::GetRandom` method will return random numbers distributed according to the histogram bins height, rather than the histogram bins area.

The code attached here (a ROOT macro) reproduces this behavior (I attach i

[2022-01-11 09:04] Neel-Shah-29 commented on #7395
Hello I am interested in working on this issue can you assign it to me if no one is working on it

[2022-01-11 09:11] wmyyy commented on #9487
Hi bellenot, I add -Dtesting=ON -Droottest=ON for cmake option.

[2022-01-11 09:30] hageboeck commented on #7395
Nice, good luck! 👍 We will be here if you have questions.

[2022-01-11 09:35] lmoneta commented on #9487
For enabling the building of that test (SofieCompiledModels) you need only to have Python installed with PyTorch. Just do `pip install torch` for installing pytorch

[2022-01-11 09:36] bellenot commented on #9487
Thanks @lmoneta, I'll try

[2022-01-11 10:26] couet commented on #9530
It seems think that's not graphics and that more for @lmoneta

[2022-01-11 10:29] andrea-celentano commented on #9530
Hi,
I am trying to follow the instructions reported [here](https://github.com/root-project/root/blob/c2f028feb6da152ff07020b3b4b2a961c1af315e/CONTRIBUTING.mdl) to fork the ROOT repository, create a new branch, suggest a fix, and then do a pull request. I agree that this is not a graphic issue, rather a numerical one.

[2022-01-11 11:00] couet commented on #8781
Thanks . I merged. I guess we can close this issue now ?

[2022-01-11 11:04] ferdymercury commented on #8781
Thanks!

Mmm but the Qch file has to be uploaded first manually to https://root.cern/doc/v624/ROOT.qch (right now the link is broken).

Or is there a CI script that we have to modify so that this step happens automatically on every release ?

[2022-01-11 11:11] couet commented on #8781
I guess it should be copied automatically as ROOT.tag. The Scrip dubbing the doc are here:
https://github.com/root-project/rootspi/tree/master/rdoc
The script copying the doc at the right pace is https://github.com/root-project/rootspi/blob/master/rdoc/synchtml.sh . It copies the folder where the doc was generated in the right place to be accessed fro the web site. ROOT.qch should be like ROOT.tag

[2022-01-11 11:25] jalopezg-r00t commented on #8073
I will close this issue then; thanks for confirming, @ellert.

[2022-01-11 12:11] andrea-celentano commented on #9530
I made a pull request for this (9538), but I do not know how to link that to this issue (there is a "Linked pull requests" list on the web page, but I cannot modify it).

[2022-01-11 12:28] ferdymercury commented on #8781
Ok, I understand.
Then we are just missing the merge on https://github.com/root-project/root/pull/9525/files

Also: should we exclude ROOT.tag and ROOT.qch from the tarball in synchtml.sh ?

[2022-01-11 12:41] couet commented on #8781
Why ? it is something users might want in the tar-ball ?

[2022-01-11 12:44] couet commented on #8781
done

[2022-01-11 12:53] ferdymercury commented on #8781
Fair enough, I was just thinking to save some space, but you are right and it is probably useful to have it there, too.

[2022-01-11 12:54] couet commented on #8781
I think so. Disk space is not really an issue in that case.
I let you close this issue is you think all is done.

[2022-01-11 12:54] ferdymercury commented on #8781
Thanks so much. Is there a way to resynch 6.24 so that the qch link on https://root.cern/reference/ is not broken ?

[2022-01-11 13:00] couet commented on #8781
I relaunched the build: https://lcgapp-services.cern.ch/root-jenkins/view/ROOT/job/root-makedoc-v624/

[2022-01-11 13:14] ferdymercury commented on #8781
Thanks so much.

Silly question, is qhelpgenerator installed in the build server?

If it's an old Ubuntu, one needs to:
- apt install qt4-dev-tools
- change in the Doxyfile: QHG_LOCATION=/usr/lib/x86_64-linux-gnu/qt4/bin/qhelpgenerator

In Ubuntu 20 or later, I think that it's
- apt install qhelpgenerator-qt5
- and no need to change the Doxyfile

[2022-01-11 13:43] couet commented on #8781
I am not sure to check the ubuntu version. `name -a` gives:
[code]
is that "old" or "new" ?

[2022-01-11 13:45] ferdymercury commented on #8781
Try with `cat /etc/lsb-release`

[2022-01-11 13:45] couet commented on #8781
ok "new":
[code]

[2022-01-11 13:47] ferdymercury commented on #8781
Great! If you type `qhelpgenerator` in the command line, it should hopefully work. In Ubuntu 18, that command would give this error:
`qhelpgenerator: could not exec '/usr/lib/qt5/bin/qhelpgenerator': No such file or directory
`

[2022-01-11 13:49] couet commented on #8781
I get this exact error you posted

[2022-01-11 13:55] couet commented on #8781
Ok, I did the apt install as you suggested (with the admin account) and I now get:
[code]
So I guess it is install ... should I relaunch the ref guide build ?

[2022-01-11 13:59] ferdymercury commented on #8781
Maybe check first the log file of the Doxygen build. Close to the end, it will say output an error like:
[code]

[2022-01-11 14:01] couet commented on #8781
Indeed the refi guide build for 6.24 did not start yet (looking for an executor)
https://lcgapp-services.cern.ch/root-jenkins/view/ROOT/job/root-makedoc-v624/
so it should be fine.

[2022-01-11 14:24] Axel-Naumann commented on #7108
Should be fixed in master and v6-26-patches. Can you confirm?

Is this also needed in 6.24?

[2022-01-11 14:26] #9069 closed

[2022-01-11 14:29] bellenot commented on #9487
So I created a PR that should fix this issue. It compiles and runs fine with VS 2022 (v17.0.4) and pytest 6.2.5:
[code]

[2022-01-11 15:31] bendavid commented on #7108
this doesn't fix it for me unfortunately
[code]

[2022-01-11 15:39] eguiraud commented on #7108
Uh, disappointing. My repro at the top of the issue seems to be fixed:

[code]

(no build directory in the include paths anymore)

[2022-01-11 15:54] bendavid commented on #7108
I think you can easily reproduce my error by keeping the build directory present but making it inaccessible by permissions.

[2022-01-11 16:10] eguiraud commented on #7108
I can't, sorry. I did the following:

As root user:
[code]
As my user:
[code]

And still:

[code]

[2022-01-11 16:23] hahnjo opened #9543 "roottest-root-treeformula-stl-make crashes during process termination"
After applying all updates on CentOS 8 Stream, `roottest-root-treeformula-stl-make` started crashing reproducibly both with GCC 8.5.0 and Clang 13 (assuming I didn't do something stupid).

### Output
[code]

### Backtrace
[code]

[2022-01-11 17:03] Axel-Naumann commented on #9543
Thanks for the report! What does [valgrind](https://root-forum.cern.ch/t/valgrind-and-root/28506) say?

[2022-01-11 17:32] Neel-Shah-29 commented on #7395
Hello can you just give some resources to start with the Root as i am just a beginner in open source but surely passionate to complete this issue .

[2022-01-11 18:07] hageboeck commented on #7395
The code locations were already given in the issue descriptions (but line numbers might have changed).
So instead of creating a vector of doubles here:
https://github.com/root-project/root/blob/7e1c74b764a60f811e898c3f6b55c0234b2b307d/tree/dataframe/inc/ROOT/RDF/ActionHelpers.hxx#L917

Create a vector of Kahan sums using the already existing Kahan summation class:
https://root.cern.ch/doc/master/c

[2022-01-11 18:48] hahnjo commented on #9543
Okay, something is weird here: The test now fails down to 6.22, maybe even more since I didn't test 6.20. But differently, here's a backtrace from 6.22:
[code]

Starting from 6.24, I get the `free(): invalid next size (fast)`...

[2022-01-11 19:08] hahnjo commented on #9543
[valgrind.log](https://github.com/root-project/root/files/7849240/valgrind.log) - and interestingly, then it doesn't crash. Oh I hate memory corruption problems!

[2022-01-12 07:04] #9487 closed

[2022-01-12 07:27] bellenot commented on #9445
@wmyyy so I can't build with ASAN on Windows (see errors above). But it's weird that you don't have the same errors. And about the "The items cannot be built in parallel.", it's fine, it's only an informative message

[2022-01-12 07:58] Neel-Shah-29 commented on #7395
I have sent the PR kindly suggest the changes to be made if anything incorrect.
Thankyou.

[2022-01-12 08:21] Axel-Naumann commented on #9112
Can one of you confirm that this issue can be closed?

[2022-01-12 08:41] bendavid commented on #9112
Unfortunately not, from pyroot it still inserts the nullptr checks when instantiating template functions.

[code]

[code]

[2022-01-12 08:49] bendavid commented on #9112
Or similarly, but slightly different when actually calling the function:
[code]

[code]

[2022-01-12 09:20] hahnjo opened #9547 "RooFit crashes when ROOT is built with Clang"
Both on CentOS 8 Stream and Arch Linux, when compiling with Clang 13.0.0, there are a number of RooFit test failures due to crashes. Example crash when running `tutorials/roofit/rf201_composite.C`:
[code]

### Backtrace
[code]

[2022-01-12 09:25] ferdymercury commented on #8781
The build finished, but the link to the qch file is somehow still broken. Could you check the build log?

I tried the changes locally, and when I go to root_src/documentation/doxygen and call:
`doxygen`
it correctly creates the file ROOT.qch in the subfolder html.

[code]

Maybe the synch script is not copying correctly this created html file from the root source repository to ~/rootdoc ? Or maybe

[2022-01-12 09:30] Axel-Naumann commented on #9543
No but that's it already - invalid writes can cause random behavior.
[code]
looks like a perfect culprit. @pcanal @lmoneta FYI

[2022-01-12 10:02] couet commented on #8781
Yes I saw that. Let me check.

[2022-01-12 10:05] couet commented on #8781
On this log https://lcgapp-services.cern.ch/root-jenkins/view/ROOT/job/root-makedoc-v624/96/consoleFull I search the string `qhelpgenerator ` but it does not appear. Should it ?

[2022-01-12 10:10] ferdymercury commented on #8781
Yes, I think so.
If I just call "doxygen" locally instead of make, it says at the end:
[code]
And the Makefile is calling doxygen, so unless it's modifying the Doxyfile inbetween... it should.

[2022-01-12 10:24] couet commented on #8781
well:
[code]
So it seems the doxyfile has not been update n the build machine

[2022-01-12 10:27] couet commented on #8781
Well .. the PR was on master ! that's why it does not show on 6.24

[2022-01-12 10:28] ferdymercury commented on #8781
ahh. good point, thanks for finding out. Can it be cherry picked into 6.24 or should I open a new PR ?

[2022-01-12 10:34] couet commented on #8781
Here (master) we see your mods: https://github.com/root-project/root/blob/master/documentation/doxygen/Doxyfile
But here (6.24) we don't: https://github.com/root-project/root/blob/v6-24-00-patches/documentation/doxygen/Doxyfile
but https://root.cern/doc/master/ROOT.qch does not work either

[2022-01-12 10:36] ferdymercury commented on #8781
Master ref guide was rebuilt before qhelpgenerator was installed maybe?

![image](https://user-images.githubusercontent.com/10653970/149124427-a8355b4c-2202-4da3-9f0e-cd220f3a1d60.png)

[2022-01-12 10:38] couet commented on #8781
let me check

[2022-01-12 10:39] hahnjo commented on #9547
Right, this is a "regression" (not sure yet where) going from Clang 12 to Clang 13, ie a vanilla build of Clang 12 works and a vanilla build of Clang 13 crashes, with varying degrees of spectacular crashes. Instead of auditing all code in RooFit, I'm going to `git-bisect` LLVM/Clang instead and see if that's a problem in our code or a miscompilation.

[2022-01-12 10:42] couet commented on #8781
On the build machine Doxyfile seems ok for master:
[code]

[2022-01-12 10:46] couet commented on #8781
but may be that's the one going on ...

[2022-01-12 10:51] guitargeek commented on #9547
Hi @hahnjo, thanks for reporting this! We recently changed the `RooSTLRefCountList` quite a bit, see the commit history of this file:
https://github.com/root-project/root/blob/master/roofit/roofitcore/inc/RooSTLRefCountList.h
Do you also get the crash when you take the `RooSTLRefCountList.h` from before last December?

[2022-01-12 10:52] hahnjo commented on #9547
Yes, I went back as far as last August. Also Clang 12 works with current `master`, so the only difference is the compiler.

[2022-01-12 10:53] ferdymercury commented on #8781
I see also some "Kernel died" and "Traceback crashes", "python2 errros" in the log: https://lcgapp-services.cern.ch/root-jenkins/view/ROOT/job/root-makedoc-master/2580/consoleFull
[code]

but I guess this shouldn't be blocking the main doxygen process.

[2022-01-12 11:05] bendavid commented on #7108
I also can't reproduce this in a standalone build, only happens when I install using the system package manager (in this case archlinux in a podman image).  Maybe it has to do with $ROOTSYS being set vs not.

Let me see if I can provoke it in a more standalone manner.

On the other hand if I grep for the build directory, it does still appear in the final .so and .pcm files.

[2022-01-12 12:01] Axel-Naumann commented on #9112
Sure, but that function then just returns for your example. You'll want to put a breakpoint at `PointerCheckInjector::TraverseDecl`

[2022-01-12 12:22] couet commented on #8781
No, it might be some tutorials failed.

[2022-01-12 12:43] ferdymercury commented on #8781
Alright, this looks better now in master, but there is still an error somewhere...

![image](https://user-images.githubusercontent.com/10653970/149142474-1e85146d-e8ea-488d-a109-d20deab8d3b9.png)

[2022-01-12 13:17] couet commented on #8781
Yes I see the command rans. The files are deleted once sync. Let me download the tar ball and see what's in.

[2022-01-12 13:20] couet commented on #8781
well there is no tarball for master... let me try to find out.

[2022-01-12 13:32] couet commented on #8781
I can see the files. The file ROOT.qch is missing:
[code]

[2022-01-12 13:39] couet commented on #8781
here is [index.qhp.gz](https://github.com/root-project/root/files/7854927/index.qhp.gz)

[2022-01-12 13:39] ferdymercury commented on #8781
Yes, that's to be expected because of the error in the command:
`qhelpgenerator index.qhp`

I checked locally and I am seeing the same error. It seems the index.qhp file is corrupted here:
[code]

[2022-01-12 13:51] ferdymercury commented on #8781
In the file you sent me, if you remove line 16, does the error disappear when running qhelpgenerator index.qhp ?

[2022-01-12 13:57] ferdymercury commented on #8781
It seems the error from https://github.com/doxygen/doxygen/issues/5333

[2022-01-12 13:57] couet commented on #8781
yes removing the line 16 make it works.
What do you suggest ?

[2022-01-12 13:59] ferdymercury commented on #8781
I'll report it, let's hope it gets fixed for 1.9.4

In the meanwhile, maybe we can document the "enums" in the TOC, so that the error does not appear?

[2022-01-12 14:00] couet commented on #8781
I can try to install the doxygen head ... that what we use already

[2022-01-12 14:02] couet commented on #8781
Let me reopen the issue until that's fixed.

[2022-01-12 14:02] ferdymercury commented on #8781
Yep, but it seems that this issue is still buggy in master. They suggest a workaround, but not sure...

[code]

[2022-01-12 14:18] couet commented on #8781
ok, I guess given the number of enums in ROOT the fix is not really applicable

[2022-01-12 14:41] ferdymercury commented on #8781
Yep, I agree.

Otherwise, the resulting qch after removing that line looks good when opened in QtCreator:

![image](https://user-images.githubusercontent.com/10653970/149161405-67891281-1f36-43f4-8283-3065d8a57961.png)

[2022-01-12 14:51] Axel-Naumann commented on #9112
With your code I get:
[code]

With

[code]
I get
[code]

?!

[2022-01-12 14:56] Axel-Naumann commented on #9112
Argh yes I know what it is. Back to the drawing board. Thanks for your report!

[2022-01-12 16:04] hahnjo commented on #9547
Result from `git-bisect` on LLVM/Clang between current `release/13.x` and `llvmorg-13-init`:
[code]

[code]

[2022-01-12 16:51] hahnjo commented on #9547
Ok, now I first made a "good" build with the compiler before that commit. Afterwards I went to that commit, rebuilt the compiler, and then strategically `touch`ed files to rebuild them one by one. After rebuilding `roofit/roofitcore/src/RooAddPdf.cxx`, the test started crashing and building it again with a "good" compiler, to double-check, makes the test pass. So we're probably looking for some UB

[2022-01-12 17:05] eguiraud commented on #8704
To clarify, the plan is to have something like a `DefineDefault("x", ...)` to provide default values for a branch when it's not present in the dataset.

[2022-01-12 19:01] #9507 closed

[2022-01-13 00:13] guitargeek commented on #9547
Oh man that sounds bad... Do you have any recommendation how I can help to solve this?

[2022-01-13 08:14] #9145 closed

[2022-01-13 08:19] couet commented on #8781
We had our daily ROOT meeting this morning and It was suggested that you write a BlogPost on the ROOT web site to explain what is this qch file and how to use it. I think it is a good idea. Of course if you are willing.

[2022-01-13 08:34] eguiraud commented on #9474
Note that in current master the static global counter was removed in favor of a local variable so the issue is not reproducible anymore (but the underlying interpreter issue might still be worth investigating).

[2022-01-13 08:46] eguiraud opened #9556 "[DF] Prettier, more helpful graphviz computation graph representations"
The information contained in some nodes could be made more helpful, e.g. `Histo1D` nodes could display the names of the columns used for filling the histogram and/or the name of the histogram produced.

[2022-01-13 08:56] hahnjo commented on #9547
I still had one trick up my sleeve: I dumped the generated IR from the "bad" and the "good" compiler to see which part of the code is actually modified. This turns out to be `RooAddPdf::checkObservables`:
https://github.com/root-project/root/blob/e8ba1328693f89af8299904ce3db7bdc8f57c535/roofit/roofitcore/src/RooAddPdf.cxx#L825-L840
where Clang now optimizes the inlined `RooArgList::at`:
https://gi

[2022-01-13 09:49] ferdymercury commented on #8781
Sounds great, I would be happy to do it, thanks for the invitation.

But I would maybe like to wait that the doxygen bug gets fixed, before starting to write it.

[2022-01-13 09:53] couet commented on #8781
Yes may be better to have that doxygen fix before. The blog post can be prepared before as it is just a new PR on the ROOT web site. Having a PR allow the ROOT team to have a look at your text before posting. Let me know if you want more details about it.

[2022-01-13 13:39] hahnjo commented on #9543
The `valgrind` log of a `Debug` build is much more interesting because it also shows where the invalid write occurs, not only where the memory was originally allocated:
[code]

For reference, here's the full output: [valgrind.debug.log](https://github.com/root-project/root/files/7863139/valgrind.debug.log)

[2022-01-13 14:35] eguiraud opened #9561 "[DF] Teach CSV datasource to handle NaN values"
Original report, it also contains a test: https://root-forum.cern.ch/t/nan-values-in-one-column-break-histogram-of-another-column/37091 .

[2022-01-13 14:56] lmoneta commented on #9530
Hi,

 I think this is not a bug, but maybe a different way of representing the non-uniform binning histogram.
 You first scale the original histogram by the bin width to represent a density, this is fine and then you generate random number from this scaled histogram. If you doing this you the histogram represent now a density and of course you need to account of the bin width when calling`TH1::Get

[2022-01-13 14:59] andrea-celentano commented on #9530
Dear Lorenzo,
I agree that this is a matter related to what a histogram is, and what the operation of extracting random numbers from it should be. I am totally in favor of adding an option in `TH1::GetRandom` to allow both methods.

[2022-01-13 20:52] guitargeek commented on #9547
Putting the "fixed in v6.26" label already now because there is no way I forget the backport with the PR already listed in https://github.com/root-project/root/issues/9508

[2022-01-13 23:30] rlalik opened #9564 "SegFault in TBuildRealData::Inspect in root-5@v5-34-00-patches"
- [x] Checked for duplicates

### Describe the bug

While running an application a following errors appears, which I can hardly link back to my code:
[code]

### To Reproduce
Custom code requires whole framework, hard to regenerate.

### Setup
1. root@v5-34-00-patches (sorry that I still need to use root-5)
2. Operating system
[code]
3. How you obtained ROOT, such as `dnf install` / binary downloa

[2022-01-14 07:48] hahnjo commented on #9547
I'll backport this myself (as is normal in ROOT? at least so far, I've always done this myself), also because I want this to appear in more than just v6.26.

[2022-01-14 08:48] guitargeek commented on #9547
Ok, perfect thanks!

[2022-01-14 08:51] guitargeek commented on #9547
Yes you are right, that's the normal procedure for ROOT. I was just thinking of doing it myself to ensure that the commit history in v6.26 is still in the same order as in master, at least for RooFit. But if you merge your backports today that's perfect :+1:

[2022-01-14 08:52] lmoneta commented on #9364
This problem has been already reported in https://sft.its.cern.ch/jira/browse/ROOT-8085

We need to have a new  implementation of TH1::GetQuantiles, extending what is available in `TMath::Quantiles` for weighted data set.

[2022-01-14 09:54] linev commented on #9364
Yes, it is same problem. Actually, solution is very simple and I implement it with JSROOT.
One can copy it to the C++

[2022-01-14 10:39] hahnjo commented on #9543
Axel dug out https://sft.its.cern.ch/jira/browse/ROOT-8273 and it even has a patch that fixes the test for me. However, the change only works if the interpreter knows about the template instantiation before the `TClass` is initialized :neutral_face:

[2022-01-14 10:55] jalopezg-r00t commented on #9564
Hi @rlalik,

I'm sorry to communicate that ROOT v5.xx is not maintained anymore.  CC'ing @pcanal and @Axel-Naumann so that they are aware of this issue anyway.

For our information, what is preventing you from migrating to ROOT6?

Cheers.

[2022-01-14 11:03] Axel-Naumann commented on #9564
Thanks @rlalik - this is very difficult for us to address:
- it's in a very old, unmaintained ROOT version
- we cannot reproduce it
- you don't know of a reproducer.

I think the only way out is to help you debug. To get started, please share:
- the TClass's name of frame 6 *and* 3
- both classes' headers (e.g. thought a GitHub URL)

[2022-01-14 15:10] Axel-Naumann commented on #9379
Implemented in master and v6-26.

[2022-01-14 15:10] #9379 closed

[2022-01-14 16:38] pcanal commented on #9543
Note from the JIRA tickets:

Summary of discussion related to this ticket and https://github.com/root-project/root/issues/9543.

In the issue #9543, the unusual situation is the combination of:

* there is (intentionally) no dictionary for `std::map<int,std::vector<int>>`
* consequently we use an "emulated collection proxy" for that collection
* there is (unintentional due to external config) inte

[2022-01-14 17:40] bendavid commented on #9112
(Yes confirmed that this fixes it for me.)

[2022-01-14 17:44] chissg opened #9583 "Interpreter autoload lookup failure when `runtime_cxxmodules=ON`"
- [x] Checked for duplicates

### Describe the bug

The provided reproducer's "bad" test fails when the reproducer is built against a ROOT with `runtime_cxxmodules=ON` but passes when `runtime_cxxmodules=OFF`. Verified with 6.24/06 and 6.25/02.

### Expected behavior

Tests "good," and "bad" should both pass.

### To Reproduce

1. Ensure you are using ROOT >= 6.24/00
1. Ensure you are using CMake

[2022-01-14 19:30] pcanal commented on #9583
This is indicative of a real 'problem'.  The file `libNet_rdict.pcm` should not be present at all in a build with `runtime_cxxmodules=ON`.

[2022-01-14 20:40] pcanal commented on #9583
@vgvassilev (and @Axel-Naumann @jalopezg-r00t ), Chris also noted that with gDebug > 2, the failing case gets:
[code]
I noted (with gdb) that in the working case (class name `gallery::GalleryEvent`), ` TCling__AutoParseCallback` is (as expected) called with that class name as an argument (full stack trace in the next comment).

While in the broken case (class name `gallery::Event`), ` TCling__Auto

[2022-01-14 21:34] dciangot opened #9584 "Error when opening/creating new file via Davix-S3"
- [x] Checked for duplicates

### Describe the bug

When trying to read and write a ROOT file via S3-->Davix, the read is working just fine but when opening a file with either CREATE or RECREATE flag I obtain:
[code]
Leaving behind only a file with size 0.

### Expected behavior
I'm actually not sure if this should be expected, but I did expect the file to be created correctly.

### To Reproduce

[2022-01-15 21:57] andriish opened #9590 "[Feature request] It would be great to have the ROOT build with VS 2022."
### Is your feature request related to a problem? Please describe.
It would be great to have the ROOT build with VS 2022.

### Describe the solution you'd like
ROOT 6.24 binary build with VS 2022.

### Describe alternatives you've considered
ROOT 6.24 binary build with VS 2019. Does not work with VS 2022.

### Additional context
I'm not even sure if one can easily get older VS.

[2022-01-17 07:42] vgvassilev commented on #9583
Hi @chissg, can you test https://github.com/root-project/root/pull/9592#issuecomment-1013855717

[2022-01-17 09:05] gganis opened #9594 "Systematic build failure of ROOT master in the LCG DEBUG builds since Jan 15th"
- [X] Checked for duplicates
None found

### Describe the bug
Since three nights (Jan 15th), the dev3 (ROOT-master) debug builds fail systematically with an error in
[code]
See for example [this](http://cdash.cern.ch/upload/2db1c74842498c34342939e8d67598ae973967d8/ROOT-HEAD-build.log) .

### Expected behavior
A successful build ;-) .

### To Reproduce
LCG nightlies (lcgcmake). Did not try yet in s

[2022-01-17 09:38] chrisburr opened #9595 "Segfault when building conda nightlies"
- [x] Checked for duplicates

### Describe the bug

The conda nightly builds started segfaulting late last year while generating `hsimple.root`.

I think I've isolated the problem to the addition of `-O1` to the default cling arguments. For debugging I've build Friday's master with https://github.com/root-project/root/commit/eff25e526f23d86077819211898f0fcae3153dc8 reverted so the issue can be tri

[2022-01-17 09:41] chrisburr commented on #9595
I've looked a bit further and found that is only happens in my reproducer if I have `#include <iostream>`:

[code]

Same thing with `#include <iostream>` removed:

[code]

[2022-01-17 10:17] gganis commented on #9594
Update: v6-26-00-patches also affected since last night.

[2022-01-17 11:38] eguiraud commented on #9595
Marking with critical priority because no conda nightly builds also means no v6.26 conda package when we'll release.

[2022-01-17 11:40] eguiraud commented on #8893
Reopening until this is backported to v6.26

[2022-01-17 12:21] bellenot commented on #9590
We are planning to migrate to VS 2022 after the ROOT v6.26.00 release

[2022-01-17 13:16] ferdymercury opened #9596 "doxygen gets confused with ClassDef and Streamer"
- [x] Checked for duplicates

### Describe the bug
ClassDef macro implements the ;:Streamer declaration in hundreds of classes. However, when generating the documentation, doxygen seems not to be able to detect its presence, and gives thousands of warnings, see e.g. https://lcgapp-services.cern.ch/root-jenkins/view/ROOT/job/root-makedoc-v624/96/consoleFull.

of the type:
[code]

### Expected behav

[2022-01-17 13:59] couet commented on #9596
ClassDel is already in the `PREDEFINED` variable in Doxyfile (line 2257). So I think doxygen should instructed about its existence. my be that's not the right way to declare it. I am not sure.

[2022-01-17 13:59] sawenzel opened #9599 "Possible incomplete installation of internal TBB"
### Describe the bug
ALICE is building ROOT without external TBB. The resulting TBB libs are correctly installed in the installation directories. However, for the TBB headers, this is not true.

### Expected behavior
In order to just use one TBB version within our software stack, it would be good and convenient if headers could be (optionally) distributed, too.

### To Reproduce
Searching through

[2022-01-17 15:56] pcanal opened #9600 "Missing dependency when building roottest as part of ROOT."
When building from scratch I get:
[code]

and indeed, `libHist` has not been build yet.

So it seem that `roottest/root/meta/MakeProject/stl_makeproject_test.cxx` is missing a dependency on `libHist`

[2022-01-17 20:53] agheata commented on #9421
Hi, I realized that other geometry files are affected by this, so this is a bug indeed, no need for an extra user flag. The PR #9602 is supposed to fix the issue. I cannot add you as reviewer for this, but you can comment here if you want.

[2022-01-17 21:33] #8893 closed

[2022-01-17 23:54] ferdymercury commented on #9596
I created a minimal example for testing purposes.

[streamer.zip](https://github.com/root-project/root/files/7885164/streamer.zip)

It issues this warning:
`streamer/TGeoArb8.cxx:22: warning: documented symbol 'void TGeoArb8::Streamer' was not declared or defined.`

and the output does not show the function.

![image](https://user-images.githubusercontent.com/10653970/149848810-daba8c17-11b6-459d-

[2022-01-18 08:46] couet commented on #9596
So we have on or the other. Could it be a doxygen issue in that case ?

[2022-01-18 09:54] Axel-Naumann commented on #9599
Just FYI, making sure we're on the same page here: you can always build ROOT against an external tbb.

[2022-01-18 12:15] sawenzel commented on #9599
Sure. However, we currently don't have tbb in our software stack. Since ROOT builds/installs tbb in any case, I was just hoping to be able to use this internal version. In other similar cases (vdt), the headers seem to be installed correctly.

[2022-01-18 12:32] ferdymercury commented on #9596
It could be a doxygen issue, but in the small reproducer I prepared, I do not get the second error. It runs without any errors.
Not however in the full ROOT build :S

[2022-01-18 12:45] couet commented on #9596
if I remove `"ClassDef(x,y)=//" from `PREDEFINED` and set  `EXPAND_ONLY_PREDEF = NO` The warning disappear bu then a full list of (useless) functions appear in the `TGeoArb8` documentation:
<img width="729" alt="Screenshot 2022-01-18 at 13 42 14" src="https://user-images.githubusercontent.com/4697738/149939750-c8ad116e-85f9-4422-8621-6693e84d4bd9.png">
I am not sure we want that. May be we can sur

[2022-01-18 12:54] ferdymercury commented on #9596
Mmm and if you let expand only predef to YES, but add ClassDefOutline to PREDEFINED, what happens? Because ClassDef calls itself another macro, so maybe it is not expanding enough subnested macros. ?

[2022-01-18 12:57] couet commented on #9596
I am not sure what you are suggesting for `PREDEFINED` ? can you copy/paste here what it should be ?

[2022-01-18 13:17] #9421 closed

[2022-01-18 13:35] xiaoxiao-Xu opened #9607 "[MSVC][std:c++latest][permissive-] root failed to build on MSVC"
### Describe the bug
The MSVC team recently added root as part of RWC testing. And we found some errors when building root with '/std:c++latest' and '/permissive-'. Could you please help look at this issue or provide some workarounds? Thanks in advance.
### Expected behavior
root project could build successfully under '/std:c++latest' and '/permissive-' mode.
### To Reproduce
1. git clone https://

[2022-01-18 13:58] ferdymercury commented on #9596
What I was suggesting is:
ClassDef contains a nested call to _ClassDefOutline_ macro.

Thus, I was suggesting that both ClassDef and ClassDefOutline should be in the PREDEFINED variable. However, I am not sure about the syntax.

[2022-01-18 14:25] couet commented on #9596
I would say:

[code]
But then I am not sure what is the best way combination ....

[2022-01-18 14:59] ferdymercury commented on #9596
I think that ClassDef and ClassDefOutline should be moved from the `PREDEFINED` to the `EXPAND_AS_DEFINED` tag below.
Otherwise, we are now replacing ClassDef with a `//` comment.

[2022-01-18 15:09] couet commented on #9596
Can you propose something ? I guess you are more advanced than me on that topic ....

[2022-01-18 15:15] ferdymercury commented on #9596
I'll try :)

[2022-01-18 17:00] gganis commented on #9594
Update: another problem which seems connected with this change is that **PyRDF** and **gaudi_tests** fail for the **optimized** builds, the only one we can test (see, for example, [here](http://cdash.cern.ch/testDetails.php?test=11740534&build=140717) and [here](http://cdash.cern.ch/testDetails.php?test=11738354&build=140717)).

So all the LCG nightlies seem to be affected now.

[2022-01-18 17:03] Axel-Naumann commented on #9594
@vgvassilev FYI

Relevant part of the backtrace:
[code]

[2022-01-18 17:04] Axel-Naumann commented on #9594
@gganis what's the `cmake` invocation of this build?

[2022-01-18 17:08] Axel-Naumann commented on #9594
The second cases you report seem unrelated at a first look:
[code]

and

[code]

[2022-01-18 17:16] gganis commented on #9594
The CMake invocation is [here](https://gitlab.cern.ch/sft/lcgcmake/-/blob/master/projects/CMakeLists.txt#L83).
This is an example of concretization for gcc 9.2, debug:
[code]
And this is the corresponding log:
[code]

[2022-01-18 17:22] gganis commented on #9594
#`The second cases you report seem unrelated at a first look`

Well, a part the timing correlation, the changes triggering the problem are [the ones ported to v6-26-00-patches on Jan 16, 2022](https://github.com/root-project/root/commits/v6-26-00-patches), which are related to Vc.

[2022-01-18 17:46] ferdymercury commented on #9596
I've filed a bug report https://github.com/doxygen/doxygen/issues/9049

[2022-01-18 17:56] vgvassilev commented on #9594
Hi @gganis, does reverting https://github.com/root-project/root/pull/9567 help?

[2022-01-18 18:21] chissg commented on #9583
- ✅  Patch applies clean to `v6-26-00-patches`
- ✅  Builds successfully
- ✅  Standalone tests
- ❌  _in vivo_ test
    I will attempt to investigate further, but relevant output with `gDebug == 3` follows:
[code]

[2022-01-18 18:40] chissg commented on #9583
Possibly relevant: the last messages are:
[code]
There is in fact no `arttest::addr`. There _is_, however a `SFINAE` pair of function templates:
[code]
defined in the same header as `art::detail::are_cv_compatible<...>(...)`.

[2022-01-18 19:06] vgvassilev commented on #9583
Do I understand correctly that the PR fixes the original issue but introduces another?

[2022-01-18 19:19] chissg commented on #9583
I think I'd be more comfortable saying, "uncovers" than, "introduces."

[2022-01-18 21:56] chissg commented on #9583
I'm working on a reproducer for the newly-uncovered issue, but I probably won't finish it today.

[2022-01-19 09:19] bellenot commented on #9607
1) `/std:c++latest` is not yet supported. The `std:c++17` is the latest supported standard. That should change when upgrading LLVM & Clang.
2) I see a couple of errors when compiling with the `/permissive-`. flag. They can be fixed, but do you really need this flag when building ROOT? What is the motivation for it?
BTW, the [build.log](https://github.com/root-project/root/files/7889386/build.log)

[2022-01-19 09:45] xiaoxiao-Xu commented on #9607
do you really need this flag when building ROOT? What is the motivation for it?
--> Yes, we need to build ROOT with '/permissive-'. Although our team are testing MSVC compiler, we also need to test the compiler under the behavior of '/permissive-' and '/std:c++latest'.

BTW, the build.log for /permissive- has nothing to do with ROOT, the errors are in F:\gitP\baldurk\renderdoc\
--> I'm so sorry. I

[2022-01-19 09:57] bellenot commented on #9607
So sorry, but we cannot fix the `/std:c++latest` issue, since it is not supported by our version of LLVM & Clang. You'll have to wait for the upgrade.

Well, if it's only for testing the compiler, I suppose we cannot consider that as a ROOT bug, or do I miss something?

[2022-01-19 10:11] xiaoxiao-Xu commented on #9607
error message under permissive-:
 `F:\gitP\root-project\root\hist\hist\inc\TF1.h(463,1): error C2445: result type of conditional expression is ambiguous: types 'TString' and 'const char [1]' can be converted to multiple common types `

If the issue is not a ROOT bug, could you please help provide a workarounds aiming at the error above? Thanks a lot.

[2022-01-19 10:18] bellenot commented on #9607
I've seen those errors and I'll fix them. The only workaround for the time being is not to use `/permissive-` flag, unless you really need it, which is still not clear to me.

[2022-01-19 10:35] ferdymercury commented on #9596
Albert provided a solution.

[code]

[2022-01-19 10:43] couet commented on #9596
Did you try it ? if it works can you provide a PR ?

[2022-01-19 10:43] xiaoxiao-Xu commented on #9607
Ok, I got it. I will disable the project under '/permissive-' temperarily. Thanks for your quick reply and attention for the issue.

[2022-01-19 10:44] ferdymercury commented on #9596
Yes, it works. I'll provide a PR.

[2022-01-19 10:49] bellenot commented on #9607
You're welcome. I'll create a PR linking to this issue so you'll be updated about the progress on this issue.

[2022-01-19 16:04] gganis commented on #9594
Hi @vgvassilev, yes, reverting this 5 commits fixes the problem.

[2022-01-19 16:07] #9543 closed

[2022-01-19 18:23] mrzimu opened #9624 "Crash when setting `LearningRateSchedule` for training Keras model on TMVA"
- [ ] Checked for duplicates

### Describe the bug
When booking `TMVA.Types.kPyKeras` method, once add `LearningRateSchedule` option to the option string, a FATAL error will occure.

### Expected behavior
Just fix it? Make it work? Or something like these...

### To Reproduce

Add `LearningRateSchedule` option to line 65, /tutorials/tmva/keras/ClassificationKeras.py:
[code]

### Setup

1. ROOT ver

[2022-01-19 18:30] mrzimu opened #9625 "Crash when setting `LearningRateSchedule` for training Keras model on TMVA"
- [ ] Checked for duplicates

### Describe the bug
When booking `TMVA.Types.kPyKeras` method, once add `LearningRateSchedule` option to the option string, a FATAL error will occure.

### Expected behavior
Just fix it? Make it work? Or something like these...

### To Reproduce

Add `LearningRateSchedule` option to line 65, /tutorials/tmva/keras/ClassificationKeras.py:
[code]

### Setup

1. ROOT ver

[2022-01-19 19:54] ferdymercury opened #9626 "THStack docu broken link and TSpectrum TGeoMatrix"
- [x] Checked for duplicates

### Describe the bug
THStack::Paint function documentation has a broken link:
https://root.cern/doc/master/classTHStack.html#HS00

I guess this was overlooked when reformatting here: https://github.com/root-project/root/commit/830ba5364ad60f287932f002c1c676dd8d6e2aa6#diff-82b523bd29fb2b8da2dc50dfdb01386a70504d8de4b2dc71fd8d6ac14354b5a6

### Expected behavior
Fix link

[2022-01-19 20:03] ferdymercury commented on #9626
https://root.cern.ch/doc/master/classTSpectrum.html Fig.27 image source is also broken.

[2022-01-19 20:24] ferdymercury commented on #9626
Another broken image is in `TGeoMatrix.cxx \image html geom_transf.jpg` maybe due to https://github.com/root-project/root/commit/fd87047587ef005867f79ff24203c6ff09db769a

[2022-01-20 06:53] #9607 closed

[2022-01-20 08:56] couet commented on #9626
Thanks !
This PR fixes these problems:
https://github.com/root-project/root/pull/9627

[2022-01-20 08:56] #9626 closed

[2022-01-20 09:13] ferdymercury commented on #9596
I am preparing a PR, but will wait first for https://github.com/root-project/root/pull/9615 to be merged in order to prevent more conflicts.

I will hide these functions from doxygen:
HashConsistency, Class, DeclareFileName, DeclareFileLine, Dictionary, ImplFileName, ImplFileLine, IsA, ShowMembers

They can be easily re-enabled by changing in the Doxyfile:
ENABLED_SECTIONS = HIDDEN_SYMBOLS

[2022-01-20 09:21] couet commented on #9596
PR #9615 merged

[2022-01-20 09:21] ferdymercury commented on #9596
Thanks :)

[2022-01-20 09:53] ferdymercury commented on #8781
Doxygen has fixed the issue in Git master now.

[2022-01-20 09:54] couet commented on #8781
Ok. let me update my doxygen locally and on the build machine.

[2022-01-20 10:21] gganis commented on #9594
Any plan when this can be addressed, at least for v6-26-00-patches? The LCG nightlies are not very usable at the moment.
Can I suggest to revet the patch for v6-26-00-patches and re-port it when it is fixed on the master ?

[2022-01-20 10:21] bellenot commented on #9607
See PR https://github.com/root-project/root/pull/9630

[2022-01-20 10:41] couet commented on #8781
I have updated doxygen to master on the build machine

[2022-01-20 10:58] xiaoxiao-Xu commented on #9607
Ok. Thanks for your quick fix.

[2022-01-20 12:07] eguiraud commented on #9625
Closing as a duplicate of https://github.com/root-project/root/issues/9624

[2022-01-20 12:07] #9625 closed

[2022-01-20 12:10] eguiraud opened #9632 "Iteration on `std.vector['char']` is broken"
- [x] Checked for duplicates

First reported as a problem in `RDataFrame.AsNumpy` [on the forum](https://root-forum.cern.ch/t/pyroot-read-tree-asnumpy/48426).

The following code:

[code]

produces:

[code]

Notably, _sometimes_ it seems to run without errors.

[2022-01-20 12:49] #8987 closed

[2022-01-20 14:09] OKovy opened #9636 "Issue with Kolmogorov - Smirnov test in ROOT::Math::GoFTest"
Dear all,

I have found the Kolmogorov-Smirnov test between a distribution function and a dataset implemented in ROOT::Math::GoFTest::KolmogorovSmirnovTest(Double_t& pvalue, Double_t& testStat) behaving incorrectly at low statistics (n~10). In those cases, the calculated Kolmogorov distance D acummulates at value 1/n. After investigation, I suspect the line

https://github.com/root-project/root/bl

[2022-01-20 14:20] mattiasotgia opened #9637 "`TGraph::Add(TF1 *f)` method like for `TH1`'s"
### Explain what you would like to see improved
There is not a `TGraph::Add(TF1 *f)` like in `TH1::Add(TF1 *f)` to add the value of the function f evaluated in each point to the y value of the TGraphErrors. It surely would be useful especially to compute ratios and residuals for `TGraph`'s, other than `TH1`'s

For example if there is a `TGrapherror *graph` object, and a `TF1 *fit` function fitted

[2022-01-20 15:30] bellenot commented on #9607
@xiaoxiao-Xu  Fixed in master by commit [8719f0f](https://github.com/root-project/root/commit/8719f0f8437c96792455c8dd876d9703c2bccebf)

[2022-01-20 17:19] Axel-Naumann commented on #9594
@vgvassilev expects to revert still today.

[2022-01-21 01:36] ferdymercury commented on #9626
Thanks!

I found a couple more:

https://root.cern.ch/doc/master/group__fitpanel.html fitpanel.png not found
https://github.com/root-project/root/commit/b4566d45f8ca440b0052cef043527b368b5a0048#diff-8cf7157250c3cd8551d13f6afe0ab3778ed526e3881b34a28a697ca38c5d1512R8

https://root.cern/doc/master/group__ged.html ged.png not found
https://github.com/root-project/root/commit/b4566d45f8ca440b0052cef043

[2022-01-21 03:33] dwcasper opened #9645 "Pyroot TCanvas unresponsive [6.24/06 precompiled, Win11, VStudio 2019 or 2022, python 3.8.10 (32-bit)]"
- [X] Checked for duplicates

### Describe the bug
After creating a new TCanvas with Pyroot, moving the cursor over the TCanvas window displays the Windows wait-cursor, and clicking the window makes it hang and show "Not Responding" in the title bar.

### Expected behavior
The newly created TCanvas should be responsive, as it is when created from the ROOT command prompt instead of in Pyroot.

###

[2022-01-21 03:41] dwcasper commented on #9590
FYI, older VStudio versions, are available for free (registration required) here:

https://visualstudio.microsoft.com/dev-essentials/

[2022-01-21 06:30] xiaoxiao-Xu commented on #9607
@bellenot Thanks a lot. The error has disappeared.

[2022-01-21 07:26] couet commented on #9645
It looks like a Windows issue. May be @bellenot has some ideas about it.
Also it might be something connected to Python and in that case @etejedor can also help.

[2022-01-21 07:47] bellenot commented on #9645
Yes, this is a known issue, and there is no solution for the time being,

[2022-01-21 07:51] linev commented on #9364
Duplicates JIRA issue, close here

[2022-01-21 07:51] #9364 closed

[2022-01-21 08:57] ferdymercury commented on #8781
Thanks!

It seems we are getting now a different kind of error on the jenkins master log:
[code]

Could you share the index.qhp file to take a closer look? Maybe it's a multithreading issue?

[2022-01-21 09:17] HDembinski opened #9646 "Numerically stable computation of invariant mass"
I discovered a numerically stable calculation of the invariant mass for a two-body decay. It should be trivial to generalize this to N-body decay.

The problem and the solution is documented here:
https://stackoverflow.com/questions/70758079/numerically-stable-calculation-of-invariant-mass-in-particle-physics/70775687#70775687

Briefly, when one computes (1D and two-body decay for simplicity)
`m_s

[2022-01-21 09:28] couet commented on #8781
I sent it to you by email

[2022-01-21 10:01] wmyyy commented on #9445
Hi @bellenot,
Very sorry for the late response, could you please check if you install "C++ Address Sanitizer" components in Visual studio?
![image](https://user-images.githubusercontent.com/17844901/150507061-705a7a2a-5092-4fe4-83c2-efde6fd0fa79.png)

Thanks

[2022-01-21 10:49] bellenot commented on #9445
Good point. I'll try and let you know

[2022-01-21 10:56] bellenot commented on #9445
@wmyyy in fact I have the "C++ Address Sanitizer" component in Visual studio.

[2022-01-21 10:58] ferdymercury commented on #8781
Thanks. I think I found a solution. Please try the following:

[code]

[2022-01-21 11:30] couet commented on #8781
Seems ok:
[code]

[2022-01-21 11:35] ferdymercury commented on #8781
I filed https://github.com/doxygen/doxygen/issues/9058

In the meantime, I guess we could modify the Makefile script so that it does the following after doxygen finishes:
[code]
and this part can be removed if the feature suggestion above is implemented in doxygen directly.

[2022-01-21 11:37] couet commented on #8781
ok. Let me see locally the exact command to add to the Makefile

[2022-01-21 11:39] ferdymercury commented on #8781
Thanks. (Side note: I took the command from here: https://stackoverflow.com/questions/59715196/how-can-i-efficiently-remove-unnecessary-whitespace-from-xml-files-with-a-linux)

[2022-01-21 11:56] couet commented on #8781
I added this line in the Makefile juste after the `doxygen` command:
[code]

But what is executed is:

[code]

Somehow the `$` is not understood correctly when put in a Makefile. Do you know why ?
(I need to be away for my desk for a bit, let me know know if you know a solution).

[2022-01-21 11:58] ferdymercury commented on #8781
Not sure, maybe try a double dollar sign: https://til.hashrocket.com/posts/k3kjqxtppx-escape-dollar-sign-on-makefiles

[2022-01-21 12:56] couet commented on #8781
Yes double $ is ok. I'll make a PR

[2022-01-21 13:07] couet commented on #8781
PR here: https://github.com/root-project/root/pull/9649

[2022-01-21 14:36] hahnjo commented on #9600
This is kind of annoying, both locally and in Jenkins. Is it maybe as simple to solve as
[code]
?

At least, this makes `ninja stl_makeproject_test` succeed on a freshly configured build for me :thinking:

[2022-01-22 17:22] chissg commented on #9583
Sorry it took a while to analyze the new issue. I think I can say at this point that #9592 fixes #9583, and that the issue uncovered by #9592 is unrelated; dedicated issue for same incoming.

[2022-01-22 17:55] chissg opened #9664 "[Cling] Interpreter regression 6.24/06 -> 6.25/02"
- [x] Checked for duplicates

### Describe the bug

With 6.24/06 vanilla and v6-24-00-patches e9d29ae8eb, the test `runtime_cxxmodules_addr` in the provided reproducer
passes regardless of the presence or absence of the feature `runtime_cxxmodules`. With 6.25/02—and master, per @pcanal—it fails with a segmentation violation trying to autoparse `art::detail::are_cv_compatible<const int, const int*>

[2022-01-23 20:59] ferdymercury commented on #8781
The bug has been solved in current doxygen master.

[2022-01-24 10:33] eguiraud opened #9670 "Cannot import <filesystem> with runtime modules"
- [x] Checked for duplicates

With runtime modules, `<filesystem>` can't be included:

[code]

[2022-01-24 10:38] eguiraud opened #9672 "Crash when value-printing `path` objects"
- [x] Checked for duplicates

Without runtime modules, there is a silent crash when cling tries to `printValue` a `path` object, and the interpreter exits with error code 11:

[code]

With runtime modules `<filesystem>` cannot be included, see https://github.com/root-project/root/issues/9670

[2022-01-24 11:00] Axel-Naumann commented on #9672
[code]
That doesn't look like the right overload to call :-/

[2022-01-24 16:03] Axel-Naumann commented on #9594
Is this addressed? Can this be closed?

[2022-01-24 16:12] andresailer commented on #9594
No, still open: https://github.com/root-project/root/pull/9641

[2022-01-24 16:52] eguiraud commented on #7366
A v6.26 backport is at #9676

[2022-01-24 17:27] dwcasper commented on #9645
Does your example work with 6.24.06?

I have changed .rootrc, and the environment shows

`Gui.Factory:              web                            [Local]`

as expected, but when I run your commands, no http server creation message is displayed.

[2022-01-24 23:23] #9372 closed

[2022-01-25 07:25] bellenot commented on #9645
@dwcasper sorry, you're right, it doesn't work with v6.24.06. If you want to try, you can either take a [nightly build](https://root.cern/download/nightly/?C=M;O=D), or wait for the upcoming v6.26.00.

[2022-01-25 08:21] #7366 closed

[2022-01-25 08:22] hahnjo commented on #9664
Small correction: Commit 2d304cf is not a reversion, but a cleanup of the infrastructure for the previous implementation; it happened in the same PR.

I have to say, this was quite hard to use and it took me some time to guess how things are supposed to work:
1. Don't install a released version of cetmodules, but use the one in `third_party/` - I eventually found `standalone/runit`.
2. The `cmake`

[2022-01-25 08:55] sawenzel commented on #9599
Update: Meanwhile, I spoke with our software distribution team and we now build a standalone TBB in our software stack. So this issue is no longer relevant for us. You may decide to close it or follow up on it for other clients at your own discretion.

[2022-01-25 09:10] bellenot commented on #9599
@sawenzel thanks for the update! We'll try to find the best solution to fix this issue...

[2022-01-25 09:14] hahnjo commented on #9664
What Cling is really crashing on is the definition of `art::ensurePointer` or more precisely any function definition with a `try`-`catch` block as body (which I just learned is valid C++...). The problem can be seen with
[code]

[2022-01-25 10:40] Axel-Naumann commented on #9595
I can reproduce it, I think I know what it is, I thought I had fixed it before. More news soon!

[2022-01-25 10:45] lmoneta opened #9687 "Problem building ROOT on new Apple M1 Max with -Dall=On"
When configuring ROOT on  the new M1 Max chip using Mac OS 12.1 and latest Xcode (Clang 13.0), it does not work when using the option `-Dall=On`.
By using `-Dall=On` the compiler flag `-mach=native` is added by CMake and this option is not recognised by clang.
When configuring:
[code]
There is an error in cmake caused by this problem, seen in the `CMakeFiles/CMakeError.log` file:

[code]

and then

[2022-01-25 11:07] vgvassilev commented on #9664
Yeah, that's a common pitfall, where the assumption that the function's body is a CompoundStmt is incorrect. I suspect the fix is trivial?

[2022-01-25 11:16] hahnjo commented on #9664
Well not entirely trivial, there's already code to handle this:
https://github.com/root-project/root/blob/dd904f5d0e928b2cfa3025f893053b491cdb40d1/interpreter/cling/lib/Interpreter/AutoSynthesizer.cpp#L108-L109

The problem is that apparently the `SourceLocation` is not properly set. I'm looking into it.

[2022-01-25 11:47] lmoneta commented on #9687
The problem seems to be caused by using an existing installation of `vecgeom` (i.e. it was caused by -Dvecgeom=On.
I will check if it works using a new `vecgeom` version built for the new architecture.

[2022-01-25 12:05] eguiraud commented on #9687
Feel free to reassign in case using a new `vecgeom` does not solve this.

[2022-01-25 12:58] etejedor commented on #9632
An even slimmer reproducer (also fails intermittently):
[code]
where `__real_data()` is the original `data()` of the vector.

I can't reproduce with e.g. a `vector[int]`, so the problem could be in the wrapping of the result of `__real_data()` into a Python string.

[2022-01-25 13:11] hahnjo commented on #9664
Or maybe I just completely broke that code path with said commit...

[2022-01-25 13:58] wmyyy commented on #9445
Hi @bellenot,
Can you check if you install these two components as well? If it still not work, can you try to set include path? for example: set INCLUDE=C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\MSVC\14.29.30133\crt\src;%INCLUDE%

Thanks

[2022-01-25 14:06] lmoneta commented on #9687
Using a new vecgeom version fixed the problem. I think the issue can be closed

[2022-01-25 14:06] #9687 closed

[2022-01-25 14:14] Axel-Naumann commented on #9595
It seems the clang used by that build does not contain ROOT's patches.

[2022-01-25 14:38] chrisburr commented on #9595
It should be including that patch:

* https://github.com/chrisburr/clangdev-feedstock/blob/9cffa75e1d67c94f951b43e38cbaaba3f2dd1e28/recipe/meta.yaml#L90
* https://github.com/chrisburr/clangdev-feedstock/blob/9cffa75e1d67c94f951b43e38cbaaba3f2dd1e28/recipe/patches/root/0060-Preserve-AnonStructIds-of-mangling-ctx.patch

[2022-01-25 15:36] bellenot commented on #9445
Still no luck, even when adding
[code]
I still have the following error:
[code]
I'll investigate more. And BTW, I see that:

and then

So you compile in release mode and link in debug mode? Really?

[2022-01-25 15:48] belmakier opened #9697 "PCM file not found"
[x] Checked for duplicates

### Describe the bug
Error message

`Error in <TCling::LoadPCM>: ROOT PCM <root_build_directory/bin/library_rdict.pcm> file does not exist`

is printed when a dynamic library is loaded in the ROOT prompt, even when the appropriate *_rdict.pcm file exists in the same directory as the library.

### Expected behavior
ROOT should search both the $LD_LIBRARY_PATH and the dir

[2022-01-25 15:49] chrisburr commented on #9595
If I `grep` the DWARF info for `libCling.so` I can see references to `CXXABICtxSwapper` so I don't see how it could be that patch that's missing:
[code]

[2022-01-25 17:17] Axel-Naumann commented on #9595
Hmm very curious... it's not called, I cannot set s breakpoint there... and ion your container, that file comes from `/usr/local/src/conda/clang_packages-9.0.1/lib/CodeGen/ModuleBuilder.cpp` - why is that different?

[2022-01-25 20:17] chrisburr commented on #9595
I think you're being confused by the fact that conda-forge builds with `-fdebug-prefix-map=$SRC_DIR=/usr/local/src/conda/root_base-6.24.6 -fdebug-prefix-map=$PREFIX=/usr/local/src/conda-prefix`. You can use `set substitute-path` in `gdb` to map the paths to local copy of the sources.

[code]

[2022-01-25 22:31] guitargeek commented on #7217
Another Pythonization idea that occured to me in the PR reviews: implement `+=` for RooArgLists.

So instead of doing this:
[code]
One can also do this, just like with Python lists:
[code]

[2022-01-26 07:04] #9600 closed

[2022-01-26 07:19] etejedor commented on #7217
Would it be also interesting to implement `l1 + l2` ?

[2022-01-26 08:42] Axel-Naumann commented on #9595
Yup, I think I was *almost* right (always hard to reconstruct sources from the debugger's behavior): what's missing is [`7e05125` (#7283)](https://github.com/root-project/root/pull/7283/commits/7e05125f0c824ec1516620da0f914fb3d9a956d5)

But that's not surprising at we have not released that yet. Or would you expect this patch to be part of this Conda build? It is in master and v6-26-00-patches, no

[2022-01-26 09:13] guitargeek commented on #7874
Fixed by https://github.com/root-project/root/pull/9004, more specifically commit https://github.com/root-project/root/commit/8d7e69d266d1a23a84632fa6d672efe228a84a2d.

[2022-01-26 09:13] #7874 closed

[2022-01-26 09:29] Axel-Naumann commented on #9112
Waiting for v6-26 backport: https://github.com/root-project/root/pull/9704

[2022-01-26 11:35] etejedor commented on #9632
The issue was indeed in the conversion of the `char*` result of `data()` into a Python string, see PR linked above for more details.

[2022-01-26 13:32] #9664 closed

[2022-01-26 14:07] wmyyy commented on #9445
Hi bellenot, link option /debug creates debugging information for the executable. And this option is not really required, you can ignore it.

[2022-01-26 18:40] chrisburr commented on #9595
I've added that patch and it does the trick. Thanks a lot! 😃 Next time I have to put together a debug build I'll try to include the sources used to make it easier to understand.

The conda nightly build is trying to export the patches from http://root.cern/git/clang.git. It's currently using the commit corresponding to `ROOT-patches-rrelease_90` but nothing more recent has been pushed there as far

[2022-01-26 18:40] #9595 closed

[2022-01-27 08:36] Axel-Naumann commented on #9595
Excellent! You could use the `ROOT-patches` branch instead of `ROOT-patches-rrelease_90`; that should work better.

That said, after the upcoming LLVM upgrade for cling we'll rework all of that anyway, going mono-repo, moving the repos to github, who knows what else :-)

[2022-01-27 08:51] Axel-Naumann commented on #9583
I suppose we need this also in v6-26-00-patches, @vgvassilev ?

[2022-01-27 11:59] eguiraud opened #9730 "When working on a Windows partition from Linux, rootcling is not able to rename an output file"
See the discussion at https://root-forum.cern.ch/t/rootcint-cannot-create-dictionary-in-a-vm/48580 .

In short, in certain situations in which the platform is Linux but the working directory belongs to a Windows file system, [this call to std::rename](https://github.com/root-project/root/blob/7a2612dc7ae62832c7683081020e190c49b75569/core/dictgen/src/rootcling_impl.cxx#L2956-L2958) fails because "W

[2022-01-27 12:06] Axel-Naumann commented on #9730
Bertrand, could you do "what's necessary" here? I suppose following @eguiraud 's suggestion is the way to go, and you can probably validate this with WileE.

[2022-01-27 15:43] vgvassilev opened #9736 "[cmake] Diagnose missing header include paths for externally build libraries."
ROOT has several externally built packages which end up in the dictionaries, such as Vc.

Currently, if the Vc is externally built, the MathCore dictionary needs to know its include location at rootcling-time but also when running ROOT (ROOT's runtime). If the person uses that approach does not pass this information, this leads to very subtle crash in modules and it takes time to setup a debug bui

[2022-01-27 17:48] eguiraud commented on #9136
Files required to reproduce (an `f.root` produced as in the main ticket's description and a little program that reads it with TTreeReader):

[repro.zip](https://github.com/root-project/root/files/7952711/repro.zip)

[2022-01-27 18:04] eguiraud commented on #9136
[code]

[2022-01-27 18:15] eguiraud commented on #9136
We decided we must have better diagnostics for v6.26, an actual fix would be nice to have.

[2022-01-27 23:05] ferdymercury opened #9740 "Crash after zoom and unzoom with secondary axes"
- [x] Checked for duplicates

### Describe the bug
This is a histogram I have with some extra axes:
![image](https://user-images.githubusercontent.com/10653970/151454753-44c1d81f-335a-4400-a703-966b70cd7087.png)

After zooming on the (lower) X-axis of a histogram, I get this weird image:
![image](https://user-images.githubusercontent.com/10653970/151454804-2b639659-8432-437c-9e2a-ffe62bf5e3df.png)

[2022-01-28 07:16] #9730 closed

[2022-01-28 07:35] couet commented on #9740
I get a completely different behaviour  on Mac.

After zoom I get:
<img width="871" alt="Screenshot 2022-01-28 at 08 26 10" src="https://user-images.githubusercontent.com/4697738/151505091-6b89e206-8e66-42c7-9a67-8f9dfaad4402.png">
The top axis is wrong but I guess that's normal because you draw the axis using TGaxis. You should Embed it in a TExec if you want a dynamic update. When I click on the

[2022-01-28 07:54] bellenot commented on #9740
I got the same result than Olivier on Windows. The only thing I see it that a there might be a missing `gPad->Modified; gPad->Update()`. Anyway, I'll try on Linux and let you know

[2022-01-28 08:12] bellenot commented on #9740
And I have the same on Linux...

[2022-01-28 08:40] lmoneta opened #9741 "[RF] RooPlot::pullHist only uses upper range"
Reported in https://root-forum.cern.ch/t/pullhist-only-uses-upper-range/48582

When plotting a pdf in 2 separate ranges, 2 RooCurve objects are created with the same name .
When using pullHist or whatever function of RooPlot accessing the RooCurve by its name, only the last of the two curve can be retrieved.
Since RooPlot has no way to access its list of containing objects, apart than given the na

[2022-01-28 08:45] rachelhe123 opened #9742 "Root_x86 failed to run "roottest-cling-exception-nullderef-e test on release and debug configuration with MSVC on windows."
**Describe the bug**

Root_x86 failed to run "roottest-cling-exception-nullderef-e" test on release and debug configuration with MSVC on windows. Could you please help look at this issue or provide some workarounds? Thanks in advance.

**Expected behavior**
For Root_x86, "roottest-cling-exception-nullderef-e" test should be run pass on the windows.

**To Reproduce**
1. git clone  https://github.co

[2022-01-28 08:57] ferdymercury commented on #9740
Thanks for your replies. Might this be a Ubuntu 18 issue? I tried with two different computers, both 18, and same result. Or an openGL issue?

(Yes, the top axis is not a problem). Was mainly concerned about the crash.

[2022-01-28 09:03] bellenot commented on #9740
I'm rebuilding ROOT master, just to make sure... And I cannot try with OpenGL, I'm connected from Windows via ssh on a `Ubuntu 20.04.3 LTS` machine

[2022-01-28 09:07] bellenot commented on #9740
OK, so I confirm the crash with ROOT master as of today.

[2022-01-28 10:12] couet commented on #9740
You confirm without OpenGL ?

[2022-01-28 10:15] bellenot commented on #9740
Well, I confirm with ROOT master, connected from Windows via ssh on a Ubuntu 20.04.3 LTS machine, and out of the box, without any special option.

[2022-01-28 10:18] couet commented on #9740
Yes, By default it is not OpenGL and the macro does not turn the OpenGL mode on.

[2022-01-28 10:18] lobis opened #9744 "GDML module not working with Tessellated solid"
- [x] Checked for duplicates

### Describe the bug

This issue report follows my post in the ROOT forums https://root-forum.cern.ch/t/gdml-multiple-files-error-with-define/48581. Please refer to the forum post for additional details.

In summary, when using the GDML modules feature as described on the manual (or so I think), the `<define/>` section of the child file is not being accessed correctly

[2022-01-28 10:22] stroili opened #9745 "problem fitting 2d function with pyroot"
I'm trying to fit a 2d histogram with a 2d gaussian using pyroot, but I get an error telling me that instead of a 2d function the fit is trying to use a 1d function.
This is the function I have:

[code]

and here it is the code:

[code]
the error is the following:

[code]
I'm using ROOT 6.24.06 on CentOS 8.

Thank you very much
   Roberto

[2022-01-28 13:29] andresailer commented on #9594
The real solution of #9736 is probably related to this issue. The ROOT master branch is still failing in our builds.

[2022-01-28 15:25] ferdymercury commented on #9740
Thanks for checking.

On my side, if I call gStyle->SetCanvasPreferGL() at script beginning, then, I don't get this artefact any more:

![image](https://user-images.githubusercontent.com/10653970/151573781-199b21ca-140e-4655-ac36-da8d44d63f01.png)

But I still get the crash when unzooming.

[2022-01-28 15:31] couet commented on #9740
So lets says it is not an OpenGL issue.

[2022-01-28 15:35] hahnjo commented on #9742
Can you check that your `roottest` is up-to-date and you have https://github.com/root-project/roottest/commit/5c6d4c56f2145afc1fd32470459753efad8c95e9? There was a recent change in `master` and you need that commit or the test will fail.

[2022-01-28 16:59] stroili commented on #9745
Solved, it was a typo in my code
[code]

[code]

[2022-01-28 17:00] #9745 closed

[2022-01-28 17:37] ferdymercury commented on #9740
And I confirm that with an older version of ROOT (6.25/01) on Ubuntu 18 and GL not enabled, I do not get the crash when unzooming, but I do get the image artefact when zooming and I have to click on the canvas for the view to correct.

[2022-01-28 17:40] couet commented on #9740
Weird....

[2022-01-28 17:53] ferdymercury commented on #9740
It seems that the image artefact has exactly the same pattern as the semi-transparent fill-style zooming window. See here:

While Zooming:
![image](https://user-images.githubusercontent.com/10653970/151596601-6749a23e-b22b-4000-a464-2b3cc3f9811d.png)

After Zooming:
![image](https://user-images.githubusercontent.com/10653970/151596998-b8aee660-4b45-48e1-97b6-bc4140897a8b.png)

The pattern in the o

[2022-01-28 19:19] subham73 commented on #8777
Hii , i want to contribute . Can u pls assign this problem to me .

[2022-01-28 19:33] guitargeek commented on #8777
Hi @subham73, thank you so much! If you have any questions, please let me know :+1:

[2022-01-29 00:48] chissg commented on #9583
I have verified that PR #9252 applies cleanly to v6-26-00-patches and v6-24-00-patches, and solves this issue in both cases. I'd be grateful if it could be applied to both of those branches, please.

[2022-01-29 01:14] pcanal commented on #9136
The solution turned out to be straight-forward: https://github.com/root-project/root/pull/9750

[2022-01-29 01:22] ferdymercury commented on #9740
The crash is introduced by commit https://github.com/root-project/root/commit/4ab7215c5802467d78c8f7fdaf885031ed556733

[2022-01-29 08:15] vgvassilev commented on #9583
Hi @chissg, I've opened two backport PR.

[2022-01-30 23:29] vgvassilev commented on #9594
@andresailer, it looks like we have externally built Vc and we do not pass in the location of its header files. IIRC, we had the same issue for the cuda builds and we solved it by passing the include path in the env variable `ROOT_INCLUDE_PATH`. For example, something like that fixes the crash for me: `ROOT_INCLUDE_PATH=/build/sailer/testReprRoot/testLcgcmake/install/dev3/Vc/1.4.2/x86_64-centos7-g

[2022-01-31 07:30] andresailer commented on #9594
I see, we can add that, thank you for the explanation.
Why can't one add this environment variable to the invocation in the ROOT build in ROOT's cmake?

[2022-01-31 09:28] vgvassilev commented on #9594
The build failure is a just a symptom of the issue. In fact, ROOT was already built and in its final step it runs a sanity check something like `root.exe -l -b -q tutorials/hsimple.C` to catch such basic issues early.

I'd be happy if we could solve this in a nicer way, however I do not think ROOT has enough information about its build process (and I think it should not). For example, even if we d

[2022-01-31 09:37] jalopezg-r00t commented on #9583
@vgvassilev I guess we can add this to the "Fixed in 6.26/00" project now?

[2022-01-31 10:11] eguiraud opened #9757 "Reading entries on a cloned TNtuple broken if cloning happened when an unrelated file was the current file"
First reported at https://root-forum.cern.ch/t/sequence-of-loading-root-file/48601 .

The following is a reproducer:

[code]
prints
[code]

[files.zip](https://github.com/root-project/root/files/7969912/files.zip)

[2022-01-31 10:16] vgvassilev commented on #9583
Yeah, please do.

[2022-01-31 10:44] subham73 commented on #8777
Hii @guitargeek I have had issues when I am trying to compile, in vscode it shows `can't find source code`
and so started using visual studios c++ , on compiling or running  its showing

C:\Users\dell\Desktop\shared project\root\out\build\x64-Debug\ninja : error : 'LZMA/src/LZMA/lib/liblzma.lib', needed by 'bin/Core.dll', missing and no known rule to make it
Build All failed.

Can u help on this o

[2022-01-31 11:00] eguiraud opened #9758 "TTreeReaderArray can't read leafs of ULong64_t type (but branches are fine)"
[code]

produces the following (bad) error message:

[code]

Although the usecase in the reproducer is solved by using `"x"` instead of `"x.x"`, the usecase in the original report [on the forum](https://root-forum.cern.ch/t/ttreereader-with-long-long-variables/48603) has a branch name different from the leafname so the longer spelling must be used.

[2022-01-31 11:12] Axel-Naumann commented on #9594
@vgvassilev would it make sense to export `ROOT_INCLUDE_PATH` for the sanity check *only*, i.e. `root.exe -l -b -q tutorials/hsimple.C` as that's run during build time?

[2022-01-31 11:22] vgvassilev commented on #9594
That will solve the build issue which is just a symptom. However, it will not solve the same problem at deployment time. It seems to be equivalent to removing the `root.exe -l -b -q tutorials/hsimple.C` check altogether.

Even if we decided to go that route, I am not sure if we have that information in the right places in the build system.

[2022-01-31 11:24] #9632 closed

[2022-01-31 11:30] Axel-Naumann commented on #9594
You assume that build and deployment have a similar settings; not sure that's the case.

As another argument for specifying this during ROOT's build, we also specify `LD_LIBRARY_PATH` and select which `root.exe` to run during the `hsimple` check. How is `ROOT_INCLUDE_PATH` different from that?

[2022-01-31 11:52] Axel-Naumann commented on #9583
@vgvassilev can this be closed? (if so, please do)

[2022-01-31 12:25] #9740 closed

[2022-01-31 12:27] bellenot commented on #9740
Thanks for investigating and finding the faulty commit @ferdymercury ! This is now reverted in master and v6-26-00-patches

[2022-01-31 12:29] ferdymercury commented on #9740
Thanks to you for the quick fix :)

Should I maybe open a separate issue for the image artefact I see when zooming?

[2022-01-31 12:35] bellenot commented on #9740
You're very welcome! 🙂

Yes, please

[2022-01-31 12:54] andresailer commented on #9594
Here is how we would set ROOT_INCLUDE_PATH for the build https://gitlab.cern.ch/sft/lcgcmake/-/commit/f50af97822f3fc4dba9fd56bee3cb76c39fe5aeb

For cuda we had to add a location to ROOT_INCLUDE_PATH for the view after the installation https://gitlab.cern.ch/sft/lcgcmake/-/commit/cc14dbbb56a1cb4b59e68c11b9df3f75c21fc1ba
(Vc is already part of the standard include directory of the view)

[2022-01-31 14:09] ferdymercury commented on #9758
Probably not related, but there is also a long-standing issue with TTree::Draw() for ULong64_t data types, see https://sft.its.cern.ch/jira/browse/ROOT-8009

[2022-01-31 14:17] Axel-Naumann commented on #9758
Right, unrelated.

[2022-01-31 16:27] bellenot commented on #9742
Just tested with latest ROOT (master) and roottest (master) with both VS 2019 and VS 2022:
[code]
And BTW, no need to report the tests failures, we are aware of some tests filing with some versions of Visual Studio and architecture (e.g. with VS 2022 x64). And since we run  al the tests in our CI, we see immediately if something fails. Note that we are aware of some failing tests, some due to inco

[2022-01-31 16:49] ferdymercury opened #9763 "Image artifact with zoombox on 1D hist if SetFillStyle 0 on Ubuntu"
- [x] Checked for duplicates

### Describe the bug
![image](https://user-images.githubusercontent.com/10653970/151454753-44c1d81f-335a-4400-a703-966b70cd7087.png)
On a canvas with a histogram, if I zoom using right click, SetRangeUser, all works fine. If I zoom using the scroll wheel on the x-axis, it works well, too. If I zoom using press and hold, then release, I get an image artifact:

![image]

[2022-01-31 18:11] Axel-Naumann commented on #9594
If we understand correctly, this should not block 6.26n anymore as the patches that cause this failure have been reverted in 6.26 (they are still present in master).

[2022-01-31 18:19] andresailer commented on #9594
Correct, 6-26-00-patches is building fine.
We also applied a patch for building root master (https://gitlab.cern.ch/sft/lcgcmake/-/commit/f50af97822f3fc4dba9fd56bee3cb76c39fe5aeb), just let us know when we can test a fix from your side for the master branch.

[2022-01-31 18:21] Axel-Naumann commented on #9594
A fix should be this: https://github.com/root-project/root/pull/9765 - I'd certainly appreciate a confirmation! Else I'll just merge and you tell me then.

[2022-02-01 01:35] pcanal commented on #9136
Reopening until the test is ready.

[2022-02-01 07:40] couet commented on #9763
Why do you think this is related to: 3787e53 ?

[2022-02-01 08:09] ferdymercury commented on #9763
The artifact appeared at some point between 5.34/18 and 5.34/19, so I thought that these commits could be related.

[2022-02-01 08:24] eguiraud commented on #9240
Hi @ShamrockLee ,
there are no duplicates anymore in the latest master, and I hope I clarified the rest in my reply above.

A warning about Redefine: there is one annoyance with `Redefine` that I still have to fix: when you redefine e.g. `TestVar1`, that changes the value that `"TestVar1"` points to, but it does not redefine sub-columns such as `"TestVar1.fBits`. As in general the Redefine'd colum

[2022-02-01 08:24] #9240 closed

[2022-02-01 08:29] eguiraud commented on #9136
I shared the test code with an input file above.

If it is urgent that I open a PR for it, please let me know and specify where you would like that test (sources, roottest, which subdirectory..).

[2022-02-01 08:29] couet commented on #9763
Ok, that's quite old. Does reverting this patch you pointed fixes it ?

[2022-02-01 08:39] ferdymercury commented on #9763
(I did not try yet reverting it.)

[2022-02-01 08:41] couet commented on #9763
The MoveOpaque issue pointed in 3787e53 is connected to TLine. But it seems the artefacts are coming from the shaded area used to highlight the zoomed interval. At least according to the screen captures you posted ....

[2022-02-01 08:47] ferdymercury commented on #9763
Yes, the shaded area might be the culprit.
It's also when it was included in the release note, fourth point: https://github.com/root-project/root/blob/master/gui/doc/v600/index.md

[2022-02-01 08:49] couet commented on #9763
That one is for 2D histograms. Your plot ia a 1D one...

[2022-02-01 08:51] ferdymercury commented on #9763
`The zoom on axis and on 2D histogram`
I think it applies to both 1D and 2D ?

[2022-02-01 08:53] couet commented on #9763
well ... yes may be I need to retrieve the patch...

[2022-02-01 08:59] couet commented on #9763
This mechanism is implemented in [THistPainter::ExecuteEvent](https://github.com/root-project/root/blob/5d69eca85a2be137684807446878f782e4a368eb/hist/histpainter/src/THistPainter.cxx#L3468).
In that code the TBox `zoombox` is used to draw this shaded area.

[2022-02-01 09:07] ferdymercury commented on #9763
Hmm not sure why here there is only a `->Delete` if `dimension==2`: https://github.com/root-project/root/blob/5d69eca85a2be137684807446878f782e4a368eb/hist/histpainter/src/THistPainter.cxx#L3681

[2022-02-01 09:09] couet commented on #9763
me neither ... I do not remember... that's too old.

[2022-02-01 09:12] couet commented on #9763
Indeed that code is for 2D only it seems. I changed the boombox color to red and it appears red only  in the 2D case.

[2022-02-01 09:18] couet commented on #9763
Yes, the `zoombox` is for the 2D case. Do you see such artefact with a 2D histo also ?
Let me try to understand what is done in case of 1D.

[2022-02-01 09:26] couet commented on #9763
Indeed I was wrong . In case of 1D the[ zoom is done in TPad.cxx](https://github.com/root-project/root/blob/5d69eca85a2be137684807446878f782e4a368eb/graf2d/gpad/src/TPad.cxx#L2280)

[2022-02-01 09:36] #9583 closed

[2022-02-01 10:06] ferdymercury commented on #9763
I don't remember having seen this problem for 2D histograms, but maybe is the interplay with TLines and TGaxis which causes it in my example, rather than it being 1D? Hard to say.

[2022-02-01 10:35] couet commented on #9763
In any case the `zoombox` for 1D is managed in `TPad.cxx`. I de-activated the alpha mode on Mac to be in the same configuration as yourself. But even with your example I do not see any artefact. May be you can deactivate the zoombox in  `TPad::ExecuteEventAxis` and see if the artefact remains ? By the way if you do a simple drawing of a 1D histogram and try to zoom it, do you also see the artefact

[2022-02-01 14:13] ferdymercury commented on #9763
Yes, I see it with a simple 1D histogram, too, no need for secondary axes.

But... Ok I found out the issue.

I do see the artifact only if I call:
`c->SetFillStyle(0);`

[2022-02-01 14:50] ferdymercury commented on #9763
You can reproduce it on a free online Ubuntu 20 browser-box:

- Go to https://www.onworks.net/os-distributions/ubuntu-based
- Select Ubuntu 20, Start
- Open a WebBrowser within it, google "cern ROOT install".
- Copy the line of the "required dependencies"
- Open a Terminal
- sudo apt update
- Paste the line of the required dependencies to install missing packages
- Go back to web browser
- Copy li

[2022-02-01 14:54] pcanal commented on #9136
Can you please add it to roottest?  Thanks.

[2022-02-01 14:54] ferdymercury commented on #9763
A more simple reproducer here shows the same effect on Ubuntu 18:
[code]

![image](https://user-images.githubusercontent.com/10653970/151991662-805da339-fd11-4490-9d08-631526798254.png)

[2022-02-01 15:09] couet commented on #9763
.... well

I am not sure what line you mean

ok

ask me for a password I do not know ...
Never mind ..

[2022-02-01 15:11] ferdymercury commented on #9763
![image](https://user-images.githubusercontent.com/10653970/151994837-3b55785f-dc11-4776-bcfa-a1e8796ffd19.png)

pwd is 123456

[2022-02-01 15:26] couet commented on #9763
Ok ... that's too painful ... not stable ... it disconnect ... I don't spend more time on that. Thanks for the recipe anyway

[2022-02-01 15:59] ferdymercury commented on #9763
If I deactivate the 'removal' of the zoombox after button release, I get this on Ubuntu 20:
![image](https://user-images.githubusercontent.com/10653970/151999027-9261c038-1725-42d9-bb89-4aa43333c7fd.png)

I can move around with the zoombox, make it smaller, etc. and the artifact is still there. Touching on the canvas does not clear the artifacts, which surprises me!

![image](https://user-images.g

[2022-02-01 16:03] ferdymercury commented on #9763
If I completely disable the zoombox creation in TPad.cxx, I can still zoom 'invisibly' on the canvas, and the artifact does not appear :)

[2022-02-01 16:23] ferdymercury commented on #9763
I found a solution. Not sure if the difference is that when releasing the mouse, in MacOS another 'button' is detected which already calls the Modified/Update sequence, in comparison to with Ubuntu.

[2022-02-01 20:37] #8428 closed

[2022-02-02 01:03] guitargeek commented on #8777
Hi @subham73, sorry for the late answer! In this case, you should build ROOT with the builtin LZMA library. This can be enabled with the `builtin_lzma` cmake option:

https://github.com/root-project/root/blob/master/cmake/modules/RootBuildOptions.cmake#L99

The call to cmake would look like `cmake -Dbuiltin_lzma=ON` then.

If you get further problems with the dependencies, you can try to just enab

[2022-02-02 01:45] DraTeots commented on #6471
Any updates in this field?

[2022-02-02 07:05] #9763 closed

[2022-02-02 07:07] couet commented on #9763
All the problems mentioned in this issue are fixed. I close it.
@ferdymercury: thanks again for the debugging and fixes !

[2022-02-02 07:29] bellenot commented on #9742
Closing this issue, since it is clarified and not reproducible.

[2022-02-02 07:29] #9742 closed

[2022-02-02 08:21] #9316 closed

[2022-02-02 09:46] #9556 closed

[2022-02-02 12:40] ikabadzhov commented on #8363
Hi @cxwx! The requested feature is now added to master. It should be added in Release Version 6.28 (scheduled for release in May).

[2022-02-02 12:40] #8363 closed

[2022-02-02 15:02] couet opened #9792 "should fLogger be persistant ?"
In TMVA code the `fLogger` data member  appears in several classes. Sometimes it is persistant ( a `! ` in the online comment) and sometimes it is not.  Making a "log message" persistant sounds a bit weird ...  But may be  it should be ? ... at least the current code is not consistent:
[code]

[2022-02-02 15:27] etejedor opened #9793 "RPATH does not match linked lib when building ROOT with system Python3 on MacOS(11,12)"
An attempt to build ROOT against the system Python3 on MacOS11/12 results in a build with no errors, but with some test failures:

https://lcgapp-services.cern.ch/root-jenkins/job/root-nightly-master/LABEL=mac12,SPEC=soversion,V=master/3084/

The following is the relevant error:

[code]

According to:

[code]

RPATH is set, but the dylib load directive doesn't match.

[2022-02-02 15:42] Axel-Naumann commented on #9793
https://github.com/root-project/root/issues/6753 might be related

[2022-02-02 17:34] subham73 commented on #8777
hi @guitargeek , thanks a lot, but the above-mentioned methods didn't work out for me. Also, spend time with Cmake to understand the issue and reinstall everything quite a time, which also didn't work. Had the same issue.

So will try to figure out this for the next few days, and will surely reach out to you after building ROOT.
Just curious how you run your ROOT, I mean in which configuration, wi

[2022-02-02 21:51] guitargeek commented on #8777
Hi @subham73! I use Arch Linux with the same CMake configuration used for the official packages of that Linux distribution:

https://github.com/archlinux/svntogit-community/blob/packages/root/trunk/settings.cmake

What CMake errors do you get exactly? Sorry, I will probably have a hard time to help you with visual studio details, because I haven't used Windows for over a decade! Do you maybe have

[2022-02-03 02:16] guitargeek commented on #9508
Removed from the milestone because this is now superseded by the actual PRs that are added to the milestone instead.

[2022-02-03 02:17] guitargeek commented on #9523
Removed from the milestone because this is now superseded by the actual PRs that are added to the milestone instead.

[2022-02-03 14:33] subham73 commented on #8777
Hii @guitargeek !
[code]
[code]
[code]

[2022-02-03 18:49] EdwardMoyse opened #9805 "Add env variable to limit number of threads used by ROOT"
Hi,

ATLAS would like to request the addition of a mechanism to control the number of threads used by ROOT with implicit multi-threading enabled, ideally via an environment variable (e.g. `ROOT_MAX_THREADS`). The primary motivation for this is to give GRID sites an easier way to limit the number of threads to match that of a queue.

Thanks!

Ed

[2022-02-03 19:02] #7754 closed

[2022-02-03 19:08] pcanal commented on #7718
@smuzaffar I pushed several related PR to v6.24 and v6.26 (and master).  Can you verify that one of them now work properly for this case?  Thanks.

[2022-02-03 19:14] #9508 closed

[2022-02-03 19:14] #9523 closed

[2022-02-03 20:15] smuzaffar commented on #7718
thanks @pcanal , I have opened following PRs to tests these
-  https://github.com/cms-sw/cmsdist/pull/7601
- https://github.com/cms-sw/cmsdist/pull/7602
- https://github.com/cms-sw/cmsdist/pull/7603

[2022-02-04 09:32] andresailer commented on #9594
While ROOT master is now building successfully for us, there are some downstream packages that suffer from this change. They can probably be fixed by exporting the ROOT_INCLUDE_PATH, but to better understand where things go wrong I made a very simple repeater. I think on any centos7 with the sft cvmfs this should work
[code]

Just linking an executable to ROOTTPython (https://gitlab.cern.ch/sailer

[2022-02-04 10:36] linev opened #9809 "[prompt, win32] Read-after-write of variable of type `double` does not yield the correct result"
Typing in ROOT prompt one gets:
[code]
Last line is wrong - expected of course `1.0000`.
Works ok on Linux and on Win64 (according to @bellenot)