[2013-06-29 22:37] bbannier opened #1 "Issues should be either in JIRA or here"
Hi,

I am not sure if having both the JIRA and github issue trackers is a good idea. It might create confusion, make it more work to follow developments, and might make historic investigations harder/impossible.

[2020-04-02 11:44] erdemyigit opened #5279 "ROOT"

[2020-04-24 14:48] aodbest opened #5460 "roit"

[2020-07-02 04:37] pablicki opened #5968 "H"

[2020-09-09 10:18] #5460 closed

[2020-09-09 10:18] #5279 closed

[2020-09-09 10:20] Axel-Naumann commented on #1
New issues are now reported *only* on GitHub. We keep Jira open for existing issues. We will close Jira issue submission to the public in about a year; until then there's a message telling people to go to GitHub instead.

[2020-09-09 10:20] #1 closed

[2020-09-09 10:36] AnirudhDagar commented on #1
This is great, will definitely help with open source contributions.
Thanks!

[2020-09-09 16:03] Axel-Naumann opened #6331 "Fedora 32 test failures"
After https://sft.its.cern.ch/jira/browse/ROOT-10849 is fixed, we are now left with three test failures:

* projectroot.roottest.root.io.uniquePointer.roottest_root_io_uniquePointer_simpleWriteRead
* projectroot.roottest.root.io.uniquePointer.roottest_root_io_uniquePointer_simpleRead
* projectroot.roottest.root.meta.ROOT-7462.roottest_root_meta_ROOT_7462_make

[2020-09-11 22:58] cgleggett opened #6343 "Problem with "using namespace std" in generated dictionary files"
In the autogenerated dictionary sources I see

[code]

(this is from 6.14.08. 6.22.02 has a slightly different comment of `The generated code does not explicitly qualifies STL entities` (sic), but still does the `using...`)

This is placed very early on, even before the include of the header files passed as arguments.

Unfortunately, this causes problems, specifically when one of those header file

[2020-09-12 12:35] andriish opened #6344 "Divisions by zero and other FPE"
Hi all,

recently I've tried to recompile an older code with ROOT GUI and to debug some crashes.
I've found that in many places the crashes occurred not in the code, but in the ROOT.
More specifically in the GUI library graf2d.
The backtrace looks typically like this
[code]

I was able to trace the problem to the math operations performed in the TPad.cxx and TPavelabel.cxx and it looks in many cas

[2020-09-12 14:07] scott-snyder opened #6345 "6.22.00 pyroot regression: Can't derive from TProfile."
With root 6.22.00, the following fragment

[code]

gives errors:

[code]

It works ok with either TH1F or TH2F.  It also worked with root 6.20.06.

This is low priority.  It showed up in ATLAS code, but the code in question is long obsolete and probably
best just removed.  Submitting it now just to document the issue.

[2020-09-14 09:10] eguiraud opened #6347 "[ntuple] Off-by-one-byte error when deserializing arrays as RVecs"
Reading `RVecs` with `RNTuple` incurs in an off-by-one-byte error, because all `RVec<T>` are deserialized as `std::vector<char>`, but the position of the data buffer is different for `RVecs`:

[code]

I think the problematic logic is [here](https://github.com/root-project/root/blob/8d5b55f51ad8449d83fc0db8f49217e556c34036/tree/ntuple/v7/src/RField.cxx#L660).

A second issue related to RVecs is tha

[2020-09-14 14:54] couet commented on #6344
Your comment is very valid. In the particular case you mentioned that would mean your TPaveLabel has wh ot ww = 0 ? so it won't be really useful. But I agree It should not crash. By chance do you have a simple reproducer ?

[2020-09-14 15:06] andriish commented on #6344
Hi  @couet ,

Yes. But the size is set during the execution of GUI.

Simple -- no. But in a scope of elimination of this issue I can provide an access to  a private github repository with these codes.
The application itself is not large. Would that work for you?

Best regards,

Andrii

[2020-09-14 15:12] couet commented on #6344
Well, I guess I can create a TPaveLabel with X2 = Y1 = 0;
Thanks.

[2020-09-14 15:22] andriish commented on #6344
Hi @couet ,

OK.

In TPad the problem is a bit more elaborated.
At first the calculations of the new sizes are done and only after that the results  are checked.
Here is a simple solution that I've tried.
https://github.com/root-project/root/compare/master...andriish:for_zevis?expand=1

Best regards,

Andrii

[2020-09-14 15:27] couet commented on #6344
Ok, cannot reproduce it with a simple TPaveLabel:
[code]

[2020-09-14 15:29] couet commented on #6344
Yes a reproducer with TPad would help me.

[2020-09-14 15:48] andriish commented on #6344
The way to run:

[code]
Then just move some of the internal pads.

Best regards,

Andrii

[2020-09-14 20:31] pcanal opened #6349 "rootcp and rootmv should also compression level change."
Especially for TTree, to change the compression level (for example from 0 to something :) ), one must use hadd (which copies the whole file), so we should add an option to rootcp and rootmv to allow for the compression change.    See for example https://root-forum.cern.ch/t/ttree-compression-factor-1-00/31850

[2020-09-14 20:43] pcanal opened #6350 "When in-memory TTree are written, they are not compressed."
As reported in https://root-forum.cern.ch/t/ttree-compression-factor-1-00/31850, when in-memory TTree are written, they are not compressed.

With:
[code]
the resulting file (`f_new.root`) contains an uncompressed TTree.

[2020-09-14 22:02] jblomer commented on #6347
Looking into this, isn't the problem rather that we don't expose collections necessarily as `RVec` columns in RNTupleDS but instead we use the collection type that was used to originally store them (such as `std::vector`)? If a field of type `RVec<T>` is created, we are actually not using `RVectorField` but an [RVec specialization](https://github.com/root-project/root/blob/master/tree/ntuple/v7/in

[2020-09-15 07:23] PhilipHB opened #6352 "[Hist] TGraph::Sort when already sorted"
Currently, `TGraph::Sort` does not check if the data is already sorted (stored in bit `TGraph::kIsSortedX`). For the implemented quicksort, sorting already sorted data is the worst case performance scenario, so I believe a check would be helpful.
Since the user can supply a custom `greaterfunc`,  a check similar to https://github.com/root-project/root/blob/1dba738f4e5c472d7b6777da49e00ef041696dba/

[2020-09-15 08:32] Axel-Naumann commented on #6345
Scott, to judge the criticality, does that cause issues in core parts of ATLAS?

[2020-09-15 09:00] couet commented on #6344
Sorry, but where is the source code ?

[2020-09-15 09:08] andriish commented on #6344
Hi @couet ,

I've send an invitation to you yesterday. But it is in pending state now. "Awaiting couet’s response ".
Do you see it?

Andrii

[2020-09-15 09:35] couet commented on #6344
ok done ... thanks

[2020-09-15 10:52] couet commented on #6344
[code]
gives me:
[code]
So it does not build.

[2020-09-15 11:28] andriish commented on #6344
Hi @couet ,

what is the error? What is the build system ? There is CI with CentOS7 and CentOS8 and these work fine.
Could it be that the ROOT installation was not found by cmake?

Best regards,
Andrii

[2020-09-15 11:36] couet commented on #6344
[code]
I am on MacOS.

make gives me:
[code]

[2020-09-15 11:48] andriish commented on #6344
Hi @couet ,

zevis was never even compiled on mac.
Mac os support would be just a next step in my list. However I can try to do it immediately and put in CI.
Hopefully that will not take more than couple hours.

Best regards,

Andrii

[2020-09-15 11:50] couet commented on #6344
No problem. We can continue to work on this PR once it will compile on Mac.

[2020-09-15 12:19] eguiraud opened #6356 "[JupyROOT][roottest] New nbconvert versions break notebook comparisons"
## Describe the bug

The problem is visible in the [conda nightly builds](https://lcgapp-services.cern.ch/root-jenkins/view/conda/job/conda-nightlies/), e.g. [here](https://lcgapp-services.cern.ch/root-jenkins/view/conda/job/conda-nightlies/136/testReport/junit/projectroot.python/JupyROOT/roottest_python_JupyROOT_importROOT_notebook/).

JupyROOT tests are red because a new json field `"execution"`

[2020-09-15 12:29] eguiraud commented on #6347
I understand why it currently doesn't, but I believe we agree that reading any collection as an RVecs via RNTupleDS _should_ work

I think we agreed to:
- [ ] throw an exception from RNTupleDS in case type on disk and type requested do not match -- this will make the bug noisy instead of silent and will possibly catch other issues in the future
- [ ] wait for the RVec redesign that adds a small ve

[2020-09-15 13:39] scott-snyder commented on #6345
No.  As i mentioned earlier, this only showed up in a bit of way-obsolete code (wrapping AIDA histograms) which I just removed.  So this doesn't affect us at all now.

[2020-09-15 17:21] andriish commented on #6344
Hi @couet ,

OK. that took a bit more than couple hours.
 - Now the code compiles on Mac
 - It  does not require Fortran (So far on Mac, but one can use C++ only on Linux as well).
 - However, the code for the FPE handling on Mac is external.
 -  On Mac the window crashes in the very beginning.
     It seems the reason is the same, but Mac graphics is is slightly different ( you know that much bet

[2020-09-16 06:44] Euqaidoz opened #6359 "python: /workspace/build/projects/ROOT-HEAD/src/ROOT/HEAD/interpreter/llvm/src/include/llvm/Support/Casting.h:106: static bool llvm::isa_impl_cl<To, const From*>::doit(const From*) [with To = clang::UsingDecl; From = clang::Decl]: Assertion `Val && "isa<> used on a null pointer"' failed."
Hi, I am running nightly tests of COOL which is built using PyROOT, and since the 10th September, one test is failing when using ROOT master branch on all the platforms we test (slc6 with gcc8 and centos7 with gcc8-10 and clang10).
I suspect one commit from Sep 9, 2020 to be responsible for this change of behaviour.

Here is the error and backtrace:
[code]

Let me know if I can provide more relate

[2020-09-16 07:50] couet commented on #6344
I just did a git pull to get the latest version.
Now I get:
[code]

[2020-09-16 08:00] stwunsch opened #6360 "[Docs] Missing figures in RDF tutorials 10[5,6,7] on doxygen"
You can find the doxygen pages with the missing figures here:

https://root.cern/doc/master/df105__WBosonAnalysis_8py.html
https://root.cern/doc/master/df106__HiggsToFourLeptons_8py.html
https://root.cern/doc/master/df107__SingleTopAnalysis_8py.html

[2020-09-16 08:20] andriish commented on #6344
Hi @couet ,

That is very strange, as the file clealy exists in the include directory in the repository. The CI on mac also compiles the code.
Could it be that the file was deleted localy?

Best regards,

Andrii

[2020-09-16 08:37] eguiraud opened #6363 "[IMT] ROOT::GetThreadPoolSize does not reflect tbb::global_control settings"
## Describe the bug

Calling `tbb::global_control c(tbb::global_control::max_allowed_parallelism, 3);` followed by `ROOT::GetThreadPoolSize()` or `TThreadExecutor::GetPoolSize()` results in the incorrect number of threads reported (hardware concurrency rather than what was set via `tbb::global_control`.

## Expected behavior

`ROOT::GetThreadPoolSize` should report the real TBB thread pool size or

[2020-09-16 08:38] stwunsch commented on #6360
@couet Could you verify that the linked PR fixes the issue?

[2020-09-16 08:56] lmoneta opened #6365 "[Hist] Wrong Statistics after subtraction of TProfile"
After subtracting TProfile objects using TProfile::Add(p1,p2,1,-1) the statistics in y (MeanY, StdDevY) are not correct.
ResetStats() needs to be called

See https://root-forum.cern.ch/t/how-does-the-add-function-work/41448

[2020-09-16 08:59] eguiraud commented on #6363
Maybe we could check `tbb::global_control::active_value(tbb::global_control::max_allowed_parallelism)` in https://github.com/root-project/root/blob/178dd7fde68aca357e5a821f7cb6b4c4753d4499/core/imt/src/RTaskArena.cxx#L69-L81

[2020-09-16 09:05] xvallspl commented on #6363
Makes sense, can do. I would expect tbb::task_arena::max_concurrency() to check that

[2020-09-16 09:07] couet commented on #6344
I did a fresh `git clone`:

[code]

[2020-09-16 09:12] andriish commented on #6344
OK, I see. The current CMakeLists.txt works only with  in source builds.

In source build should work.  Will fix it meanwhile.

[2020-09-16 09:22] eguiraud commented on #6363
uhm on the other hand `tbb::global_control` is a RAII kind of thing, so it can come and go. Maybe it's on at the point ROOT's task arena is constructed but not at the point tasks are spawned, and users now get less threads in the arena for "no reason". Not sure.

[2020-09-16 10:34] cjones051073 opened #6366 "6.22.02 build error on macOS 10.15"
6.22.02 build error on mac OS 10.15

Building 6.22.02 from source on macOS fails. Note I maintain the ROOT6 port in MacPorts, and my ultimate aim here is to update that build to 6.22.02 (currently 6.22.00). We use a number additional options and dependencies, hence the cmake configure command is a bit long (apologies).

6.22.00 builds just fine using the exact same configuration, so the issue is n

[2020-09-16 11:42] andriish commented on #6344
Out of source build is in master and CI.

[2020-09-16 11:46] couet commented on #6344
I did an git pull. It seems to work better

[2020-09-16 11:57] couet commented on #6344
I still get an error:
[code]

[2020-09-16 12:13] andriish commented on #6344
Hi @couet ,

I see.
The relevant include was removed from the TCanvas.h in the ROOT master, but it is present in 6.22, so CI works.
( It is quite unexpected, as TCanvasImp is used in the TCanvas class definitions, so one could expect the TCanvas.h includes TCanvasImp.h)

As a workaround I've put the TCanvasImp.h in the ZCanvas.cxx.

Best regards,

Andrii

[2020-09-16 12:25] couet commented on #6344
It compiles now. But I get may warnings. Are you interested ?

[2020-09-16 12:30] andriish commented on #6344
Yes, sure!
But here I have to apologize for these warnings. The code was designed many years ago for the root5+handwritten makefiles+old compilers  and the first thing I did sometime ago after the migration to root6+cmake was to ensure it compiles on RedHat and debug crashes.... Most of the warnings can be fixed easily.

Best regards,
Andrii

[2020-09-16 12:41] couet commented on #6344
[warnings.log](https://github.com/root-project/root/files/5232193/warnings.log)

[2020-09-16 12:43] couet commented on #6344
Then the executable does not work:
[code]

[2020-09-16 12:48] andriish commented on #6344
One should use

outputs/bin/zevis
not
outputs/bin/zevis.exe

outputs/bin/zevis is a script that sets the paths.

Andrii

P.S. Thanks for the log!

[2020-09-16 12:50] couet commented on #6344
This script is not executable. Should I just `chmod +x` it ?
[code]

[2020-09-16 13:01] andriish commented on #6344
It is chmod via cmake during the installation.

[code]

Andrii

[2020-09-16 13:19] couet commented on #6344
[code]

[2020-09-16 13:21] andriish commented on #6344
greadlink is GNU readlink from coreutils.

brew install coreutils

If you know a native equivalent of  readlink on MAC it would be nice to know

[2020-09-16 13:26] couet commented on #6344
[code]
I did that. I get:
[code]

[2020-09-16 13:39] andriish commented on #6344
It really looks like the root installation was updated "partially", e.g.

[code]

Another possible explanation is that after some `git pull` the file std.pcm   was not remade.
Is that possible to delete the std.pcm in the compilation directory and run make install?

Best regards,
Andrii

[2020-09-16 14:09] couet commented on #6344
I do not run make install on my root

[2020-09-16 14:13] andriish commented on #6344
Ok. Is that possible to remake the std.pcm?
rm /Users/couet/git/couet-root-bin/lib/std.pcm
make -C /Users/couet/git/couet-root-bin/

or similar?

There are similar reports of this error message, I haven't found anything that is close enough.

[2020-09-16 14:28] andriish commented on #6344
Is that possible to use the precompilled version of root either on Linux or Mac to avoid installation issues?

[2020-09-16 14:34] couet commented on #6344
I will fully reinstall my ROOT ... we will see

[2020-09-16 15:38] #6350 closed

[2020-09-16 15:49] cjones051073 commented on #6366
Update. The issues appears to be some sort of race-like condition in the build configuration, as disabling parallel builds

[code]

works just fine.

[2020-09-16 18:50] Axel-Naumann commented on #6359
Thanks! Could you share a reproducer with me?

[2020-09-16 23:03] cgleggett opened #6368 "6.22.02 build failure with -Dx11=OFF"
## Describe the bug
When building 6.22.02 with x11 disabled, there's a build error:
[code]

## Expected behavior
a clean build

## To Reproduce
[code]

## Setup
version: v6.22.02
OS: RHEL7
root built from git source (tag v6-22-02)
gcc: 9.2.0

[2020-09-17 08:09] Axel-Naumann commented on #6366
IIRC that's just the build running out of file (or other) handles. You should be able to do parallel builds, but not as parallel, or raise the limits. Could you try?

[2020-09-17 08:10] cjones051073 commented on #6366
How would I do that ? As far as I am aware I have no limits set.

Also, why would this only affect 6.22.02 ? The very same machine has no problems with any other ROOT versions ?

[2020-09-17 08:17] Axel-Naumann commented on #6366
Right, so here's the Internet's cue: http://gnu-make.2324884.n4.nabble.com/EAGAIN-in-read-jobs-pipe-tp1224p1228.html

`ulimit -a` shows you "Maximum number of open file descriptors"; for me it shows the macOS default of 256 which is notoriously low. Try setting that tom 1024 and see whether it helps?

[2020-09-17 08:27] cjones051073 commented on #6366
[code]

So no, the limit is not 256.

Please also note even if this is related to the problem, changing ulimit is not a practical solution in terms of fixing our automated builds in MacPorts, as I cannot request every user and the build systems make any changes to these settings. Also note we have NEVER run into an issue with any other port, or ROOT version, prior to 6.22.02, so I still maintain e

[2020-09-17 08:42] couet commented on #6368
Is it new problem with 6.22 ? This code (TGLFormat) is not recent and has not been changed recently.
The error messages you get would suggest X11 is not properly installed (or not found by the ROOT
install procedure) on your machine.

[2020-09-17 08:53] oshadura commented on #6368
@cgleggett could you please post a CMake configuration log? Thanks!

[2020-09-17 08:58] oshadura commented on #6368
Ah this issue is known https://sft.its.cern.ch/jira/browse/ROOT-10640 and in fact, I opened pr to fix it some time ago https://github.com/root-project/root/pull/5524. I will finish it and backport it to 6.22 as well.

[2020-09-17 09:03] couet commented on #6344
I get something different now:

[code]
and it blocks at that point. Nothing happens ... It I need to hit CRTL-C

[2020-09-17 09:08] Euqaidoz commented on #6359
Hi Axel,
what I am doing is this:
[code]
I tried to get more info using pdb:
[code]
Let me know what I can do to help

[2020-09-17 09:24] VanyaBelyaev opened #6370 "Broken serialization of ROOT objects in python3 with dill"
## Describe the bug

Serialization of ROOT  objects  in python using `dill` is broken for `python3`, but it works ok for `python2`.

( `dill` serialization is vital for the proper paralllel and distributive python calculations using `pathos` suite. The functionality of
regular paralell python `pp`  and `multiprocessing` module  is very limited due to limitations of `pickle`` serialization,
and it

[2020-09-17 09:53] andriish commented on #6344
Ok.

I have

[code]
I will try to find darwin19 in house, but I'm not sure we have it.

Andrii

[2020-09-17 10:15] oshadura commented on #6368
@cgleggett  I forgot to add that as a temporary fix you can just disable as `opengl` well.

[2020-09-17 10:33] eguiraud opened #6371 "[DF] Display doesn't work with non-top-level TTree branches"
## Describe the bug

RDF::Display does not search non-top-level TTree branches for regex matches, so `Display("a.b")` throw a "column not found" exception. The problem is at https://github.com/root-project/root/blob/8c8cefe83a147bf8a88b694426840175615d5065/tree/dataframe/src/RDFInterfaceUtils.cxx#L383

[2020-09-17 11:10] andriish commented on #6344
Ok.
 - Hard to say why the executable is not running on your mac. Could you, prease, also remove from the home folder files like .zevis-bla-bla-root ? Maybe that is the reason.
- Menawhile I've added to CI a test that runs the executable in batch mode.
- Works fine for CentOS7 and CentOS8. But not for Newest mac on CI. And not on my old mac.
In both cases there are FPEs:
[code]

[2020-09-17 11:11] andriish commented on #6344
That looks like there are divisions by zero in the TColor class. But I'm not sure why these are not present on Linux.

[2020-09-17 11:21] couet commented on #6344
What is the "home folder" ? can you be more precise ? it do not see such files in the top of the the GitHub repo nor in the build folder.

[2020-09-17 11:26] andriish commented on #6344
"home folder"  -- $HOME.  /Users/couet , I suspect.

[2020-09-17 11:26] andriish commented on #6344
The files could be created during the execution of zevis.

[2020-09-17 11:41] andriish commented on #6344
Hi @couet  ,

I can reproduce the FPE in a standalone short code. Just send the code to you by mail.

Best regards,
Andrii

[2020-09-17 11:51] couet commented on #6344
I do not have such files in `$HOME`

[2020-09-17 11:53] couet commented on #6344
I got you file colour.cxx... How to use it ?

[2020-09-17 11:55] andriish commented on #6344
On Mac

[code]
on Linux with gcc
[code]

[2020-09-17 11:59] couet commented on #6344
I see the crash. I investigate.

[2020-09-17 12:02] Axel-Naumann commented on #6366
Thanks. I'm evaluating what might be the cause, and the number of file handles is the only possible cause that I am aware of. If it's not that then I don't know. I remember this issue in the old days with Cygwin's `make`. Do you see the same issue with ninja? I suppose you use Macport's `make`?

[2020-09-17 12:03] cjones051073 commented on #6366
We use the macOS system make `/usr/bin/make`, not one supply by macports.

[2020-09-17 12:23] Axel-Naumann commented on #6366
Thanks. Does Ninja show the same issue?

[2020-09-17 12:24] cjones051073 commented on #6366
how do I build with ninja ?

[2020-09-17 12:25] cjones051073 commented on #6366
also note I also do not see the issue with a default configuration. I only see it when I enabled additional features. I presume you also test these in your builds ?

[2020-09-17 12:27] Axel-Naumann commented on #6366
`cmake -G Ninja`. And you need `ninja`; you can grab it from https://github.com/ninja-build/ninja/releases but I bet  MacPorts already has is?

[2020-09-17 12:29] Axel-Naumann commented on #6366
Indeed we have a couple of options enabled - but as MacOS proper doesn't offer a lot we also don't build with a lot. But this part `-G "CodeBlocks - Unix Makefiles"` is probably crucial. How does `-G "Unix Makefiles"` work?

[2020-09-17 12:31] cjones051073 commented on #6366
Honestly, I don't know much about that. I just cloned the cmake configuration from the exact command used internally by the MacPorts build, so its added by that. I will have to investigate the reasons for this.

[2020-09-17 12:55] couet commented on #6344
Actually not ... I had a mismatch with the new Xcode. I have reinstalled ROOT. And now your program does not crash.

[2020-09-17 13:10] cjones051073 commented on #6366
OK, have switch the MacPorts build to use ninja. We run a test to see if this shows the issue or not.

[2020-09-17 13:27] andriish commented on #6344
There is no Xcode12 binaries here https://root.cern.ch/releases/release-62202/ so I cannot test that quick.
CI with root by Xcode11 has this crash in zevis.  Versions match there.
I see this crash locally with Xcode10. Again, no mismatch.
That makes sense to open a separate issue on this.

Meanwhile, is that is not possible run zevis on specific mac, maybe you have linux around?

Best regards,
And

[2020-09-17 13:40] andriish opened #6373 "Floating point exceptions in TColor class."
## Describe the bug

Floating point exception on OSX 10.15 with XCode11 (and others).
[code]

## Expected behavior
No FPEs

## To Reproduce

Code:
[code]
Compile
[code]
Run
[code]
## Setup
1. ROOT 6.22.02 from the official site that matches XCode.

## Additional context
This is similar to #6344  but seen only on Mac.

[2020-09-17 13:46] Axel-Naumann commented on #6359
Thanks!
[code]

What else do I need to set up?

[2020-09-17 13:52] cjones051073 commented on #6366
ninja based builds work just fine in parallel, so this does seem a good way to sidestep the gnu make build issues, particularly as I now understand ninja is anyway the primary build system used by ROOT devs.

[2020-09-17 13:55] couet commented on #6373
I cannot reproduce the crash.

[2020-09-17 13:56] couet commented on #6344
I can try a linux machine........ It would be easier for me to be able to run it on my Mac though ...

[2020-09-17 14:12] andriish commented on #6344
That is my final goal as well. But it looks it makes sense to chop this issue into smaller pieces which can be reproduced easier.
In a minute I will put the TPad issue.

Best regards,
Andrii

[2020-09-17 14:18] andriish opened #6374 "Floating point exception in TPad"
## Describe the bug
Crash.

[code]

## Expected behavior
No FPE.

## To Reproduce
Code
[code]
compile
[code]
run

[code]

## Setup
ROOT 6.22.02  and gcc as installed on lxplus machines.

## Additional context
A piece of #6344

[2020-09-17 14:19] andriish commented on #6373
But do you use the official builds or you build from git?

[2020-09-17 14:21] couet commented on #6374
it does not comply on Mac:
[code]

[2020-09-17 14:22] couet commented on #6373
Git of course. The master . I am on my development machine.

[2020-09-17 14:40] andriish commented on #6374
Hi @couet ,

yes, sure.   `feenableexcept`  is not in  `<fenv.h>` on Mac.  One can add some code to have exceptions handling, but let us keep it simple. Linux is used much wider anyway.

Best regards,

Andrii

[2020-09-17 14:54] Euqaidoz commented on #6359
I guess there is an issue with the environment for COOL, I will look into it.
For now you can just add these 2 lines
[code]
And the result is:
[code]

[2020-09-17 15:15] andriish opened #6375 "Segmentation violation in TPaveLabel class"
## Describe the bug
Crash.
[code]

## Expected behavior
No segmentation violation.

## To Reproduce
Code:
[code]
Compile

[code]
Run
[code]

## Setup
ROOT 6.22.02 as installed on lxplus.

## Additional context
This is a piece of #6344  (hopefully the last one)

[2020-09-17 15:19] andriish commented on #6344
Hi @couet ,

In the end the crashes observed in three classes, so the relevant issues are

#6373
#6374
#6375

Hopefully this will make it easier to deal with them.

Why these cannot be reproduced on Mac might be a bug on its own.
What configuration do you use to compile root on mac?

Best regards,

Andrii

[2020-09-17 15:22] couet commented on #6344
I am now installing root on ubuntu to try your codes.

[2020-09-17 15:25] andriish commented on #6344
Which ubuntu version do you plan to use?
I will try to the same to be in sync.

Andrii

[2020-09-17 15:26] couet commented on #6344
[code]

[2020-09-17 15:32] couet commented on #6373
No problem with that code on Ubuntu
[code]

[2020-09-17 15:34] couet commented on #6375
This one give a crash on Ubuntu:
[code]

[2020-09-17 15:36] andriish commented on #6373
Expected. But one has to check it anyway! Good!

[2020-09-17 15:37] couet commented on #6374
I get the crash à Ubuntu:
[code]

[2020-09-17 15:38] pikacic opened #6376 "vtable corruption in Python specialization of C++ classes"
## Describe the bug
Using cppyy in ROOT master (51eb56e), I have a Python class that inherits from a C++ class (with two abstract classes) and I need to pass an instance of the Python class to a C++ function that accepts a pointer to one of the base classes.

When the C++ function tries to call a method from the instance, I get a segmentation fault (actually I enter in an infinite segfault loop, w

[2020-09-17 15:50] pikacic commented on #6376
You can find the output of valgrind attached: [valgrind.txt](https://github.com/root-project/root/files/5240343/valgrind.txt)

[2020-09-17 19:35] cgleggett commented on #6368
it wasn't there in 6.14.08 - I haven't tried anything in between.

This is on a host which has no X libraries installed (an HPC), and installing them myself is a non-starter.

I did rebuild successfully with `-Dopengl=off`

[2020-09-17 20:42] pcanal opened #6378 "TTreeFormula `Alt$` gives (silently) wrong result when used by itself."
## Describe the bug
With `Event.root` (from `test\Event`) we get:
[code]

## Expected behavior

[code]

Note that when used as intended (i.e. with another array, even itself, it works properly:
[code]
or
[code]

[2020-09-17 21:04] andriish opened #6379 "Floating point exception in TCanvas"
## Describe the bug
Crash.
[code]

## Expected behavior
No FPE.

## To Reproduce
Code
[code]
Compile
[code]
run

[code]

## Setup
CentOS7 x86_64 with root-6.22.02 from EPEL
(Same as on lxplus)

## Additional context

This is a continuation of  #6344

[2020-09-18 07:00] couet commented on #6379
I get the FPE on ubuntu too.

[2020-09-18 09:38] couet opened #6381 "TH3 missing labels"
## Describe the bug
the attached TH3 has two missing labels. Note that changing the diction to "not optimise" makes them appear.

## Expected behavior
The two missing labels should be displayed.

## To Reproduce

[code]

The root file is [th3_label.log](https://github.com/root-project/root/files/5244737/th3_label.log) (renamed `. log` to be able to attach it).

[2020-09-18 09:47] andriish commented on #6373
Very likely this issue is hard to reproduce because it could be related to some differences between builtin/external libraries.

[2020-09-18 14:04] couet commented on #6381
A reproducer. A simple macro. Is:
[code]

[2020-09-18 16:03] misho104 opened #6384 "cxx-standard should not be in CMAKE_CXX_FLAGS"
## Describe the bug

`CMAKE_CXX_FLAGS`, set by hand in `ROOTUseFile.cmake`, includes a specification on cxx standard, which should be specified rather by `CMAKE_CXX_STANDARD` variable.

In a projects using ROOT, the inclusion causes doubly-specified cxx-standard in their compile procedure, and the maintainer transferred me here; see the thread here:

https://github.com/iLCSoft/LCIO/issues/109#issu

[2020-09-21 08:38] #6371 closed

[2020-09-21 11:44] andriish commented on #6344
Hi @couet ,

are there chances to have some fixes  for  #6373 #6374 #6375 #6379 in the next (patch) releases?

- If that helps: here are some things that I've tried in the past:
   https://github.com/root-project/root/compare/master...andriish:for_zevis

- Unfortunately, for me  it is hard to develop for me on Mac. The hadrware with Mac I have is not a match to the hardware with Linux. I can try t

[2020-09-21 12:02] couet commented on #6344
I hope so. Sorry but I was busy with an other issue (axis labels on TH3) which I guess i fixed now.

[2020-09-21 12:45] couet commented on #6381
Fixed by: https://github.com/root-project/root/pull/6391

[2020-09-21 12:45] #6381 closed

[2020-09-21 13:06] Axel-Naumann opened #6393 "PyROOT cannot call templated ctors on Windows"
## Describe the bug

Templated ctors cannot be called on Windows because demangling of the constructor *template* (!) fails - likely because there is no mangling standard for the template. See https://github.com/root-project/root/blob/master/bindings/pyroot/cppyy/cppyy-backend/clingwrapper/src/clingwrapper.cxx#L1693

## Expected behavior

Template ctor should be called.

## To Reproduce

@hageboec

[2020-09-21 14:38] hageboeck commented on #6393
This blocks #6323

### To reproduce:
On top of the branch hageboeck/RooArgSetUsability_small, run the windows equivalent of:
[code]

Or run the pythonisation ctests from the linked PR.

[2020-09-21 15:34] couet commented on #6374
This PR should fix it: https://github.com/root-project/root/pull/6396

[2020-09-21 15:37] hageboeck opened #6397 "[Test Issue]"
## Describe the bug

## Expected behavior

## To Reproduce

## Setup

## Additional context

[2020-09-21 15:46] #6397 closed

[2020-09-21 17:31] wlav commented on #6393
"Templated ctors cannot be called on Windows because demangling of the constructor template (!) fails"

No ... it fails b/c either ROOT/meta or the Cling lookupHelper is not capable of recognizing constructor names with provided template parameters. The demangling hack was just a quick & easy way around that, esp. the lookupHelper being a very brittle piece of code that is hard to modify. However,

[2020-09-22 07:02] Axel-Naumann commented on #6393
IIUC we have two options:
1) give the ctor a name that includes the template parameter list. This breaks an assumption used throughout ROOT on "ctors' name == class name". Maybe even cppyy? But it's code, we can change that.
2) provide cppyy with the templateness of functions.
So we'll have to "muck" either way. My guesstimate is that option 2) is less intrusive, also for our users. I am aware of

[2020-09-22 07:59] couet commented on #6374
After this PR, the problem can still be reproduced with:
[code]
`SetPad` also needs a protection.

[2020-09-22 08:23] andriish commented on #6374
Hi @couet ,

Well, the classical method of protection is to chack the numbers before the unsafe operation is executed, i.e.

Just before the difisions in Resize method.

Best regards,

Andrii

[2020-09-22 08:29] lmoneta opened #6403 "[Hist] Bugs in Tprofile,TProfile2D::LabelsOption"
Ordering of labels in TProfile is not correct when:

- Profile have weights. The array containing the weight square, `fBinSumw2` is not updated in TProfileHelper::LabelsOption
- Labels have different order than bin numbers. This was same bug present in `TH1::LabelsOption` and fixed by #6217

[2020-09-22 08:31] couet commented on #6374
nope ... I think much before ... we should not allow a such pad to exist. I just push a new patch in `SetPad`. I have checked that the pad position cannot be changed elsewhere. So it should be fine. Unless you find an other way to set wrong pad position.  Now I will look if ResizePad should be also protected... just in case.

[2020-09-22 08:36] andriish commented on #6374
Hm... drawing should not be allowed.
Not sure about existing.

There might be inherited methods, no?

Best regards,

Andrii

[2020-09-22 08:44] couet commented on #6374
I do not see any use case where you would like to create an invalid Pad. If you look at the initial version of TPad ctor the protection was already there against invalid values (not in the [0,1] range) for the x et y positions. And the pad  was made "zombie" if these values were not correct. The extra check I added is in the same line. Because the x and y might be in range but w and h might be wro

[2020-09-22 09:03] couet commented on #6373
There should not be any difference ... this test is very basic.

[2020-09-22 09:04] couet commented on #6379
I see the crash on Ubuntu with that one:
[code]

[2020-09-22 09:14] couet commented on #6379
A protection against negative canvas height should be added. I will make a PR.

[2020-09-22 09:27] couet commented on #6379
I see the problem also on Mac with interactive ROOT.
[code]

[2020-09-22 10:11] eguiraud opened #6406 "root7 is turned off by default even if the default C++ standard of the compiler is C++14 or above"
## Describe the bug

With [ROOT-10692](https://sft.its.cern.ch/jira/browse/ROOT-10692) fixed, ROOT now, by default, uses the default C++ standard of the compiler rather than always using C++11. However, due to how our cmake logic is structured, root7 is still turned off by default, even if the default C++ standard used by the compiler was detected to be C++14 or higher.

## Expected behavior

With

[2020-09-22 10:32] etejedor commented on #6370
Hi,

I believe this is a duplicate of https://sft.its.cern.ch/jira/browse/ROOT-10523.

I will close it and we continue here, is that ok?

So in the end is this due to the Python2 `save_global` vs Python3 `save_reduce` difference in dill?

[2020-09-22 10:56] VanyaBelyaev commented on #6370
Hi Enrico,
yes, it is the same issue:  combination of  `dill`+`PyROOT`  is fine for `python2`  but  it fails for `python3`...  (and separately both `dill` and `PyROOT` are fine for `python2` and `python3`.

[2020-09-22 12:10] etejedor commented on #6345
This still happens with ROOT master, so https://github.com/root-project/root/pull/6277 does not solve it.

[2020-09-22 12:25] vepadulano commented on #6370
Hi @VanyaBelyaev ,
I ran your reproducer with LCG97apython3(ROOT 6.20/06) and LCG98python3(ROOT 6.22/00).
With the latter it seems that the call to `dill.dumps` is executed but I get a different error with a long stacktrace, I report the main parts:
[code]

The line `<class cppyy.gbl.TH1D at 0x560bc237aa20>` is there because I added a print to your reproducer just to check that `dill.loads` is exe

[2020-09-22 12:54] eguiraud commented on #6406
Looking into it a bit more, I think the right fix is indeed to move `CheckCompiler` above `RootBuildOptions`, and then fix the problem with Windows.

That problem is a circular dependency:

1. `RootBuildOptions.cmake` depends on `CheckCompiler.cmake`, because e.g. the default value of the `root7` option (set in `RootBuildOptions`) depends on the value of `CMAKE_CXX_STANDARD` (set in `CheckCompiler

[2020-09-22 13:37] dcervenkov opened #6408 "Creating RooDataSet causes SegFault"
## Describe the bug

The following code works fine with 6.20.04, but segfaults with 6.22.02.

[code]

The segfault happens on the last `output_file->Print();` line - it seems the creation of the `RooDataSet` somehow destroys the object pointed to by `output_file`.

## Expected behavior

I expect the code to run without segfaulting.

## To Reproduce

1. Save the quoted code to `mwe_tfile.cc`
2. Bui

[2020-09-22 13:40] dcervenkov commented on #6408
Adding `gROOT->GetListOfFiles()->Print();` calls supports my claims. Before creating the `RooDataSet` the output of the `Print()` is
[code]
after
[code]

[2020-09-22 14:42] couet commented on #6374
Fix applied

[2020-09-22 14:42] #6374 closed

[2020-09-22 14:57] jblomer opened #6410 "Without memstat support, `root -memstat` should not be available"
## Describe the bug
As discussed in the [ROOT forum](https://root-forum.cern.ch/t/root-memstat-doesnt-work/41455):
WIthout the memstat feature, `root.exe` still offers the `-memstat` option but produced failures like
[code]

## Expected behavior
If memstat is not part of the build, the memstat option should not be offered or there should be a clearer error message.

## To Reproduce
Steps to reprod

[2020-09-22 15:07] wlav commented on #6393
The constructor comparison really shouldn't be necessary as ROOT/meta provides a flag. See this code in clingwrapper.cxx:

[code]
I presume it being in the overflow "extra" property means that it is relatively newer, so probably there's still code out there that does name comparisons, but that shouldn't be hard to fix.

Provide the "templateness of functions" is just as much a hack. Every single l

[2020-09-22 15:20] andriish commented on #6374
Thanks! I will test the night build tomorrow.

[2020-09-22 15:21] Axel-Naumann commented on #6393
A while back you said
[code]
That's super awkward from compilers - some of the overloads
- need to be instantiated first
- are only visible through ADL
- are hidden friends
to name a couple of eeews that come to my mind.

The only reasonable way to do lookup in C++ is *with* the arguments, i.e. starting from an expression. Is that feasible for cppyy, e.g. possible code-path-wise, acceptable perfor

[2020-09-22 15:24] jblomer opened #6411 "Code generated by TFile::MakeProject should not rely on std namespace import"
## Explain what you would like to see improved
As discussed in the [ROOT forum](https://root-forum.cern.ch/t/tfile-makeproject-problem-with-stl-objects-due-to-removal-of-using-namespace-std/41501): the code generated by `TFile::MakeProject` currently contains the following lines at the beginning
[code]
which is necessary because the header files to not qualify `std` names (e.g., `vector` instead o

[2020-09-22 15:29] pcanal commented on #6411
Changing the onfile normalized name might not be forward compatible (old version of ROOT not being able to read new files).

[2020-09-22 15:30] sbinet opened #6412 "io: streamer for std::bitset appears to be relying on endian-ness"
this is a repeat of https://root-forum.cern.ch/t/std-bitset-streamer-endianness-issue/41529

---

hi there,

I was adding support for reading/writing `std::bitset<N>` to [groot](https://go-hep.org/x/hep/groot) when I noticed the following behaviour:

[code]

reading back the file with `groot`, I see the following bit patterns:

[code]

_ie:_ it seems endianness of the bitset isn't handled when wri

[2020-09-22 15:34] andriish commented on #6373
There might be difference due to some differences in the used libraries. There are chances that this is not eve root issue, but an issue of some external library. Are there debug version of mac builds somewhere?

[2020-09-22 16:04] wlav commented on #6393
Performance-wise and functionality-wise would still work if for the duration of the trials, the state needed to do the matching is kept alive. That was mostly the idea with the code above, but is not how I would solve it today.

So, to your points:

No, it does not need to be instantiated first. For example, if I know that a _potential_ match has a signature of `T*`, then I'm not going to ask it t

[2020-09-22 16:26] Axel-Naumann commented on #6393
OK so what you're after is:
- ignore hidden friends, ignore ADL. This breaks any current stdlib usage; you have been warned :-)
- collect all occurrences of a name, be it function template or function.

Correct? Can be done, but you might not like the result. I understand that it's *better* than what we have now; but I think it's not good enough. Why can you not:

* pass Python integers as `int`,

[2020-09-22 18:07] wlav commented on #6393
The problem with trying one after the other is that the number of combinations quickly goes through the roof. Consider that a python-side proxy can be freely converted from/to `T*`, `T**`, `T[]`, `T&`, `T&&`, and their `std::shared_ptr<>` and `std::unique_ptr<>` equivalents. So, that may mean 15 tries. If there are 3 arguments, the number of combinations is 455, faculty being what it is. Sure, I c

[2020-09-22 19:00] #6359 closed

[2020-09-22 21:45] ktf opened #6416 "TBulkRead fails with "fExtraBasket should have been set to nullptr by GetFreshBasket""
## Describe the bug

I am trying to use the new TBulkRead API. I have a set of branches that I read with (updated with full reproducer):

[code]

however when I get to read the last but one buffer, I get:

[code]

## Expected behavior

Reading all the baskets, with the last one returning the appropriate number of entries.

## To Reproduce

## Setup

6.20.0

## Additional context

TFile with a few

[2020-09-22 23:07] ktf opened #6417 "TBulkRead does not work when TFile is missing"
## Standalone TTree does not allow for TBulkRead

I created a standalone TTree, without a backing TFile, for test purposes. While using TTreeReader works just fine, using TBulkRead does not work.

## Expected behavior

Given the API to request a TBulkRead does not involve a TFile, I would have expected it to work without.

## Setup

6.20.0

##

[2020-09-23 07:56] Axel-Naumann commented on #6393
OK, so your approach would be to get the "obvious" set (I cannot think of a better term) of overloads, and for now just ignore hidden friends? (ADL can be worked around on the caller side, *if* people know where to find the suitable name.)

Hidden friends are very much appreciated in the standards committee, as the reduce the size of overload sets. You will then have to work around that on the cpp

[2020-09-23 10:32] HDembinski opened #6421 "Proposal to unify logging in Minuit2"
Probably due to historical reasons, the Minuit2 code uses several systems to report errors, warnings, and debug info. Some of these only work when certain compile flags are set (WARNINGMSG and DEBUG). I would like to unify these systems and use the MnPrint facilities consistently everywhere. This would have the advantage that debug info can be turned on at any time without recompiling and it has a

[2020-09-23 10:42] stwunsch opened #6422 "Add documentation for ROOT::RDF::RunGraphs"
We are missing further documentation for `ROOT::RDF::RunGraphs`. Most important, we should explain the feature in the main doxygen docs of `RDataFrame`. Further, we could probably add a tutorial or just add it to the ATLAS Open Data tutorials in `df10*.py`.

[2020-09-23 12:41] stwunsch commented on #6422
Another part is adding the feature to rootbench, which happens in this PR: https://github.com/root-project/rootbench/pull/189

[2020-09-23 14:11] HDembinski commented on #6421
@lmoneta I would be very interested in your thoughts on this.

[2020-09-23 14:33] couet commented on #6379
Fixed by #6424

[2020-09-23 14:33] #6379 closed

[2020-09-23 14:36] lmoneta commented on #6421
Hello Hans,
Thank you for your proposal. I think is a good improvement, the current situation I agree is a bit messy and what you propose is a good step forward.
We should see if we do not enable too many messages in printlevel=1, which is often used.
I think also level 3 is used often (for example when fitting histograms in ROOT with the verbose option). In that case we might want to use instead

[2020-09-23 14:50] dramoz opened #6425 "Typo in void TEnv::SetValue(const char *name, double value) implementation"
Branch:  v6-22-00-patches (I checked master has the same issue)

On file:
  **root_src/core/base/src/TEnv.cxx**

in the implementation of the function: **TEnv::SetValue**
**line#: 784**

[code]
the argument value should be **Double_t** as declared in the correspoinding TEnv.h file.

Regards,
Danilo.

[2020-09-23 15:15] HDembinski commented on #6421
@lmoneta I would be happy to work on this, since I spend already some time thinking about how to do it.

[2020-09-23 15:18] wlav commented on #6393
Beyond that, I still think you do not understand at all how this would work. You seem to think that it is either letting `BestViableFunction()` do all the work _or_ doing all the work myself. But there are many scenario's where inspecting the set can provide better arguments to `BestViableFunction()`, such as already mentioned: knowing which parameters to keep fixed, which qualifiers to use, which

[2020-09-23 15:35] eguiraud commented on #6425
Thanks for reporting this!

[2020-09-23 16:11] Axel-Naumann commented on #6393
Yes, that's what you explained.

OK excellent, then I don't see an issue. Note that you *cannot* spell the scope of hidden friends, i.e. you cannot invoke them by anything but expressions. It wasn't clear from what you said whether you were aware of that. And the fact that it's not a concern now is of no concern to me, as we should plan for C++20 and up, not the past.

We'll come up with an interf

[2020-09-23 16:20] Dominic-Stafford opened #6427 "TH1 Integral incorrectly returns nan"
Dear ROOT experts

I have produced some neural network output score, which I exported to ROOT histograms using uproot (as I am more familiar with that than pyROOT), so that I could set limits using the Higgs Combine tool. However in the Higgs Combine tool I encountered errors due to these histograms having nan integral. I presumed this problem may just have been caused by me outputting the histogr

[2020-09-23 16:42] andriish opened #6428 "Floating point exception in TPad (version 2)"
## Describe the bug
Crash.
[code]
## Expected behavior
No FPE.

## To Reproduce
Code:

[code]
compile
[code]
run
[code]

## Setup

ROOT 6.22.02 CentOS7 gcc4.8.5
and
lxplus with
[code]
Should also work with mac (not tested).

## Additional context

Hopefully this will be the last one.

[2020-09-23 16:43] andriish commented on #6428
Hi @couet ,

The previous fix for TPad works in tests.

Thanks!

Best regards,

Andrii

[2020-09-23 16:46] wlav commented on #6393
There are zounds of things that I'm not aware of, but as said, the kind of C++ that folks outside of HEP expect to "just work" with cppyy is rather more advanced that the basic C++98 that most folk in HEP still use. Heck, you guys are even still hung up on Python2.7! Anyway, the reason I changed the implementation is b/c it is already not working _today_. C++20 (which Clang5 doesn't support anyway

[2020-09-23 17:26] wlav commented on #6393
Yeah, looks like ROOT/meta in master still does it wrong. Example:

[code]

which runs fine to completion, v.s.:

[code]

which gives me:
[code]

Sure, this is a trivial example, nothing to do with lookup per se, but it's one of many issues that are resolved by not calling operator functions explicitly.

[2020-09-23 17:56] Axel-Naumann commented on #6393
The beauty of forks. OK, we (ROOT) will discuss what to do.

Indeed, as I said :-)

[2020-09-23 18:57] wlav commented on #6393
Forking was necessary; not looking back. Last release I followed, 6.20, broke so much stuff, especially on Windows. It's not tenable to follow ROOT master if one cares about more than a single version of Scientific Linux.

[2020-09-23 19:58] #6425 closed

[2020-09-23 21:10] andriish opened #6430 "Debug builds in nightlies (and releases)"
# Problem
It is more efficient to debug applications relying on ROOT having a debug ROOT build.

# Solution I would like

Provide debug builds for nightlies (and optionally for releases).

# Alternatives

 - Debug on Linux with released ROOT works perfectly for standard RedHat distros ( the others are less relevant ).
 This is a very good alternative (thanks to Mattias!), but Linux-only and releas

[2020-09-24 07:14] #6406 closed

[2020-09-24 07:44] lmoneta commented on #6427
Hi,
It is strange that TH1::Integral(100,100) returns a different result than  GetBinContent(100). I would need you to send me a root file containing the histogram

Lorenzo

[2020-09-24 07:44] lmoneta commented on #6421
This word be great ! Thank you for this!!

[2020-09-24 07:53] ktf commented on #6416
For the record, for other files, with larger baskets, it happens in the middle of the tree reading.

[2020-09-24 10:41] krasznaa opened #6432 "Build performance does not scale to many cores/threads"
## Explain what you would like to see improved

I know that this is a **very** first world problem, but it has been bugging me since a while. The build of ROOT using its CMake setup is not scaling well to many core systems at all. :frowning:

This is a snapshot of how ROOT 6.20/08 used my system's resources during its build:

![root-6 20 08-build](https://user-images.githubusercontent.com/30694331

[2020-09-24 11:39] hageboeck opened #6433 "`\brief`s have disappeared from the tutorials"
## Describe the bug
Listings in the tutorials groups were showing `\brief`s in the past. Compare
https://root.cern/doc/master/group__tutorial__roofit.html
https://root.cern/doc/v622/group__tutorial__roofit.html
with
https://root.cern/doc/v620/group__tutorial__roofit.html

[2020-09-24 13:04] couet commented on #6375
Even a valid PaveLabel crashes when Paint is called directly.
[code]

[2020-09-24 13:09] couet commented on #6428
Well .... "PlaceBox" is not supposed to be called by end users. Any way I will look.

[2020-09-24 13:21] couet commented on #6428
And you call it with a TH1 as object ... it was never meant to be use that way. :-(

[2020-09-24 13:26] andriish commented on #6428
I know, I needed a dummy argument. The crash appears before any operations with this argument.

Best regards,
Andrii

[2020-09-24 13:27] couet commented on #6428
I will try to protect

[2020-09-24 13:54] eguiraud opened #6435 "[DF] Jitted Min method breaks with RVec columns"
## Describe the bug

Jitted Min calls break with RVec columns, although they work fine with scalars and if the RVec type is passed explicitly as a template parameter. Max is not affected.

## To Reproduce

[code]

## Setup

ROOT 6.22.02

## Additional context

First reported [on the forum](https://root-forum.cern.ch/t/rdataframe-min-function-does-not-compile/41573).

[2020-09-24 15:00] eguiraud opened #6438 "hadd --help prints wrong usage info"
## Describe the bug

`hadd --help` prints the following:

[code]

The options `-fk`, `-ff` and `-f0` are listed in the short usage overview as `[-fk FK] [-ff FF] [-f0 F0] `, but they do not accept a parameter.

The docs mention that `-f` controls the compression _level_ of the target file (e.g. 4), but it's actually possible to specify the full compressoin algorithm (e.g. 404).

[2020-09-24 15:10] eguiraud opened #6439 "Failed compilation leaves cling in a "bad state""
## To Reproduce

The first line executed is invalid C++ code, and cling rightly complains. The second line is valid code, but cling does not seem to be able to compile it after the previous compilation failure. Opening a new ROOT prompt and directly inserting the valid code works fine.

[code]

## Setup

ROOT master@3ae45ea5f9, RelWithDebInfo.
I could not reproduce with master@dcac6e1bf0, Debug bu

[2020-09-24 15:39] #6428 closed

[2020-09-24 15:41] couet commented on #6428
fixed by  #6440

[2020-09-24 15:57] Dominic-Stafford commented on #6427
Dear Lorenzo

I tried to produce an example ROOT file containing a problematic histogram, however when I checked the histogram that caused the crash in the Combine program by reading it directly from the file, the Integral() method worked without a problem. I then assumed Combine had modified the histogram in some way that caused this behaviour, so I attempted using pdb to save the histogram direc

[2020-09-24 16:05] Axel-Naumann opened #6441 "Windows CI runs roottest despite build failure"
roottest / testing should not be done if the build failed.

[2020-09-24 16:05] #6376 closed

[2020-09-24 16:07] etejedor commented on #6376
Thank you @pikacic for the reproducer and the valgrind report, much appreciated! I made a PR to fix the issue, it was just merged. I will check the nightlies tomorrow just in case.

[2020-09-24 17:26] pcanal opened #6443 "Spurrious auto-parsing (as seen with CMS file and libraries)"
### Describe the bug

The attached example [repro-autoparsing-cms.tar.gz](https://github.com/root-project/root/files/5277943/repro-autoparsing-cms.tar.gz) shows a case where auto-parsing is spurriously created due to 3 catergories of problems:

* Search for a enum type
* Search for __base_pair
* Search for one of ROOT synthetic class (for I/O customization rules)

### Expected behavior

No auto-pa

[2020-09-24 19:13] andriish commented on #6428
Hi @couet ,

my fault! You've fixed a bug that I was not trying to report (zero pointer dereference).
Thanks a lot!
Will try to reproduce the FPE... If I will succeed (hopefully not), will open a new issue.

Best regards,

Andrii

[2020-09-24 19:21] andriish opened #6446 "Possible Null pointer dereference in TPad"
## Describe the bug
Crash

[code]

## Expected behavior
No crash.

## To Reproduce
Code

[code]

compile
[code]
run

[code]

## Setup
ROOT 6.22.02 gcc4.8.5 on CentOS7
and

source /cvmfs/sft.cern.ch/lcg/views/dev3python3/latest/x86_64-centos7-gcc10-opt/setup.sh
on lxplus

## Possible fix
Replace

[code]
with

[code]

in ``void TPad::PaintLine(Double_t x1, Double_t y1, Double_t x2, Double_t y2)``

[2020-09-24 20:35] andriish opened #6447 "MIssing initialization of TPad::fPrimitives"
## Describe the bug
TPad::GetPrimitives() returns nullptr instead of an empty list, gets defererenced ... and so on.
[code]

## Expected behavior
No crash

## To Reproduce
Code:

[code]
Compile

[code]

run

[code]

## Setup
ROOT 6.22.02 gcc4.8.5 on CentOS7/EPEL

## Additional context
Possible fix:
Change
[code]
to

[code]

[2020-09-24 21:12] andriish commented on #6428
I'm sorry,

here is the code to reproduce FPE (not segmentation violation)
[code]
[@test]$ ./pad5.exe

 *** Break *** floating point exception

===========================================================
There was a crash.
This is the entire stack trace of all threads:
===========================================================
    gdb.printing.register_pretty_printer(gdb.current_objfile(),
#0  0x

[2020-09-24 21:22] andriish commented on #6428
Hi @couet,

should I open a new issue?

Best regards,

Andrii

[2020-09-25 06:19] stwunsch commented on #6360
@couet Could we follow up on this?

[2020-09-25 06:55] couet commented on #6446
Can be reproduce with interactive root:
[code]

[2020-09-25 06:59] couet commented on #6447
Can be reproduced with interactive ROOT:
[code]

[2020-09-25 07:01] couet commented on #6428
Yes open a new one. This one is closed.

[2020-09-25 07:02] stwunsch opened #6448 "Disable NDEBUG for PR builds"
I think we agree that we don't want the `NDEBUG` flag in PR builds but haven't decided on a solution to remove the flag.

[2020-09-25 07:02] stwunsch commented on #6448
I'm happy to put the fix into place. My proposal would be removing the flag from the `RelWithDebInfo` build type!

[2020-09-25 07:13] stwunsch commented on #6422
Merged!

[2020-09-25 08:07] oshadura commented on #6438
I think I can pick up @pcanal?

[2020-09-25 08:21] andriish opened #6449 "Floating point exception in TPad (part 3)"
## Describe the bug
Crash

[code]

## Expected behavior
no FPE

## To Reproduce

Code
[code]
## Setup

This result is seen on CentOS7/EPEL/root6220/gcc485 as well as on

lxplus with

[code]

[2020-09-25 08:40] #6422 closed

[2020-09-25 08:53] #6435 closed

[2020-09-25 09:25] andriish commented on #6428
Done!

[2020-09-25 09:45] pzhristov commented on #6416
@ktf There is an orphan p->Print() in the reproducer above.

[2020-09-25 11:58] #6356 closed

[2020-09-25 12:08] andriish opened #6453 "Potential null pointer dereference in TPad::Close"
## Describe the bug
Crash
[code]

## Expected behavior
No crash.

## To Reproduce
Code
[code]
Compile
[code]

Run
[code]

## Setup
EPEL ROOT 62202/gcc485/CentOS7
ROOT night buil/gcc10/lxplus

## Additional context
Possible fix in Tpad::Close
Replace
[code]
with

[code]

[2020-09-25 12:34] krasznaa opened #6454 "ROOT fails to parse <boost/shared_ptr.hpp> at runtime on macOS"
## Describe the bug

I just ran into an issue while trying to use the ATLAS analysis software on the latest version of macOS, with the latest version of Xcode. While trying to load the dictionary of a class whose header includes `<boost/shared_ptr.hpp>`, my test application dies.

To simplify things a bit, I put a simple reproducer under: https://github.com/krasznaa/root-boost-dictionary-error Wit

[2020-09-25 13:04] couet commented on #6446
The fix suggested does not work. Need more investigations.

[2020-09-25 13:12] eguiraud opened #6455 "[DF] RDataSource does not early-quit event loops when all Ranges are exhausted"
## Bug description

When running over TTrees, RDF event loops that exhaust all entry ranges specified via `df.Range(..)` quit the event loop early as a performance optimization. RDataSource-based event loops do not, and instead run until the end of the dataset in all cases (performing no processing after Ranges have been exhausted). This yields correct results but wastes CPU cycles.

[2020-09-25 13:22] andriish commented on #6446
Strange...
But I think the check that fCanvas is not null should be there anyway. What is your opinion?

[2020-09-25 13:31] couet commented on #6446
Yes it should be there but that's not enough. It crashes later. I will check. By the way the is many unprotected GetPainter all over the TPad code ... I guess they should all be protected the same way ...

[2020-09-25 13:53] andriish commented on #6446
In many places the protection is already there. But if I find some similar cases, I will report.

[2020-09-25 13:57] couet commented on #6446
In "some places" it is there ... not "many".....

[2020-09-25 15:48] couet commented on #6453
PR here https://github.com/root-project/root/pull/6463

[2020-09-25 15:59] #6453 closed

[2020-09-25 16:07] couet commented on #6453
./pad6 does not crash anymore

[2020-09-25 16:07] smuzaffar opened #6465 "ROOT signed-char convertion issue on AARCH64"
Hi,
  One unit test in CMSSW is failing on `aarch64` ( https://github.com/cms-sw/cmssw/issues/31194 ) . We noticed that root is treating `char` as `unsigned` while root is build with `-fsigned-char` e.g. in root interactive shell we get this
1. aarch64
[code]

2. amd64
[code]

https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/root.spec#L40 is how we configure and build root for both am

[2020-09-25 17:22] oshadura commented on #6368
It is fixed in https://github.com/root-project/root/pull/5524

[2020-09-25 18:55] Allen319 opened #6467 "TChain issue in PyROOT with conda"
This issue only occurs when the conda environment is activated.
I followed the default install method with `conda create -c conda-forge --name <my-environment> root`

I want to use a wrapper class for TChain called [Ntuple](https://github.com/Allen319/Ntuple/blob/master/python/Ntuple.py)
https://github.com/Allen319/Ntuple/blob/master/python/Ntuple.py
But I cannot initialize this class with conda e

[2020-09-25 20:14] pcanal commented on #6438
Thanks.

[2020-09-25 21:12] ktf commented on #6416
@pzhristov fixed

[2020-09-25 21:14] ktf commented on #6416
If I  understand correctly TBranch::GetBasketAndFirst() sometimes does not go through the GetFreshBasket statement, but through GetFreshCluster(). Line 1223-1226 of TBranch.cxx.

[2020-09-26 02:57] cozzyd opened #6468 "6.22 PyROOT seg faults when accessing array members"
## Describe the bug
I store a custom event class in a TTree. Some of the members of the class are arrays (c-style). Accessing the array members works for the first time the GetEntry() is called, but subsequent accesses result in segmentation faults.  I am using the "old" way of reading the tree (with SetBranchAddress).

One possible workaround might be to use std::array instead of c-style arrays,

[2020-09-26 16:04] VanyaBelyaev opened #6470 "PyROOT: virtual C++ method overriden in python ignored with further inheritance chain"
## Describe the bug

The virtual C++ methods overriden in some python class is ignored in the subsequent subclass.

Simple examples is given in [here] (https://gist.github.com/VanyaBelyaev/fb58efd76b693a7777c9c83a6f43ae15)
In short:
 - C++ class A,
 -  python class B, that inherits from   A  and override virtual method from A
 -  python class C, that inherits from B  and override (the same) virual

[2020-09-26 23:26] Harshalzzzzzzz commented on #6468
@cozzyd Dear Mentor ,
I would like to work on this issue, can you please guide me further on what needs to be done and how I can approach this issue and contribute to the project?
I have already completed the setup of ROOT  and other dependencies.

Thank you

[2020-09-26 23:27] Harshalzzzzzzz commented on #6410
@jblomer  Dear Mentor ,
I would like to work on this issue, can you please guide me further on what needs to be done and how I can approach this issue and contribute to the project?
I have already completed the setup of ROOT and other dependencies.

Thank you

[2020-09-27 04:23] DraTeots opened #6471 "Minimal installation for basic IO"
## Is your feature request related to a problem? Please describe.

ROOT compilation requires hours of compilation time (up to 10 hours on virtual machines such as CI bots, and I hasn't seen compilation time less than an hour by now)

ROOT takes hundreds of megabytes (600 - 800?) of space and requires a number of dependencies. This both greatly affects image sizes (e.g. docker) which, in turn, affe

[2020-09-27 15:41] eguiraud opened #6472 "TThreadExecutor::Map should be able to accept const std::vector arguments"
## Explain what you would like to see improved

Currently, this doesn't compile, because `TThreadExecutor::Map` only accepts `std::vector<T> &` and not `const std::vector<T>&`:

[code]
gets you
[code]

[2020-09-27 15:46] eguiraud opened #6473 "TTree::Scan truncates leaf names in output"
## Describe the bug

In the following reproducer, `t.Scan()` prints values for column `out_x.out_x` but the output is truncated to `out_x.out`, which can be quite confusing for larger trees with nested branches:

[code]

## Expected behavior

The leaf name in the header of the table should either be just `"out_x"` or be the complete `"out_x.out_x"`.

[2020-09-27 20:33] cozzyd commented on #6468
Hi @Harshalzzzzzzz  I'm just the bug submitter here :).  I suspect this is a bug with the the cppyy integration in ROOT 6/22 (at least on this platform for this compiler etc), but I'm not really sure (otherwise I'd try to fix it myself!).

After installing the appropriate debuginfo, I have a bit more information:

[code]
Looks like maybe there is something wrong with the cppyy data member cache in

[2020-09-28 08:03] #6455 closed

[2020-09-28 08:50] hageboeck opened #6477 "[Tree] Cloning a tree deletes the TFile instance that contained the tree."
## Describe the bug
Cloning a tree deletes the TFile instance that contained the tree.

## Expected behavior
Don't delete, of course!

## To Reproduce
Run `root.exe repro.cxx+g`, with `repro.cxx`:
[code]

## Setup
Master, but I'm quite sure that it affects all versions before master.

This is causing #6408, but in RooFit, it's trivial to work around this bug using `tree2->SetDirectory(nullptr)`, s

[2020-09-28 08:52] hageboeck commented on #6408
Needs backport. Github is too aggressive in closing ...

[2020-09-28 09:02] lmoneta opened #6479 "[TMVA] TMVAGui functions crash in batch mode"
As reported in https://root-forum.cern.ch/t/tmva-mvaeffs-crashes-when-disabling-graphical-output/40198
calling functions of TMVAGui in batch result in a crash.

Also reproducer reported in ROOT-9483 is still crashing

Code reproducing the issue
[code]

[2020-09-28 09:08] Axel-Naumann opened #6480 "Deprecation warning in roottest python script"
Running e.g. `roottest-root-meta-genreflex-escapedQuotesRootmapGen` shows
`roottest/scripts/custom_diff.py:85: DeprecationWarning: 'U' mode is deprecated`
(same for line 86). We should get rid of the warning.

[2020-09-28 12:20] Axel-Naumann opened #6481 "LookupHelper cannot instantiate function templates"
## Describe the bug

See PR #6418 's `core/metacling/test/TClingMethodInfoTests.cxx`, in `TEST(TClingMethodInfo, TemplateFun)`

[2020-09-28 12:21] Axel-Naumann opened #6482 "TClass::GetListOfFunctions() fails to enumerate using decls."
See PR #6418 's `core/metacling/test/TClingMethodInfoTests.cxx`, in `TEST(TClingMethodInfo, TemplateFun)`

[2020-09-28 12:43] lmoneta opened #6483 "[GUI] Crashes when creating TGClient in a standalone application"
When creating a TGClient instance in a standalone application. ROOT crashes.
This reproduces the problem:
[code]

[2020-09-28 13:06] musinsky commented on #6447
I think this is not a bug ?! missing TPad::Draw() function.
[code]
To same for https://github.com/root-project/root/issues/6446

[2020-09-28 13:28] musinsky commented on #6449
[TPad::PlaceBox](https://root.cern.ch/doc/master/classTPad.html#a018d77208d8a5e6394733eceba8f06ae) in **NDC space**. In NDC space: (0.0, 0.0) bottom left corner, (0.5,0.5) middle of the canvas and (1.0, 1.0) upper right corner.

[2020-09-28 13:51] andriish commented on #6447
Hi @musinsky ,

segmentation violation is always a bug.

Best regards,

Andrii

[2020-09-28 13:56] andriish commented on #6449
Hi @musinsky ,

I don't see how that explains the FPE.

Best regards,

Andrii

[2020-09-28 14:28] couet commented on #6449
In `TPad::PlaceBox` it crashes on line:
[code]
Because `fCGny = 429496727`

[2020-09-28 14:33] lmoneta commented on #6427
Hi Dominic,
I close this issue for the time being. Please feel free to re-open it when you have a reproducible
Cheers
Lorenzo

[2020-09-28 14:33] #6427 closed

[2020-09-28 14:37] andriish commented on #6449
Hi @couet ,

 I know and tried to fix it in #6469.

Would you be so kind to review that patch once you have time?

Best regards,

Andrii

[2020-09-28 14:43] couet commented on #6449
That's a huge PR fixing many things I one go. I would prefer to have a PR for each issue you posted. For *this* one I think `fCGny` is not properly initialised somewhere. I will try to find out.

[2020-09-28 14:54] andriish commented on #6449
Hi @couet ,

partially agree to you. However the PR mostly fixes potential null pointer dereferences so not that many things are mixed togather.  The same thing in many places.

I'm not sure if I will be able to do it quick ... Would be that convenient for you to cherrypick everything that looks completely fine to you now? Then I will close the issues which will be fixed with such cherrypicking an

[2020-09-28 15:02] hageboeck opened #6489 "Test Issue"
## Describe the bug

## Expected behavior

## To Reproduce

## Setup

## Additional context

[2020-09-28 15:26] #6489 closed

[2020-09-29 11:31] stwunsch commented on #6473
It's debatable whether it's a bug or a feature. You can set the column width with the option `colsize`:

[code]

[code]

So the truncation is an artifact of the smallish default column width. Not sure what to do now with this information :sweat_smile: :

[2020-09-29 11:36] eguiraud commented on #6473
sorry why would it be a feature? :sweat_smile: also why isn't it just `out_x`, given that branch `out_x` only has one leaf called `out_x` so there is no ambiguity?

[2020-09-29 11:40] stwunsch commented on #6360
Unfortunately the docs are still broken (see the links above).

[2020-09-29 12:29] #6403 closed

[2020-09-29 13:55] #6449 closed

[2020-09-29 14:14] pcanal opened #6500 "Documentation of TDirectory::TContext."
## Explain what you would like to see improved

TDirectory::TContext should be documented more explicitly.  Currently the "documentation" is spread through-out release notes and git logs.  See the releases notes for v5.34 patches and v6.06 as well as the commit log for
843a15939587b0f730ce81d668ae0358b8d89cf6
af78af292ca467334ebb175e1d437a02abcc7d83
135e659287a8b7199b4bdf7bd7c0baac514f8258

[2020-09-29 15:14] #6480 closed

[2020-09-29 15:16] stwunsch commented on #6473
I would have called it feature since it does exactly what it's supposed to do ;) But I agree, the truncation may be confusing.

[2020-09-29 15:47] couet commented on #6433
I sse: it is working for some other: https://root.cern/doc/master/group__tutorial__fit.html

[2020-09-29 16:12] couet commented on #6433
The fix in simple: we should not use the keyword `\brief`  it is not needed.
If That's ok wit you I can make a PR to remove it .

[2020-09-29 16:31] hageboeck commented on #6433
My current theory is that this works:
[code]
and this doesn't:
[code]
Maybe that's why Enrico and me needed to add the `\brief`s before doxygen was updated.

[2020-09-29 17:45] pcanal commented on #6473
Both limitation/feature are present at the moment because of the "simplest to implement factor".    I guess adding the code to simplify the name when possible should be straight-forward-ish.  Switching from a fixed columns size by default to "fit the name of all the columns" should also be clear/straight-forward [albeit it might need a up to a reasonable maximum ...]
In case the name is truncated

[2020-09-29 17:55] wlav commented on #6468
nah, just ROOT I/O scribbling where it should not b/c the TTree pythonizations pass references to `CPPInstance` internals that they should not touch (`CPPInstance` is not part of the public CPyCppyy API b/c the representation in PyPy/cppyy is quite different). And yes, after ROOT I/O has (unwittingly, to be fair) corrupted the `CPPInstance` internals, cppyy does, indeed, poke in all the wrong plac

[2020-09-29 18:00] couet commented on #6433
Most the tutorials are working without \brief (see the graphics ones for instance) . I will check with a local build and create a PR.

[2020-09-29 20:21] pcanal opened #6504 "Minimal config is broken on root-fedora30-1.cern.ch"
### Describe the bug
[code]

### Expected behavior

success

[2020-09-29 21:04] pcanal commented on #6504
This failing case is on root-fedora30-1.cern.ch with
[code]

[2020-09-29 21:12] pcanal commented on #6417
This is a reproducer:
[code]
where the 2nd iteration (and subsequent) have GetBulkEntries returning 0;

[2020-09-29 23:04] pcanal commented on #6417
With
[code]
I get
[code]

[2020-09-29 23:15] pcanal commented on #6504
On the other the jenkins generated configuration works:
[code]

[2020-09-30 11:04] kgizdov opened #6509 "[ROOT I/O] Warning: writing 1 byte into a region of size 0"
Noticed this while building 6.22.02 with GCC 10.2 on Arch Linux x86_64.
[code]

[2020-09-30 11:28] andriish opened #6510 "Thread safety in TPad"
## Describe the bug
Crash.
[code]

## Expected behavior
No crash.

## To Reproduce
No working standalone reproducer so far.

## Setup
master ROOT with gcc4.8.5 on CentOS7

## Additional context
The relevant code is

[code]
Obviously the code if completely ok for a single thread application.
However, a protection for multithread apps is needed when dealing with tmpGuideLinePad.

Tag @couet

[2020-09-30 14:35] andriish commented on #6510
No, there are cases when I still have crash.

[2020-09-30 16:47] eguiraud opened #6518 "[TreeReader] When looping over a TTree with a friend with a larger number of entries, the loop spans all entries in the friend"
## Expected behavior

Just like TTree does, TTreeReader should limit the event loop to the number of entries in the main tree.

## To Reproduce

The following self-contained reproducer should print 10 (number of entries in the main tree), but prints 20 (number of entries in the friend tree).

[code]

This becomes problematic when comparing e.g. the output of `TTree::Draw` with the output of `RData

[2020-09-30 16:49] eguiraud commented on #6518
(might even be critical priority since it can result in wrong data being silently read)

[2020-09-30 17:44] pcanal commented on #6510
How is this uses in a multi-thread enviroment?  I.e. I seem to see a description of the crash but not a description of what is being run.

[2020-09-30 18:03] pcanal commented on #6417
It turns out that #6416 and this issue have the same original cause (not being able to handle basket that are not stored (on their own) in the file).

[2020-09-30 18:03] pcanal commented on #6416
It turns out that #6417 and this issue have the same original cause (not being able to handle basket that are not stored (on their own) in the file).

[2020-09-30 18:04] pcanal commented on #6416
Indeed but rest of the code assumed it would went through GetFreshBasket.

[2020-09-30 19:53] andriish commented on #6510
Hi @pcanal  ,

That is used in  a multi-thread program.

Yes, that is a kind of "collaboration" code for event display. It is not very large but not very small.
So far I haven't managed to mage a standalone reproducer, but as far as I understand there should be a general approach in ROOT how to deal with static variables within a class, so I've expected this will be quite an easy case for the ROOT

[2020-09-30 19:53] andriish commented on #6510
Should I try to make a standalone reproducer?

[2020-09-30 20:00] pcanal commented on #6510
What I don't understand yet is why 2 threads would be executing something that seems to be (usually) only triggered by a user action/GUI.

If/Since creating the standalone reproducer is not trivial, a first step would be to get the full stack trace of when/where this portion of the code is called (i.e. the stack trace of the at least 2 threads that are running this code at the same time).

[2020-09-30 20:01] pcanal commented on #6510
Taking the one global lock is a heavy/costly solution is should be reserved to the last resort but to properly address it we need to understand what is coming (see also my potential fix (which may or may not break the single thread case) suggested on the PR)

[2020-09-30 23:14] ktf opened #6520 "Integer types not available for Bulk API"
It looks to me like integer types are not available for bulk reading because they return TLeaf::DeserializeType::kDestructive. I suspect this has something to do with sign extension for unsigned quantities. Is this really the case?

[2020-09-30 23:46] ktf commented on #6520
To be clear, it seems to me that the following:

[code]

works just fine with all the basic types.

[2020-10-01 00:11] pcanal commented on #6504
just turning minimal OFF also leads to a working build.

[2020-10-01 00:33] pcanal commented on #6520
The original idea was to have to interface GetBulkEntries and GetEntriesSerialized where in the former the byte-swap is done by the routine and in the later the byte-swap is done by the user.  (See SimpleReadFunc vs SimpleBulkReadFunc in  https://github.com/root-project/root/blob/28f728b67b5409580ec0ba4d71fa9ab35683fb26/tree/tree/test/BulkApi.cxx).

GetBulkEntries was updating the buffer associate

[2020-10-01 06:47] #6433 closed

[2020-10-01 07:43] #6479 closed

[2020-10-01 08:15] etejedor commented on #6467
Thank you for the report, I tried to import your `Ntuple` module and what I get with master and 6.22 patches (compiled from sources) is this:
[code]
So there is an error even before constructing the TChain, during inheritance. This error is due to the fact that `fProofChain` is a protected data member of `TChain`, so the issue is the same as for:
https://sft.its.cern.ch/jira/browse/ROOT-11025
http

[2020-10-01 08:21] vepadulano opened #6523 "TBufferMerger cannot handle TTree spanning over multiple files"
## Describe the bug

This is a continuation of a jira issue originally found in multithreaded RDF [ROOT-10896](https://sft.its.cern.ch/jira/browse/ROOT-10896).

If a TTree spans over multiple files (i.e. when its size is higher than `fgMaxTreeSize`) TBufferMerger cannot correctly save its contents to the (multiple) TBufferMergerFile(s) in its queue. This is due to the original TFile being deleted

[2020-10-01 09:51] eguiraud commented on #6439
Another reproducer:

[code]

[2020-10-01 10:24] vepadulano opened #6527 "Double delete error with TTree::ChangeFile and a TFile on the stack"
## Describe the bug

TTree::ChangeFile deletes the old TFile of the tree when changing it to point to a new one. If the TFile was originally created on the stack this leads to a double delete. Using TFile::Open fixes this behaviour

## Expected behavior

TTree::ChangeFile should not rely on the original TFile to be on the heap.

## To Reproduce

See the following gist:
https://gist.github.com/vepa

[2020-10-01 10:28] eguiraud commented on #6527
The unconditional deletion of the file happens at TTree.cxx:2792:

https://github.com/root-project/root/blob/13d3f34ecbfaedaf6277058fdbde92a71842e494/tree/tree/src/TTree.cxx#L2788-L2797

[2020-10-01 10:35] jalopezg-uc3m commented on #6439
Thanks @eguiraud, I will take a look at this thing soon.  Actually, I think these are two different problems, but we'll see...

[2020-10-01 11:58] #6408 closed

[2020-10-01 13:10] #6393 closed

[2020-10-01 13:19] cburgard opened #6529 "segfault in RooWorkspace::import"
When creating an object in a RooWorkspace and making a deepcopy (via `cloneTree`), one would expect that this can be imported into another RooWorkspace. However, that only works if the original workspace is still in-memory and has not been deleted yet, which seems to be a bug (given that `cloneTree` is supposed to give a copy completely independent of the original workspace).
The issue is that the

[2020-10-01 14:23] chrisburr commented on #6467
There definitely shouldn't be anything weird about the conda build. I'll try looking closer and get back to you.

[2020-10-01 15:08] chrisburr commented on #6467
This is all that changed in the conda-recipe as part of updating to 6.22.0:

https://github.com/conda-forge/root-feedstock/pull/89/files

There doesn't seem to be anything suspicious

[2020-10-01 15:28] Allen319 commented on #6467
Thank you both for the check.
Indeed, if you are quite certain with update changes of conda, maybe it has nothing to do with conda environment.
For me, It works with root 6.18/04 built from source code.
So it's probably a version-related issue and not a conda one.

[2020-10-01 16:09] etejedor commented on #6467
I believe it depends indeed on the Python version. I am able to reproduce the inheritance error (`KeyError: 'fProofChain'`) with Python2.7 and 3.6.8, but not with 3.8.2.

[2020-10-01 21:31] britzger opened #6535 "TDataMember::SetterMethod()"
The analysis software of the H1 Experiment at DESY (you may know it from the tutorial 'h1analysis.C') makes use of `TClass` `RTTI` for parameter setting. With newer releases (probably since root 5.xx?) we get a `NULL` pointer when calling `TDataMember::SetterMethod()`, whereas `TDataMember::GetterMethod()` works well.
When looking at the source code, there is a fall-back option to guess the `Metho

[2020-10-02 08:21] chrisburr commented on #6467
I've just had a look with creating environments and indeed, different Python versions behave very differently and the segfaults go away if I use `python` instead of `ipython`.

### Examples

Each was created with:

[code]

### Python 2.7

[code]

### Python 3.6

[code]

### Python 3.7

[code]

### Python 3.8

[code]

[2020-10-02 08:52] etejedor commented on #6468
Thank you for the report @cozzyd , I'll see how I can fix the `SetBranchAddress` pythonization.

Another option you have is not to use `SetBranchAddress`, but just iterate on the tree and access the branch as an attribute like this:
[code]

[2020-10-02 09:03] etejedor commented on #6467
Thanks @chrisburr , these are all with 6.22/02, right? In master there are a few fixes for the inheritance, so I would try with it instead.

From the tests I have done so far (master):
- Python <= 3.6 : error when defining the derived Python class (`KeyError: 'fProofChain'`)
- Python >= 3.7 : error during the construction of the derived class object (`no constructor available for 'TChain'`)

I did

[2020-10-02 09:19] #6447 closed

[2020-10-02 09:34] chrisburr commented on #6467
Python 3 was 6.22.2, Python 2.7 used 6.22.0. (Python 2.7 isn't supported in conda-forge any more and I rarely make the effort to rebuild the py2k branch.)

I've stopped looking now as I think you're in a much better position than me to make sense of what the issue is but ping me if I can be useful.

[2020-10-02 09:37] #6527 closed

[2020-10-02 09:39] etejedor commented on #6467
Yes thanks, I'll report when I have news.

[2020-10-02 13:19] cozzyd opened #6539 "root.cern marked as "unsafe" by Google"
Currently, when I visited any page hosted at root.cern  (but not root.cern.ch...) I get a big scary warning (on Firefox) which directs me to https://transparencyreport.google.com/safe-browsing/search?url=http:%2F%2Froot.cern%2F

![image](https://user-images.githubusercontent.com/9206569/94927540-0b810400-0488-11eb-995d-0eb9ac4e9faf.png)

This started this morning. I assume this will eventually be

[2020-10-02 13:42] cozzyd commented on #6539
Oops, I see that there is another repository for the web site. I think an admin can transfer to there, or otherwise I'll close and reopen.

[2020-10-02 13:48] couet commented on #6539
yes, better close and reopen

[2020-10-02 13:50] #6539 closed

[2020-10-02 14:17] andriish opened #6540 "Crash message should point to github"
## Explain what you would like to see improved
The current crash message of root applications contains
[code]

## Optional: share how it could be improved
The message could be updated to point the users to https://github.com/root-project/root

## To Reproduce
Crash root in any way.

## Setup
Any

[2020-10-02 14:25] couet commented on #6540
Good point. We can also make sure http://root.cern.ch/bugs goes to the GitHub issues.

[2020-10-02 14:54] couet commented on #6540
@Axel-Naumann It looks like http://root.cern.ch/bugs is an alias pointing to Jira. I am not sure where such aliases are defined. Is it possible to make it point to the ROOT Github Issues instead ?

Also I guess we should change "http" to "https" in that message (I can do it if you agree)

[2020-10-02 15:10] Axel-Naumann commented on #6540
http://root.cern.ch/bugs is now fixed. Yes please change to https.

[2020-10-02 15:22] couet commented on #6540
done: https://github.com/root-project/root/pull/6541
Can you approve ?

[2020-10-02 15:30] Axel-Naumann commented on #6540
So then this is fixed? If so, @couet please close the issue once #6541 is merged.

[2020-10-02 15:32] couet commented on #6540
yes it is fixed. I just merged.

[2020-10-02 15:32] #6540 closed

[2020-10-02 16:30] andriish commented on #6510
Hi @lmoneta ,

thanks for setting a high priority.
Will try to provide more info. In the best case maybe even a standalone reproducer.

Sorry for some silence

Andrii

[2020-10-02 17:36] andriish commented on #6510
Hi @couet , @lmoneta , @pcanal ,

here is a reproducer.
[code]
I do

[code]
and get
[code]
if I comment line with ``p->ShowGuidelines`` everything is fine.

ROOT 6.22.02/gcc 4.8.5/CentOS7 x64_64.

Best regards,

Andrii

Sorry if there are more crashes.

[2020-10-05 10:35] stwunsch commented on #6360
@couet Since yesterday the images are there again. Have you found the issue?

[2020-10-05 11:18] ktf commented on #6520
Also I am confused about the fact that `TBranch::GetEntriesSerialized` will simply ignore destructive DeserializeType as well.

[code]

so my question remains: how can I bulk read a bunch of `int`s?

[2020-10-05 12:12] ktf commented on #6520
To be clear:

[code]

does not work:

[code]

However if I change `f` to be an `int` or a `float`, it does.

[2020-10-05 12:31] VanyaBelyaev opened #6552 "PyROOT (de)serialization using pickle (or dill) fails without pre-import of ROOT for new PyROOT"
[ ] Checked for duplicates

## Describe the bug

*New PyROOT* fails to (de)serialize the ROOT   objects  using `pickle`  (or  `dill`) if  `ROOT` module is not pre-imported.
If one pre-imports `ROOT` module, deserialization is successful, otherwise it results in  the segmentation fauilt.
It is definitely related to  *new PyROOT* - with  *old PyROOT*, deserialization is successfull both with `pickle

[2020-10-05 13:06] lmoneta opened #6553 "[TMVA] Provide support in MethodPyKeras for tensorflow.keras"
Currently in ROOT version 6.22  >Tensorflow is supported but with a standalone keras (with Keras version >= 2.3)

The keras shipped with tensorflow (tf.keras) is instead not supported.
It is now needed since LCG software distributions (from LCG 98) have Keras 2.2 which is not compatible

[2020-10-05 13:40] Axel-Naumann commented on #6393
I either don't understand that statement or it's FUD, see e.g. master's nightlies https://lcgapp-services.cern.ch/root-jenkins/job/root-nightly-master/2653/
![Screenshot from 2020-10-05 15-38-53](https://user-images.githubusercontent.com/144675/95086565-ed820080-0720-11eb-8c3c-612725618361.png)

[2020-10-05 14:26] couet commented on #6500
@JohannesHentrich can you have a look at that one ?

[2020-10-05 14:40] wlav commented on #6393
FUD? The new way of finding python in 6.20 required python-dev, breaking conda builds. The introduction of modules, not disabled by minimal, broke mac-debug and Windows builds. In the core libraries, new code appeared that casted pointer types to long, causing more Win64 breakage. Not that ROOT runs on Win64 at all and requires the exact same compiler on the user's end on Win32. Users can also not

[2020-10-05 14:54] ktf commented on #6520
BTW, with the patch above I managed to get short, int, float, uint64_t to work, while "char" still fails...

[2020-10-05 15:18] andriish commented on #6510
Hi @couet ,

Yes. The event display.

The whole set of pull requests and bug reports I did over the last month is about it.

Best regards,

Andrii

[2020-10-05 15:45] couet commented on #6510
_The whole set of pull requests and bug reports I did over the last month is about it._

Do youyou have a specific PR for that one ?

[2020-10-05 16:04] AndyLHCb opened #6556 "gGeoManager doesn't find overlaps correctly"
Dear ROOT experts,

When using [DD4hep](https://dd4hep.web.cern.ch/dd4hep/) to try and describe the geometry of the upgraded LHCb detector geometry, we've noticed overlapping geometry that's not picked up by running `gGeoManager::CheckOverlaps`. The geometry is attached as ROOT files (Geometry.root and Geometry_ClampInModule.root).

To view the geometry we run in a ROOT session (or as a macro)
[co

[2020-10-05 16:06] andriish commented on #6510
Hi @couet ,

6373
I mean zevis, the codebase from https://github.com/root-project/root/issues/6344

So no, it looks it is more efficient to split all the issues into independent PRs.
There were many small issues occurring here and there and many are already closed  (Thank you!).
There are couple that still remain.  Of course if I see some other 'easy' issues I report them, but honestly to say I'm

[2020-10-05 20:13] hageboeck opened #6557 "Ideas for RooFit"
- [ ] Implement batch eval for Chi2 test stat

[2020-10-06 04:14] cozzyd commented on #6468
Thanks @etejedor . It also looks like once I GetEntry once, I can access t.event (which lets me do random access easily enough by getting the Entry I want). Either way, it would be good to fix this for the benefit of keeping old code working.

[2020-10-06 07:17] Axel-Naumann commented on #6366
OK closing - let me know if there's something we can do on our side.

[2020-10-06 07:17] #6366 closed

[2020-10-06 07:58] etejedor commented on #6467
The second kind of error (`no constructor available for 'TChain'`) happens when invoking the constructor of TChain from `__init__`, in particular an overload with default arguments. The issue is that a match does not happen with the `(const char *name, const char *title="")` overload when just providing `name`. This needs to be fixed.

@Allen319 , as a temporary workaround in case you need it, you

[2020-10-06 12:11] eguiraud opened #6563 "Test failures on MacOS with Xcode 12"
We have failures in our nightly builds for some MacOS builds, for example [here](https://lcgapp-services.cern.ch/root-jenkins/view/ROOT%20Nightly/job/root-nightly-v6-22-00-patches/LABEL=mac1015,SPEC=noimt,V=6-22/lastCompletedBuild/testReport/) (v6.22, mac10.15).

The issue seems to be caused by multiple python versions installed (e.g. system python3 and python3 coming with Xcode 12): it seems that

[2020-10-06 12:17] vepadulano commented on #6523
**Update: see the [gist](fc09150516193f1a801e0991591958ee) for some comments from Philippe.**

[2020-10-06 13:10] vepadulano commented on #6523
One way to go about this would be to mimic the suggested usage of the TFile the TTree is attached to as per the `TTree::ChangeFile` [docs](https://root.cern/doc/master/classTTree.html#a4680b0dfd17292acc29ba9a8f33788a3) in TBufferMerger.

One of the main limitations I see is that TBufferMerger is [hardwired](https://github.com/root-project/root/blob/9822d0e2733cf802d8b2c3c7b6bc134296a171b8/io/io/sr

[2020-10-06 13:11] stwunsch opened #6565 "RVec docs do not show DOI banner"
If you go to https://root.cern/doc/master/classROOT_1_1VecOps_1_1RVec.html, you'll see that the DOI banner is not shown. I'll attach a screenshot below.
![Screenshot from 2020-10-06 15-09-59](https://user-images.githubusercontent.com/6951222/95205799-2c2dbe80-07e6-11eb-9144-e7765d3f5963.png)

[2020-10-06 13:44] amadio commented on #6523
Since merging implies the intention of creating a single file at the end, I recommend disabling the mechanism to change files by setting the max `TTree` size to the maximum possible size. This mechanism cannot be controlled from within `TBufferMerger` since it doesn't have access to the objects that are being merged, so I think that it will be difficult to find a solution that doesn't involve chan

[2020-10-06 13:50] amadio commented on #6523
A better option for disabling the mechanism that I just considered with @vepadulano is to change `TTree::ChangeFile` to be a noop if the file it's attached to is a `TBufferMergerFile`. That has the advantage that if users try to use `TTree` with `TBufferMerger` by hand (i.e. outside of `RDataFrame`), then it would work for them too.

[2020-10-06 13:59] Axel-Naumann opened #6566 "TListOf{Functions,DataMembers}::fIds might need thread protection"
E.g. https://github.com/root-project/root/commit/b1d5b97b7ba5435b8af3994820daebb3e4178e75 improves the situation a bit, but in the end we're still left with many unprotected (threading-wise) accesses to both `fIds` *and* its content, i.e. addition / removal of elements might happen asynchronously. There are usages in the wild of direct access to `fIds`, e.g. https://github.com/root-project/root/bl

[2020-10-06 14:41] agheata commented on #6556
Looking into that. This kind of overlap where all the vertices of one shape are outside (or worse on the surface) of the other can be missed, because TGeo does not generate points on the surface of the solids (as the Geant4 checker). Some overlaps like this can be detected if increasing the number of points generated on the segments connecting adjacent vertices, using:
`gGeoManager->SetNmeshPoints

[2020-10-06 14:51] stwunsch opened #6569 "Build option exceptions is broken"
The option can be found here: https://github.com/root-project/root/blob/master/cmake/modules/RootBuildOptions.cmake#L120

[2020-10-06 17:34] #6448 closed

[2020-10-06 21:34] #6416 closed

[2020-10-06 21:34] #6417 closed

[2020-10-07 10:11] stwunsch opened #6574 "ROOT defaults for CMAKE_C[XX]_FLAGS_${BUILD_TYPE} are not picked up"
We set our own defaults for `CMAKE_CXX_FLAGS_${BUILD_TYPE}$ here: https://github.com/root-project/root/blob/master/cmake/modules/SetUpLinux.cmake#L97

Because cmake sets it own defaults for that variable (initialized by `project(ROOT)`) in the cache and without using `set(... FORCE)` our own settings are not picked up.

This is especially important because we would like to have `RelWithDebInfo` bu

[2020-10-07 10:31] eguiraud opened #6575 "The new -Dasserts=ON flag breaks standalone roottest"
### Describe the bug

Our nightly conda builds are affected.

An example of the broken tests is [here](https://lcgapp-services.cern.ch/root-jenkins/view/conda/job/conda-nightlies/183/testReport/junit/projectroot.cling/array/roottest_cling_array_runarray1/). The relevant part of the output:

[code]

### To Reproduce

To reproduce it's sufficient to compile ROOT with `-DCMAKE_BUILD_TYPE=Release -Dro

[2020-10-07 10:39] stwunsch commented on #6575
I think that the issue comes from the fact that we do not pick up our own defaults for `CMAKE_CXX_FLAGS_${BUILD_TYPE}$ (see the issue https://github.com/root-project/root/issues/6574) and then `asserts=OFF` adds another `NDEBUG`. Then we have two `-DNDEBUG` ending up in the sum of all compiler flags.

[2020-10-07 10:46] stwunsch commented on #6575
Here some example (including the PR https://github.com/root-project/root/pull/6572 which prints the actual compiler flags):

[code]

[2020-10-07 11:02] stwunsch commented on #6574
The linked PR fixes the issue by forcing the ROOT defaults. Be aware that this means that users cannot set their own `CMAKE_CXX_FLAGS_${BUILD_TYPE}` anymore.

[2020-10-07 13:04] xvallspl commented on #6472
I will address this in https://github.com/root-project/root/pull/6327 for all the executors

[2020-10-07 13:13] stwunsch opened #6577 "Use CMAKE_CXX_FLAGS_${BUILD_TYPE}_INIT to overwrite cmake defaults"
The current setup of the defaults for `CMAKE_CXX_FLAGS_${BUILD_TYPE}` are not picked up (also see https://github.com/root-project/root/issues/6574). To change the defaults for ROOT **and** allowing users to set their own `CMAKE_CXX_FLAGS_${BUILD_TYPE}` flags, the definition of the ROOT specific defaults have to move before we invoke `project(ROOT)`.

Geant4 has a proper implementation of such a me

[2020-10-07 14:30] #6574 closed

[2020-10-07 14:33] etejedor opened #6578 "Using declaration of TGMainFrame constructor not taken into account"
### Describe the bug

In Python, when a class inherits from `TGMainFrame`, there is an error when trying to invoke the `TGMainFrame (const TGWindow *p=0, UInt_t w=1, UInt_t h=1, UInt_t options=kVerticalFrame)` constructor from the `__init__` method of the derived class:

[code]

This prints:

[code]

### Expected behavior

It should be possible to invoke the `TGMainFrame` constructor.

### To Repr

[2020-10-07 14:46] stwunsch commented on #6575
Let's keep this open until we have the confirmation from the CI that the issue is fixed.

[2020-10-07 14:47] op3 opened #6579 "PyROOT: AttributeError: Failed to get attribute TPyDispatcher from ROOT"
- [x] Checked for duplicates

### Describe the bug
When I try to access `ROOT.TPyDispatcher` from PyROOT (for example, using tutorials/pyroot/gui_ex.py), the following error occurs:

[code]

I also cannot find `TPyDispatcher.h` on my system, which PyROOT tries to [include here](https://github.com/root-project/root/blob/master/bindings/pyroot/pythonizations/python/ROOT/_facade.py#L292)

### Expecte

[2020-10-07 14:49] eguiraud commented on #6575
Running [here](https://lcgapp-services.cern.ch/root-jenkins/view/conda/job/conda-nightlies/184/)

[2020-10-07 15:17] #6529 closed

[2020-10-08 09:12] etejedor commented on #6579
Thank you for the report, the installation of the header was missing, I made a PR to fix it.

[2020-10-08 09:21] etejedor commented on #6579
Fix also backport to 6.22 patches here: https://github.com/root-project/root/pull/6589

[2020-10-08 09:22] agheata commented on #6556
The problem is that both shapes are composite, and TGeoCompositeShape does not currently support generating mesh points on segments. If you were to replace the pvPipeBottom with a simple tube the overlap would probably be detected, but of course you cannot do that. So you are hitting the boolean-boolean combination which is worst supported unfortunately by the geometry checker and can miss overlap

[2020-10-08 12:14] #6579 closed

[2020-10-08 17:48] wiso opened #6592 "ROOT blocks matplotlib"
In a python interactive shell

    import ROOT
    from matplotlib import pyplot as plt
    fig, ax = plt.subplots()

this freeze my program. If I don't import ROOT it works.

fedora 32
matplotlib 3.2.2
ROOT 6.22/02

[2020-10-09 02:14] janTOffermann opened #6593 "Cannot set TPaveText text color to white"
Hi ROOTers!

### Description
When setting text color in TPaveText (via TAttText::SetTextColor()), text that is set to white displays as black.

### To Reproduce
I produced this unexpected behavior by running the PyROOT code below (Python3). I was _also_ able to reproduce the error by running the equivalent C++ code in the ROOT interactive prompt.
[code]

### Output
[Here is what I see as output fr

[2020-10-09 06:44] stwunsch commented on #6575
Fixed!

[2020-10-09 06:44] #6575 closed

[2020-10-09 07:02] #6553 closed

[2020-10-09 07:21] etejedor commented on #6592
I believe this might be a duplicate of:

https://sft.its.cern.ch/jira/browse/ROOT-7909

Do you observe this interference on MacOS? If I understand correctly, it is the third line of code that freezes?

[2020-10-09 08:11] wiso commented on #6592
yes, it is the last line that freezes. By the way this is not very reproducible. I am on fedora 32

[2020-10-09 09:06] couet commented on #6593
Color index 0 (kWhite) has a special status. 0 means "default", and you fall back to black.
One way is:
[code]

[2020-10-09 10:39] stwunsch commented on #6592
@wiso Could you try the following?

[code]

There seems to be an inference of the hooks installed by ROOT and matplotlib to show the graphics.

[2020-10-09 12:22] stwunsch opened #6597 "pytest shipped in roottest is not compatible with py3.9"
[code]

All tests have the following issue:

[code]

That means our pytest in roottest is not compatible with py3.9. We can either hotfix our own pytest distribution or remove the inbuilt module and use official versions.

[2020-10-09 13:54] andriish commented on #6446
The reproducer now works.
But
[code]
in the interpreter still crashes.

[2020-10-09 13:55] andriish commented on #6510
Hi @couet,

the reproducer from this thread now hangs. Better than a crash, but still bad.

Anrii

[2020-10-09 13:58] #6467 closed

[2020-10-09 14:27] couet commented on #6446
If I add protection against gPAd in TLine.cxx, then It is fine. The same will need to be done for TBox TPave etc ....

[2020-10-09 14:30] stwunsch commented on #6597
A possible fix is https://github.com/root-project/roottest/pull/610, which simply removes the inbuilt pytest and requires an external version.

[2020-10-09 14:38] andriish commented on #6446
Hi @couet,

I'm doing it now.  But being a bit concentrated on zevis I'm doing it first for the classes used in zevis.
Please see:  #6599

Best regards,
Andrii

P.S. I've wrote a test suite for zevis that should reproduce some issues I see when running zevis. And in the nightbuild today I see only 2 failed tests vs. 5 couple days earlier. Thanks a lot!

[2020-10-09 16:07] janTOffermann commented on #6593
Thank you for the quick response, @couet, your example code helps!
However, is this peculiarity mentioned in the ROOT documentation? This behavior was not so clear to me from the [TAttText documentation](https://root.cern.ch/doc/master/classTAttText.html), and it looks like setting the text color to white in my naïve way does work in some other contexts, e.g.:
[code]

[2020-10-11 09:28] jblomer opened #6607 "TClassEdit::GetNormalizedName does not strip std::allocator on Windows"
### Describe the bug
The type name normalization `TClassEdit::GetNormalizedName` does not strip the allocator off STL classes on Windows. On Linux, it works.

### Expected behavior
On both, Windows and Linux the following should be true

[code]

Note that even on Windows the allocator _is_ stripped for `std::vector<float, std::allocator<float>>` (i.e. without prefixing `std::allocator` by `class`)

[2020-10-11 09:45] kllp opened #6608 "[JupyROOT] ROOT C++ Kernel only working as superuser"
- [x ] Checked for duplicates

### Describe the bug

`sudo root --notebook --log-level 10 --allow-root` works
`root --notebook --log-level 10` does not, jupyter is trying to reconnect to the kernel every few seconds.
There is no helpful debug output.

For debugging I put some print statements around that line but that doesn't help much:
`/usr/lib/python3.8/site-packages/JupyROOT/kernel/rootkernel.

[2020-10-12 09:36] eguiraud opened #6611 "Writing an RVec to a TTree via TBufferMerger omits its streamer infos"
### Describe the bug

First reported [on the forum](https://root-forum.cern.ch/t/missing-tstreamerinfo-for-branches-of-rvec/41805).
`RDataFrame` creates `TTree` branches containing `RVecs` as `tree.Branch("rvec", &rvec.AsVector())`.
When writing to a classic `TFile`, the output file contains streamer infos related to RVecs such as `vector<float,ROOT::Detail::VecOps::RAdoptAllocator<float> >`. When

[2020-10-12 12:13] eguiraud opened #6616 "hadd writes files with unspecified compression algorithm"
### Describe the bug

The following sequence of commands shows how an output file f2.root produced via hadd has compression settings equal to 1, i.e. compression level is 1 but the compressoin algorithm is 0, which corresponds to RCompressionSetting::EAlgorithm::kUseGlobal. Unfortunately kUseGlobal does not correspond to a specific compression algorithm but it refers to the "compression setting fo

[2020-10-12 12:58] L0ric0 opened #6617 "Add posibility to build only the Math libraries"
I would like to have a posibility to build only the math libraries or that they are split out from the main project, as we don't want to use root as an application but are writing simulations in c++ and would not like to build our own math lib.

At the moment it is possible to build the math libs one by one but the c++ interpreter is build as a dependency of them (also some dependency that uses op

[2020-10-12 14:28] couet commented on #6593
This peculiarity is mentioned here: https://root.cern/doc/master/classTColor.html#C02

[2020-10-12 14:28] #6593 closed

[2020-10-12 14:32] couet commented on #6565
I do not see this problem. The banner is visible for me:
<img width="912" alt="Screenshot 2020-10-12 at 16 31 25" src="https://user-images.githubusercontent.com/4697738/95758205-6e547580-0ca8-11eb-837e-6cba235cea34.png">

[2020-10-12 15:20] etejedor commented on #6467
Fix backported to 6.22 here: https://github.com/root-project/root/pull/6598

[2020-10-12 15:22] etejedor commented on #6376
Fix backported to 6.22 here: https://github.com/root-project/root/pull/6450

[2020-10-12 15:24] etejedor commented on #6356
Backport for 6.22 here: https://github.com/root-project/roottest/pull/603

[2020-10-12 15:33] #6482 closed

[2020-10-12 15:37] Axel-Naumann commented on #6393
Your latest comment contains technical criticism that I find indeed relevant, thanks! (I still don't understand "a single version of Scientific Linux".)

FYI we're using the system's default compiler, not sure how that's "carefully selected". That does not address your point on ROOT being too compiler-version specific. As you probably know we're working on that (slowly...) - but we don't believe t

[2020-10-12 15:40] Axel-Naumann commented on #6563
That's https://gitlab.kitware.com/cmake/cmake/-/issues/21293

[2020-10-12 18:15] wlav commented on #6393
Shipping PCMs is just another problem. For example, on Windows, MSVC likes to change header guards, so unless you use the _exact_ same compiler as ROOT was built with, you'll get a crash because of redefinitions. There are a couple of similar issues on Linux, which you "fix" by shipping Linux system headers (wchar.h, stat.h, time.h). But woe onto the poor bugger that has such headers significantly

[2020-10-13 08:26] alexrollings opened #6624 "TRandom: signature mismatch between getter and setter"
In order to test the stability of a model in RooFit, I need to generate independent pseudo-datasets and fit the model back to them. I use the TRandom class to make sure that the system starts in a different state each time in the following way:

RooRandom::randomGenerator()->SetSeed(0);

I need to be able to reproduce these fits, so I save the seed associated with each pseudo-dataset:

UInt_t my_s

[2020-10-13 08:37] marcescalier opened #6625 "tiny mistake in web documentation for RooCategory"
Hello,

there is a tiny mistake in the documentation of RooCategory :
consider
https://root.cern.ch/doc/master/classRooCategory.html

It is said that for the method defineType, the input is a *string*.
Actually, this is a char *.
You may just correct the web page.

Thank you.

Proof :
1) I had to move to char * in order to be able to compile
2) we see that directly in line command

root [0] RooCat

[2020-10-13 10:04] hageboeck commented on #6624
A valid point. The problem is not in RooFit, since RooFit directly uses the TRandom interface.

@lmoneta, do you think this can be fixed?

[2020-10-13 10:16] lmoneta commented on #6624
Hi,
This is a known problem since when you use TRandom3, you need to retrieve the full state of ~600 values.
The solution is to save the Random generator instance (TRandom3) and use that one in a file to reproduce your fits

Lorenzo

[2020-10-13 13:17] #6578 closed

[2020-10-13 18:33] Axel-Naumann commented on #6563
Fix merged into CMake, waiting for release of 3.19.

[2020-10-14 08:41] Axel-Naumann commented on #6432
I'm aware of this. This is mostly caused by dictionary dependencies. I have a prototype that fixes this; I need to invest some dev time to get this into PR quality. I.e. thanks for the the report, problem acknowledged!

[2020-10-14 08:52] couet commented on #6565
Can I close ? this issues seems to be irrelevant now.

[2020-10-14 08:53] Axel-Naumann commented on #6454
How critical is this? I'd prefer to see whether the ongoing llvm upgrade to llvm9 fixes this. (And yes, I can reproduce something similar even with bare ROOT)

[2020-10-14 10:01] krasznaa commented on #6454
It makes the ATLAS "analysis releases" (partly) non-functional on macOS. :frowning: I came across this when running our unit test suite using Xcode 12.0.

Since macOS is only used for analysis code development by some people in ATLAS, and nobody uses the analysis releases "in production" on that platform, this is not the most burning issue ever. It is however definitely something that would be nic

[2020-10-14 11:19] Axel-Naumann commented on #6454
Sure thing; will get fixed. Though it might be even more productive to change `boost::shared_ptr` to `std::shared_ptr` ;-) But I will revisit this once llvm9 is in.

[2020-10-14 11:59] Axel-Naumann opened #6635 "CMake ExternalProject: add `TIMEOUT`"
### Explain what you would like to see improved
We had CI builds stuck in downloading dependencies, e.g. VecCore. That should timeout.

### Optional: share how it could be improved
Add the `TIMEOUT` parameter to all `ExternalProject` calls downloading sources.

[2020-10-14 14:37] couet commented on #6625
I do not understand this point. The definType description is directly taken from the C++ code by doxygen
So it take a std::string ... Where exactly do you think the description is wrong ? for example I do not find wrong example ...

[2020-10-14 14:38] #6565 closed

[2020-10-14 14:45] etejedor opened #6637 "[PyROOT] Infinite recursion in cross inheritance when invoking method of base class"
### Describe the bug

Reported in:
https://root-forum.cern.ch/t/updated-pyroot-in-current-master-6-23-01

The following is a standalone reproducer. When running the code below:

[code]

it goes in infinite recursion when invoking `a.MyMethod()`, in particular in `super(MyPyClass, self).MyMethod()`, which calls again the `MyMethod` defined in Python.

### Expected behavior

That `super(MyPyClass, s

[2020-10-14 14:48] marcescalier commented on #6625
Please see a proof of what I say :

minimum program : minimal.C

#include <RooCategory.h>

int minimal()
{

RooCategory cat("cat","cat");

string mystring="category1";

cat.defineType("category1",1);

//next line is line 13
cat.defineType(mystring,1);

//next line is line 16
cat.defineType(mystring.c_str(),1);

return 0;
}

Then just do :
[escalier@cca002]~/public/ATLAS_HGam/HHyybb/InvestigationRo

[2020-10-14 15:02] couet commented on #6625
I do not get the same thing:

[code]

[2020-10-14 15:22] vepadulano opened #6640 "TFileMerger output file is deleted when TTree::ChangeFile is triggered by reaching a file size greater than TTree::GetMaxTreeSize"
- [x] Checked for duplicates

### Describe the bug

This issue is related to #6523 . When TFileMerger is merging multiple files into one output file, if the `TTree::ChangeFile` behaviour is triggered, the output file of the merger (`fOutputFile`) will be deleted, thus triggering a fatal error in `TFileMerger::RecursiveRemove`. This error came out after the patch provided by #6570 and shows that th

[2020-10-14 15:25] vepadulano commented on #6640
Two possible solutions that came after a discussion with @eguiraud:

* Calling `TTree::SetMaxTreeSize()` in `TFileMerger::PartialMerge` with a very large number and then setting it back to the old value right after. This seems unfeasible since `TTree.h` is not available in the IO library objects.
* Adding a new bit in TFile e.g. `kCanBeChanged` and test it in TTree::ChangeFile

[2020-10-14 15:53] andrey-popov opened #6641 "Misleading warning from TTreeReader::GetEntries"
In certain cases `TTreeReader::GetEntries` gives an inappropriate warning. Here is a minimal example:
[code]
Running this as `root -q -b -l test.C` in ROOT 6.20/04 or 6.22/02 gives the following warning:
[code]
I believe the code in the snippet is valid and hence the warning should not be printed. The warning disappears if the calls to `reader.GetTree` and `reader.GetEntries` are swapped or if ano

[2020-10-14 16:09] couet commented on #6625
I see, you are using 6.18. you should look at the 6.18 documentation:
https://root.cern.ch/doc/v618/classRooCategory.html ... there you will have the description corresponding to your root version.

[2020-10-14 16:09] edbird opened #6642 "THStack behaviour is not aligned with behaviour of other objects when drawing - TopMargin is non-zero"
Please see

https://root-forum.cern.ch/t/thstack-what-is-the-correct-way-to-set-the-y-axis-limits/41851/12

In short,

THStack appears to have a default non-zero value of "SetTopMargin"

whereas other objects have default value of zero. (TH2D for example)

[2020-10-14 16:10] couet commented on #6625
This is now clarified. It was a mismatch between the ROOT and the doc version.

[2020-10-14 16:16] couet commented on #6625
The documentation is correct but you should use the one corresponding to your ROOT version.
See at the opt of https://root.cern.ch/doc/master/classRooCategory.html you can change the ROOT version.
Choose 6.18 and you will get the right documentation corresponding to ROOT 6.18. Te ROOT reference guide has several occurrences : https://root.cern/reference/

[2020-10-14 17:02] marcescalier commented on #6625
Thank you. Sorry, I was not aware that there was a way to give a specific documentation for a specific version of root, and was not aware that the prototypes were changing. So everything is fine.  Sorry for my report. It could be closed.

[2020-10-14 21:06] vgvassilev opened #6644 "Printing values in if-stmt"
[code]

Whereas it should have printed:

[code]

[2020-10-15 07:38] kurbatov-lang opened #6645 "crash after installing root version v6-22-00 on suse Leap 15-2"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[bugs.txt](https://github.com/root-project/root/files/5383141/bugs.txt)

[2020-10-15 07:45] etejedor commented on #6645
Thank you for the report @kurbatov-lang ! Could you please provide a reproducer of how you get that crash?

[2020-10-15 08:24] kurbatov-lang commented on #6645
Thanks for quick reaction!

First, how I installed root - I followed
instructions on https://root.cern/install/,
originally fulfilling all required dependencies
for suse and up to the end. All went smoothly.
At the end I issued the command source ../root_install/bin/thisroot.sh
and strted root.  After invoking root
I entered the command new TBroser( it is shown in bug report)
and it crashed!
  Wai

[2020-10-15 09:30] etejedor commented on #6608
Thanks for the report, I did a quick test with master and I can't reproduce on an Ubuntu18, compiling ROOT from sources.

Can it be a permissions issue? E.g. the `kernel.json` of the ROOT kernel should be readable. Let's assume you compile from sources, you do `source bin/thisroot.sh` in the build directory and then run `root --notebook`. This should have created `$HOME/.rootnb/kernels/root/kernel

[2020-10-15 09:41] etejedor commented on #6470
Thank you for the complete report! I confirm I can reproduce with current master.

[2020-10-15 09:53] etejedor commented on #6552
Thank you for reporting this difference. The reason is that new PyROOT has split in a few libraries, when it used to be only one in the old PyROOT. In this case, the deserialization causes the loading and initialization of `libROOTPythonizations`, but `libcppyy` has not been loaded yet, leading to the crash you see. `import ROOT` makes sure everything is loaded and initialized by the time you dese

[2020-10-15 10:11] VanyaBelyaev commented on #6552
Hi Enric,
Thank you very much!
Indeed it is a kind of problem
I rely on pickling in my project   for two cases:

1. implicitely, where I use the `parallel python`/`multiprocess`/`multiprocessing`/`pathos` to split  the task into subtasks that can be executed in parallel in different processes or even on different nodes. Behind the scene such stuff relies on serialization/deserialization of objects

[2020-10-15 12:29] couet commented on #6645
I think you should build root using some kind of "built-in-png" ... I guess @oshadura might know.

[2020-10-15 12:34] couet commented on #6642
Completely different thing and normal behaviour as the zoom on the Y axis for TH1 is done using SetMinimum() and SetMaximum()

[2020-10-15 12:36] couet commented on #6642
@etejedor it is not a bug strictly speaking as @edbird is asking for a behavior change which sound reasonable. I am looking into it.

[2020-10-15 12:39] etejedor commented on #6637
This is a C++ reproducer of what's going on:

[code]

The macro above prints:
[code]

So I'm trying to invoke `MyCppClass::MyMethod()` on a `Dispatcher1` object, but what is invoked is `Dispatcher1::MyMethod()`. To be checked with @Axel-Naumann if the TCling code above should (and is intended to) do the equivalent of `d->MyCppClass::MyMethod()` or it should behave as `d->MyMethod()` (as it does ri

[2020-10-15 13:17] kurbatov-lang commented on #6645
How to use built-in-png?

Should I ask @oshadura ? If yes,
send me,please, his e-mail, or I may
use https://github.com/oshadura?
  Thanks

On 2020-10-15 15:29, Olivier Couet wrote:

[2020-10-15 13:36] oshadura commented on #6645
@kurbatov-lang  What are a CMake flags you used for building ROOT?

[2020-10-15 13:41] oshadura commented on #6645
@kurbatov-lang  I see `libpng warning: Application built with libpng-1.2.55 but running with 1.6.34` which means that you build ROOT with one libpng and trying to use it with different.  Can you please recheck it?

[2020-10-15 14:01] couet commented on #6642
Fixed by https://github.com/root-project/root/pull/6649

[2020-10-15 14:02] #6642 closed

[2020-10-15 15:11] couet commented on #6446
This one is fixed now.

[2020-10-15 15:11] #6446 closed

[2020-10-15 15:17] wiso commented on #6592
@etejedor yes, it is the last line
@stwunsch unfortunatly I can't reproduce my problem anymore... your code works

[2020-10-16 06:22] linev opened #6651 "Enable http/webgui/eve7 tutorials as tests"
Currently http/webgui/eve7 tutorials are vetoed  because of many reasons
But main reason - such tutorials designed so that `THttpServer` should runs forever
that user can test them in the web browsers.

This can be changed.
All tutorials used in ROOT testing started with arguments `root -b -l -q tutorial_name.C`
In tutorials itself one could detect that using something like:
[code]
Especially `-q`

[2020-10-16 07:30] kurbatov-lang commented on #6645
Recheck - what does it mean?
Thanks

On 2020-10-15 16:42, Oksana Shadura wrote:

[2020-10-16 07:33] kurbatov-lang commented on #6645
Exactry as it is recommended in build
instructions in https://root.cern/install/(for build
from source)!
  Thanks
On 2020-10-15 16:37, Oksana Shadura wrote:

[2020-10-16 07:53] oshadura commented on #6645
It looks like you have two different versions of libpng installed in your system (probably it could be libpng and libpng16 packages installed in the same time). Can you please post here the full output of ``` cmake ``` comand you were using? I need to see which libpng ROOT picks.

[2020-10-16 07:54] oshadura commented on #6645
I am looking for the next line in cmake output: ``` -- Found PNG: /usr/lib64/libpng.so (found version "1.6.34")  ```

[2020-10-16 08:11] kurbatov-lang commented on #6645
Dear Oksana!
My colleague(D.Cyrkov) solved this problem.
He is ready to give all the details. His e-mail -
cyrkov@jinr.ru.
  Best wishes,V.Kurbatov

On 2020-10-16 10:54, Oksana Shadura wrote:

[2020-10-16 08:20] #6645 closed

[2020-10-16 09:29] etejedor commented on #6608
The `cling::CIFactory` error you get it when opening the ROOT C++ kernel from Jupyter?

@stwunsch could you please try if you can reproduce this on arch?

[2020-10-16 09:34] etejedor commented on #6592
If @stwunsch suggestion works, it looks like the issue is a (known) interference between matplotlib and ROOT, since they both use inputhooks to implement their event loops for graphics. ROOT only uses the inputhook mechanism when in interactive mode. Do you observe a different behaviour of your initial code when you run it as a script or from the Python prompt?

In any case, if you want to use onl

[2020-10-16 10:16] kllp commented on #6608
@etejedor yes exactly, the first time it occurs is right after `root --notebook`

[2020-10-16 13:16] etejedor commented on #6552
Thank you for the clarification.

I had a closer look to this. The problem resides in that, during the deserialization, `libROOTPythonizations` is loaded, which in turn triggers the loading of `libcppyy`. Both libraries are extension modules. During the module initialization of `libROOTPythonizations`, it calls into `libcppyy`, but the latter has not been initialized yet (it has not been imported

[2020-10-16 13:33] etejedor commented on #6552
I made a PR with a possible solution: https://github.com/root-project/root/pull/6654 .

Could you please test it and let me know if it makes your use case work?

[2020-10-16 22:39] janTOffermann opened #6657 "DataLoader issues with jsMVA"
Hi ROOTers!

I've recently encountered some issues with using TMVA in JupyROOT ([here is an example notebook](https://nbviewer.jupyter.org/github/iml-wg/tmvatutorials/blob/master/TMVAinJupyter_FullTutorial.ipynb), I haven't found much documentation besides this).

I'm basically able to follow the structure of this example, but I run into issues when calling `TMVA.DataLoader.AddSignalTree()`.

Sinc

[2020-10-17 13:13] lmoneta opened #6658 "[hist] Problems in projection of TH2 and TH3 with axis that have labels"
As reported in https://root-forum.cern.ch/t/unexpected-additional-bins-appear-in-histogram-projection-when-using-bin-labels/41828/

projection of histogram with labels created additional bins.
This is due to scaling TH1::FindBin instead of TH1::FindFixBin and TH1::SetBinContent that internally extends also the axis if extendable.

Also as shown in test below, projection of TH2 and TH3 to Profille'

[2020-10-18 13:25] andriish commented on #6344
Hi @couet ,

I'm closing this issue as it has been split into smaller issues and many of these are already solved.

Best regards and many thanks,

Andrii

[2020-10-18 13:25] #6344 closed

[2020-10-18 13:37] andriish commented on #6430
Hi  @Axel-Naumann ,

I understand that this "feature" is quite time consuming to implement.

But this is actually crucial for Mac. While for the other platforms one can have a reproduciable or common build with debug information (e.g. using on Linux the root-debug packages from EPEL) for Mac it is not possible. Some packages on Mac could come from homebrew, others from system, macports or from els

[2020-10-19 09:36] stwunsch commented on #6608
Hi @kllp,

I'm also running Arch, let me share with you my setup using conda:

[code]

Unfortunately, I cannot reproduce your issues. Could you retry with the setup lined out above (see [here](https://root.cern/install/#conda) for more information)?

Best
Stefan

[2020-10-19 13:14] couet commented on #6375
now fixed

[2020-10-19 13:14] #6375 closed

[2020-10-19 14:04] couet commented on #6373
I do not see any problem on Mac either. Can we close it ?

[2020-10-19 14:12] andriish commented on #6373
Hi @couet ,

so far  I see a crash. And it is really a funny problem.
Basically I was able to trace the crash to

TColor::RGB2HLS

So this code

[code]
produces FPE on Mac+ ROOT 6.22

The problem is that TColor::RGB2HLS  is a static function and when I try to take it of and compile standalone, everything works.
Have no idea what is happening.
My very wild speculation is that the build setup of the

[2020-10-19 15:14] couet commented on #6373
[code]
is fine for me on Mac with 6.23

[2020-10-19 15:19] andriish commented on #6373
Hi @couet ,

but is there somewhere 6.23 build or you've compiled 6.23 by yourself?

In the later case, if everything was compiled with the same compiler, very likely there even the existing problem will not show up.

Best regards,

Andrii

[2020-10-19 15:29] andriish commented on #6373
Hi @couet ,

I still see this issue in 6.22.99 from the night builds.

Best regards,

Andrii

[2020-10-19 18:05] kllp commented on #6608
@stwunsch thanks for tuning in. I installed a clean miniconda3 and ran your commands.
I get the same result like before. It only works with `sudo`.
`Python 3` or `xeus-cling c++17` kernels work but `ROOT C++` does not. No useful debug output. `Kernel starting, please wait...` shows forever.
`Timeout waiting for kernel_info reply`
And I can't evaluate cells. Could be a hard to find permission issue

[2020-10-19 18:05] #6608 closed

[2020-10-19 21:16] pcanal opened #6666 "TClass::GetListOfDataMembers returns an empty list even-though the information is available."
- [x] Checked for duplicates

### Describe the bug

As reported at https://github.com/cms-sw/cmsdist/pull/6314#issuecomment-708839758
we now are getting error:
[code]
due to some inconsistencies.

### Expected behavior
No error.

### To Reproduce
[code]

### Setup
"the changes we are testing are root-project/root@d6156de...e4cd9d3 "

### Additional context

[2020-10-19 21:22] pcanal commented on #6666
This is due to the introduction (in commit f3f0f138797) of a fast path in `TClass::GetListOfDataMember` which did not take in consideration the case:
[code]
The logic assumed incorrectly that if `someclassname` was indeed pointing to a class or struct and the list was created then it was loaded.

[2020-10-19 23:29] britzger opened #6670 "segfault in TClass::InheritsFrom() depending on linking order"
In our analysis package we obtain a segfault without traceback when calling InheritsFrom() on an object derived from a TObject. The awkward issue is dependent on the ordering of the objects and dictionaries in the shared library.
Note: important is the fact, that another class has a static member of that TClass(). The compiled object of the other class can then not be linked before the Dictionary-

[2020-10-20 07:30] etejedor commented on #6552
I don't see the segmentation fault in your reproducer anymore if I apply the fix of the aforementioned PR. I am merging. Please let me know if you have any further problem.

[2020-10-20 07:32] #6552 closed

[2020-10-20 07:38] VanyaBelyaev commented on #6552
Hi Enric,
Thank you very much.
How can I test the fix?
I still see seg.fault for `source /cvmfs/sft.cern.ch/lcg/views/dev3/latest/x86_64-centos7-gcc9-opt/setup.sh`

[2020-10-20 07:40] etejedor commented on #6552
I just merged it, so you should be able to test it in dev3 tomorrow.

[2020-10-20 07:45] VanyaBelyaev commented on #6552
Excellent! Thank you very much!

[2020-10-20 07:50] couet commented on #6373
I will check (again)

[2020-10-20 08:02] couet commented on #6373
Yes of course I build ROOT myself and all is done with the same compiler... I think this issue is very hard to reproduce.
I am willing to debug. The TColor::RGB2HLS might be a possible explanation but I have no idea when you take it off and compile it it works ...

[2020-10-20 08:28] couet commented on #6373
Ok, I took root from here https://root.cern/releases/release-62202/ and see a crash

[2020-10-20 08:47] stwunsch opened #6671 "TH1F bin content saturation"
See for comparison the screenshot below.

The upper plot was done with `TTree.Draw`:

[code]

The lower plot was done with `RDataFrame.Histo1D`:

[code]

![Screenshot from 2020-10-20 10-38-16](https://user-images.githubusercontent.com/6951222/96562487-1974b880-12c1-11eb-9bc5-1006c78031e5.png)

I've used ROOT 6.22/02 and you can download the file here:

http://opendata.web.cern.ch/record/12353

[2020-10-20 08:53] bellenot commented on #6671
@stwunsch which one is correct?

[2020-10-20 09:07] stwunsch commented on #6671
Good question! I guess the lower one, also checked by counting only the respective entries in the `GenPart_pdgId` vector.

[2020-10-20 09:13] stwunsch commented on #6671
Well, it's a DY sample, so physically spoken we would expect the upper one (?) Let's say, it's not so clear what's going on :sweat_smile:

[2020-10-20 09:19] eguiraud commented on #6671
Can you enforce the same exact binning in both and also try with raw TTree and raw TTreeReader? If RDF or TTree is producing wrong histograms it's a critical issue if not a release blocker.

[2020-10-20 09:25] andriish commented on #6373
Hi @couet ,

OK. That is kind of good.

Just to avoid misunderstanding I describe what I did.
As TColor::RGB2HLS  is just a static function I've just copy-pasted the code

[code]

Andrii

[2020-10-20 09:26] stwunsch commented on #6671
@eguiraud Do we agree that the code above should produce (in principle) the same output?

[2020-10-20 09:30] couet commented on #6373
Yes I see also that putting the code of RGB2HLS in color.cxx cures the problem.

[2020-10-20 09:35] stwunsch commented on #6671
@eguiraud Here you can find the plots produced with the same binning.

[code]

[code]

![Screenshot from 2020-10-20 11-33-43](https://user-images.githubusercontent.com/6951222/96568572-63ad6800-12c8-11eb-8488-dcd108b019a8.png)

[2020-10-20 09:43] stwunsch commented on #6671
As a cross check: The manual count in RDF of the entries we see in the histogram.

[code]

[2020-10-20 09:56] eguiraud commented on #6671
I don't see why not. We really need an authoritative answer as to which of the plots is correct though. Maybe raw TTree and TTreeReader can act as tie-breaker. There are no missing entries (the number of entries in the two histograms is the same) so it seems that one of the two interfaces is reading wrong values -- but how can it be that histogram mean and variance are exactly the same in the two

[2020-10-20 10:17] stwunsch commented on #6671
Here a reproducer with my best raw TTree skills:

[code]

[code]

So we can conclude that's a plotting issue in `TTree::Draw`?

[2020-10-20 10:26] stwunsch commented on #6671
Another ingredient, `tree.Draw('GenPart_pdgId[0]')` gives a correct plot:
![Screenshot from 2020-10-20 12-25-09](https://user-images.githubusercontent.com/6951222/96574248-7e370f80-12cf-11eb-97c6-8bc8f212913b.png)

[2020-10-20 10:31] eguiraud commented on #6671
Ok, thanks for investigating. I think it's safe to treat it as a `TTree::Draw` bug unless @pcanal figures out otherwise.

[2020-10-20 10:35] eguiraud commented on #6671
Ah, one last thing: could it be there are _that many_ points that are right at the bin edges? it would explain why mean and variance are the same in the two cases. Can you try with a less regular or much more fine-grained binning?

[2020-10-20 10:58] stwunsch commented on #6671
If the edge would be the issue, we would see more bins filled than the six we have in the plot, right?

[2020-10-20 11:00] stwunsch commented on #6671
This should be the used bins:

[code]

The values -15, -13, -11, 11, 13 and 15 are not on the edges.

[2020-10-20 11:08] eguiraud commented on #6671
Fair enough :smile:

[2020-10-20 11:15] eguiraud commented on #6671
An interesting observation: if you look at the bars in the two plots, for the RDF plot you can estimate the total number of entries as `37e6*2 + 26e6*2 + 18e6*2 = 1.62e8` which is consistent with the number of entries reported by the histogram. For the `TTree::Draw` plot you get, more or less, `16.75e6 * 6 = 1.01e8`: why are the other entries not displayed? Did they end up in the overflow/underflo

[2020-10-20 11:21] stwunsch commented on #6671
No underflows or overflows:

[code]

[2020-10-20 11:24] couet commented on #6373
For info, this one does not produce a crash. And HLS2RGB is static too.
[code]

[2020-10-20 11:29] stwunsch commented on #6671
Last round of investigations, here the `Events->Print()` output:

[code]

And the issue is also visible in `TBrowser` by clicking on the branch:

![Uploading Screenshot from 2020-10-20 13-26-28.png…]()

[2020-10-20 11:30] eguiraud commented on #6671
![image](https://user-images.githubusercontent.com/10999034/96580341-6fa12600-12d8-11eb-92e2-7fd278c6fe0d.png)

[2020-10-20 11:49] couet commented on #6373
more:
[code]

[2020-10-20 11:58] stwunsch opened #6675 "Jitted RDataFrame.Histo1D broken for vector<bool> types"
The reproducer is the following line in the ROOT prompt:

[code]

The stack trace is as follows:

[code]

It's ROOT from conda (6.22/02). You can download the file here (http://opendata.web.cern.ch/record/12353#).

[2020-10-20 12:17] andriish commented on #6373
Hi @couet  ,

I have no idea why that is so. I can imagine  that it is not actually a problem in ROOT per se, but a problem of compiler.

Also, another ideas:

 - print of the results of the function without enabled exceptions.
 - print ofut th results on different platforms, i.e. mac vs linux.

Andrii

[2020-10-20 12:21] stwunsch opened #6676 "RDataFrame.Histo1D of many columns uses excessive amount of memory"
The following reproducer uses an excessive amount of memory:

[code]

I could not let the script finish without filling 16GB memory + 20GB swap. Here's the max res size from the interrupted run:

[code]

And two screenshots of `htop` during the run of the script and right after killing the process. So it's not chrome which fills my memory ;)
![Screenshot from 2020-10-20 14-17-01](https://user-imag

[2020-10-20 12:22] eguiraud commented on #6675
Self-contained compilable reproducer:
[code]

It's probably enough to change those `for(auto &x0: x0s)` to `for(auto &&x0: x0s)` or also `for(const auto &x0 : x0s)`.

Pretty bad that we don't test filling of histograms with vectors of bools.

[2020-10-20 12:22] stwunsch commented on #6676
I wonder whether the file itself is broken?

[2020-10-20 12:24] eguiraud commented on #6676
Please check where the allocations come from with `valgrind --tool=massif` (I think you need to use a debug build, i.e. not a conda package for this to work).

[2020-10-20 12:39] andriish commented on #6373
I have:

Linux gcc crash +FPE enabled    240.0000000000 0.1500000060  0.3333333135
Linux gcc crash +FPE disabled   240.0000000000 0.1500000060  0.3333333135

Linux gcc nocrash +FPE enabled    0.0000000000 0.1000000015  0.0000000000
Linux gcc nocrash +FPE disabled     0.0000000000 0.1000000015  0.0000000000

Same with clang++ 3.4.2 and 7.0.1 on Linux  ( had to add -DR__HAS_STD_EXPERIMENTAL_STRING_V

[2020-10-20 12:43] eguiraud commented on #6676
My guess is that because a binning is not specified RDF is storing `std::vector<double>`s with all entries of all columns and that's just too much. I don't think anyone ever tried to fill so many histograms with so many entries each (no filters) without specifying a binning.

We could do something like `TTree::Draw` does and estimate the binning from the first N entries, but we always avoided it b

[2020-10-20 13:18] andriish commented on #6373
Hi @couet,

I've found the reason.
I've used this code:

[code]
and compiled it with

 - 1)  clang++ -D_FORTIFY_SOURCE=2 -O1 -pipe -g -Wall -D_REENTRANT -D_GLIBCXX_ASSERTIONS -std=c++1y -o color5.exe  color5.cxx
 - 2)  clang++ -D_FORTIFY_SOURCE=2 -O2 -pipe -g -Wall -D_REENTRANT -D_GLIBCXX_ASSERTIONS -std=c++1y -o color5.exe  color5.cxx
 - 3)  clang++ -D_FORTIFY_SOURCE=2 -O3 -pipe -g -Wall -D_REENT

[2020-10-20 13:18] couet commented on #6373
if I comment the line:

[code]

Then it does not crash anymore

[2020-10-20 13:19] andriish commented on #6373
Hi @couet ,

well,  commenting that line means "ignore the exceptions"....

Andrii

[2020-10-20 13:21] couet commented on #6373
I see, you made a standalone program not using ROOT. Let me try.

[2020-10-20 13:57] stwunsch commented on #6676
Ah, thanks for the explanation. That makes sense, the file has around 8 GB (compressed size).

[2020-10-20 14:47] couet commented on #6373
I see the same. And, as you said, it looks like a clang issue ... should we close this issue and make a new one with the latest example you produced ?

[2020-10-20 14:56] andriish commented on #6373
Hi @couet ,

yes.  That is a good idea, as for me. I will do that.

But that is not graphics specific. So maybe more people should be tagged.  I will rely on you to do that after tagging you alone.

Best regards,

Andrii

[2020-10-20 15:09] andriish opened #6677 "[bug] Clang builds ROOT libraries that emit FPEs"
### Describe the bug

ROOT libraries compiled with clang and high optimization level emit floating point exceptions in the simplest codes.

### Expected behavior
No FPEs.

### To Reproduce
Compile the code below  using clang
[code]
and run
[code]
Output of the reproducer

[code]

The same compilation with ``-O1`` produces a working executable.

Please note that this code is a reproducer obtained f

[2020-10-20 15:10] andriish commented on #6373
Hi @couet,

Please see #6677

Best regards,

Andrii

[2020-10-20 15:10] #6373 closed

[2020-10-20 15:19] bellenot commented on #6677
Did you try with non-ROOT related code? (it might be an issue with Clang itself)

[2020-10-20 15:20] pcanal commented on #6671
Running TTree::Scan should give an idea of the type of error made by TTree::Draw.

[2020-10-20 15:30] andriish commented on #6677
Hi @bellenot  ,

That is exactly the point.  clang produces wrong math in libraries/executables with anything higher than -O1. That affects at least some routines in ROOT.

The code I've posted above is a standalone code, despite it is based on code from ROOT.

On the ROOT side one can only change the compilation flags for clang.

Best regards,

Andrii

[2020-10-20 17:13] stwunsch commented on #6671
`TTree::Scan` looks fine, I guess.

[code]

[2020-10-21 01:04] pcanal commented on #6670
Thanks for the complete report.   Indeed there was a problem triggered by a change in order of initialization.  The fix (PR #6680) will be merge shortly in the main branch as well as the v6.20 and v6.22 patch branches.

[2020-10-21 08:31] pamputt opened #6681 "Support UTF-8 encoding in ROOT7"
### Is your feature request related to a problem? Please describe.

Hello, as described in [ROOT-7859](https://sft.its.cern.ch/jira/browse/ROOT-7859), ROOT does not handle UTF8 encoding for characters in the current ROOT version (6.22).

### Describe the solution you'd like
It would be really nice to have such support since as shown on the sreenshot [here](https://sft.its.cern.ch/jira/secure/attac

[2020-10-21 08:53] pamputt opened #6682 "Add an option to draw "XKCD" plot in ROOT7"
### Is your feature request related to a problem? Please describe.
Sometimes, we may want to create plot with a XKCD style. It [will not be implemented](https://sft.its.cern.ch/jira/browse/ROOT-7567) in ROOT6.

### Describe the solution you'd like
Add an option in THistPainter in order to draw histograms and graph with a "XKCD style". Some examples are available here:

Basically, matplotlib, a pyt

[2020-10-21 08:58] Axel-Naumann commented on #6637
I'd say that's indeed the expected behavior; I'm fairly certain that hell will break loose e.g. in the I/O if we were to change this. @pcanal do you have anything to add here?

[2020-10-21 09:05] couet commented on #6682
Thanks for the reminder. In ROOT7 I guess this would have to be implemented on the JavaScript side.
Therefore I guess @linev has his word to say.

[2020-10-21 09:16] Axel-Naumann commented on #6682
As I pointed out in https://sft.its.cern.ch/jira/browse/ROOT-7567?focusedCommentId=108747&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-108747 :

That hasn't changed, which only leaves [this](https://sft.its.cern.ch/jira/browse/ROOT-7567?focusedCommentId=109658&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-109658) open for @linev

[2020-10-21 09:18] etejedor commented on #6637
Thanks for having a look. What would need to change then, in the code above, so that the equivalent of `d->MyCppClass::MyMethod()` happens?

[2020-10-21 09:28] Axel-Naumann commented on #6677
The example code enables fp exceptions. fp operations are not "stable" - high optimization levels can re-order / re-arrange fp operations, causing fp exceptions that wouldn't be there for lower optimization levels.

I like to understand why fp exceptions are a topic for you. While ROOT does offer an interface to manipulate the fp exception mask, it does *not* turn on fp exceptions by default. I wo

[2020-10-21 09:33] #6468 closed

[2020-10-21 09:35] #6597 closed

[2020-10-21 09:36] Axel-Naumann commented on #6644
I'd claim that this is not a bug, just maybe surprising behavior that can be addressed by thinking ;-) `if` is control flow, it doesn't have an expression type, so there's nothing to be printed. If we were to "fix" this, why would we not also "fix"
[code]
which currently (I claim correctly) prints nothing, but to be consistent with the `if` "bug" above should print lots and lots of `1`s?

[2020-10-21 09:38] linev commented on #6682
There will be many aspects of implementing `XKCD` style.
Axes, labels and all kinds of drawing options for histograms, graphs, functions, ...
And, that is very important, interactive functionality - how to handle mouse events for tooltips, zooming, context menus.
It will be a long way, but we could try. Probably starting with axes and TF1 object.

There is `RAxisPainter` class in JSROOT, which cou

[2020-10-21 09:44] linev commented on #6681
For the moment JSROOT and all ROOT7 widgets enforce `utf-8` on produced web pages.
But it should be possible to extend  ROOT7 functionality and support other encodings as well.

We also have to investigate usage of `wchar` type on C++ side if different encodings  has to be used at the same time.

Thanks for pointing it out!

[2020-10-21 09:47] Axel-Naumann commented on #6637
I don't think CallFunc ever offered that. Unless I am mistaken, of course :-) Was this working in the past?

[2020-10-21 09:47] vgvassilev commented on #6644
I'd be in favor of actually making `while (true) 1` print.

[2020-10-21 09:51] andriish commented on #6677
Hi @Axel-Naumann  ,

Yes, I do understand that. However it would make sense to use "fp-save" flags for optimization for software that deals with numerics.  One can assure that with gcc even at high optimization levels, but it looks a bit more complicated task for clang.

In general I **always** turn the FP exceptions on for codes that deal with numerics either with or without ROOT. There is no oth

[2020-10-21 10:02] Axel-Naumann commented on #6644
OK, what about
[code]
? I.e. where do we stop? (Note that this isn't parsable, and appending a trailing ';' doesn't help.)

For me, an inner block (even if the '{}' are omitted) is not considered by the value printer; changing that is likely not work it and will create many more inconsistencies than is warranted by "repairing" the seemingly inconsistent behavior of this ticket. To be more precise,

[2020-10-21 10:11] vgvassilev commented on #6644
I think you just said what's the rule -- appending trailing ; and making the code compile.

  This should not print because the current implementation makes it hard to support as it is implicit. Eg, we omit certain syntax and rely on fixing it. If the implementation was explicit and we had a smarter marker what should or should not print we could leave that decision to the user. Eg -- `if (true) {

[2020-10-21 10:29] etejedor commented on #6637
Yes, this worked in the old PyROOT. As far as I understand, this worked because there was no `Dispatcher` wrapper class in between the Python class and the C++ base class. Therefore, the proxied C++ object was a base class object, not a `Dispatcher` object, and the invocation of the base class `MyMethod` on that object worked with a code equivalent to the one in my C++ reproducer.

[2020-10-21 12:02] Axel-Naumann commented on #6644
I cannot follow - who's proposing to move to something, which explicit markers? I'm arguing that the status quo (last top-level expression's value is printed if missing trailing semicolon) should be kept.

[2020-10-21 12:09] Axel-Naumann commented on #6637
Sorry, my question was specifically about the old callfunc / member iteration implementation. I.e. is [your example](https://github.com/root-project/root/issues/6637#issuecomment-709291247) also calling the derived class's function in older ROOT versions?

[2020-10-21 12:13] etejedor commented on #6345
A bit more information on this one. This is a standalone reproducer:

[code]

which prints similar errors to the ones reported for `TProfile`. There are two kinds of errors:
1. ` using MyClass::BufferFill;` is repeated in the `Dispatcher1` class: this happens because there are two protected overloads of `BufferFill`. Should be easy to fix.
2. `using MyClass::SetBins;` (or `Fill`) is inserted in th

[2020-10-21 12:20] Axel-Naumann commented on #6677
OK thanks. I believe that "there is no other way to get reliable results" is a bit of an exaggeration - many numerical libraries and programs do not turn fp exceptions on. IEEE 754 allows them to survive just fine the cases you are hunting down, because (as you certainly know) IEEE 754 brings defined behavior to "degenerate" (not in the IEEE 754 sense) cases.

As a matter of fact, I believe you ha

[2020-10-21 12:36] jalopezg-uc3m commented on #6644
After reading the discussion, I have no clear opinion, but...  What about preserving the current behavior plus the one that @vgvassilev suggests, i.e. a marker (e.g. NullStmt) can be used to indicate that the previous expression should be printed?

[2020-10-21 12:37] etejedor commented on #6637
Yes, I just tried my example with 6.20/06, 6.18/04 and 6.16/00, all of them call the derived class's function.

[2020-10-21 13:48] andriish commented on #6677
Hi @Axel-Naumann ,

That is true. But does not help practically. It is better that a program (e.g. with complicated  integration) fails with FPE in 30 minutes than ends successfully in a week and delivers a well-defined result '-NaN'. Or, even worse, produces a result that looks fine but is incorrect and then user (e.g. me) will spend some days to understand where the problem is.

As far as I unde

[2020-10-21 14:02] Axel-Naumann commented on #6677
It certainly is, but we have not received any request from an experiment, and you are the first user ever to mention this :-) Given these statistics I'd prefer to keep our build system simpler rather than adding complexity, especially as you can always build your own ROOT if needed, with the flags that you prefer!

I'll assign this to @couet so he can decide whether that's useful!

[2020-10-21 14:11] couet commented on #6677
Why not, if that provides a more secure version of the method. But that's not the only one to be considered I guess:  All the XXX2YYY methods in TColor should be checked, shouldn't they ? If you provide a PR a test going with it would be also appreciated. (in core/base/test)

[2020-10-21 14:18] Axel-Naumann commented on #6644
IIUC a NullStmt would mean `if (true) {1;;}`.

I'd prefer to keep value printing simple and instead invest where it's relevant: devtoolset, debug symbols, llvm upgrade (to llvm 11!), etc. This is a trade-off we should consciously do, and given that this is the first time I hear a request for value printing within nested blocks I'm not yet convinced that it's worth the effort (and yes, that's an ad

[2020-10-21 14:18] pcanal commented on #6637
This seems to be a long standing "feature".  When the I/O used to rely on the interpreter for streaming, we even had to introduce Class::StreamerNVirtual to work around the missing feature.

I think it would be okay as the I/O does not rely on CallFunc (but on generated accelerator functions) to work.

Yes, this is the most commonly expected behavior but for the same reasons that C++ has the notat

[2020-10-21 14:46] etejedor commented on #6592
@wiso, if you agree, I would leave https://sft.its.cern.ch/jira/browse/ROOT-7909 open (since the interference between ROOT graphics and matplotlib exists and is reproducible on MacOS), and for your case you can use @stwunsch suggestion if you just need matplotlib graphics?

[2020-10-21 14:50] wiso commented on #6592
ok, thanks

[2020-10-21 15:04] SimeonEhrig commented on #6644
I agree with Axel. A smarter value printer is nice to have but we have enough more important issues.

[2020-10-21 15:13] andriish commented on #6677
Hi @Axel-Naumann , @couet

OK. Makes sense.

The idea is to make things work with what you build so the people who will use that event display will avoid building ROOT and related issues. Also, I do not build "own" ROOT since many years. See no reason to do that -- there are great  binary packages in repositories and on the ROOT site.

Please see

#6684

Will to to add it.

Best regards,

Andrii

[2020-10-21 15:19] #6592 closed

[2020-10-21 15:30] Axel-Naumann commented on #6677
Thanks a lot, @andriish !

One last question (likely!) to understand the context: do you run the GUI with fp exceptions on in production, or is this for testing / development only?

[2020-10-21 15:47] andriish commented on #6677
Hi @Axel-Naumann  ,

I would say "both".  That is an event display from ZEUS, "ported" from ROOT5/Make to ROOT6/CMake. The userbase is small, so whenever someone needs it, some smaller of greater issues arise for various reasons (e.g. ROOT/OS/compiler update)  and one has to debug them with the people who need that. No clear separation of "debug" and "production". And well, this event display is k

[2020-10-21 15:53] Axel-Naumann commented on #6677
Thanks, Andrii! (And especially for your many recent contributions, much appreciated!)

[2020-10-21 16:06] andriish commented on #6677
Thank you and colleagues!

[2020-10-21 16:54] etejedor commented on #6470
The reason for this behaviour seems to be that all the Python classes in the reproducer (`B`, `C` and `D`) get a `Dispatcher` wrapper class automatically created (`Dispatcher1`, `Dispatcher2` and `Dispatcher3`, respectively) that inherits from `A`. Since for `B` and `C` `fun1` is overridden in Python, `Dispatcher1` and `Dispatcher2` define a `fun1` implementation that redirects the call to the Pyt

[2020-10-21 17:59] vgvassilev commented on #6644
I do realize my post was terse. Here is more text as the discussion went in another direction.

Since early days, as you already mentioned, the rule seems to be "the last expression without a trailing semicolon should print". If that is the rule, then it clearly does not handle short-hand operators. Namely, `if (x) expr`. That rule does not extend to your examples `do 1 while(true)` as `while` is

[2020-10-22 07:37] stwunsch opened #6686 "Unable to install pytest on MacOS with python2"
We removed the pytest shipped with roottest because the source code was from 2014 and incompatible with py3.9 (see #6597). However, this poses now the issue on MacOs with python2 that we have to install pytest. Without a virtual environment, MacOS does not allow to pip packages. Since roottest fails on configuration level without pytest, roottest is currently broken in this configuration.

@axel @

[2020-10-22 07:43] britzger commented on #6670
Thanks for this quick patch. We have observed similar issues also at other places of the code, when calling TClass::New(), but we always found simple workarounds there as well. Together with #6535 (where we have a patch as well) these were the *only* issues in the entire H1@HERA analysis packages when going from ROOT5.34 to ROOT6.20. albeit it was initially developed for ROOT2.25 and CINT. Congrat

[2020-10-22 08:22] oshadura commented on #6686
I will say the first option is very reasonable for me (yes python2 is dead anyway!!!), but what if some experiment didn't manage to move to python3? How hard is to implement the second option?

[2020-10-22 08:42] #6675 closed

[2020-10-22 08:45] stwunsch commented on #6686
Wrt to the experiments, I think it's not so critical. Mac isn't used anyway for any experiment specific usage of ROOT. I guess, @axel please correct me, MacOS is purely a platform used by analysts. I think we could drop py2 for MacOS, however, since there's no system python3 we cannot build reliably any binaries against python. So it's a convoluted thing :)

[2020-10-22 08:49] stwunsch commented on #6686
Regarding option 2 (using a venv to overcome the installation issue): Technically, I'm rather sure we can make it work. However, I'm more scared of the additional complexity added to the CI. Someone has to maintain all these fixes on the long run!

[2020-10-22 09:09] Axel-Naumann commented on #6686
Not testing py2 on MacOS is probably reasonable. There is a system py3 as of Xcode 12.

I'm very surprised about that - not even `pip --user` or whatever it's called?

[2020-10-22 09:34] Axel-Naumann commented on #6644
Well then. I'm still not convinced that it's an improvement in terms of consistency, but you seem to be convinced otherwise.

Please make sure these "couple of lines" handle `if`, `while`, `switch` etc - to not increase inconsistency. Please make sure this does not introduce a lifetime issue with `if (int a = 42) a`. Please make sure `if (true) while (true) if (true) 42` is handled, again for cons

[2020-10-22 13:31] stwunsch commented on #6686
Well, the actual issue is that there is no `pip` for the system python2 installation. The virtualenv is the solution to get `pip` easily. I think installing `pip` manually is the least favored solution.

[2020-10-22 13:32] stwunsch commented on #6686
But ok, if we agree that we build with python2 and python3 on MacOS, but test only against python2, then we are fine. Feel free to close the issue!

[2020-10-22 13:37] Axel-Naumann commented on #6430
I have enabled this for macOS 10.15 in the nightlies - they should arrive starting tomorrow. Let me know if that helps!

[2020-10-22 13:53] #6686 closed

[2020-10-22 16:14] andriish commented on #6430
Thanks! Will try once it is there!

[2020-10-22 19:07] Axel-Naumann commented on #6465
Do you want this in v6.22?

[2020-10-22 20:16] smuzaffar commented on #6465
yes please, v6.22 is default cmssw development release.

[2020-10-22 20:42] #6666 closed

[2020-10-26 07:57] linev commented on #6509
Fixed in master and 6.22 branch

[2020-10-26 09:08] stwunsch commented on #6676
Here's the test program for which I'm doing the massif profile:

[code]

You can find the profile attached, but it's not very clear to me what we can learn from it. We have 3GB from malloc/new, but it's not clear where it's coming from.
[ms_print_cpp.log](https://github.com/root-project/root/files/5437832/ms_print_cpp.log)

[2020-10-26 10:11] eguiraud commented on #6676
Some debug symbols seem to be missing so we don't have line number information, but this log is already enough to confirm my hypothesis above: 2.9 GB come from std::vector allocations performed by `RDF::FillHelper::Exec<ROOT::VecOps::RVec<float>, 0>`.

The simplest workaround is to specify a binning for the histograms. I am not sure whether this is a common enough problem to warrant a fix in RDF i

[2020-10-26 10:45] stwunsch commented on #6676
I wonder why the information is missing, it's a `RelWithDebInfo` build and no jitting involved :thinking:
But I agree that combined with your knowledge about the code, it's clear where it comes from.

It's not clear to me whether it's an issue or not. Definitely, it's confusing to see your machine blow up for no reason and I'm sure it's a pain to figure this out. What about a warning if you use hi

[2020-10-27 09:40] lmoneta commented on #6624
Duplicate of https://sft.its.cern.ch/jira/browse/ROOT-10059 and also https://sft.its.cern.ch/jira/browse/ROOT-10081
and the solution is not to use GetSeed but the class copy constructor.
Things to do is document better `TRandom::GetSeed`

[2020-10-27 17:41] andriish opened #6715 "[bug] Type overflow in TMessageHandler"
### Describe the bug
call Int_t(Uint_t)

[code]
GetUniqueID() returns Uint_t

### Setup

ROOT master

[2020-10-28 17:38] cxwx opened #6719 "gROOT->ProcessLine("#include ... ") faster loaded"
### Explain what you would like to see improved
Hi all,
It takes long time for loading rootlogon.C about(20s)
I've test for the reason
It seems I've a line
[code]
[ROOT_cx.hh.zip](https://github.com/root-project/root/files/5453842/ROOT_cx.hh.zip)
I include all of the header file I've used in this header
I cannot find a faster way doing this

### Optional: share how it could be improved

 precompil

[2020-10-29 08:22] jalopezg-uc3m commented on #6719
The user claims that processing the aforementioned line is slower w.r.t. ROOT 6.20.02.  No run time measurements are provided, though.

Requested to add an issue here, but this is still to be confirmed.

[2020-10-29 12:05] pcanal opened #6721 "Add TEnum::GetSize"
### Is your feature request related to a problem? Please describe.

Since C++11, the user can select a in-memory size for the enum, when constructing the list of data member of offset directly from clang/core-meta this is properly taken into account (i.e we ask each member for its offset) but when recalculating the offset "by hand" (eg in the on-the-fly pseudo dictionary generation for std::pair)

[2020-10-29 12:53] Axel-Naumann commented on #6721
Why not `TDataType *TEnum::GetUnderlyingType() const`?

[2020-10-29 14:15] pcanal commented on #6721
Missed it ... :(
So problem already solved :)

[2020-10-29 14:15] #6721 closed

[2020-10-29 15:18] pcanal commented on #6721
Well in part because it very indirect:
[code]

[2020-10-29 16:01] pcanal opened #6725 "rootpcm does not record TEnum's underlying type"
TEnum currently always relies on Cling (via the TEnum::fInfo data member) to retrieve the underlying type.

Concretely this means that the TEnum loaded from a rootpcm always returns the incorrect/default information.

[2020-10-29 16:17] pcanal opened #6726 "TStreamerInfo::GenerateInfoForPair generates the wrong offset if an enum type is first."
As reported by CMSSW tests (for example: https://github.com/cms-sw/cmsdist/pull/6314#issuecomment-713547097) where the data appear odd/corrupted, there is an issue in TStreamerInfo::GenerateInfoForPair (which is almost always used for std::pair in the tip of v6.22 and master).

The problem is when calculating the offset of the second data member, TStreamerInfo::GenerateInfoForPair  uses (unwitting

[2020-10-29 16:57] britzger opened #6730 "TBrowser slowed down when used through X-forward"
Since newer releases, TBrowser considerably slowed down when used through an X-forward.

I tried on SL7, root6.20, gcc9.2, C++17 (LCG_97a)  &  SL7, root6.22, gcc4.8,C++11. These versions have considerably slowed down.

All worked well until at least 6.08 (SL6,gcc4.9,c++1y,LCG_88).

Minimum example (try from home):
[code]
-> Slow !

Better:
[code]
-> good.

This issue is probably related to the new

[2020-10-29 18:14] annnieglez opened #6731 "Compilation error on CentOS 7 of root V6.22.02 c++17"
ROOT Version: v6-22-02
Platform: CentOS 7
Compiler: gcc 8.3 c++17

[code]

[2020-10-29 18:32] #6670 closed

[2020-10-29 18:35] jalopezg-uc3m commented on #6731
The C++ compiler seems to be respecting [n4285](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n4285.html).  This should be fixed.

[2020-10-30 14:42] sawenzel opened #6734 "Overcome 1GB size limit for IO buffers"
### Explain what you would like to see improved

ROOT currently has a size limitation (~1GB) for the number of bytes
that can go into a single entry of a TBranch. This limitation is due to using
code based on 32bit integers in the IO mechanism.

For Run3, the ALICE experiment is turning from an event (singe collision) - based data processing
to a processing based on event-collections (timeframes).

[2020-10-30 18:24] davidrohr commented on #6734
To add my opinion: I think this is quite a central ROOT feature, and supporting larger buffers will become imperative at some point anyway, so I don't see a strong reason to delay such changes.
If backward compatibility is a concern, I think it would even be possible (or acceptable for ALICE) to create the file with a special flag or so, such that it cannot be opened with old ROOT versions.
At lea

[2020-11-02 12:05] eguiraud commented on #6676
Yes, that should make it ok to run on fewer events right?

We could add warnings like "please specify a binning" if vectors become too large, but it's quite unclear what "too large" is (in principle in depends on the exact runtime behavior of the analysis, e.g. whether events are filtered a lot or not, but that would require that RDF monitors its own RAM usage which is tricky).

So I'm not sure ho

[2020-11-02 13:54] eguiraud opened #6741 "[DF] When dataset is specified as treename/filename, the TTree is read without its friends"
### Describe the bug

First reported on the forum [here](https://root-forum.cern.ch/t/rdataframe-and-friend-and-python/41923).
TTrees written to file preserve knowledge of their friends, and if they are also present in the file reading one TTree recovers the full friendship chain.

When constructing an RDF object as `RDataFrame(treename, filename)`, friends are not automatically made available as

[2020-11-02 15:12] eguiraud opened #6743 "ROOT crashes with no helpful error messages if a TApplication is not present and tree->StartViewer() is called"
# Describe the bug

The following reproducer crashes with the stacktrace below (with a debug build of ROOT -- just a segfault for non-debug builds):

[code]

[code]

### Expected behavior

The crash is due to a nullptr dereference in `TGCompositeFrame::TGCompositeFrame` (`fParent` is null), which in turn is caused by a failed check in `TGWindow::TGWindow` at `TGWindow.cxx:54`:

[code]

In the cond

[2020-11-02 15:37] bellenot commented on #6730
I don't think anything relevant really changed in the GUI, but I'll try. And that has most probably nothing to do with the `--web` option. Did you try with and without it, to check if it does any difference?

[2020-11-02 16:21] #6726 closed

[2020-11-02 16:21] #6725 closed

[2020-11-02 21:46] andriish commented on #6430
Hi @Axel-Naumann ,

are the debug builds for 10.15 actually there? When I try to use the 	root_v6.22.99.macosx64-10.15-clang120.tar.gz  the system reports no debug symbols. Do I miss something?
Also, from a brief look at 10.15 build vs 10.14 build I see they have the same size, which would be strange if one would have some debug info and the other would not.

Best regards,

Andrii

[2020-11-03 08:08] stwunsch opened #6745 "Add RDataFrame::DefinePerSample"
We have identified in previous meetings (see [here](https://indico.cern.ch/event/945804/) and [here](https://indico.cern.ch/event/956672/)) that a typical HEP analysis benefits from a `Define` version, which evaluates only once per "dataset". The identifier of a "dataset" is not yet clear. An example scenario is given below (event weights per sample, typical for simulated datasets):

[code]

[2020-11-03 08:16] stwunsch opened #6746 "Add RDataFrame tutorial with systematics"
Add `RDataFrame` tutorial which shows how to handle the computation of typical systematics. The idea is to have an example analysis such as the [Higgs to four leptons](https://root.cern.ch/doc/master/df103__NanoAODHiggsAnalysis_8C.html) and add an uncertainty band to the expectation:

![](https://root.cern.ch/doc/master/pict1_df103_NanoAODHiggsAnalysis.C.png)

We should showcase following types of

[2020-11-03 08:40] bellenot commented on #6730
@britzger can you check if changing the `X11.UseXft` value in your `${HOME}/.rootrc` fixes the issue? Thanks!

[2020-11-03 12:45] paguenther commented on #6657
I encountered the same problem. Maybe @qati can help?

[2020-11-03 14:15] andriish opened #6748 "[bug] [core] Segfaults in TString"
Multiple constructors in TString can drop segfaults with formally valid arguments,
e.g.
[code]

### Expected behavior
No segfaults. Create an empty string if meaningless arguments are given.

### To Reproduce
[code]

[2020-11-03 17:13] Axel-Naumann commented on #6465
Merged, apologies for the delay and thanks for pinging me by means of a PR! :-)

[2020-11-03 17:13] #6465 closed

[2020-11-04 04:59] anerokhi commented on #6681
Really hope `wchar` is a typo and `char8_t` was meant.

[2020-11-04 08:55] stwunsch commented on #6676
No ideas :/

[2020-11-04 10:58] Axel-Naumann opened #6753 "CMake dependency on Python: use targets"
### Describe the bug
Because of #6563 and the fix in CMake we need to move from linking `${PYTHON_LIBRARIES}` to instead depend on `Python3::Python`. See https://gitlab.kitware.com/cmake/cmake/-/issues/21293

This fixes test failures:
[code]

### Expected behavior
RPath correctly set.

### To Reproduce
Jenkins nightly master or 6.22 on macos15, https://lcgapp-services.cern.ch/root-jenkins/view/ROO

[2020-11-04 11:30] #6443 closed

[2020-11-04 11:34] #6509 closed

[2020-11-04 11:39] #6677 closed

[2020-11-04 12:29] henningrwth opened #6755 "Greek letter epsilon not rendered correctly using TLatex with OpenGL.CanvasPreferGL option, segmentation fault."
### Describe the bug
The Greek letter epsilon is not rendered correctly using TLatex, when the `OpenGL.CanvasPreferGL: 1` option is set in the rootrc file.

### To Reproduce
1. Set `OpenGL.CanvasPreferGL: 1` in rootrc file.
2. In an interactive root session:

    `(new TLatex(0.1, 0.3, "#epsilon"))->Draw()`

leads to garbage being printed in the canvas.

Other Greek letters, including #varepsilon,

[2020-11-04 12:31] henningrwth commented on #6755
![epsilon](https://user-images.githubusercontent.com/73939381/98112083-dc541d00-1ea1-11eb-8123-a9bd5939aba2.png)

[code]

[2020-11-04 21:04] andriish opened #6758 "[bug] [in: Graphics] Floating point exception in libGCocoa"
### Describe the bug
Floating point exception in libGCocoa

[code]

### Expected behavior
No FPE

### To Reproduce
[code]
compiled with
[code]
and executed as
[code]
### Setup
ROOT master MacOSX 10.15
and ROOT night build
root_v6.22.99.macosx64-10.15-clang120 MacOSX 10.15

Tag @couet

[2020-11-04 22:39] britzger commented on #6730
When using `X11.UseXft:  no` in $HOME/.rootrc , then all is back to normal. Very good! Could this become default again, then I don't have to maintain a local .rootrc file. Thanks.

[2020-11-05 07:53] bellenot commented on #6730
Well, unfortunately no, it's most of the time more convenient to have Xft on, and might only cause trouble when using ssh connection with X11 forwarding

[2020-11-05 10:24] eguiraud commented on #6755
Thank you for the report! Assigning low priority given that there is a workaround and this is a veeeeery long-standing issue. We might still want to get this fixed though.

[2020-11-05 14:18] #6743 closed

[2020-11-05 18:38] #6523 closed

[2020-11-06 08:36] bellenot commented on #6730
I think this is clarified, so closing this issue.

[2020-11-06 08:36] #6730 closed

[2020-11-06 09:33] stwunsch opened #6764 "Pickling functions using the ROOT module with cloudpickle breaks"
cloudpickle is the pickling package, which is used in dask and PySpark to serialize and distribute the work, e.g., functions or lambdas. The following reproducer breaks with cloudpickle (but is fine with the standard pickle) and throws the error `TypeError: cannot pickle 'ROOTFacade' object`, which is highly confusing.

[code]

A workaround is moving the `import ROOT` line inside the function `foo

[2020-11-06 09:42] stwunsch opened #6765 "PyROOT breaks if ROOT objects are unpickled in a multiprocess environment"
**Edit:** The issue is not about RDataFrame but can be triggered with any ROOT object, see the reproducer below ([here](https://github.com/root-project/root/issues/6765#issuecomment-723066118)).

---

The following reproducer uses dask to distribute a task, which uses RDataFrame to fill a histogram.

[code]

A weird detail is that the reproducer runs fine if just `h1` is returned.

I got the follo

[2020-11-06 11:05] stwunsch commented on #6746
A WIP can be found [here](https://github.com/stwunsch/root/tree/df-tut-sys).

[2020-11-06 11:43] eguiraud commented on #6765
is that the full stacktrace? It starts with `_PyImport_LoadDynamicModuleWithSpec ()`?

[2020-11-06 11:45] eguiraud commented on #6764
Assigning low priority at least for now as it looks like we have a workaround and we anyway need to see if things move on the cloudpickle side.

[2020-11-06 11:47] eguiraud commented on #6753
Hi @Axel-Naumann ,
do I understand correctly that Python2 builds need no change while we can/want to make this change for Python3 builds independently of the target platform?

[2020-11-06 12:30] stwunsch commented on #6765
You can find the full stacktrace below. It does not start with `_PyImport_LoadDynamicModuleWithSpec`, but it's the entrypoint to `libpython.so`.

[stacktrace.log](https://github.com/root-project/root/files/5501224/stacktrace.log)

[2020-11-06 12:30] stwunsch commented on #6765
The py3.8 warnings are also quite interesting:

[code]

[2020-11-06 12:36] stwunsch commented on #6765
Another observation, it's not related to RDataFrame but it's a thingy with ROOT objects itself:

[code]

Same problem as before. My hot guess is that some reference counting goes terribly wrong if the result is put in a tuple and not returned as a single object.

[2020-11-06 12:39] stwunsch commented on #6765
Also weird, if i move the dask part out of the main function into the global scope, we get a runtime error about not properly spawned processes in the multiprocessing backend.

[code]

[code]

[2020-11-06 12:43] stwunsch commented on #6765
And we can combine both issues with the following code:

[code]

So dask does some weird import of the script itself in the worker processes?

[2020-11-06 12:55] stwunsch commented on #6765
Alright, here is a full reproducer without dask and cloudpickle:

[code]

So pickling a function with `import ROOT` in the body and using this in a multiprocessing environment causes a segfault with the attached stacktrace. The important part is again the following lines:

[code]

[stacktrace.log](https://github.com/root-project/root/files/5501316/stacktrace.log)

[2020-11-06 12:56] stwunsch commented on #6765
This is now problematic, since the workaround for the issues with cloudpickle are exactly to move `import ROOT` **inside** the pickled payload (here `foo`). See #6764!

[2020-11-06 13:04] eguiraud commented on #6765
@vepadulano can you share the details of your python environment (in particular python version and versions of the installed packages) in which the original repro works correctly please?

[2020-11-06 13:13] eguiraud commented on #6765
@stwunsch

I think those are just a consequence of the crash?

Good! Can you edit the issue title/description accordingly please?

This sounds like a completely different issue?

[2020-11-06 13:14] eguiraud commented on #6765
That pickle-only reproducer tickled me, because it shows the problem is in reading ROOT stuff back.
How about having ROOT inside _and_ outside the payload, does that crash for you? It works fine for me:

[code]

[2020-11-06 20:46] pcanal opened #6767 "TStreamerElement not properly updated when pointee TClass is replaced."
Under some circumstances TStreamerInfo::BuildOld crashes in TStreamerInfo::AddReadAction.

See original report: https://github.com/cms-sw/cmsdist/pull/6314#issuecomment-721115953

With the recent updates to switch more std::pair's TClass to be auto-generated from the typename (as opposed to generated from interpreter information), more STL's collection TClass have their StreamerInfo build earlier.

[2020-11-07 11:14] alexde-dev opened #6771 "Specific mime-type for root files"
### Explain what you would like to see improved

The current mime-type of `root` files is rather generic
[code]
respectively can be identified heuristically by it's extension `.root` via
[code]

This obviously leads to false-positives if one wants to associate root files uniquely with
* a) a specific app to open
* b) an icon

Also by judging their role in the scientific data analysis field I belie

[2020-11-08 06:26] Binbin-Qi opened #6773 "An error when using Minuit in tutorial_tmva_TMVARegression"
- [yes] Checked for duplicates

### Describe the bug

When I run the TMVARegression (root tutorial/tmva/TMVARegreession.C), I found the results by using FDA_GA and FDA_MT are different, but they use same function to do regression. The fit parameters from FDA_MT are always equal to zero.

### Expected behavior

I have found the following ways to avoid this problem:
In class TMVA::MinuitFitter, chan

[2020-11-08 08:47] Binbin-Qi commented on #6773
In TMVARegression.C, I use the FDA method as bellow: `

    if (Use["FDA_MC"])
       factory->BookMethod( dataloader,  TMVA::Types::kFDA, "FDA_MC",
                           "!H:!V:Formula=(0)+(1)*x0+(2)*x1:ParRanges=(-100,100);(-100,100);(-100,100):FitMethod=MC:SampleSize=100000:Sigma=0.1" );

    if (Use["FDA_GA"]) // can also use Simulated Annealing (SA) algorithm (see Cuts_SA options) .. the

[2020-11-08 11:38] ThomasRuf opened #6774 "Error in <TGLWidget::CreateWindow>: No good OpenGL visual found!"
I am working with root 6.22/02, virtual machine in cern openstack. glxgears runs, glxinfo below. I would like to know what I am missing to get TEve to work.

best regards,
Thomas Ruf

name of display: localhost:10.0
display: localhost:10  screen: 0
direct rendering: Yes
server glx vendor string: SGI
server glx version string: 1.2
server glx extensions:
    GLX_ARB_multisample, GLX_EXT_import_conte

[2020-11-08 23:49] andriish opened #6775 "[bug] [minuit] FPE/crash in Minuit2"
### Describe the bug
FPE when calling Simplex with no free parameters.

### Expected behavior
No FPE/crash

### To Reproduce
simplex.cxx

[code]
[code]
results  in

[code]

### Setup
CentOS7/gcc-4.8.5  root 6.22 from EPEL

### Additional context
Not a personal priority of me, so it is unlikely that I will provode a patch in the next days.
However, I can briefly describe how the FPE occurs.
It occu

[2020-11-09 08:16] stwunsch commented on #6765
You said here a clever thing, indeed, the issue could be that in the unpickling ROOT is not properly imported and therefore we have a nullptr for `TROOT`. A good starting point could be figuring out the contracts of pickle how (or whether) the modules are imported if objects are unpickled. I think there could be similar issues with Python modules using native code and that way we could get an idea

[2020-11-09 10:01] eguiraud commented on #6771
Hi @alexde-dev ,
first of all thank you for taking the initiative on this.

What does "create and implement a unique mime-type" entail, concretely?

[2020-11-09 10:13] jalopezg-uc3m commented on #6771
Hi @alexde-dev  and @eguiraud,

I guess that, besides the registration of the MIME type, it basically requires an adding an entry to the MIME magic file (typically on `/usr/share/mime/magic`).  Not sure about who manages the distribution of this file, though.

[2020-11-09 10:16] eguiraud commented on #6771
@jalopezg-uc3m that would be freedesktop.org, see the linked MR

[2020-11-09 10:17] rlalik opened #6777 "RootMacros.cmake does not support target's compile features for dictionary when creating it"
### Describe the bug
The `ROOT_GENERATE_DICTIONARY` function from cmake creates dictionary `G_xxx_cc.cxx` and compieles it with different flags than rest of the target sources.

### Expected behavior
The `ROOT_GENERATE_DICTIONAR` body copies various properties of the target into new target for dictionary, and should also copy the compile features properties.

### To Reproduce
Steps to reproduce th

[2020-11-09 12:08] eguiraud opened #6779 "Compilation failure on Centos7 due to xrootd5 in v6.18"
### Describe the bug

Our centos7 nightly builds fail with the following errors:

[code]

which seem caused by an update in the xrootd version (now version 5). ROOT has [some known issues](https://sft.its.cern.ch/jira/browse/ROOT-10910) with xrootd5, although this failure mode is not the same as in those cases.

[These](root-project/root#6226) are the changes that @oshadura backported to 6.22 to f

[2020-11-09 12:34] linev commented on #6774
I guess, @osschar has much more ideas that could happen here

[2020-11-09 13:07] eguiraud commented on #6779
Assigning to @stwunsch as he kindly offered to take a look.

[2020-11-09 13:15] Axel-Naumann commented on #6470
Hi Vanya, what does this break for LHCb, how critical is this?

[2020-11-09 13:24] VanyaBelyaev commented on #6470
Dear Axel,
I cannot speak on behalf of LHCb, but it affects my own project  and several current of physics  analyses by our group. It  definitely prevents us from migration to new PyROOT -  without the fix  we are forced to  use  ROOT 6.20.
Cheers, Vanya

[2020-11-09 13:33] vepadulano commented on #6765
Hi, sorry for jumping in only now!
I confirm I can run the original reproducer on my laptop with this environment:
ROOT master@v6-23-01-1676-g39169dfc7b
Python 3.8.6
dask==2.30.0
distributed==2.30.1
cloudpickle==1.6.0

[2020-11-09 15:18] stwunsch commented on #6779
We have to check tomorrow whether the nightlies are fine. The PR CI does not have a centos7 build.

[2020-11-09 15:45] oshadura commented on #6779
@stwunsch I checked build in Jenkins, it is green (test are still running)

[2020-11-09 16:18] eguiraud commented on #6765
@vepadulano i'm afraid that's the same environment as @stwunsch (right?).

Are you importing ROOT both at global scope and at the scope of the payload function?

[2020-11-09 21:53] #6767 closed

[2020-11-10 07:34] Axel-Naumann commented on #6771
I had already started this half a year ago or so; it's just not high priority.

[2020-11-10 08:02] stwunsch commented on #6779
Also nightlies are green :+1:

[2020-11-10 08:02] #6779 closed

[2020-11-10 08:57] andresailer opened #6784 "external nlohmann/json.hpp is not forwarded as dependency or should be linked PRIVATE?"
- [x] Checked for duplicates

### Describe the bug
If the external nhlohman json is used ROOT an error occurs if ROOTEve is used
[code]
(original discovery via lcg nightlies in DD4hep package build on top of root master

### Expected behavior

ROOT targets resolve all their dependencies so that other CMake projects can use them without error or change to their cmake
`Find_dependency` added to e.g.

[2020-11-10 09:10] eguiraud opened #6785 "rootbrowse is not tested"
### Explain what you would like to see improved

`rootbrowse` [was broken](https://sft.its.cern.ch/jira/browse/ROOT-10774) by the upgrade to the new PyROOT but as we do not test it we never noticed.

(I am not sure how to test that the GUI starts and works correctly though)

[2020-11-10 09:52] linev commented on #6784
Yes, I can confirm a problem.
export for fictional `nlohmann_json` library is missing.
I will try to fix it

[2020-11-10 10:00] alexde-dev commented on #6771
Great to see that there's interest from your side side, even it's not high priority.

Do you know if the first 12 bytes in the .root files could be used as a magic for matching?
The root files I reviewed started with only either one of these two chunks:

[code]

[2020-11-10 10:06] vepadulano commented on #6765
Other differences may be specific to our OS (I'm on Fedora), but I wouldn't know what else could influence the difference in our results.

I'm just running the following two reproducers:
[first comment, reproducer with RDF](https://github.com/root-project/root/issues/6765#issue-737618503)
[reproducer without RDF, cloudpickle and dask](https://github.com/root-project/root/issues/6765#issuecomment-7

[2020-11-10 10:19] Axel-Naumann commented on #6771
Check `file myfile.root` ;-) ROOT files are already registered with the `file` utility (you can check its source), but that is not immediately related to MIME types. Anyway - I'll take care of it!

[2020-11-10 10:34] linev commented on #6784
@oshadura, according to [this cmake docu](https://cmake.org/cmake/help/git-stage/guide/importing-exporting/index.html#creating-a-package-configuration-file), one have to add something like `find_dependency(nlohmann_json)` into ROOTConfig.cmake

I did not found any example of usage of this macro in ROOT.
I tried to use your code around `builtin_glew`, but it does not work.
`nlohmann_json` does not

[2020-11-10 11:22] eguiraud commented on #6771
@alexde-dev see the second table at https://root.cern/doc/master/classTFile.html for what the bytes represent.

[2020-11-10 11:40] oshadura commented on #6784
I agree that it is an exceptional case, I just not very happy that we will add only `nlohmann_json` in `ROOTConfig.cmake`

[2020-11-10 12:18] linev commented on #6784
May be it can be good starting point!

For many components (like `RMySQL` library) we provide our own `FindMySQL.cmake` macro,
which automatically exports system include paths. Therefore problem not appears.

If we would use standard `find_package(MySQL)`, we probably also need to provide `find_dependency(MySQL)`.

[2020-11-10 12:20] oshadura commented on #6784
@linev totally agree with you, we will definitely need to review other builtins/dependencies...

[2020-11-10 15:05] linev commented on #6784
I hope, now it should work. PR #6788 has to fix a problem

[2020-11-10 15:05] #6784 closed

[2020-11-10 15:09] andresailer opened #6791 "dictionary payload parsing diagnostics: no more error message when header not found"
- [x] Checked for duplicates

### Describe the bug
When root fails to load the dictionary payload it used to give a clear message that a header file couldn't be included.
[code]
See full [error.txt](https://github.com/root-project/root/files/5517699/error.txt)

But with the root master or 6.22.00, there is only
[code]
In both cases followed by the rest of the "dictionary payload", see attached

[e

[2020-11-10 15:20] andresailer commented on #6784
Thanks for quickly taking care of this!

[2020-11-10 15:56] wddgit opened #6792 "Valgrind Source and destination overlap in memcpy(0x1ffeff0c78, 0x1ffeff0c78, 12)"
While attempting to debug a crash in CMS code, we ran valgrind and valgrind reported the following error. At this point, we don't know whether this is related to the crash we have seen or not. It is undefined behavior. The full error from valgrind follows:

==15413== Source and destination overlap in memcpy(0x1ffeff0c78, 0x1ffeff0c78, 12)
==15413== at 0x40322A8: memcpy@@GLIBC_2.14 (in /cvmfs/cms-i

[2020-11-11 07:49] ThomasRuf commented on #6774
in the meantime, I found a solution, although looks a bit strange:
export LIBGL_DRIVERS_PATH="/usr/share/bug/libgl1-mesa-dri"

The event display works, there are only two errors appearing, but they don't stop the graphics:
libGL error: MESA-LOADER: failed to open swrast (search paths /usr/share/bug/libgl1-mesa-dri)
libGL error: failed to load driver: swrast
and
Error in <TGLViewerBase::RenderOpaqu

[2020-11-11 07:56] eguiraud commented on #6792
Duplicate of https://sft.its.cern.ch/jira/browse/ROOT-10806

[2020-11-11 09:56] linev commented on #6774
Seems to be, it is OpenGL configuration on your machine.
@ThomasRuf , can we close the issue?

[2020-11-11 10:42] ThomasRuf commented on #6774
almost. I still need to find out what "Error in <TGLViewerBase::RenderOpaque - pre exit check>" means and how to fix it, because this stops the execution of other code in my python script and returns to the command prompt.

[2020-11-11 18:37] eguiraud opened #6796 "[VecOps] Interaction between memory adoption and `clear` yields wrong results"
### Describe the bug

Calling `clear` followed by `push_back(x)` on a `RVec` that is adopting memory results in the wrong value being "pushed back":

[code]

[2020-11-11 20:13] dan131riley opened #6797 "TCling::UpdateListOfLoadedSharedLibraries() Linux thread safety"
- [x] Checked for duplicates

`TCling::UpdateListOfLoadedSharedLibraries()` iterates through the linked list of dynamic libraries maintained by glibc and saves a pointer into the middle of the list:

https://github.com/root-project/root/blob/49c45b3291c71ffc7f603ae4267f112fdaf77ac4/core/metacling/src/TCling.cxx#L3285-L3290

This is a linked list that can be modified by the activity of other thread

[2020-11-12 12:40] #6483 closed

[2020-11-12 14:07] dciangot opened #6802 "Allow to pass Bearer token authentication header to Davix client"
### Is your feature request related to a problem? Please describe.
If I want to read data from a webDav/http endpoint using an oidc token, I'd need to be able to pass the token somehow in ROOT to the Davix client wrapper. Possibly through env variable and rootrc.

### Describe the solution you'd like
Make the Davix client wrapper able to take the token from env variable and rootrc.

### Additional

[2020-11-13 15:25] oshadura commented on #6802
CC: @bbockelm
Brian, I know you are a Bearer token expert :1st_place_medal:, can you recommend us if the solution of @dciangot makes sense?

[2020-11-15 16:21] romainbqt opened #6811 "Bug displaying several 3D objects such as TGraph2D on the same canvas"
Hello,

When displaying several 3D objects the same canvas there is a problem,
it was reported in old versions of ROOT
https://root-forum.cern.ch/t/multiple-tgraph2d-in-a-single-plot/7409
and seems to be still there in the most recent versions.

From my understanding, when two 3D objects do not have the same range hence axis when displaying them on the same canvas ROOT does not adapt them.
Below i

[2020-11-16 06:29] Asxcvbn opened #6812 "root REPL problem with unsigned num assigned to a not declared item"
- [ x] Checked for duplicates

### Describe the bug
in root interpreter, we may:
[code]
and then
[code]
and it returns a number
[code]
which is totally unexpected.

### Expected behavior
we expect to yield:
[code]

### To Reproduce
code generally described above.
you just need to:
start root interpretor
[code]
and run the lines in it
[code]
note other unsigned integer types also bug.
[code]

### S

[2020-11-16 07:57] Axel-Naumann commented on #6563
Addressed failures through #6789

[2020-11-16 08:43] ellert opened #6813 "Test pyunittests-pyroot-pyz-ttree-branch-attr fails on Intel 32 bit Linux"
- [x] Checked for duplicates

### Describe the bug
In commit 63aeb0d65d3817e805b0edee2ab7b8f4aa20a190 (master) and commit c3e69067256263bfd5287794b4444e20da5b0f57 (v6.22) the bindings/pyroot/pythonizations/test/ttree_branch_attr.py was extended to include an additional test. This test fails on Intel 32 bit Fedora Linux: The error is: symbol '__atomic_fetch_add_8' unresolved. It does not fail on an

[2020-11-16 13:52] andriish opened #6815 "PowerShell version of 'thisroot.bat'"
### Is your feature request related to a problem? Please describe.
It is hard to use the exiting thisroot.bat with powershell.

### Describe the solution you'd like
Having a version of thisroot.bat for powershell. E.g. thisroot.ps1

### Describe alternatives you've considered
The considered alternative is to parse the thisroot.bat in powershell  or launch powershell from the cmd.exe.
Both solution

[2020-11-16 15:27] jblomer commented on #6802
@dciangot Could you submit your proposal as a draft PR?  To me it makes sense and I think we should discuss necessary changes as part of the PR review.

[2020-11-16 15:29] jblomer commented on #6802
@dciangot And: thanks a lot for submitting the issue together with a patch!  That's very much appreciated!

[2020-11-16 16:38] Axel-Naumann opened #6817 "macOS packaging broken in master"
# Describe the bug
https://lcgapp-services.cern.ch/root-jenkins/job/root-release-master/ shows all mac build are broken with similar errrors:
[code]
[code]

[2020-11-16 17:15] dciangot commented on #6802
Done. #6818

[2020-11-16 20:27] andriish opened #6820 "Problems with parsing VS 16.8 headers"
### Describe the bug
It looks like ROOT/Clang is not able to parse the VS headers from the recent 16.8.
It emits multiple errors about undefined symbols.

### Expected behavior
Dictionaries are generated.

### To Reproduce
Try to generate a dictionary using VS 16.8

### Setup
ROOT 6.22 zip tarbal for Win32 from the ROOT site
Windows10

### Additional context
Not sure that this is the largest probl

[2020-11-17 02:41] LongLI-SDU opened #6822 "TH2D saving bug"
Hello everyone,
I met a bug for histogram saving. I create a TH2D Drawing with ("COLZ2"), When I try to save the histogram as *.pdf or *.eps, the color in the bin disappears. My root version is 6.18/04, the bug remains in 6.22/02. When I try it in ROOT 5.34, the pdf file of hist is ok.
[DC.pdf](https://github.com/root-project/root/files/5550941/DC.pdf)

[2020-11-17 08:04] linev commented on #6822
Yes, I can confirm a problem. At the same time "colz" works properly.

[2020-11-17 08:09] LongLI-SDU commented on #6822
OK, I tried in "colz", it woks!

[2020-11-17 08:10] linev commented on #6822
It is not fully ok, "colz2" have to work too.

[2020-11-17 08:27] couet commented on #6822
Col2 option is a bitmap Representation of the histogram to make the col option very fast when the histogram has many bins and the bin size is close to one pixel. But this bitmap graphics and ps and pdf are vector graphics. So col2 produces an empty plot. This is not a bug. This feature is explained in the THistPainter reference guide (look at it) in the COL Option section.

[2020-11-17 08:27] #6822 closed

[2020-11-17 08:30] LongLI-SDU commented on #6822
Yeah, I found it in the guide. Thanks a lot

Best Regards，
             Long LI
--------------------------------------------------------------------------
Institute of Frontier and Interdisciplinary Science, Shandong University

Addr：NO.72 Binhaidadao,Jimo,Qindao,PRC
E-mail: longli@mail.sdu.edu.cn
Tel: +86 13176405608

On 11/17/2020 16:28，Olivier Couet<notifications@github.com> wrote：

Col2 option

[2020-11-17 08:35] linev commented on #6822
Olivier, can one just automatically switch to col option when doing batch output with `gVirtualPS`?
Just to avoid confusion in the future?

[2020-11-17 08:46] bellenot commented on #6820
We are aware of this issue. There is nothing we can do about it, only hoping that the llvm upgrade will fix the issue...

[2020-11-17 11:32] andriish opened #6824 "Visual Studio error C2026 with dictionaries."
### Describe the bug
Cling produces in the dictionary files code like this:

[code]
Which is invalid for VS if the string is longer than ~16000 characters.
In these cases either the C2026 is issued
https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-error-c2026?view=msvc-160
or, much worse, the code is silently truncated and then the compiled executables crash in runtime

[2020-11-17 11:50] andriish commented on #6820
Hi @bellenot ,

you mean  general problems with VS or problems with this specific version? Asking while 16.8 is quite recent, e.g. github has 16.7 on runners. And 16.7 can be tweaked to produce the dictionaries.  So these could be separate issues.

In my opinion VS and llvm separately are not nice things to deal with and their combination should not be easier to handle.
That is outside of scope of

[2020-11-17 11:52] couet commented on #6822
That was already discussed many time in the past. The problem is that doing that de pdf and ps  files generated will be super huge and people will not realize it if they are running in batch. Some people had disk saturated. Col2 was explicitly created for that. So if we do what we suggest we do exactly what we wanted to avoid. All that is explained in de reference guide

[2020-11-17 11:58] linev commented on #6822
Ok, I see.

[2020-11-17 12:07] bellenot commented on #6824
We are aware of such kind of issue, but we will have hard time trying to fix all Windows/VS limitations... I'll keep it in my list anyway

[2020-11-17 12:13] bellenot commented on #6820
I mean these specific versions (v16.8.0 and v16.8.1). I saw the problem the day they released it

I'll keep the VS option, and don't want to spend time trying all possible alternatives out there (I did it in the past and don't want to waste my time anymore). Most people use Visual Studio on Windows

[2020-11-17 12:19] andriish commented on #6820
Hi @bellenot,

Then, if you are aware of it, does it makes sense to keep the issue open?
If you think not, either of us can close it.

Thanks a lot,

Andrii

[2020-11-17 12:24] bellenot commented on #6820
Hi @andriish, no problem to keep it open, at least until we upgrade llvm.

[2020-11-17 14:18] #6815 closed

[2020-11-18 09:36] Axel-Naumann commented on #6792
Thanks, @wddgit - we are aware, please follow https://sft.its.cern.ch/jira/browse/ROOT-10806 where this was first reported. Closing this.

[2020-11-18 09:36] #6792 closed

[2020-11-18 13:35] ferdymercury opened #6837 "error: stray ‘\303’ in program in dictionary generation on paths with accent"
### Describe the bug
I have a ROOT script stored in a folder which has some accent (Física) within the full path.

If I open the ROOT console, and run the script as
- `.x test_script.cpp` all works fine.
- `.x test_script.cpp+` I get an error.

`_cpp_ACLiC_dict.cxx:3:60: error: stray ‘\303’ in program`

### Expected behavior
ROOT dictionary generator correctly codifies accents into something under

[2020-11-18 13:49] ktf opened #6838 "build/unix/compiledata.sh assumes macOS will always have major version 10"
While on Big Sur it returns 11, unless `export SYSTEM_VERSION_COMPAT=1`.

[2020-11-18 14:01] fuhlig1 opened #6839 "Compilation fails on macosx 11.0 with arm processor"
- [ x] Checked for duplicates

### Describe the bug

when trying to compile ROOT on the new arm64 platform of Apple I get the following error when running rootcling

[ 44%] Generating G__Core.cxx, ../lib/libCore.rootmap
error: unknown target triple 'unknown-apple-macosx10.16.0', please use -triple or -arch
Could not determine compiler target.
Compiler instance could not be created.
0  rootcling_st

[2020-11-18 16:09] pcanal opened #6840 "TClass for pair sometimes have the wrong offset/size"
Recent updated had made TClass::GetClass always returns an instance for std::pair even if there is no dictionary for the pair or it has not been instanced yet in the interpreter (step that can lead to autoparsing).
However, the offset and size calculations (guesses) in those cases is inadequate and sometimes leads to incorrect use (read/write) of the content of collection.  See for example: https:

[2020-11-19 11:21] stwunsch commented on #6765
See the linked PR for a hack to fix the issue. Looking at the issue in a debug build, I could find out that cppyy is the culprit. The issue is that if you import ROOT in another process (and the import happens in a previously pickled function), then cppyy is not there and some random INCREF on the cppyy module segfaults because of accessing a nullptr. It's to be discussed how to fix this properly

[2020-11-19 14:44] mrodozov opened #6846 "How to set the debug build optimization level in -DCMAKE_BUILD_TYPE=Debug"
Hi,

when building with -DCMAKE_BUILD_TYPE=Debug
how should I set the -O flag level - using the CXXFLAGS
or using RelWithDebInfo or Optimized.
I see RelWithDebInfo is setting -03.

Our aim would be to get as much debug info as possible (thats one), and know how change optimization levels

[2020-11-20 09:20] eguiraud commented on #6765
Assigning to Enric after discussion with Stefan -- we need someone that understands the ROOT -> cppyy import chain:
in the forked process, it looks like ROOT is re-imported (or at least it's there) but cppyy is not (that's what causes the crash), and we don't know why.

[2020-11-20 13:58] stwunsch opened #6848 "[DF] Cannot snapshot branch with vector<T> given multiple files as input"
The following standalone reproducer tells the story. The issue is an error that just appears if we snapshot an empty tree from a chain as input.

[code]

Present on master in commit ff0c693e49d6857d3c7b089720adc012f379a45e (2020 Oct 8) but also seen in 6.22

[2020-11-20 14:04] stwunsch commented on #6848
Ok it's not as low in priority as I thought in first place. Since you may want to run such a pipeline on a large amount of files and it could well be that some of the files don't produce an output, the scenario is not as unlikely as it seems.

[2020-11-20 14:16] eguiraud commented on #6848
We should not print a warning in this case, but it can safely be ignored.

[2020-11-20 14:50] andriish commented on #6820
Today github  updated VS and now the default compiler is  'MSVC 19.28.29333.0', which has this problem.

[2020-11-20 14:52] mrodozov commented on #6846
never mind, I used standard cmake flags and I think it worked

[2020-11-20 14:52] #6846 closed

[2020-11-20 15:14] bellenot commented on #6820
How is this relevant to us?

[2020-11-20 15:24] andriish commented on #6820
Hi @bellenot ,

sorry if that looks like noise. This is technically irrelevant, of course.  The update would just mean that anyone using github CI to build dictionaries will see this problem. So there might be more affected people.

Best regards,

Andrii

[2020-11-20 15:26] bellenot commented on #6820
OK, I see, this is obviously an issue, like for people (like me) who update their version of Visual Studio every time there is a new release... (but now I do that on a dedicated VM to prevent this kind of "deadlock")

[2020-11-20 16:20] Axel-Naumann commented on #6839
We are not planning to backport Apple Silicon support to 6.20. master works fine; 6.22 will work soon, too, see https://github.com/root-project/root/pull/6849

Please let us know should you see any issues with master - which works for us.

[2020-11-20 16:23] Axel-Naumann commented on #6838
O but that's fixed since ages - Oct 30, https://github.com/root-project/root/commit/132b72c2000b9f942cc77b5cddec4e9c7161f836 ;-)

I am planning on backporting this to 6.22, see https://github.com/root-project/root/pull/6849

OK to close?

[2020-11-20 16:26] Axel-Naumann commented on #6837
Thanks for your report! Can you share `_cpp_ACLiC_dict.cxx`?

[2020-11-20 16:30] Axel-Naumann commented on #6817
Thanks, @reikdas !

[2020-11-20 16:30] #6817 closed

[2020-11-20 16:57] ktf commented on #6838
yes

--
Ciao,
Giulio
On 20 Nov 2020, 17:24 +0100, Axel Naumann <notifications@github.com>, wrote:

[2020-11-20 16:59] #6839 closed

[2020-11-20 17:00] #6838 closed

[2020-11-20 17:01] edbird opened #6851 "TLatex interpreter bug"
- [X] Checked for duplicates

### Describe the bug

The following string fails to be interpreted by TLatex

[code]

### Expected behavior

Should not crash

### To Reproduce

[code]

### Setup

ROOT Version: 6.18/04
Built for linuxx8664gcc on Sep 11 2019, 15:38:23
From tags/v6-18-04@v6-18-04

Debian 10, Linux

Obtained from homebrew fork / distribution (SuperNEMO collaboration)

### Additional con

[2020-11-20 17:02] edbird commented on #6851
Command line error:

![image](https://user-images.githubusercontent.com/2939755/99827936-2e5b9a80-2b52-11eb-903a-cab9077a592e.png)

[2020-11-20 18:31] eguiraud opened #6853 "[DF] SaveGraph can be confused by shared upstream Defines"
## Describe the bug

Reported [on the forum](https://root-forum.cern.ch/t/crash-when-creating-rdataframe-graph/42343/3), with a reproducer.

[test3.C](https://root-forum.cern.ch/uploads/short-url/7ZVxQ0j0rgaCf65KgARmFplQGlz.C) + [testtree2.root](https://root-forum.cern.ch/uploads/short-url/bXK8KdWy4gp0xW8iT7zEIXAXJ3V.root) should produce

![image](https://user-images.githubusercontent.com/10999034

[2020-11-21 13:12] ferdymercury commented on #6837
Thanks. I do no find the .cxx, just the .pcm as a binary
[compare_Compton3_cpp_ACLiC_dict_rdict.pcm.zip](https://github.com/root-project/root/files/5577670/compare_Compton3_cpp_ACLiC_dict_rdict.pcm.zip)

See error log here:
[code]

[2020-11-21 14:29] pcanal commented on #6840
@phsft-bot build with flags -DCTEST_TEST_EXCLUDE_NONE=On

[2020-11-21 18:24] YuryYury commented on #6851
This bug Edward reports was described at the ROOT forum two years ago by me in [this thread](https://root-forum.cern.ch/t/integral-with-limits-under-frac/31891). The MWE from that thread of mine can be further simplified down to just three lines of code actually:
[code]
This snippet crashes (when ran in 6.14/04) with the same
[code]

[2020-11-22 11:25] Axel-Naumann opened #6855 "`libRooFitCore` fails to link: `undefined reference to '__cpu_indicator_init'`"
### Describe the bug

From https://lcgapp-services.cern.ch/root-jenkins/job/root-release-master/BUILDTYPE=Release,LABEL=ROOT-fedora29,V=master/353/parsed_console/
[code]

### Expected behavior

No linker error.

### To Reproduce

Build ROOT on Fedora 29.

Consider adding `-lgcc` *if* needed, i.e. in the case 'yes we want / can build arch-specific compute libraries we should check whether linking c