[2021-06-24 05:56] #8503 closed

[2021-06-24 07:03] bellenot commented on #8435
OK, thanks for the info. Then maybe @Axel-Naumann, the author of the script, can give some hints how to solve this

[2021-06-24 07:45] ynikitenko commented on #8517
Thanks, Philippe. I added that information to the old thread on the forum. I also found what you were saying in the manual (so it is present somewhere in the documentation, though I usually read the reference guide).
About my initial feature request: I think this is a continuous wish of users to have a vector for ints (and other types) when you have a vector for doubles. So it's up to you whether

[2021-06-24 07:53] ferdymercury commented on #8524
I see. For me it does not crash with .cpp but it crashes with .cpp+

I'll try to update to a newer version to see if it gets solved. Thanks.

[2021-06-24 10:01] jirka-h commented on #8503
Thank you, Jonas!

[2021-06-24 12:40] Axel-Naumann commented on #8499
Confirmed fixed by Alice / PeterH.

[2021-06-24 12:55] georgtroska commented on #8292
Seems no :-(

I downloaded https://github.com/bellenot/root/tree/check-internet-connection but I didn't expect that:

it hangs after git
~/sw/root-bld-test$ cmake -DCMAKE_INSALL_PREFIX=../root-inst-test ../root-check-internet-connection
-- The C compiler identification is GNU 8.3.1
-- The CXX compiler identification is GNU 8.3.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C c

[2021-06-24 13:07] bellenot commented on #8292
Yeah, sorry, I overlooked at the timeout parameter (100 seconds instead of 100 milliseconds). I'll commit the necessary changes (5 seconds) in a few minutes

[2021-06-24 13:07] georgtroska commented on #8292
Hi,
Ok I went though your commits:

It seems that the default timeout for wget is 900s !!

Because pf this
$ wget https://root.cern.ch/files/dummy.txt
--2021-06-24 13:01:05--  https://root.cern.ch/files/dummy.txt
Resolving root.cern.ch (root.cern.ch)... 137.138.18.236, 2001:1458:201:ee::100:6
Connecting to root.cern.ch (root.cern.ch)|137.138.18.236|:443... connected.

is bloody long time.

I would

[2021-06-24 13:09] bellenot commented on #8292
Done. please check the last commit

[2021-06-24 13:11] Axel-Naumann commented on #8435
Thanks. I've applied 0be8bbee9570776d17196b32c82db1d25c6e3530 also to v6-24-00-patches as 5a3cc900fa934ccf7de0fdb45972d09d470e0d9f; it will be released soon.

I agree it'd be nice to have `thisroot.*` work also with `gnuinstall=On` - right now, none of the `thisroot.*` scripts work, this doesn't seem to be specific to `fish`.

Does `/usr/local/bin/root-config --etcdir` state the right thing?

[2021-06-24 13:24] georgtroska commented on #8292
Hi,
still not working:
It detects a working connection:

t$ cmake -DCMAKE_INSALL_PREFIX=../root-inst-test ../root-check-internet-connection
-- The C compiler identification is GNU 8.3.1
-- The CXX compiler identification is GNU 8.3.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info -

[2021-06-24 13:34] bellenot commented on #8292
OK, then I will change the code. Note that I have to physically download a file on the client to have a return code of 0, and then delete it. That's why I wanted to do it differently, but anyway, if it's needed then let's do it

[2021-06-24 13:41] bellenot commented on #8292
Done. Can you try again? (sorry but since I connect on the machine with ssh, I can't unplug it...)

[2021-06-24 13:45] bellenot commented on #8292
(btw `CMake` doesn't necessarily uses `wget`, so the return codes don't match)

[2021-06-24 14:35] Axel-Naumann commented on #8448
Thanks, we'll update the build docs. Note that CentOS brings ROOT in through EPEL - not sure whether that's sufficient for your case.

Sad to hear that you're leaving ROOT!

[2021-06-24 14:37] Axel-Naumann opened #8532 "`-DBUILD_SHARED_LIBS` never worked and should not be advertized"
https://root.cern/install/build_from_source/#relevant-cmake-variables mentions `-DBUILD_SHARED_LIBS` but this isn't actually supported. We should remove the option.

See https://github.com/root-project/root/issues/8448 for additional background

[2021-06-24 14:39] Axel-Naumann commented on #8448
Please let me know if you want this issue here to be reopened, because https://github.com/root-project/root/issues/8532 doesn't capture what needs to be done!

[2021-06-24 14:39] #8448 closed

[2021-06-24 14:41] ynikitenko opened #8533 "docs for RooAbsPdf have some method signatures missing"
- [github] Checked for duplicates

### Describe the bug
Open the docs for [RooAbsPdf::createChi2()](https://root.cern.ch/doc/master/classRooAbsPdf.html#afa0fa22e51246c8360116b730acefa54). The function is written as

    RooAbsReal * RooAbsReal::createChi2

while in the header (in the list of all methods at the top of the page), it has some parameters

     virtual RooAbsReal * createChi2 (RooDataH

[2021-06-24 14:44] Axel-Naumann commented on #8357
We considered replacing them with https://packages.ubuntu.com/bionic/fonts-liberation

Thanks for pointing out the fedora patch - looks good, actually - too bad that never made it upstream! I'll assign to @bellenot so see which route we should take: replace the files with "liberation" or patch ROOT to use fontconfig.

[2021-06-24 14:59] #8519 closed

[2021-06-24 15:00] bellenot commented on #8357
OK, I'll check what to do on Windows and MacOS (i.e. all non-X platforms since `fontconfig` depends on X)

[2021-06-24 16:10] couet commented on #8533
It is a bit more weird than that because `RooAbsReal* RooAbsReal::createChi2` appears in the `RooAbsPdf` doc.

[2021-06-24 16:31] pcanal commented on #7754
Unfortunately the patch was not complete and broke other use case, so it has been reverted in v6.24 while we work on it :(

[2021-06-25 07:03] couet commented on #8533
RooAbsPdf inherits from RooAbsReal . When looking at createChi2 from [RooAbsReal](https://root.cern.ch/doc/master/classRooAbsReal.html#a2887f87bb87fd035c6a0ee5db55aef35) it shows the parameters when looking at it from [RooAbdPdf](https://root.cern.ch/doc/master/classRooAbsPdf.html#a2887f87bb87fd035c6a0ee5db55aef35) it doesn't. I have no answer yet. It might be a doxygen issue.

[2021-06-25 07:41] #8532 closed

[2021-06-25 08:09] cavfiumella commented on #8435
Yes, it states `/usr/local/etc/root`

[2021-06-25 09:03] couet commented on #8533
It seems to be a doxygen issue. I submitted  an issue, with a simple reproducer,  in the doxygen repository:
https://github.com/doxygen/doxygen/issues/8620

[2021-06-25 09:09] hageboeck opened #8537 "Warnings when configuring with CUDA 11.3"
- [x] Checked for duplicates

### Describe the bug
Configuring with `-DCUDA=ON` leads to
[code]

### Expected behavior
Don't warn.

### To Reproduce
`cmake -Dcuda=ON <src>`.

### Setup
- centos8
- cuda 11.3 installed via yum.
- Manos' master branch. It branched off from master on 22. Jun @ d026b4918a .

### Additional context
--

[2021-06-25 10:16] #8504 closed

[2021-06-25 13:59] Axel-Naumann commented on #6454
Peter Hristov for Alice confirmed that the above PRs fix this issue.

[2021-06-25 14:01] etejedor commented on #8459
The PR referenced above has been merged with fixes for JSROOT-JupyROOT in ROOT 6.22. @ellert please note that it includes more changes than the patch you applied (I still couldn't see the JSROOT graphics in JupyterLab with that patch alone).

[2021-06-25 14:03] #8459 closed

[2021-06-25 14:07] etejedor commented on #6974
@TatianaOvsiannikova is all ok now?

[2021-06-25 16:16] #6454 closed

[2021-06-25 16:18] Axel-Naumann commented on #6454
Let me know if you still see this in v6-24-00-patches or the upcoming v6.24/02 and I'll reopen this issue!

[2021-06-27 19:11] TatianaOvsiannikova commented on #6974
Sorry for the slow response. I've been out of network few days. Now, it seems to work. Thank you again!

[2021-06-28 07:17] couet commented on #8533
This is now fixed in doxygen. See doxygen/doxygen#8620

[2021-06-28 07:19] etejedor commented on #6974
Good to hear! Closing this ticket then.

[2021-06-28 07:19] #6974 closed

[2021-06-28 07:45] georgtroska commented on #8292
Hello Bertrand @bellenot,

much better but now
$ cmake --build . -- -j8

seems to hang at RIO???

[...]
[ 81%] Built target setDict
[ 81%] Built target unordered_setDict
[ 81%] Built target multisetDict
[ 81%] Built target unordered_multisetDict
[ 81%] Built target root.exe
[ 81%] Built target G__RIO
[ 82%] Built target RIO

Georg

[2021-06-28 08:00] bellenot commented on #8537
Hi @hageboeck , I cannot try, but it looks like renaming `CuDNN` to `CUDNN` in [SearchInstalledSoftware.cmake](https://github.com/root-project/root/blob/master/cmake/modules/SearchInstalledSoftware.cmake#L1667-L1669) should fix those warnings. Can you try and let me know? Thanks in advance!

[2021-06-28 08:03] bellenot commented on #8292
Thanks @georgtroska , I'll check

[2021-06-28 08:04] Axel-Naumann commented on #8292
No, it *built* target RIO and hangs then. Two options: check with `ps -feH` to see what's happening "below" `cmake`, or press <kbd>Ctrl</kbd><kbd>C</kbd> and paste what `cmake` shows as canceled build steps.

[2021-06-28 08:58] Axel-Naumann commented on #8524
We need more info: which GCC version, which C++ std version, what is the *complete* diagnostic from cling?

[2021-06-28 09:03] Axel-Naumann commented on #8447
Just FYI, we already have `-e expr` which allows to do some of what you're suggesting here. I will leave this open for a while to see whether I am mis-estimating and our user community actually wants this. If so, folks, please share your argument / use case for having this. If there no significant support shows up we will instead continue to invest in more fundamental parts of ROOT.

[2021-06-28 09:08] Axel-Naumann commented on #8421
@couet see https://root.cern.ch/doc/master/classTRangeDynCast.html https://root.cern.ch/doc/master/classROOT_1_1Detail_1_1TRangeStaticCast.html

[2021-06-28 09:29] bellenot commented on #8292
So at least `clad` is failing for me, but it doesn't hang after `RIO`. Can you try to disable it? (I didn't check the LLVM/Clang/Cling external projects...)

[2021-06-28 09:32] linev opened #8547 "Crash in TDataMember::GetOffsetCint() method"
Following simple code crashes:

[code]

Method is crucial, while used in PyROOT.
Error trace:
[code]

[2021-06-28 09:41] hageboeck commented on #8537
If I have to try it, I thought I might as well directly submit the patch ... 🙂

[2021-06-28 09:48] ferdymercury commented on #8524
Ok. I'll check later today. Why is the GCC version not appearing in my ROOT version header?
"With ...."

[code]

[2021-06-28 10:26] lwpiotr opened #8549 "A crash when opening a ttree and its friend on TFile::Close()"
This bug report is the result of the initial report at https://root-forum.cern.ch/t/crashes-when-reading-a-ttree-with-a-friend.

Initially a tree t2 has a friend t1, and both are stored to a TFile, t2 with t1 stored as a friend. When opening both t2 and t1 from the file, then calling TFile::Close(), there is a crash. Most likely it is a matter of deletion order, where a tree already deleted is del

[2021-06-28 11:14] bellenot commented on #8537
Thanks @hageboeck !

[2021-06-28 12:26] #8537 closed

[2021-06-28 12:37] ferdymercury opened #8551 "Compiler Version not correctly parsed"
### Describe the bug
ROOT fails to parse the gcc compiler version in Ubuntu 18 and Ubuntu 20.
[code]
 with "..." is empty.

Also:
[code]

The issue is probably here: https://github.com/root-project/root/blob/master/build/unix/compiledata.sh#L69

### Expected behavior
[code]

### To Reproduce
1. Build from source on Ubuntu 18 or Ubuntu 20
2. Call root -b

### Setup
1. Self-built from git master

[2021-06-28 12:48] ntadej opened #8554 "Add ability to run `RBrowser` and similar commands in "server mode""
### Explain what you would like to see improved
Add ability to run `RBrowser` and similar commands in "server mode":
When using on remote machines spawning browsers is inefficient and not desired. What could be useful is to just print the URL, which can be then opened in a browser on a different machine.

I apologise if this has already been reported/implemented. I can not find any reference to th

[2021-06-28 13:49] linev commented on #8554
Good idea.
We already have such mode for the `REve`, one can introduce generic flag.
I will do it soon.

[2021-06-28 19:59] pcanal commented on #8549
In the C++ case, usually the friend is access though the main tree rather than on its own. eg
[code]
but in python the following does not (yet) work:
[code]

[2021-06-28 20:54] lwpiotr commented on #8549
Fortunately, in Python `print(t2.id, t1.id)` works for friends. Still, perhaps opening 2 trees, one the friend of the other, then closing the TFile, however uncommon,  should not result in a crash...

[2021-06-28 22:02] ferdymercury commented on #8524
I compiled ROOT in debug mode.

[code]

[code]

[code]

When running with gdb, I get:

[code]

[2021-06-29 06:47] linev commented on #8547
It is blocker for pythonization of ROOT7 graphics classes, while PyROOT crashes on any `RAttrValue` public member

[2021-06-29 13:28] henryiii commented on #7881
Homebrew has specific flags and such that are supposed to always be used on all projects. That's where these come from, a list called "cmake_std_args" in homebrew. Meddling with these is very tricky - but we only need it for older versions of macOS, 11 builds fine, so I think it will likely make it through review. We can try, anyway. I'll have to manually filter out settings from that list.

[2021-06-29 19:56] pcanal commented on #8549
Yes, I completely agree.  Finding a solution that does not lead to a severe performance penalty during file closing (of files containing many objects) is not trivial.

[2021-06-30 00:22] ferdymercury commented on #8365
After the changes from https://github.com/root-project/root/pull/8572, I am left only with this data race:

- TList::NewLink vs TList::FindObject
![image](https://user-images.githubusercontent.com/10653970/123883394-f225bf00-d916-11eb-869f-ab5d021c6f68.png)

- And then I see this error, that might be the reason of the freeze of my program.
![image](https://user-images.githubusercontent.com/1065397

[2021-06-30 07:33] georgtroska commented on #8292
Hi, sorry for the late reply,

so I run cmake on one terminal and while in hangs I run on an other ps -feH:

I think these are the interesting lines
[...]
ussapc   2103516 2102893  0 07:29 pts/0    00:00:00               cmake --build . --
ussapc   2103517 2103516  0 07:29 pts/0    00:00:00                 /usr/bin/gmake
ussapc   2103520 2103517  0 07:29 pts/0    00:00:00                   /usr/bi

[2021-06-30 08:02] bellenot commented on #8292
Hi @georgtroska , did you try with the latest version (I disabled clad)? You might have to delete the `interpreter/cling/tools/plugins/clad` directory or start from scratch

[2021-06-30 08:08] georgtroska commented on #8292
no I used the same version as before.

I need to redownload the zip and start from scratch (can't do `git fetch` cause there is no internet :-) )

Georg

[2021-06-30 08:11] bellenot commented on #8292
@georgtroska note that deleting the clad directory and disabling the `clad` option should do it. But it would be nice to see if my PR really allows to build ROOT without internet connection ;-)

[2021-06-30 08:35] georgtroska commented on #8292
Hi, @bellenot, Hi @Axel-Naumann,

still not running, I downloaded the latest version from that branch and started from scratch, but it still tries to download clad

Georg

[2021-06-30 08:38] bellenot commented on #8292
@georgtroska OK, thanks. I'll try again and let you know

[2021-06-30 09:56] linev commented on #8554
I create PR: https://github.com/root-project/root/pull/8575
You can try it.

[2021-06-30 12:12] bellenot commented on #8292
@georgtroska So disabling `clad` was not enough, one should not add the `clad` subdirectory. It should be fixed now (at least it works on Windows). Please let me know, so I can merge the PR. Thanks

[2021-06-30 13:31] #8269 closed

[2021-06-30 14:07] #8554 closed

[2021-06-30 14:34] #8450 closed

[2021-06-30 14:35] krasznaa opened #8578 "ROOT Assertion During Dictionary Loading (2021.06.30.)"
- [x] Checked for duplicates

### Describe the bug

Another incarnation of the ATLAS xAOD EDM overwhelming ROOT is at foot. :frowning: I was trying to understand the issue better before turning to you guys, but I feel that I would need to learn much more about LLVM/Cling to get further than what I'm willing to do...

So... in a particular PyROOT test I encounter the following assertion in a debug

[2021-06-30 15:20] ferdymercury commented on #8297
Could it be that the call to ROOT::EnableThreadSafety is changing somehow the unloading order?

![image](https://user-images.githubusercontent.com/10653970/123986845-ad406d80-d994-11eb-9a40-bfbe06b0ccb7.png)

[2021-06-30 18:28] #8547 closed

[2021-06-30 22:23] mxxo opened #8581 "[ntuple] RNTupleModel columns ownership issue"
- [x] Checked for duplicates

### Describe the bug

The following code causes a crash:
[code]
[code]
The following sequence is seemingly to blame (worked out with @jblomer):
1. The model owns fields
2. On `sink.Create()`, these fields get their columns connected to the page sink
3. The columns get their pages allocated from the page sink
4. On destruction, the columns ask the page sink to help the

[2021-06-30 23:00] ferdymercury opened #8582 "TThreadTimer behavior"
### Explain what you would like to see improved
After scratching my head for several hours/days, I found out the reason for a weird behavior I was seing in my ROOT-based C++ application for a DAQ system.

Long story short: the DAQ acquires data in several chunks, and each chunk readout takes 50 ms. After each readout, a `TThread::Printf()` is called. This makes each iteration take much more than 5

[2021-07-01 07:25] georgtroska commented on #8292
Hi @bellenot, Hi @Axel-Naumann,

:-(

[ 77%] Building CXX object core/rootcling_stage1/CMakeFiles/rootcling_stage1.dir/src/rootcling_stage1.cxx.o
[ 77%] Linking CXX executable src/rootcling_stage1
[ 77%] Built target MetaCling
Scanning dependencies of target Cling
[ 77%] Linking CXX shared library ../../../lib/libCling.so
/usr/bin/ld: cannot find -lcladPlugin
/usr/bin/ld: cannot find -lcladDiffere

[2021-07-01 07:34] bellenot commented on #8292
I'll check, but that's weird, it works just fine on Windows...

[2021-07-01 07:40] bellenot commented on #8292
@georgtroska did you build from scratch?

[2021-07-01 07:45] georgtroska commented on #8292
@bellenot
yes, rm -rf on build-dir

Georg

[2021-07-01 07:46] bellenot commented on #8292
@georgtroska OK, thanks

[2021-07-01 08:03] georgtroska commented on #8292
@bellenot
I just had a brief look in the code. I think its because of:

[file: /core/metacling/src/CMakeLists.txt]
[...]
# We need to paste the content of the cling plugins disabling link symbol optimizations.
set(CLING_PLUGIN_LINK_LIBS)
if (clad)
  if (APPLE)
    set(CLING_PLUGIN_LINK_LIBS -Wl,-force_load cladPlugin -Wl,-force_load cladDifferentiator)
  elseif(MSVC)
    set(CLING_PLUGIN_LINK_LIBS

[2021-07-01 08:26] bellenot commented on #8292
I'm investigating, but since I work on Windows and ssh on Linux, it's difficult to disconnect it from internet ;-)

[2021-07-01 08:26] georgtroska commented on #8292
iptables....?

[2021-07-01 08:27] georgtroska commented on #8292
or simply delete the testfile on the server :-)

[2021-07-01 08:30] bellenot commented on #8292
well, I just set the flag in `CMakeLists.txt`

[2021-07-01 08:58] ferdymercury commented on #8297
Somehow, I do not see the TThreadTimer leak any more, (maybe it disappeared when fixing the races in the list of timers)?

[2021-07-01 11:28] bellenot commented on #8292
@georgtroska I cannot reproduce the problem (i.e. it compiles fine on CentOS and Windows). Could you try to add `message(STATUS "clad = ${clad}")` in `core/metacling/src/CMakeLists.txt`, at line 93, as shown below:
[code]
and type `cmake .` in the build directory? You should see something like:
[code]

[2021-07-01 11:43] georgtroska commented on #8292
yes:

-- Cling version (from VERSION file): ROOT_1.0~dev
-- Cling will look for C++ headers in '/usr/lib/gcc/x86_64-redhat-linux/8/../../../../include/c++/8:/usr/lib/gcc/x86_64-redhat-linux/8/../../../../include/c++/8/x86_64-redhat-linux:/usr/lib/gcc/x86_64-redhat-linux/8/../../../../include/c++/8/backward' at runtime.
-- And then fallback to: 'c++'
-- clad=OFF
-- Performing Test found_stdstringvi

[2021-07-01 11:54] bellenot commented on #8292
@georgtroska Good, so then I don't understand why you got the linker error... I'll try to investigate more

[2021-07-01 12:25] bellenot commented on #8292
@georgtroska I updated the PR with a slightly different test for clad, and added a protection for the linker (even if I don't understand why it still tries to link with `clad=OFF`...)

[2021-07-01 13:21] georgtroska commented on #8292
@bellenot:
I started the recompilation..we will know it in ~35min :-)

[2021-07-01 13:42] georgtroska commented on #8292
@bellenot:
Another one...
I run with -j8 because of this a lot of output:

[ 80%] Linking CXX shared library ../../lib/libSrvAuth.so
[ 80%] Built target SrvAuth
[ 80%] Building CXX object core/multiproc/CMakeFiles/MultiProc.dir/src/TMPWorker                                                                                 .cxx.o
[ 80%] Built target G__Netx
Scanning dependencies of target Netx
[ 80%]

[2021-07-01 13:45] bellenot commented on #8292
@georgtroska thanks I'll check

[2021-07-01 14:38] bellenot commented on #8292
@georgtroska can you give me the result of `cmake .`? I.e. this line:
[code]

[2021-07-01 17:14] #8297 closed

[2021-07-01 18:53] georgtroska commented on #8292
@bellenot:

System          Linux-4.18.0-240.1.1.el8_3.x86_64
Processor       8 core Intel(R) Xeon(R) Platinum 8168 CPU @ 2.70GHz (x86_64)
Build type      Release
Install path    /usr/local
Compiler        GNU 8.3.1
Compiler flags:
C                -Wno-implicit-fallthrough -pipe -Wall -W -pthread -O2 -DNDEBUG
C++              -std=c++14 -Wno-implicit-fallthrough -Wno-noexcept-type -pipe

[2021-07-01 19:22] bellenot commented on #8292
@georgtroska Thanks! Enjoy your long weekend!

[2021-07-02 10:36] vgvassilev commented on #7881
@henryiii, can we mark this issue as resolved?

[2021-07-02 23:54] pcanal commented on #8297
That is very plausible.

[2021-07-02 23:56] pcanal commented on #8297
This report was close automatically by github because a related PR got merged.  If there is some (sub)issues that are still lingering, please open a new issue.

[2021-07-03 00:01] pcanal commented on #8582
There is some one time initialization.  To avoid this, run `Printf` (or `Emit`) in your startup/initialization phase.

[2021-07-03 01:26] pcanal commented on #8582
For this change, it might make more sense to use a compile time configuration.

[2021-07-04 23:42] ferdymercury opened #8597 "default TH2 palette is changed when using TGeoPainter"
### Describe the bug
I have a script drawing a TH2 histogram, which by default plots in Bird format.
Sometimes, I activate in the script also a TGLViewer (TEve window) on a separate window. When I do that, the palette of the TH2 histogram changes.

I checked and someone else saw the same issue, see http://nuclear.korea.ac.kr/~lamps/kebi_doc/KBRun_8cc_source.html line 1595

### Expected behavior
Th

[2021-07-05 04:56] #8533 closed

[2021-07-05 05:29] couet opened #8598 "Call automatically LabelsDeflate at drawing time"
It would be nice to call automatically LabelsDeflate at drawing time when plotting histogram with labels.

It was requested here: https://root-forum.cern.ch/t/wrong-range-enabled-by-default-when-filling-a-histogram/45554/4

[2021-07-05 05:37] couet commented on #8597
What is the exact reproducer:
[code]

[2021-07-05 07:58] linev opened #8599 "Preserve JSROOT when generating reference guide"
Starting from current master, we generate JSON for different v7 tutorials and embed them into HTML pages to
provide interactive images like:

https://root.cern/doc/master/draw__rh1__twoaxes_8cxx.html

For these images we are using https://root.cern/js/dev/ version, which constantly changes.
To be on the safe side, we should preserve JSROOT version with generated reference guide.
Most easy way - ju

[2021-07-05 08:00] ferdymercury commented on #8597
Here a minimal reproducer:

[code]

if you run with root -l test_palette.cpp+(true), you get:
![image](https://user-images.githubusercontent.com/10653970/124437818-befc8900-dd77-11eb-9021-f87bea698361.png)

if you run with (false), you get:
![image](https://user-images.githubusercontent.com/10653970/124437860-cc197800-dd77-11eb-98d1-68b4cc43e517.png)

[2021-07-05 08:08] couet commented on #8599
Hi Sergey. I will try locally on my machine and make a PR once it is working.

[2021-07-05 08:22] couet commented on #8597
I see. It looks like TEve changes the palette. ROOT has only one palette active at a given time. To have several Palette one can use the trick with TExec (see root tutorials). Let see what @osschar think about it. If a mod should be done it is in TEve.

[2021-07-05 11:50] hageboeck opened #8604 "[RF] Remove "No RooMinimizer" code paths."
There is a large section of code that's never checked (compiled) related to a time before RooMinimizer.
For example:
https://github.com/root-project/root/blob/7c4f9321a3fcbda598da6b815409a9a5ed72a53e/roofit/roofitcore/src/RooAbsPdf.cxx#L1599-L1783

This, together with the minimiser option `OldMinuit` (see RooAbsPdf::fitTo) should be removed.

_Originally posted by @hageboeck in https://github.com/

[2021-07-05 13:27] #8599 closed

[2021-07-05 13:58] #8000 closed

[2021-07-05 15:01] guitargeek commented on #8604
Good idea! We can also move the `RooMinuit` class to RooFitLegacy I suppose. I have opened a PR to deprecate RooMinuit.

[2021-07-05 15:39] Tristan-Anderson opened #8610 "Compiling from source: [26%] error: ‘numeric_limits’ is not a member of ‘std’ root"
https://github.com/root-project/root/blob/30fcf1f071d36a4142daf9f2e75aa6c1338fec38/core/foundation/inc/ROOT/libcpp_string_view.h#L10

During the execution of `cmake --build . -- install` per [this wiki's instruction](https://root.cern/install/#build-from-source) on branch v6-22-08: cmake crashes at 26%, throwing the following error:

`[ 26%] Building CXX object core/foundation/CMakeFiles/Foundatio

[2021-07-05 21:00] guitargeek commented on #8523
Thanks @Harshalzzzzzzz for translating the remaining tutorials! After PR #8584, we are only missing a translation now for `rf408_RDataFrameToRooFit` this one can't be translated yet because of a `std::string` vs C-style string issue, but after merging https://github.com/root-project/root/pull/8614 it will be possible to translate it.

Just one thing to keep in mind when translating the RDataFrameC

[2021-07-06 07:10] vepadulano commented on #8610
Hi @Tristan-Anderson ,
This is a duplicate of #8513 . The issue has been fixed by #8107 and relative backports. For 6.22, it will be available in next patch 6.22/10 . Or if you can, try to install directy our latest patch release 6.24/02 (aka `latest-stable`  branch) which already contains the fix

[2021-07-06 09:20] ynikitenko opened #8615 "[RF] Add documentation for RooAbsData::Expected"
### Explain what you would like to see improved

When I do a chi-2 calculation in RooFit, with [RooAbsPdf::createChi2](https://root.cern.ch/doc/master/classRooAbsPdf.html#a37b90418e779e3ecd92d43c42745d672), there is an option `DataError`, which is of type [RooAbsData::ErrorType](https://root.cern.ch/doc/master/classRooAbsData.html#a3f1b47ae0cc4e217f514a8e4331f7e88).

There are options Expected err

[2021-07-06 13:17] pamputt commented on #8292
I am in the same situation that georgtroska

I have downloaded https://github.com/bellenot/root/archive/refs/heads/check-internet-connection.zip (commit 4255aba), then I did

[code]

and I got the same error

[code]

[2021-07-06 13:25] hahnjo commented on #8504
@jirka-h FYI, I uploaded a C++ standalone version into https://github.com/hahnjo/ranluxpp

[2021-07-06 13:40] #8604 closed

[2021-07-06 14:03] bellenot commented on #8292
I'll try with a dedicated VM once I get my new laptop back from IT

[2021-07-06 15:16] ferdymercury opened #8618 "TH2 palette tick length is silently modified when passed to TGLAxisPainter"
- [x] Checked for duplicates

### Describe the bug
In a divided canvas, after some filling and "update", I see some weird horizontal lines of the color palette reaching over a TH2:

![image](https://user-images.githubusercontent.com/10653970/124624102-dec9a500-de7c-11eb-9784-d65c87d26679.png)

### Expected behavior
Palette lines stay were they were in the beginning.
![image](https://user-images.gi

[2021-07-06 16:52] #8610 closed

[2021-07-06 19:52] pcanal commented on #8365
Is this still an issue after making the collection 'thread-safe'?

Does it say 'which' lock is still being held?

[2021-07-06 22:49] ferdymercury commented on #8365
Thanks for the reply.

Yes, it is still an issue because the problem is in TList itself not being (completely) thread-safe even if UseRWLock is called.

Find attached the complete log.
[helgrindlog.txt](https://github.com/root-project/root/files/6773132/helgrindlog.txt)

The issue is that when a timer is added, it calls FindObject:
https://github.com/root-project/root/blob/master/core/cont/src/TLi

[2021-07-06 22:53] ferdymercury commented on #8365
It happens in several places, but it is always in the TList class when retrieving or adding links:

![image](https://user-images.githubusercontent.com/10653970/124675770-94b4e380-debd-11eb-8d52-eca94f13818f.png)

Maybe the deadlock disappears once we fix this last race.

[2021-07-06 22:56] ferdymercury commented on #8365
Side note: I was able to reproduce the same race and deadlock on different computers using:

[code]

[2021-07-07 06:33] couet commented on #8618
These lines are the tick marks of the palette axis. That's weird. I need to investigate.
I never saw such thing.

[2021-07-07 07:49] #7584 closed

[2021-07-07 08:03] jblomer commented on #8428
@pcanal Redmine is behind a login wall.  Could you paste the core of the bug report in this issue, too?

[2021-07-07 08:07] ferdymercury commented on #8618
Thanks for checking. Me neither. Although I have seen weird artefacts before with divided canvases, see:
https://sft.its.cern.ch/jira/browse/ROOT-7969

[2021-07-07 08:12] couet commented on #8618
I went a bit further. Nothing to do with the canvas division. I pruned your macro to the minium (there is no divide at that level) reproducing the problem. Then, I saved the buggy canvas to a .C macro. Which also shows the issue. And I reduced that's saved macro to the following few lines:
[code]
As your macro doesn't not set the tick length for the Z axis. I now need to understand why it has a su

[2021-07-07 08:23] ferdymercury commented on #8618
Thanks! Maybe here?

https://github.com/root-project/root/blob/master/graf3d/gl/src/TGLAxisPainter.cxx#L574

[2021-07-07 08:35] couet commented on #8618
Yes, it is the faulty one. If I comment it the tick are ok. But that's in the Gl/3D part and you are not using PreferGL for you 2D pad. We are progressing ....

[2021-07-07 09:00] couet commented on #8618
So commenting that line cures the problem with your initial macro . Now I need to understand why that line was put there and why it changes the axis attributes of your histogram ! ... I invite @osschar to this discussion as he is the author of this code (https://github.com/root-project/root/blob/master/graf3d/gl/src/TGLAxisPainter.cxx#L574) . I am temped to simply comment the line but that's weird

[2021-07-07 09:06] ferdymercury commented on #8618
Yes... really weird. I see that TPaletteAxis calls a function `ImportAxisAttributes`
Could it be that the active histogram is the one on the 3D view instead of the 'current histogram' when that function is called?

[2021-07-07 09:08] couet commented on #8618
Something like that may be... I am looking.

[2021-07-07 09:29] couet commented on #8618
This axis is set in [TGLPainterBox::PLotStandard](https://github.com/root-project/root/blob/aa21d63ca3a1f4cdb2b559e4cb1c2c2d7eb65f34/graf3d/gl/src/TGLAxisPainter.cxx#L621). In that method the histogram passed is "ConeOverlap" so your TH2F. And PlotStandard is called [from TH2GL::DirectDraw()](https://github.com/root-project/root/blob/aa21d63ca3a1f4cdb2b559e4cb1c2c2d7eb65f34/graf3d/gl/src/TH2GL.cxx

[2021-07-07 09:34] ferdymercury commented on #8618
Well, that's because I am drawing the same TH2 histogram in the 3D viewer as well as in the canvas.

See:
`x->SetPlot(h,"GLSURF2");`

h is the same TH2 histogram as drawn with COLZ in the canvas.

[2021-07-07 10:11] couet commented on #8618
I see, ... so that's clearly a bug in that case, the 3D viewer should not change the axis attributes silently ...
I am in favour to remove that line ..

[2021-07-07 10:40] couet commented on #8618
Fix here: https://github.com/root-project/root/pull/8621

[2021-07-07 10:43] vepadulano opened #8622 "PyROOT triggers a warning about [[nodiscard]] vector::empty with GCC11"
### Describe the bug
[code]
[code]
### Expected behavior

No warning triggered.

### Setup
ROOT 6.25 built on Fedora34 with GCC 11

### Additional context
This is the behaviour at the root prompt
[code]

[2021-07-07 12:32] jirka-h commented on #8504
This is great:-)

Thank you, Jonas!

Please see my comments here:
https://github.com/hahnjo/ranluxpp/issues/1

[2021-07-07 13:02] pcanal commented on #8428
Synopsis of the original error report:

Description

I had thought that our `art v3_09_01` based art passed all of our validation tests but I missed a single histogram that failed. I discovered it yesterday.

I traced it back to the following. We have a file

`/pnfs/mu2e/scratch/users/brownd/workflow/default/outstage/44170899/00/00000/dig.brownd.CeEndpointMix.MDC2020b.001201_00000000.art`

It was

[2021-07-07 13:09] #8551 closed

[2021-07-07 14:59] ferdymercury opened #8624 "ROOT recompilation speed with CMake and dependencies"
### Explain what you would like to see improved
When modifying ROOT source code (and even when not), it takes quite some time to recompile, even with ccache enabled. It seems that many things are re-compiled even if they do not depend directly on each other.

### Optional: share how it could be improved
Remove unneeded dependencies.

### To Reproduce
No-modification at all of the source code, ccac

[2021-07-07 20:26] ferdymercury commented on #8365
Another comment: If I change the TThread::Printf to std::cout, the deadlock and data races disappear. So this points that the data race happens when Printf is called, which creates as TTimer that is somehow lost during the TObjLink creation.

[2021-07-07 20:47] pcanal commented on #8365
The race is likely unrelated to the dead lock but maybe that it is time to follow the comment's advise:
[code]
well unless we really still have:

do we?

[2021-07-07 20:50] ferdymercury commented on #8365
Well, that's what I suspect based on the Helgrind log, because Printf creates a TThreadTimer and then it's racing with NewLink:

![image](https://user-images.githubusercontent.com/10653970/124826897-abb70c80-df75-11eb-9811-3696dbe32965.png)

[2021-07-07 21:15] ferdymercury commented on #8365
Good point!

The change is however non-trivial, because there is:
`TObject               **GetObjectRef() { return &fObject; }`

[2021-07-07 21:53] pcanal commented on #8365
In the last screen shot, the "no lock held" in the write is suspicious.  It is suppose to have take the write lock in `AddLast` line 158.     For the lock to be missed, it would need to have been executed before the thread-safety was enable or before the list was made thread-safe.

[2021-07-07 22:01] ferdymercury commented on #8365
Yes, it's weird indeed. Well, I call ROOT::EnableThreadSafety before any thread starts, so that should be fine.

the list is immediately made thread-safe in the function TSystem::Init,
[code]

I can try to rewrite it using an intermediary variable to lock it before assigning it to fTimers, to see if it change something.

[2021-07-07 22:12] ferdymercury commented on #8365
If I do:
[code]
then I get this helgrind log, seems similar:
[helgrindlog.txt](https://github.com/root-project/root/files/6780303/helgrindlog.txt)

[2021-07-08 11:16] #8618 closed

[2021-07-08 11:47] osschar commented on #8597
Hmmh, I grepped through eve and gl and didn't find anything ... not saying it isn't there for sure :)

There is this in geompainter though:
https://github.com/root-project/root/blob/master/geom/geompainter/src/TGeoPainter.cxx#L308

[2021-07-08 11:53] osschar commented on #8488
TGLAnnotation trick works.

[2021-07-08 11:53] #8488 closed

[2021-07-08 12:14] lmoneta commented on #7332
@AntoniMarcinek  I have made a PR implementing the functionality you requested.
Only the support for `_chg_truncated`, but it is not clear to me exactly what is it and what is your use case for this
Cheers

[2021-07-08 13:36] ferdymercury commented on #8597
Good point. Indeed, that seems the only place outside of TColor.cxx where it is used:
`grep -r CreateGradientColorTable *`

[code]

[2021-07-08 14:43] bernhardmgruber opened #8633 "Don't replace CMake's find_package"
- [x] Checked for duplicates

### Describe the bug

ROOT overrides CMake's `find_package` in `cmake/modules/SearchInstalledSoftware.cmake`, which is not uncommon, but relies on undocumented behavior of CMake. See e.g.: https://crascit.com/2018/09/14/do-not-redefine-cmake-commands/

This however breaks other tools, that also rely on this behavior, resulting in an infinite recursion. My concrete exa

[2021-07-08 18:09] ferdymercury commented on #8127
@bellenot I was trying out, and the autocompletion is failing in some cases:

- `gSystem->GetListOfT`   ---> returns `gSystem->GetListOfTOfTimers()[# const#]`
- `gSystem->GetListOfF`  ---> returns `gSystem->GetListOfF#]GetListOfFileHandlers()[# const#]`

[2021-07-11 17:42] ryuwd opened #8639 "(RDataFrame) AsNumpy returns Boolean branches as 'object' dtype numpy arrays"
### Explain what you would like to see improved

Reading a TTree with boolean branches using `ROOT.RDataFrame` `.AsNumpy(...)` will return numpy arrays for those branches, where the dtype for the numpy arrays corresponding to the boolean branches have dtype `object`, not `bool`.

### Optional: share how it could be improved

The dtype for numpy arrays created from boolean branches should have the

[2021-07-12 05:30] aemerman opened #8641 "RooStats::HypoTestInverterResult::FindIndex fails if xvalue == 1"
- [x] Checked for duplicates

### Describe the bug

In RooStats::HypoTestInverterResult::FindIndex( x ), if x == 1 then the return value is always -1 rather than the index of that xvalue. The problem is on L571-573 (in current master) of HypoTestInverterResult.cxx where the following if statement is used:
<pre>
if ( (std::abs(xvalue) > 1 && TMath::AreEqualRel( xvalue, xpoint, tol) ) ||
     (std::

[2021-07-12 08:24] hahnjo commented on #8624
Hi @ferdymercury,

at least for the first point (rebuilding without any change), you should try using Ninja via `cmake -G Ninja`. Makefiles are known inefficient to detect that no work has to be done - the `Built target [...]` lines don't actually do anything, it's the point where the build system detects that the target has already been built. With Ninja, a "build" takes only a split of a second

[2021-07-12 08:42] hahnjo opened #8642 "Switching CMAKE_CXX_STANDARD breaks build"
### Describe the bug
The build errors when switching from `CMAKE_CXX_STANDARD=14` (the default with GCC 8.4.1 on CentOS 8) to `CMAKE_CXX_STANDARD=17` (for example to get ROOT7).
[code]
and
[code]

### Expected behavior
The build should succeed.

### To Reproduce
Configure current `master` with `cmake -DCMAKE_CXX_STANDARD=14` (or on a platform where this is detected as the default) and then switch

[2021-07-12 08:51] hahnjo opened #8643 "Some parts of ROOT still mention C++11"
The minimum version is C++14 since #8583.

https://github.com/root-project/root/blob/8341e59956b08e78aea43bdcdb0ada478be7018b/core/foundation/inc/ROOT/RConfig.hxx#L47-L52

https://github.com/root-project/root/blob/8341e59956b08e78aea43bdcdb0ada478be7018b/documentation/doxygen/Makefile#L27-L28

https://github.com/root-project/root/blob/8341e59956b08e78aea43bdcdb0ada478be7018b/config/root-config.in#

[2021-07-12 10:49] hahnjo commented on #8642
Ok, sorry for much of the noise here. The issue only happens when *switching* `CMAKE_CXX_STANDARD` which doesn't rebuild `std.pcm`, directly setting the right value works fine. Assigning to Oksana because it would be nice if the build system could rebuild `std.pcm` if the value of `-std=c++XY` changed, but feel free to close if not feasible.

[2021-07-12 11:55] pieterdavid opened #8644 "Automatic conversion of TClonesArray in RDF"
### Explain what you would like to see improved

Reading [Delphes](https://github.com/delphes/delphes) trees (which use TClonesArray) with RDF is a bit complicated (see below) due to the need to cast elements to their concrete type, or convert the TClonesArray to a type-aware container (for reference: first brought up in https://root-forum.cern.ch/t/reading-tclonesarray-in-jitted-rdf/45784, thanks

[2021-07-12 12:44] Axel-Naumann commented on #8642
Build system ownership went to Bertrand; reassigned.

[2021-07-12 12:54] Axel-Naumann commented on #8644
Side note: we really need to help Delphes move away from `TClonesArray`... Let's see whether we can cook up a PR over summer, something that works well with today's software world :-)

[2021-07-12 13:01] Axel-Naumann commented on #8633
What would be the downside of renaming ROOT's `find_package` (say to `ROOT_FIND_PACKAGE`) and using that throughout ROOT? Would there be e.g. any side-effects for say package X used by ROOT which depends on package Y, which ROOT has already find, but now package X will find a different one? And what about users configuring against ROOT, what would be the side-effect they see? pulling @amadio in fo

[2021-07-12 13:31] guitargeek commented on #8641
Hi @aemerman, thank you for reporting this. I will fix this in ROOT master and also make backports to 6.24 and 6.22 since you are using this release. Do you need this fix in any older release?

[2021-07-12 13:34] pavel-demin commented on #8644
As a developer and maintainer of Delphes, I am quite happy with TClonesArray. As far as I know, storing TClonesArray in TTree was the fastest and least crash-prone method for all ROOT 5 versions and early ROOT 6 versions.

If there is a newer and better method that meets all of the Delphes requirements, I would be interested in seeing and evaluating a few examples.

Before doing any pull requests,

[2021-07-12 13:40] ferdymercury commented on #8365
This is the gdb output:

[code]

[2021-07-12 14:55] ferdymercury commented on #8365
One hypothesis: there is lock is due to a race between TThread::Join and TThread::Printf. When stopping, the thread is asked to "join". After that, a Printf is issued, which creates a TThreadTimer and retrieves TThread::Self before locking the mutex, and then it hangs at condimp->Wait.

![image](https://user-images.githubusercontent.com/10653970/125309260-e633f700-e331-11eb-8023-6745087af802.png)

[2021-07-12 15:36] eguiraud commented on #8308
More `ROOT_GENERATE_DICTIONARY` confusion here: https://root-forum.cern.ch/t/root-generate-dictionary-include-path/45750

[2021-07-12 15:50] Axel-Naumann commented on #8644
Understood, and it's mostly outside this issue anyway. Let me first do my homework: dig out the code that we discussed a couple of years ago (?) and remind myself what Delphes does. I'll contact you then so we can discuss a proposal. And I'll make sure it works just fine for ROOT 5, too. And btw we - on the ROOT side - see several "lost souls" due to Delphes and its `TClonesArray`, so we might hav

[2021-07-12 17:04] aemerman commented on #8641
Thank you! No, I don't need any older release.

[2021-07-12 17:06] ferdymercury opened #8647 "TGHtml restore from TBrowser TFile"
### Explain what you would like to see improved
TGHtml objects can be stored into a TFile. However, when opening a TBrowser, right click or double click leads to:
[code]

It would be nice if it would be supported in the TBrowser.

### Optional: share how it could be improved
- Right click, dump, prints the HTML code to terminal
- Double click reproduces the TGHtml on a canvas?

### To Reproduce
1.

[2021-07-12 17:13] ferdymercury commented on #8624
Thanks @hahnjo for the suggestion. Ninja improves things considerably:
- Recompile without modifications: 0-delay
- Recompile after touch TROOT: 120s

[2021-07-12 17:28] hahnjo commented on #8624
Note that `ninja` uses many jobs by default, so it's actually worse than the initial time of 102 seconds with 32 cores

[2021-07-12 17:35] jalopezg-r00t commented on #8647
@bellenot, I have assigned this issue to you, but I might be perfectly wrong...  Let me know if it should be assigned to someone else.

[2021-07-12 17:38] jalopezg-r00t commented on #8643
@Axel-Naumann, I have assigned this to you, but feel free to reassign.

[2021-07-12 20:27] ferdymercury opened #8650 "TFile::ls hangs in infinite loop when slash in key"
- [x] Checked for duplicates

### Describe the bug
In a TNamed containing a slash, TFile::ls hangs infinitely. (It thinks it's a directory instead of a TNamed?)
On the other hand, TBrowser works fine in listing it.

![image](https://user-images.githubusercontent.com/10653970/125351279-345fef00-e360-11eb-94ff-2c48d1b894cf.png)

### Expected behavior
No infinite loop.

### To Reproduce
[code]
It han

[2021-07-13 07:39] hageboeck opened #8652 "[RF] Remove accidentally introduced I/O capabilities of RooMinimizer."
@guitargeek @egpbos

Stop, stop!! e3b73a8 needs to be reverted before releasing ROOT.

`ClassDef(..., 0)` means: Don't support I/O.
In e3b73a8, you switched on I/O capabilities, so please revert! When people start writing minimiser states to files, you will have to support deserialisation in the future. It's better to not support that.

**That by the way also holds for any classes the are introduc

[2021-07-13 09:24] hageboeck opened #8655 "[Build system] ROOT installs its builtins directly into `CMAKE_INSTALL_PREFIX`."
- [x] Checked for duplicates

### Describe the bug
When you install a ROOT with builtins, it also installs the builtin headers (+ libraries probably) into the system directory.
This might be at least surprising, if not annoying.

### Expected behavior
If builtins are needed, they could go into `${CMAKE_INSTALL_PREFIX}/include/ROOT_builtins}` or similar.

### To Reproduce
[code]

### Setup
Master,

[2021-07-13 11:18] ferdymercury commented on #8624
Ok, I understand, thanks for the reply. What about the recompilation-time when nothing at all is modified in the source code (with CMake). Why is time spent re-building these files? (They take quite some time).

[code]

[2021-07-13 11:22] #8652 closed

[2021-07-13 11:35] ferdymercury commented on #8624
Here another CMake benchmark, touching TH1.cxx instead of TROOT.cxx

- touch `sourceDir/hist/hist/src/TH1.cxx`
- 327 seconds in 1 core
- 67 seconds in 32 cores

(Many dictionaries, e.g. in Roofit, TMVA, ... are being rebuilt, even if the header was not changed.)

[2021-07-13 12:04] hahnjo commented on #8624
IIRC that might be another limitation of `make` which you can again get around with Ninja:
[code]

[2021-07-13 16:00] Axel-Naumann commented on #8447
We discussed this in the team and the conclusion is that you raised a really important point: how can people discover the binaries without such a functionality flag?

We decided against such a wrapper - mainly because it would add yet another layer of complexity (a python script then then forwards arguments etc). Instead, we will make sure that all ROOT binaries exist also as a version starting wi

[2021-07-13 16:57] bellenot commented on #8292
@georgtroska @pamputt I updated the PR and it works now for me on a Linux Mint VM without internet access. Can you confirm?

[2021-07-13 18:12] ferdymercury opened #8665 "GrabKey not working with kKeyControlMask on TGX11"
- [x] Checked for duplicates

### Describe the bug
In TGMainWindow, if I call:
`gVirtualX->GrabKey(GetId(), gVirtualX->KeysymToKeycode(kKey_c), kKeyControlMask, kTRUE); //capture CTRL+C`
and press CTRL+C, it never reaches the HandleKey function.
If I instead call:
`gVirtualX->GrabKey(GetId(), gVirtualX->KeysymToKeycode(kKey_c), kAnyModifier, kTRUE);`

it reaches the HandleKey function:
`event->fSt

[2021-07-13 20:12] bellenot commented on #8665
The code below works fine for me on Windows:
[code]
I'll try on Linux and let you know

[2021-07-13 20:14] ferdymercury commented on #8665
Thanks for the reproducer. I tried your code and nothing is printed in terminal for me when I press CTRL+C.

[2021-07-13 20:24] bellenot commented on #8665
And it works for me on Linux Mint 20.1

[2021-07-13 20:27] bellenot commented on #8665
Maybe your system catches the CTRL+Key events somehow

[2021-07-13 20:28] ferdymercury commented on #8665
Mmm pretty weird. But why should it recognize then as CTRL+C in the HandleKey function ?

[2021-07-13 20:36] bellenot commented on #8665
No idea... Try pressing `Shift+C` with `kAnyModifier`, it should work as well

[2021-07-13 20:39] bellenot commented on #8665
And `gVirtualX->GrabKey()` doesn't do much:
[code]

[2021-07-13 20:40] ferdymercury commented on #8665
Nope, I tried, only CTRL+C prints the message "CTRL+C pressed". Shift+C does not.

`if (event->fState & kKeyControlMask)`

is evaluating to true only if Ctrl+C is pressed. But then it's a mistery why it does not work with GrabKey.

Could you point at which function in TUnixSystem should I run the debugger to see what happens?

[2021-07-13 20:40] bellenot commented on #8665
I just did

[2021-07-13 21:05] ferdymercury commented on #8665
Thanks Bertrand for the help. Here is what I see from the debugger:

with kKeyControlMask
![image](https://user-images.githubusercontent.com/10653970/125524664-42273c47-5c81-4412-b437-04c5288bb2e8.png)

with kAnyModifierMask
![image](https://user-images.githubusercontent.com/10653970/125524815-fb7dd292-cd64-4256-ad8f-410588aa9b91.png)

(Side note: There is one additional GrabKey called by TGMainFr

[2021-07-13 23:01] ferdymercury commented on #8665
Does it work for you if you press CTRL+S in your test window?

![image](https://user-images.githubusercontent.com/10653970/125535842-ef2928b0-e337-4fa4-a523-b41adbab04da.png)

(It's not working for me, either)

[2021-07-14 06:06] bellenot commented on #8665
So the debug sessions look fine, the values are correct. And in order to properly handle the default `TGMainFrame` key events, you must replace `return kTRUE;` by `return TGMainFrame::HandleKey(event);` in `Bool_t MyMainFrame::HandleKey(Event_t *event)`

[2021-07-14 06:58] ferdymercury commented on #8665
Thanks for the suggestion. I have changed return kTRUE with:
[code]

When I run it, pressing CTRL+C or pressing CTRL+S has no effect, nothing is printed.
If I change kKeyControlMask to kAnyModifier, CTRL+C works, but CTRL+S does not work.
[code]

[2021-07-14 07:12] bellenot commented on #8665
OK, that's weird, but since I cannot reproduce the issue, I don't know what else I can do, and I don't even know how I could fix that issue...

[2021-07-14 07:15] ferdymercury commented on #8665
Thanks for the help. Maybe I can use myself https://www.x.org/releases/X11R7.5/doc/man/man1/xscope.1.html to try to find out ? I tried to printout stuff in TGX11 but when I press CTRL+C or CTRL+S, nothing literally happens, unix is waiting in the `select()` function.

[2021-07-14 07:16] bellenot commented on #8665
It might be unrelated, but while trying to find a similar WM related issue, I found  https://askubuntu.com/questions/1024597/ubuntu-16-04-ctrlalts-doesnt-work

[2021-07-14 07:18] bellenot commented on #8665
I can't help, I'm working mostly on Windows

[2021-07-14 08:09] bellenot commented on #8647
@jalopezg-r00t no, you're right, that's for me, thanks!

[2021-07-14 08:28] ferdymercury commented on #8665
I used "xtrace", and I got messages printed when I use kAnyModifier, but none without it.

[code]

Now to the funny part. I added the following to the mask:
`kKeyShiftMask | kKeyLockMask | kKeyControlMask | kKeyMod1Mask | kKeyMod2Mask | kKeyMod3Mask | kKeyMod4Mask | kKeyMod5Mask | kButton1Mask | kButton2Mask | kButton3Mask | kButton4Mask | kButton5Mask | kButton6Mask | kButton7Mask`

and it still

[2021-07-14 08:30] bellenot commented on #8665
So do we agree that it's not a bug in ROOT?

[2021-07-14 08:31] ferdymercury commented on #8665
Yes, thanks for the help :)

[2021-07-14 14:23] AntoniMarcinek commented on #7332
@lmoneta I reviewed the PR, it looks great modulo some issues I mentioned in comments.

One thing which is not important to me, but does come to my mind is that dPDF and CDF seem to be settable only in 1D case. I think the multivariate methods of Unuran do accept gradients (dPDF?). So maybe you can consider adding this as well, but this is not my use case.

I will write about `_chg_truncated` late

[2021-07-14 20:30] ferdymercury commented on #8665
I'm having the problem again now, and I am not sure how to 'reset' my keyboard so that it starts working again.

Searching a bit more, I think this might be related to this "feature" of X11:

https://bugs.freedesktop.org/show_bug.cgi?id=99280
https://stackoverflow.com/questions/18160792/python-xlib-xgrabkey-keyrelease-events-not-firing
https://github.com/zhanghai/xkeymacs/issues/1
https://stackove

[2021-07-14 22:26] ferdymercury commented on #8665
Ok, never mind, I finally found out what was happening. The problem was that the kKeyControlMask 'fails' if NumLock key was activated. By changing it to 'any modifier', it was capturing it.

Side note: I also called gVirtualX->GrabKey(..., kFALSE) in my destructor classes, just to make sure everything goes back to normal after exiting.

[2021-07-15 08:04] AntoniMarcinek commented on #7332
The `_chg_truncated` functions, e.g. `unur_hinv_chg_truncated` and `unur_tdr_chg_truncated`, change the range of sampled random variables without expensive reinitialization of the generator. So first one initializes the generator with a pdf with a domain (xmin, xmax) and later changes the range in which numbers are actually sampled from (xmin, xmax) to (xmin1, xmax1) which is a sub-range of (xmin,

[2021-07-15 09:17] ferdymercury commented on #8624
Closely related: https://github.com/root-project/root/issues/6432

[2021-07-15 10:34] eguiraud commented on #8031
Hi, little ping on this, it would be a big quality of life improvement for me :)

[2021-07-15 11:04] pamputt commented on #8292
It works here. Compilation succeeded with ("cmake ..", "make"). Thank you

[2021-07-15 11:14] bellenot commented on #8292
@pamputt Cool, thanks for the feedback!

[2021-07-15 13:24] Axel-Naumann opened #8685 "RDF progress bar"
### Is your feature request related to a problem? Please describe.

It would be great to have a progress bar for RDF, one that does not need to open all files before giving an estimate on the remaining processing time.

### Describe the solution you'd like

Similar to https://github.com/root-project/root/pull/8675 but with the approach sketched in https://github.com/root-project/root/pull/8675#dis

[2021-07-15 13:54] #8292 closed

[2021-07-15 13:54] #8424 closed

[2021-07-16 07:03] guitargeek commented on #8652
Thanks bot, I put "not applicable" because the issue was arising during a development cycle only, and fixed within the same cycle.

[2021-07-16 10:14] #8641 closed

[2021-07-16 17:23] eguiraud opened #8693 ""Running utility command for G__TreeFormulaEvent" even if the build should be no-op"
- [ ] Checked for duplicates

Ninja always runs the following command, even the incremental build should be a no-op:

[code]
Some more discussion at https://mattermost.web.cern.ch/root/pl/74b1gpnr97ripgqdhaw7n87byr

[2021-07-16 21:00] knoepfel opened #8695 "Documentation incorrect - default units are G4 not ROOT"
A commit from earlier this year (https://github.com/root-project/root/commit/3d545273d7763e09aa85449ba86be5d2493f7f13) adjusted the handling of default units in ROOT's geometry system.  Although this commit is an ostensible improvement, reducing points of maintenance, there are some consequences that were maybe not anticipated.

I refer to the [units README file](https://github.com/root-project/ro

[2021-07-18 21:44] jalopezg-r00t commented on #8695
@agheata, I have assigned this to you (according to the CODEOWNERS file), but not really sure if you are responsible of this...  Please, let me know if it's not the case.

Cheers.

[2021-07-19 09:15] Axel-Naumann opened #8697 "testRooGradMinimizerFcn needs to be re-enabled"
Commit     fb2e642952c2163e7f1c0cf0f4c18de53d9877b5 disabled testRooGradMinimizerFcn; this needs to be reenabled. (This is just a reminder.)

[2021-07-19 15:24] hahnjo commented on #7718
@pcanal @Axel-Naumann this issue is open, but marked as fixed. Reading https://github.com/root-project/root/issues/7718#issuecomment-818871932, should this maybe also say 6.24/02?

[2021-07-19 15:26] hahnjo commented on #8152
@etejedor can we close this issue? (It's already marked as fixed)

[2021-07-19 15:28] Axel-Naumann commented on #8046
No, this needs follow-up work.

[2021-07-19 15:29] etejedor commented on #8152
@hahnjo it's actually not fixed, I will remove it from the 6.26 project (it still needs a new interface in `TInterpreter`).

[2021-07-20 16:50] pcanal opened #8704 "[DF] Add support for 'missing' columns"
`TTree::Draw` supports a special function `Alt$` which allows to specify a value to be used if a column (or element of a collection) in missing.  RDataFrame could use a similar feature (for example `DefineAlternative(column_name, alternative_value)`.  [As a side note, `TTreeReaderValue` currently seem to complain if the underlying column is missing).

[2021-07-20 16:54] eguiraud commented on #8685
This depends on https://github.com/root-project/root/issues/6745

[2021-07-20 17:04] eguiraud commented on #8644
Regarding the titular issue, I have been thinking about it for a bit and I don't think we can do much better than what @pieterdavid already implemented.

Solutions considered:

1. Implicitly converting `TClonesArrays` to `RVecs` would be a) backward-incompatible and b) a silent perf degradation, as it requires a copy. Moreover, if we did this I don't see a migration path that doesn't require that

[2021-07-20 17:57] Axel-Naumann commented on #8644
Another ingredient here is that we have seen mass migration away from TClonesArray, with Delphes being the only relevant + known remaining user.

[2021-07-21 05:35] omasanori opened #8706 "Publish every (new) release on Zenodo"
### Explain what you would like to see improved

On [Zenodo](https://zenodo.org/search?q=conceptrecid:"848818"&sort=-publication_date&all_versions=True), only 10 releases are currently listed and the reason of selection is not obvious. None of ROOT 5 are there whereas there are still some usages of that legacy versions. Even the most of ROOT 6 releases are not available. As a result, citing "the D

[2021-07-21 13:58] SpectreVert opened #8707 "Add ctest fixtures to root / roottest"
CTest fixtures which have previously been added to Rootbench have been useful in defining better dependencies for tests.

Since we currently cannot have dependencies between tests fixtures should be added into both root and roottest.

[2021-07-21 14:09] hageboeck opened #8708 "[Build system] ROOT can wrongly pick up includes from system directories"
- [ ] Checked for duplicates
Yes, kind of. I thought that there was a ticket about this by @amadio, but I didn't find anything.

## Describe the bug
In a setup where ROOT was installed in a system directory, ROOT was picking up headers from that directory instead of its own.

### How to reproduce:
1. `echo '#error This is the wrong header' > /my/include/directory/RooSpan.h` (or a few other headers

[2021-07-21 14:17] hageboeck commented on #8708
#8709 fixes a part of this.

## What remains to be done:
It is likely that more builtins (or rather `FindXXX` have to be converted to `IMPORTED` targets, so they don't provoke this error again. A broken configuration can be detected by
1. Having CMake pick up a dependency in some common directory, e.g. install a lot of builtins there.
2. Either
  - Place an entire ROOT installation there, where al

[2021-07-21 15:35] #8471 closed

[2021-07-21 16:00] #8052 closed

[2021-07-21 16:28] jblomer opened #8711 "Allow definition of RNTuple models directly in the constructor"
### Explain what you would like to see improved
It would be a nice interface improvement to be able to define an RNTuple model directly in the constructor.  As a result, somthing like the following would be possible:

    auto ntuple = RNTupleWriter::Recreate({
       RField<std::uint32_t>("id"),
       RField<std::vector<float>>("vpx"),
       RField<std::vector<float>>("vpy"),
       RField<std:

[2021-07-21 20:25] Axel-Naumann commented on #8706
Thanks, @omasanori ! Zenodo and I couldn't find a way to set the authors correctly: I needed to manually enter all authors. Once I know of a way to teach Zenodo about the author list *I* want it to use without continued manual intervention then I'll be happy to have this happen, automatically or not. If you have any pointers on that please let me know!

[2021-07-21 21:19] omasanori commented on #8706
The canonical list of authors is `README/CREDITS`, right? I am not sure, but at least there is a [REST API](https://developers.zenodo.org/#quickstart-upload) so inserting metadata from that file when uploading records should be possible...

[2021-07-22 07:21] etejedor opened #8712 "Documentation in C++ classes gets mixed with PyROOT doc box"
The box that contains PyROOT documentation for a given class used to appear after the documentation that is written in the C++ file for that class. This is not the case anymore, for example:

https://root.cern.ch/doc/master/classTTree.html
https://root.cern.ch/doc/master/classTFile.html

Currently the first sentence of the C++ file docs appears first, after that there is the PyROOT box and finally

[2021-07-22 07:33] pieterdavid commented on #8644
Thanks a lot for looking into this @eguiraud ! Fine with me to close then.
In case it's useful for anyone who finds this in the future: I implemented the conversion to `RVec<T*>` for bamboo [here](https://github.com/pieterdavid/bamboo-delphesexample), but will probably leave that as a standalone example since it now seems more likely that my colleagues will end up using a reduced flat format.

[2021-07-22 08:03] #8644 closed

[2021-07-22 08:14] eguiraud opened #8713 "[tree] TTreeCache is turned off when `fAutoFlush == 0`"
### Describe the bug

Due to the logic in `TTree::GetCacheAutoSize`, if `fAutoFlush == 0` then the size of the `TTreeCache` is set to 0 which in turn disables it.

However there are separate mechanisms to disable the `TTreeCache` if desired (e.g. `TTree::SetCacheSize`) and even if `fAutoFlush == 0`, when reading over the network, we can benefit greatly from `TTreeCache`'s pre-fetching.

### Additi

[2021-07-22 08:20] eguiraud commented on #7366
Hi, little ping :) Could we just add `-fno-pie` to ACLiC's compilation flag?

[2021-07-22 09:11] Axel-Naumann commented on #8706
Ouch. That looks like a fun summer project, and more code for ROOT :-/ Thanks for the pointer!

[2021-07-22 10:04] HDembinski opened #8716 "Minuit2: FCNGradientBase::CheckGradient() is ignored"
This patch
https://github.com/root-project/root/commit/ae9f8ae62553f9150fdee1f8739be6996d539694
had an unintended side-effect. The code to check the external gradient against the numerical gradient when `CheckGradient()` returns `true` is now never executed.

Whether the user provides an analytical gradient or not, only this implementation is called
https://github.com/root-project/root/blob/master

[2021-07-22 13:56] jblomer opened #8720 "Apply TChain::SetImplicitMT() to underlying trees"
- [X] Checked for duplicates

### Describe the bug
Setting `TChain::SetImplicitMT()` does not apply the setting to the underlying trees.

### Expected behavior
A call to `TChain::SetImplicitMT()` should influence current and future (`TChain::LoadTree`) backing trees.

### Additional context
Discussed in the I/O MM channel.

[2021-07-22 14:02] georgtroska opened #8721 "TTree::Branch() is crashing on big arrarys"
Hi,
the following code is crashing when Branching more than 10 arrays to the tree:

`int testvec() {
	TTree *t = new TTree("tree","tree");

	const int n = 92000;
	unsigned int myN = n;
	float arr1[n];
	float arr2[n];
	float arr3[n];
	float arr4[n];
	float arr5[n];
	float arr6[n];
	float arr7[n];
	float arr8[n];
	float arr9[n];
	float arr10[n];
	float arr11[n];

	t->Branch("n",&myN);

	t->Branch("a

[2021-07-22 17:31] will-cern commented on #8123
Just thought I'd poke this issue @guitargeek because it came up in a meeting again today.

Have we settled on whether the global observables should be part of the collection returned by `get()` or not? I think it would be sensible that you cannot modify the global observables, so I guess have their values set at the time the dataset is constructed. I definitely think it would be good to have:

[co

[2021-07-22 18:08] pcanal commented on #8721
This is most likely a OS/Compiler stack size limit.  You can either try to increase this limit or use something like:
[code]

[2021-07-23 08:45] couet commented on #8712
I am investigating why the Python panels are now coming first in the documentation. I think they came last just "by chance" before. Nothing indicates which `\class TFile` should be read first. Which by the way is something also a bit stange ie:  twice the same `\class` ... I suspect Doxygen behavior is undefined in that case. I did not find anything mentionning the fact we can have the same `\clas

[2021-07-26 07:03] georgtroska commented on #8721
Hi @pcanal,
yes, I can confirm, that working on the heap

[code]

works! Thank you.

Only for my own interest - how do I increase the stack size limit??

Georg

[2021-07-26 12:56] #8523 closed

[2021-07-26 13:18] vepadulano commented on #8505
Fixed by #8660

[2021-07-26 13:18] #8505 closed

[2021-07-26 13:57] AdvaitDhingra opened #8735 "TF1 Derivative of the whole Function with respect to any variable"
### Is your feature request related to a problem? Please describe.

Getting the derivative of a TF1 is not that simple. It's a common thing so it should be simple.

### Describe the solution you'd like

At the moment it's not that simple to get the derivative of a TF1. There is a method to determine the derivative at a point but it would be nice if you could
- get the derivative of the whole funct

[2021-07-26 14:11] AdvaitDhingra commented on #8655
This isn't as simple as I thought it would be, but I'd love to take on the challenge (if that's ok) :D

[2021-07-27 07:30] guitargeek commented on #6937
The issue was recently discussed in the forum: https://github.com/root-project/root/pull/8730

A PR will follow shortly.

[2021-07-27 08:48] eguiraud opened #8739 "[DF] Cannot read files that don't have a `.root` extension with IMT on"
Reproducer:

[code]

prints

[code]

This is likely due to logic in `TChain::AddFile` that expects a `.root` extension to be present in order to distinguish `/path/to/file.root/treename` from just `/path/to/file.root` (over the network or via xrootd it's difficult/expensive to figure out which case we are in otherwise).

### Additional context

First reported at https://root-forum.cern.ch/t/gettin

[2021-07-27 09:20] couet commented on #8712
I opened an issue on the doxygen repository asking what the behaviour should be when `\class` is defined twice.
https://github.com/doxygen/doxygen/issues/8693

[2021-07-27 09:30] AdvaitDhingra commented on #8735
One solution for a general derivative function could be to simply pass "Function->Derivative(x)" in the second TF1. But there still needs to be a way to differentiate with respect to any variable.

[2021-07-27 10:50] albert-github opened #8742 "How to build just the documentation"
After some questions on doxygen (e.g. https://github.com/doxygen/doxygen/issues/8693 by @couet I got a bit interested in the documentation of ROOT so I looked at it and it looks nice. I thought maybe can I build just the documentation myself.
So:
- I cloned https://github.com/root-project/root.git
- cd root
- mkdir build_normal
- cd build_normal
- cmake ..
- ??

Unfortunately I could not find a ta

[2021-07-27 13:16] SpectreVert opened #8743 "ROOT 7 c++ standard not updated on documentation"
The `CMAKE_CXX_STANDARD` value indicated for building ROOT7 is `c++14`, however it now requires `c++17` so documentation should be updated, namely (and maybe not limited to):

- https://root.cern/for_developers/root7/
- https://root.cern/install/build_from_source/#enabling-experimental-features-aka-root7

[2021-07-27 13:16] Axel-Naumann opened #8744 "root/treeformula/clones: failure of runNestedClones.C"
Old test said:

https://github.com/root-project/roottest/blob/v6-24-02/root/treeformula/clones/runNestedClones.C is reproducing this (before it was removed, because roottest isn't a place to keep reproducers)

[2021-07-27 13:20] couet commented on #8742
@albert-github thanks for trying out the ROOT documentation. You need root installed to make the ROOT documentation because ROOT documentation uses a filter to create on the fly the picture for all code examples we expose and also to generate the graph of libraries needed by a given class. So to make ROOT do:

  - `clone https://github.com/root-project/root.git`
  - `mkdir rootbuild`
  - `cd rootb

[2021-07-27 13:29] vepadulano opened #8745 "Avoid needing to type `ROOT.ROOT` twice in PyROOT"
### Describe the bug

In PyROOT it has been possible to avoid the double `ROOT.ROOT` for some classes/functions for a while
[code]
But that doesn't happen for every new class/function defined in C++ . This is a simple reproducer: create some entities in a namespace:
[code]
Then try to access them in a Python session
[code]

It's unclear how to avoid the double `ROOT.ROOT` in general.

### Expected

[2021-07-27 13:41] albert-github commented on #8742
@couet Thanks for the information.

The line:
- `cmake ../rootbuild`

is not correct (rootbuild has no CMakeLists.txt), I think this has to be:
- `cmake ../root`

Is my interpretation correct that the documentation is created from an inplace position (i.e the `root/documentation/doxygen`) and directly written into the root directory of the user instead of a special build directory, in case this is

[2021-07-27 13:55] couet commented on #8742
- oops yes ... `cmake ../root` of course ...
  - The ROOT documentation is a big stuff we want all the pictures  in the doc to be generated on fly. We need ROOT for that.
  - the documentation is created in `~/rootdoc` when you type make in the in `$ROOTSYS/documentation/doxygen`
  - Ah with Cygwin .. @bellenot may help.

[2021-07-27 14:27] bellenot commented on #8742
FYI, Cygwin is not supported

[2021-07-27 14:44] albert-github commented on #8742
@couet
In the CMake build log I see:
[code]

[2021-07-27 14:46] bellenot commented on #8742
No, it's just disabling the external packages requiring internet access if there is no internet connection

[2021-07-27 14:51] albert-github commented on #8742
@bellenot Thanks for the information.

Is it possible to disable the Internet connection with an option during the cmake (and later build) phase?

I'll give Windows a try (not as nice as now nmake cannot run in parallel ...)

[2021-07-27 14:56] bellenot commented on #8742
Well, no, you can simply unplug (or disable) the internet connection. You can also use the `-Dminimal=ON` flag to reduce the number of packages

[2021-07-27 15:28] eguiraud commented on #7366
@vgvassilev @Axel-Naumann [adding `-fno-pie` to the ACLiC compilation command](https://github.com/eguiraud/root/commit/615f0a670054c79924e5b5260218e402ebd52bb6) does not seem to help, because _other_ executables, not produced by ACLiC (but, in my case, by cmake/ctest itself) are still picked up as shared libraries.

I think LLVM/cling needs to change the way they decide if a file is a shared objec

[2021-07-27 15:28] albert-github commented on #8742
Not really a good idea

I tried to run cmake for windows, but got some errors her as well, unfortunately stopping my attempts to build ROOT and especially to build the documentation.

[2021-07-27 15:31] bellenot commented on #8742
@albert-github BTW, why do you want to do it without internet? And what are the errors you got on Windows?

[2021-07-27 15:35] bellenot commented on #8742
See the Windows part of https://root.cern/install/#build-from-source

[2021-07-27 15:38] vepadulano opened #8750 "Support chains with subtrees with different names in distributed RDF"
### Describe the bug

The current logic to construct a TChain in a distributed task to pass to the RDF constructor is at
https://github.com/root-project/root/blob/b494a9b145246b66868fa38e2fd3e1f37fa73c47/bindings/experimental/distrdf/python/DistRDF/Backends/Base.py#L166-L168

But this is too simple, since it doesn't account for the common use case of a TChain with no name and sub trees with differ

[2021-07-27 15:40] AdvaitDhingra commented on #8742
You can also build the documentation for just the parts you need by modifying the Doxyfile. That way you don't have to build the whole thing but just the part(s) you want.

[2021-07-27 15:46] albert-github commented on #8742
@AdvaitDhingra isn't that what @couet suggested by mentioning to just build the io part? But you still need to set environment variables like in the setting for: `EXAMPLE_PATH           = $(DOXYGEN_EXAMPLE_PATH)` and you need to build the filter program`INPUT_FILTER           = ./filter`. Furthermore I got from the discussion that some images needed to be generated, so ROOT has to be build...

[2021-07-27 15:56] albert-github commented on #8742
@bellenot
Well just to build the documentation why should I connect to the Internet and especially don't know what is retrieved / send (this is of course always a concern).

The problems in windows have to do with python usage. As I have a mixed system Windows / Cygwin this gives some problems. I now disabled the cygwin in the path and followed the instructions as provided. the cmake generation lo

[2021-07-27 15:57] couet commented on #8742
@AdvaitDhingra as @albert-github said that's what I was suggesting . And yes ROOT has to be build the Doxygen filter runs ROOT several hundred of times during the doc build.

[2021-07-27 16:04] albert-github commented on #8742
@couet, @bellenot How to build the documentation under windows. The `Makefile` in `documentation/doxygen` looks to me like a typical *nix `Makefile` (and also seen the used commands like `./makehtmlfooter.sh` and as I now attempt the Windows version ...

[2021-07-27 16:11] couet commented on #8742
@bellenot can confirm but I think we never built the documentation on Windows. We do not really need it. I never do it myself and I do not think he did it either. The documentation is built every night via a jenkins task. For people wanting a local version of the documentation we provide a download page https://root.cern/reference/ . Building the full ROOT documentation is very long... several hou

[2021-07-27 16:22] albert-github commented on #8742
Will be a hard task for me than to build and test the documentation.

As a side note did you ever think about using doxygen tag files? A project that extensively uses doxygen tag files for their project is the CGAL project (See https://www.cgal.org/ and https://doc.cgal.org/latest/Manual/packages.html). It is not easy to build and initially it takes also a complete doxygen run (to create a.o. the

[2021-07-27 16:29] bellenot commented on #8742
@albert-github sorry, never looked at the documentation building on Windows...

[2021-07-27 16:55] albert-github commented on #8742
Building the Windows version:
[code]
Might be due to (from the log files):
[code]

[2021-07-27 17:14] bellenot commented on #8742
Well, yes, you need a proper license (free for the academic/open source version)

[2021-07-27 19:40] albert-github commented on #8742
The TBB directory comes apparently from http://threadingbuildingblocks.org wanted confirmation by means of a telephone number.

Wouldn't it anyway be good to provide http://threadingbuildingblocks.org and on my build directory I see down in the tar file in TBB-prefix that there is a vs2013 directory and nothing newer. So I probably have to see what I can do with the license without providing telep

[2021-07-27 23:46] guitargeek opened #8758 "[RF] Translate RooStats tutorials to Python"
After the translations of the RooFit tutorials to PyROOT were completed (see https://github.com/root-project/root/issues/8523), a next step is to translate also the [RooStats tutorials](https://root.cern/doc/master/group__tutorial__roostats.html) to pyROOT.

The RooStats tutorials can be found in the [tutorials/roostats](https://github.com/root-project/root/tree/master/tutorials/roostats) director

[2021-07-27 23:58] guitargeek opened #8759 "[RF] Create separate RooFitLegacy package"
So far, deprecated RooFit code has been moved into [roofit/roofitcore/inc/RooFitLegacy](https://github.com/root-project/root/tree/master/roofit/roofitcore/inc/RooFitLegacy) and [roofit/roofitcore/src/RooFitLegacy](https://github.com/root-project/root/tree/master/roofit/roofitcore/src/RooFitLegacy). But to really separate the legacy code from the current RooFit, we want to introduce a new library c

[2021-07-28 07:38] bellenot commented on #8742
You can simply disable `imt` (`-Dimt=OFF`) and `builtin-tbb` (-D`builtin_tbb=OFF`)

[2021-07-28 09:57] albert-github commented on #8742
@bellenot
Thanks, I'm now trying it (runs already again for a while).

Are there more of these high level options  and are they documented somewhere? I ran `cmake -LA` and see a long list, with of course also settings from  the subpackages used, but I think the bottom part gives, probably, the list:
[code]

[2021-07-28 10:17] bellenot commented on #8742
Some of them are. See https://root.cern/install/build_from_source/

[2021-07-28 10:25] albert-github commented on #8742
@bellenot
Thanks I found them under the header "All build options" (https://root.cern/install/build_from_source/#all-build-options) and here are 2 versions one for version 6.22 and 6.24.

(One of my next steps will be to try to build the documentation under Windows ..., though will take a while before I can start with this)

[2021-07-28 10:35] bellenot commented on #8742
I never tried this. Good luck!

[2021-07-28 12:35] vgvassilev commented on #7366
I will check if the relevant code is modified in llvm 13 and then see who to ask for advice from the llvm community

[2021-07-28 13:09] jalopezg-r00t opened #8762 "[rint] Properly support line continuation after backslash `\`"
- [X] Checked for duplicates

### Describe the bug
Although cling supports continuation for lines ending with `,` or `\`, it seems to fail in the ROOT prompt, i.e.
[code]
This issue is closely related to JIRA issue [ROOT-9202](https://sft.its.cern.ch/jira/browse/ROOT-9202).  The problem seems to be in `TRint.cxx`, which unconditionally inserts a `#line` PP directive before each input line.  This i

[2021-07-28 14:08] couet commented on #8742
ROOT documentation is included in may experiments documentations. We provide the tag files for them . The page files can be downloaded (for various versions of the documentation)[ from this page](https://root.cern/reference/).

[2021-07-28 14:24] albert-github commented on #8742
@couet
That is a nice service to the users.
I was thinking about the usage of tag files for "internal" use where the build of the documentation would be split in different parts ("sub-projects") so that each part generates its own tag file that can be used by the other sub-projects. This could make the building of the documentation a bit more modular and it would give the opportunity to re-build j

[2021-07-28 14:35] couet commented on #8742
@albert-github
That's a nice idea, and could be something to think about. I think we will any build the whole documentation every night because:
 - the various modules refer to each other a lot,
 - we want to run all the code available in the doc. We have test suites to validate de software but the documentation is surely an extra one.
  - now it take "only" a night so it is still doable to build

[2021-07-28 17:02] albert-github commented on #8742
The complete overnight build is certainly necessary and preferably from scratch (so no residuals are left over). Advantage of the tag files might be that some sub-projects can be build in parallel.
A reasonable new feature is the setting `NUM_PROC_THREADS`, so it might still be a bit buggy but it would definitely be of interest to see how ROOT performs here and whether or not the output is the sam

[2021-07-28 20:13] osschar opened #8767 "[netxng] Crash in on-exit destruction of an TNetXNGFile object"
root master, xrootd-5.3.0

To reproduce: TFile::Open("root://....."), then .q root.

I will also post this to xrootd git.

[code]

[2021-07-28 20:16] osschar commented on #8767
xrootd issue: https://github.com/xrootd/xrootd/issues/1487

[2021-07-28 21:58] ferdymercury commented on #8767
Maybe related with thread safety? Can you run it with helgrind? Or do you get the same error with ROOT::EnableThreadSafety() activated?

[2021-07-28 22:11] osschar commented on #8767
Naaah, I'm  pretty sure not ... let me try ... nope. It's the ROOT shutdown sequence, opened files get deleted too late.

See discussion in xrootd git ... xrootd already has a protection against this in XrCl::File::~File.

My guess as to what do is to move closing of opened files (or most of TROOT shutdown, for all that matters) into TApplication::Terminate().

[2021-07-29 08:24] couet commented on #8743
Now fixed. Thank.

[2021-07-29 08:24] #8743 closed

[2021-07-29 21:53] yipengsun commented on #8622
I got a similar error when using `RDataFrame` in Python, presumably with the same problem:

I'm using ROOT 6.24.02 with gcc10, compiled w/ C++ 17 standard.

Here's a reproducer:
[code]

The error messages are:
[code]

[2021-07-29 22:54] ferdymercury opened #8774 "[TGaxis] secAxis->SetMaxDigits changes all other axes"
### Is your feature request related to a problem? Please describe.
A long-standing TGaxis issue is that calling secondaryXaxis->SetMaxDigits(N) affects all other X and Y axes in the current canvas.

### Describe the solution you'd like
TGaxis::SetMaxDigits, StripDecimals, etc. are all axes-dependent and don't affect the default state of other axes.

### Additional context
https://root-forum.cern.c

[2021-07-29 22:56] ferdymercury commented on #8774
Never mind, I found it was fixed in 2017 https://sft.its.cern.ch/jira/browse/ROOT-35

[2021-07-29 23:08] ferdymercury commented on #8774
Here an example. If I do not do anything on my secondary TGaxis, I get:
![image](https://user-images.githubusercontent.com/10653970/127576253-edbae2df-f8f2-472c-ac2f-979a4999ed32.png)

If I call on my custom TGaxis:
`secAxis->SetMaxDigits(2)`, I get:
![image](https://user-images.githubusercontent.com/10653970/127576321-f31bc836-5780-4877-9d20-a1541c52a4f1.png)

If I later explictly call
`histogram

[2021-07-29 23:18] ferdymercury commented on #8774
(I think this should be rather labelled a bug than a new feature)

[2021-07-30 04:24] doddsperry opened #8775 "Freedom"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-07-30 06:38] osschar commented on #8767
A workaround has been introduced in xrootd and will be part of xrootd-5.3.1 release. See above referenced issue in xrootd repo. Similar workaround has already been there for XrdCl::File destruction that is also happening after libXrdCl has been unloaded.

@Axel-Naumann do you think it's worth introducing something like TROOT::CleanupLeftovers() and call it from TApplication::Terminate() just befor

[2021-07-30 08:04] couet commented on #8774
`SetMaxDigits` now works on individual axis. It is not only global anymore as said in the Jira report you referred to (https://sft.its.cern.ch/jira/browse/ROOT-35) . I am not sure I fully understand  what this "new feature" is about . Can you post a small running macro reproducing the issue ?

[2021-07-30 08:18] #8775 closed

[2021-07-30 08:19] couet commented on #8775
This post is empty.

[2021-07-30 08:23] Axel-Naumann commented on #8767
Can we rely on ROOT's list of cleanups? You can add some custom object there (eg ListOfSpecials ()) and have its destructor run by ~TROOT. Would that do?

[2021-07-30 08:24] Axel-Naumann commented on #8767
@jblomer fyi regarding the built-in client update - this seems to indicate that xrootd 5.3.1 might work better

[2021-07-30 09:03] couet commented on #6811
Sorry for the very long delay. I do not have a patch yet in ROOT itself but a small prototype implemented in your macro:
[code]
Instead of drawing the 2D graph with option `same` this new version uses the function `DrawSame` which changes the TGraph2D axis limits to be the same as the current 3D plot (current TView). It gives the following picture. If that answer your question we can consider to p

[2021-07-30 09:18] ferdymercury commented on #8774
Sure, here a reproducer:

[code]

If I set the boolean argument to true, the y axis gets affected.

[2021-07-30 11:51] guitargeek opened #8777 "[RF] Migration from RooAbsCollection and RooLinkedList legacy iterators to range-based loops"
**This migration is a great first issue for an enthusiastic open source contributor who wants to get started contributing to ROOT with a well-defined task!**

**This issue has already been addressed partially by many PRs, the only remaining iterator-creating function to look out for and replace is **`RooLinkedList::MakeIterator()`**!**

## Introduction

RooFit needs to be migrated to use range-bas

[2021-07-30 12:26] couet commented on #8774
I see. I will investigate.

[2021-07-30 13:10] couet commented on #8774
Actually this functionality is already there but a bit hidden and not really documented. It was implemented to allow `SetMaxDigits` to work on individual `TAxis`. It is done via an extra field in the number of divisions. When the number of divisions is greater than 1000000 as shown in the following example:
[code]

[2021-07-30 13:43] andriish opened #8778 "rootdrawtree crash"
running rootdrawtree  without arguments leads to a crash
[code]
root 6.22.08 from EPEL on CentOS8 x86_64

Sorry if that is a duplicate.

Best regards,

Andrii

[2021-07-30 14:31] ferdymercury commented on #8774
Thanks for the clarification! I have created a PR proposing to detail this trick in the documentation

[2021-07-30 14:38] ferdymercury opened #8781 "[docu] qhelpgenerator on doxygen"
### Explain what you would like to see improved
I daily use QtCreator in my ROOT-based projects, and it would be great if there would be a config-flag to build ROOT with the `GENERATE_QHP` enabled in the doxygen file. https://github.com/root-project/root/blob/master/documentation/doxygen/Doxyfile#L1514

This way, one can consult the Doxygen documentation directly within QtCreator, no need to use a

[2021-07-30 14:44] couet commented on #8774
Thanks for the PR. It is ready to be merged.

[2021-07-30 14:44] #8774 closed

[2021-07-30 14:56] couet commented on #8781
I am not completely sure how this "additional index file" can be used. Should it be made available for download from this page ? https://root.cern/reference/

[2021-07-30 15:31] ferdymercury commented on #8781
In my opinion, it does not matter too much where it is stored, as you have to go to QtCreator and add it to the "help database" by hand using a file dialog. Maybe including it in the binaries inside a documentation folder would be enough, so that one does not need to reupdate the webpage too often?

In any case, I think it would be great if it is automatically generated when building from source,

[2021-07-30 16:42] osschar commented on #8767
No, not really, this happens for TROOT::fFiles so this mechanism is already "in action". The problem is this is called via at_exit_of_TROOT() which is called by libc **after** libXrdCl.so has already been unloaded. That's why I proposed to strip off the cleanups of object lists held by TROOT and call this just before calling exit in TApplication::Terminate() --- at this point we are guaranteed tha

[2021-07-30 18:15] Axel-Naumann opened #8783 "Branch sync of roottest broken for latest-stable"
https://root-forum.cern.ch/t/roottest-and-required-c-standard/46088/5

`cmake -Droottest-On` clones roottest and *is supposed* to check out the branch of the currently configured `root.git`. That fails apparently if `root.git` has `latest-stable` checked out.

[2021-07-30 18:23] eguiraud commented on #8783
I don't think the problem is `latest-stable`, this also doesn't work:

[code]

prints

[code]

[2021-07-30 18:34] osschar commented on #8767
@jblomer what other problems do you have? We have another crash at cmsRun startup, look at the stacktrace here cms-sw/cmssw#34700 ...let me check, this is with root 6.22/09

[2021-07-30 18:36] osschar commented on #8767
Argh, @simonmichal, please check above (apparently you have an alter ego on gihub, michalsimon :) )

[2021-07-30 20:48] doddsperry commented on #8775
On Fri, Jul 30, 2021 at 03:19 Olivier Couet ***@***.***>
wrote:

I am real--
Dyk

[2021-07-30 21:12] doddsperry commented on #8775
I've shared an item with you:

typicalsync
https://drive.google.com/file/d/1tqMrr9fSGeCB8QdSBjrENCs3PTBVx6hG/view?usp=sharing&invite=CJ3YzqsN&ts=61046b34

It's not an attachment -- it's stored online. To open this item, just click
the link above.

[2021-07-30 21:13] doddsperry commented on #8775
I've shared an item with you:

websync
https://drive.google.com/file/d/1XQzKQU59FpMBPoF6iHIyB6yYwJ4mwkKf/view?usp=sharing&invite=CO_i1YQF&ts=61046b76

It's not an attachment -- it's stored online. To open this item, just click
the link above.

[2021-07-30 21:19] doddsperry opened #8785 "Hats off to you"
Very proud of you

[2021-07-31 10:37] #8785 closed

[2021-07-31 10:47] Axel-Naumann commented on #8767
If this happens too late, after libXrdCl.so was unloaded, can this be done in the tear-down of xrootd-client or else in whatever TNetXNGFile's library is, through static destruction?

[2021-07-31 10:50] Axel-Naumann commented on #8767
That said, what you suggest (closing files in `TApplication::Terminate()`) sounds reasonable to me. @pcanal ?

[2021-07-31 11:48] will-cern opened #8787 "[RF] RooDataSet columns added with addColumns method not copied correctly in reduce"
Affects at least 6.22/08

Minimal reproducer:

[code]

This outputs:

[code]

where it should really output:

[code]

If the "x" column was included when the dataset is constructed, the reduction works correctly.

[2021-07-31 12:06] will-cern commented on #8787
incredibly, `addColumn` works ok though, so hopefully the problem is easy to track down by comparing those two methods.

I originally tried to workaround the problem by creating another dataset and merging it in. I discovered that suffers from another bug though that merged datasets lose their weightedness!

[2021-07-31 20:53] pcanal commented on #8767
This is already supposed to be the case !!!!

`Terminate` calls `TUnixSystem::Exit` which calls ` TROOT::ShutDown` which calls `TROOT::EndOfProcessCleanups` which class `TROOT::CloseFiles`.

How is that failing in this case?

[2021-07-31 20:56] pcanal commented on #8767
Humm .. the files are "Closed" but not deleted .. the comment relevant comment from `TROOT.cxx:1086` is:
[code]

[2021-08-03 09:50] osschar commented on #8767
Do you think deleting XrdCl objects in TXNetNG::Close() would be the right thing (TM) to do?

[2021-08-03 13:02] guitargeek opened #8791 "Unexpected warning in TStreamerInfo::BuildCheck and TStreamerInfo::CompareContent after updating class version of base class"
- [ ] Checked for duplicates

### Describe the bug

When updating the version of the RooAbsArg class with 068465e (part of https://github.com/root-project/root/pull/8764), an unexpected warning appears in the testProxiesAndCategories unit test:

[code]

The warning is uexpected because:
  * it comes from the RooRealVar class that was not changed in 068465e
  * it only appears now after seemingly u

[2021-08-03 13:48] Axel-Naumann commented on #8767
I believe I can reproduce the failure e.g. on CentOS8; it's causing
[code]
to fail. I see
[code]

I also get:
[code]
I see no `TNetXNGFile::Close(const char*)` being called (if that's what you were referring to @osschar ) by
[code]
That's invoked by PyROOT (in my case).

[2021-08-03 13:57] Axel-Naumann commented on #8767
Who's "you"? I cannot tell; I do not know about the interplay between `TNetXNGFile` and XrdCl. If nobody expects to do XrdCl stuff after `Close()` then yes, that sounds like the perfect solution!

[2021-08-03 17:00] osschar commented on #8767
"You" was Axel and Philippe + whoever is doing TXNetNG these days :)
Michal (main developer of XrdCl) and I assumed the crash happens because libXrdCl was already unloaded, see xrootd issue: xrootd/xrootd#1487

Now, you say the library is still loaded ... then it's probably more likely that destruction ob XrdCl global objects has already happened or was in progress (I just learned c++ is rather re

[2021-08-04 07:12] #8665 closed

[2021-08-04 07:59] ferdymercury opened #8794 "[TGNumberEntry] centiseconds"
### Explain what you would like to see improved
In mobile phones, stopwatches, etc. it is quite common to display times as minutes:seconds.centiseconds
In ROOT, it would be nice to support this type of display in the GUI class TGNumberEntry. Right now the closest option is:
kNESMinSec: time in minutes:seconds format

### Optional: share how it could be improved
- Create kNESMinSecCent
- https://ro

[2021-08-04 08:16] ferdymercury opened #8795 "[GH] Issue and Improvement templates"
### Explain what you would like to see improved
In the GitHub templates for "Issue" and "Improvement", I think it could be interesting to replace these instructions

[code]

 with:
[code]
(Maybe some more metadata had to be added to root -b in order to tag some builds as 'dnf' or 'binary prepackage'.)

It would be interesting to define a special command in the ROOT binary folder, like
`rootissue`

[2021-08-04 13:34] ferdymercury opened #8797 "coding conventions - Qtcreator xml config file"
### Is your feature request related to a problem? Please describe.
When I code contributions for ROOT within QtCreator, I have to manually edit the format to match the one required by ROOT (braces, indents, etc.).

### Describe the solution you'd like
A config file like this one would be perfect, as it would automatically format those things.
https://github.com/drewnoakes/settings/blob/master/qt-c

[2021-08-04 13:50] hageboeck commented on #8791
For reference: v6.24.02 fresh from lxplus:
[code]
It's the same as far as I can see.

Could it be that checksums in the base are different, and that makes ROOT compare members line by line?
Shouldn't it read in this case:
[code]
to match the v6.24 header?
https://github.com/root-project/root/blob/7d9f6812845f5c07551a5b2d542c21ed8975e18d/roofit/roofitcore/inc/RooRealVar.h#L152-L156

[2021-08-04 16:31] osschar commented on #8767
Yes, it does, thank you!

A workaround has also been committed to xrootd and has made it into 5.3.1 ... in case this affects your backporting priority :)

[2021-08-05 20:40] guitargeek opened #8806 "Interpreter prints unexpected values when `auto` is used for pointer types"
- [ ] Checked for duplicates

When the `auto` keyword is used in the interpreter to substitute pointer types, the value of the pointer is not printed out correctly, even though the pointer points to the correct variable.

A few simple interpreter commands to reproduce the problem:
[code]

However, if one uses `auto *` instead of auto, one gets the expected behavior:

[code]

Can we fix the interpr

[2021-08-05 22:15] guitargeek opened #8807 "Move and rename the `tokenise()` function for splitting strings to `core/foundation`"
In different ROOT components, it is convenient to have a helper function that takes a string, similar to the `str.split` function that Python has for example:

[code]

Currently, there is code duplication to provide such a function in separate ROOT components like `roofit` and `hist`:
* https://github.com/root-project/root/blob/dcf920904564bbdca08a6acfa70019bbc24b3897/hist/hist/src/TFormula.cxx#L1

[2021-08-05 22:43] guitargeek opened #8808 "Necessary updates to RooFit tutorials before the next release"
1. The [rf204_extrangefit.py](https://root.cern.ch/doc/master/rf204__extrangefit_8py.html) should be translated also to C++
2. The [rf204b_extendedLikelihood_rangedFit.C](https://root.cern.ch/doc/master/rf204b__extendedLikelihood__rangedFit_8C.html) tutorial should also be translated to C++
3. The [rf204b_extendedLikelihood_rangedFit.C](https://root.cern.ch/doc/master/rf204b__extendedLikelihood__r

[2021-08-06 08:33] ferdymercury commented on #8807
Side note: there is already https://root.cern/root/html530/TString.html#TString:Tokenize in core/base

although it is a bit tiring to work with:
[code]

[2021-08-06 08:57] Axel-Naumann commented on #8807
Indeed, and a follow-up PR might change `TString::Tokenize()` to use the new facility here.

[2021-08-06 08:59] #8767 closed

[2021-08-06 17:01] Ehsan337 opened #8814 "Root lib error"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2021-08-06 23:50] jpbrodsky opened #8815 "TBB not inheriting CXXFLAGS"
- [x ] Checked for duplicates

### Describe the bug
The build of builtin TBB does not inherit CXXFLAGS from the main ROOT cmake.

``[buildir]/TBB-prefix/src/TBB-stamp/TBB-build-Release.cmake`` configures a build of the internal TBB. The ``CXXFLAGS`` setting in this file does not pick up user environment ``CXXFLAGS`` or ``CMAKE_CXX_FLAGS`` from the main build.

### Expected behavior
Any ``CXXFLAGS`

[2021-08-09 08:06] simonmichal commented on #8767
Sorry guys I've been on holidays :-) good to see that this is solved :-)

we use a nifty counter to protect against static-destruction-order-fiasco so in principle if the `libXrdCl` has not been unloaded it should not crash

[2021-08-09 09:05] ferdymercury commented on #8815
I think this is a general issue of external libraries, probably inherited from old ROOT's "configure" build. For example, libAfterImage is also affected, see https://github.com/root-project/root/issues/8125#issuecomment-841519742

[2021-08-09 09:09] eguiraud commented on #8807
Another instance of a string splitting implementation is at https://github.com/root-project/root/blob/68c7ac93e0504dbd63075ede00a42eec131f4508/tree/ntuple/v7/src/RNTupleModel.cxx#L85-L95

[2021-08-09 09:15] eguiraud commented on #8807
About naming: although `std::strtok` does a simple string splitting, tokenization is often understood as a more complex operation than string splitting, involving some lexing, see e.g. https://docs.python.org/3/library/tokenize.html (vs the simple Python string split mentioned above) and https://github.com/ArashPartow/lexertk .

I would suggest to just call this `Split`, if other people share this

[2021-08-09 09:18] eguiraud commented on #8807
I'd say definitely `vector<string>`, otherwise calling things like `split(std::move(mystr))` or `split("a temporary str"s)` is broken or impractical. Thanks to short string optimization, creating several small strings is cheap.

[2021-08-09 09:20] eguiraud commented on #8795
@Axel-Naumann does the discussion at #8805 imply that this issue can be closed?

[2021-08-09 09:27] ferdymercury commented on #8795
Side note: my suggestion was to make contribution less of a burocratic pain, not more ;)
For me, it takes more time to write the ROOT version and Operating System by hand like now, rather than copying root -b output, or to just call in the terminal "rootissue" which already prefills all fields and opens the browser.

[2021-08-09 09:55] Axel-Naumann commented on #8795
Replacing one by the other seems fine to me. I don't want our users to go through additional steps, and I'd like to keep this welcoming (i.e. no all caps "must" etc). I like the idea of having a tool that spits out version, platform, built-by / -machine / -directory which would allow us to guess whether it's Conda, a nightly, a custom build, or whatever.

[2021-08-09 10:31] vepadulano opened #8817 "Wrong function overload selection with long inheritance chain"
### Describe the bug

There seems to be a bug in the selection of a function overload with TObject-derived classes from Python:

[code]
The snippet above outputs
[code]
### Expected behavior
Snippet should output `A\nB`, And indeed from the root prompt I get the correct output
[code]
### Setup
I tried it with both ROOT 6.24/02 and 6.20/06 (to check against old PyROOT), installed with conda on a Fe

[2021-08-09 10:46] eguiraud commented on #8739
Will close after backporting

[2021-08-09 10:59] guitargeek commented on #8814
I will close this empty issue, feel free to reopen it or create a new issue if you actually have an issue.

[2021-08-09 10:59] #8814 closed

[2021-08-09 14:33] guitargeek commented on #8807
Thanks for the discussion! So we go for `vector<string> ROOT::Split(const std::string &str, const std::string &delims, bool returnEmptyToken)` then? In which file should it go, maybe `ROOT/RSplit.hxx`? I think it would be good to also decide this before anyone can pick up this issue.

[2021-08-09 14:39] Axel-Naumann commented on #8807
IIRC we have a couple of other string functions that we'd really love to have, generally speaking. So maybe `ROOT/StringUtils.hxx`?

[2021-08-09 14:46] guitargeek commented on #8807
Sounds good to me!

[2021-08-09 15:06] bellenot commented on #8797
So apparently `QtCreator` has a plugin for `clang-format` and so can use the style from the ROOT `.clang-format` file

[2021-08-09 18:07] guitargeek commented on #8807
Since the original `tokenise` function was used in RooFit a lot, I took care now of implementing the new `ROOT::Split` function.

[2021-08-09 19:26] Umoya444 opened #8823 "https://open.spotify.com/track/6b7z3keZ5gDJ2zBnyrke9P?si=g-qpJ73NSV2kJQqhcJLRzw&dl_branch=1 https://open.spotify.com/track/6b7z3keZ5gDJ2zBnyrke9P?si=g-qpJ73NSV2kJQqhcJLRzw&dl_branch=1https://github.com/Pparri/FirstPush/pull/2/files"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2021-08-09 19:28] Umoya444 opened #8824 "https://www.schoemanlaw.co.za/wp-content/uploads/2019/05/Circumstances-in-which-a-unborn-child-can-inherit-from-a-Deceased-Estate.pdf"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2021-08-09 20:06] ferdymercury commented on #8797
Works great, I didn't know about it, thanks for the hint. The plugin also supports astylerc files. I followed https://www.vikingsoftware.com/using-clang-format-with-qtcreator/

Would it be maybe helpful to add a short sentence https://root.cern/contribute/coding_conventions/ mentioning this possibility?

[2021-08-10 07:29] bellenot commented on #8797
Here is the PR: https://github.com/root-project/web/pull/630

[2021-08-10 07:53] bellenot commented on #8797
Done by [commit #f68d91056](https://github.com/root-project/web/commit/f68d91056)

[2021-08-10 07:53] #8797 closed

[2021-08-10 09:03] etejedor commented on #8745
To add some more information after some investigation with @vepadulano: when doing `ROOT.Detail.MyStruct`, the `Detail` namespace that PyROOT returns is the one in the global namespace, i.e. `Detail`, not `ROOT::Detail`. This happens because, when doing a lookup from Python in the `ROOT` module, the global namespace is inspected first, and only if that lookup fails the `ROOT` namespace is tried. B

[2021-08-10 09:05] #8745 closed

[2021-08-10 09:08] etejedor opened #8828 "Crash when defining something in the Detail namespace after a lookup of that namespace"
As explained in https://github.com/root-project/root/issues/8745, if we look up the `Detail` namespace first and then define something else in it, there is an assertion failure. That crash does not happen if there is no prior lookup. Example:

[code]

[2021-08-10 09:33] #8490 closed

[2021-08-10 10:31] #8739 closed

[2021-08-10 15:02] vepadulano commented on #8817
Even simpler reproducer, that doesn't depend on `TObject` at all (sorry for the noise)
[code]

output:
[code]

[2021-08-11 07:24] bellenot commented on #8647
Well, the GUI classes are not meant to be stored in ROOT files. BTW, how did you save your TGHtml?

[2021-08-11 08:10] ferdymercury commented on #8647
I was using myHtml->Write(...)

[2021-08-11 09:14] bellenot commented on #8647
OK, this doesn't work for me. And you should not try. As I said, all the GUI classes are not meant to be saved in ROOT files.

[2021-08-11 13:23] bellenot commented on #8647
Closing this issue: GUI classes are not meant to be saved

[2021-08-11 13:23] #8647 closed

[2021-08-11 17:44] vepadulano commented on #8817
After some investigation, it seems this issue is due to the priority level assigned to the two overloads. Specifically, the logic at https://github.com/root-project/root/blob/896940ef8c0936ad394a1cf6b98d1d8fbaabbfff/bindings/pyroot/cppyy/CPyCppyy/src/CPPMethod.cxx#L408-L412

seems to aim at assigning higher priority to class types that have a deeper inheritance chain. In the reproducer above, this

[2021-08-11 22:17] pav-rez opened #8833 "Crash reading >= 3D array in TTree via MakeClass in Windows ROOT6 compilation"
Dear ROOT developers,

we have met with a problem reading more than 2-dimensional arrays in TTrees using MakeClass. The problem appears only on the **Windows ROOT 6 version** (same code works on ROOT 6 on Linux, as well as on ROOT 5 in Windows). The code to reproduce is simple:

A tree is created by:
[code]
Then produce MakeClass from the tree: ```MyTree->MakeClass()```.

Finally, try to read that

[2021-08-12 08:32] amadio commented on #8633
ROOT's approach of turning `find_package` to a no-op was based on the [talk](https://youtu.be/bsXLMQ6WgIk) "Effective CMake". It only works with subprojects of ROOT (i.e. LLVM) if we override `find_package` without renaming it, otherwise LLVM will not use the builtin zlib, for example, when that's enabled. I don't think ROOT is at fault here for relying on this feature of CMake.

[2021-08-13 10:20] bernhardmgruber commented on #8633
As described in the blob post by a CMake maintainer (emphasis is mine):

It's mostly sad that vcpkg did the same trick, making ROOT incompatible with it.

Given the circumstances I think this cannot be fixed at the moment, since neither ROOT nor vcpkg can easily change and I also don't expect CMake to make such behavior defined and allow overriding build-ins multiple times. So I guess we need to c

[2021-08-13 11:56] amadio commented on #8633
Here is a relevant [issue](https://gitlab.kitware.com/cmake/cmake/-/issues/17735) where this is discussed more in depth. One of the [comments](https://gitlab.kitware.com/cmake/cmake/-/issues/17735#note_487572) in this issue explains the rationale behind overriding `find_package` quite well. If there is a better solution that can work the way the current solution does (i.e. works also for LLVM with

[2021-08-14 07:16] AlkaidCheng opened #8845 "[PyROOT] Crash when adding cloned object to RooArgSet"
### Describe the bug

In pyROOT, if one defines a function that returns a RooArgSet object that contains cloned RooAbsArg objects, the returned RooArgSet object will crash if accessed. This is likely due to some garbage collection within the function that removes reference to the cloned object.

This behavior occurs only in pyROOT and is not restricted to functions that return a RooArgSet object.

[2021-08-14 08:01] AlkaidCheng commented on #8845
It seems that this issue is related to https://github.com/root-project/root/issues/8120.
Adding ROOT.SetOwnership(object, False) indeed solves the problem

[2021-08-14 08:01] #8845 closed

[2021-08-16 07:03] hahnjo commented on #8828
@etejedor Do you have a stack trace? There's also `isa_and_nonnull`, so if some return value can be validly null, it may be as easy as using that?

[2021-08-16 07:40] etejedor commented on #8828
@hahnjo there is no stack trace unfortunately, just the assertion failure message. Were you able to reproduce yourself? I can reproduce on both my laptop and desktop machines, Ubuntu and CentOS7 with master, but not e.g. on lxplus.

As for the use of `isa_and_nonnull`, @Axel-Naumann can better comment.

[2021-08-16 09:06] eguiraud opened #8850 "`root` command ignores unknown options - it should complain instead"
- [X] Checked for duplicates

### Describe the bug

This runs fine:
[code]
Virtually all unix command line tools error out if an invalid option is passed. It's surprising that `root` does not and can lead to problems:

[code]
does _not_ start `root` in batch mode, because there is no long spelling for `-b`.

### Expected behavior

`root --nonexistingoption` should error out.

[2021-08-16 09:29] hahnjo commented on #8828
I didn't try yet, first checking if you might have more information that would accelerate diagnosis. I will build a debug version of Cling and try to reproduce :+1: with Axel and Javi on vacation, I might take a look if it's easy to fix.

[2021-08-16 11:17] hahnjo commented on #8828
Hm, actually I cannot reproduce this, at least with the example give above:
[code]

Do I have to (auto)load something during startup?

[2021-08-16 11:33] etejedor commented on #8828
I didn't do anything special nor load anything, still that `Detail` namespace is there. I see this with debug builds with roottest enabled, besides that there is no particular setting.

[2021-08-16 11:47] hahnjo commented on #8828
Okay, I just noticed that you wrote you cannot reproduce on lxplus, so I'm not doing something entirely wrong. The two most likely causes are that you have some local `.rootrc` file (try with `root -n`), or that both lxplus and me are missing some optional dependencies that activate some problematic loading. From CMake, I get: `asimage builtin_afterimage builtin_clang builtin_cling builtin_ftgl bu

[2021-08-17 06:41] hahnjo commented on #8828
@etejedor and me finally figured out what's the difference between the builds: The problem only arises if building with C++14 which pulls in `ROOT/RNotFn.hxx`, defining `std::Detail`. Because of the implicit `using namespace std;` this ends up conflicting with `namespace Detail` defined in the `root` prompt. FWIW here's the full `backtrace` from a Debug build (which gives less information by defau

[2021-08-17 08:25] #8141 closed

[2021-08-17 08:48] bellenot commented on #8833
I can reproduce the issue, and also with 2D array. The problem comes from Cling. We will investigate

[2021-08-17 16:45] vepadulano commented on #7441
Closing this already solved issue :+1:

[2021-08-17 16:45] #7441 closed

[2021-08-18 00:48] henryiii commented on #7881
Should be cleared up. Using `depends_on :xcode if MacOS.version <= :catalina`, this gets the right paths and works. Will close here, and hopefully the PR will be merged soon in homebrew.

[2021-08-18 00:48] #7881 closed

[2021-08-18 00:49] henryiii commented on #7881
Thanks, @vgvassilev!!! Once the problem was identified as the issue with those paths, a very nice and simple solution became obvious.

[2021-08-18 05:25] vgvassilev commented on #7881
No worries, thanks for pulling this off!

[2021-08-18 16:31] couet commented on #8781
So what you need is `GENERATE_QHP` enabled in Doxyfile while generating the reference guide , right ? Have you tried it ? does the result doxygen produces is what you need ?

[2021-08-19 07:50] ShamrockLee opened #8857 "[DF] `Redefine()`ing a `Defined()` column causes segmentation violation"
- [X] Checked for duplicates

### Describe the bug
`Redefine()` is a new method added on the master branch to allow re-definition to an existing column. However, segmentation violation occurs when trying to redefine a defined column.

### Expected behavior
Defined columns are re-definable.

### To Reproduce

1.  Generate a file containing a simple tree containing a `std::vector<Float_t>` branch:

[2021-08-19 08:58] ferdymercury commented on #8781
Thanks. Yes, that's what would be needed. I didn't try it with ROOT but it works well with all my other Cmake projects. It generates a .qch file that one can then import as Help Guide within QtCreator
See https://www.creatis.insa-lyon.fr/~grenier/?p=273

[2021-08-19 09:12] couet commented on #8781
Sorry for my ignorance but this .qch file contains what ? I guess it cannot be the whole reference guide ? that would be a huge file ... Is it references to the guide on the web ? in that case I do not understand your statement in your first post when you said: _which is also great if you don't have internet connection_

[2021-08-19 09:13] ferdymercury commented on #8781
See also https://reviews.llvm.org/D2967

[2021-08-19 09:14] ferdymercury commented on #8781
It is a compressed file qt help file, stored locally. Yes, it is potentially a very large file. (Could be enabled via cmake flag).

[2021-08-19 09:19] couet commented on #8781
We do not use cmake to build the reference guide. It is a separated Makefile.
Yes that file might be huge. How are managed the pictures ? they are somehow included in it ?
I will try what is suggested in your insa-lyon link

[2021-08-19 09:45] couet commented on #8781
I see the command `qhelpgenerator` needs to be installed. I do not have Qt (and do not want it) on my machine. Can `qhelpgenerator` be installed without the full Qt (which requires a licence if I remember well) ?

[2021-08-19 10:37] eguiraud commented on #8857
Hi @ShamrockLee , thank you very much for the report (and sorry for the trouble), PR #8859 should fix the issue.

In the meanwhile you can work around the crash by adding a line such as
[code]

somewhere before the event loop is triggered. It forces the correct initialization of the `Define`'d `"x"`, which was not properly taken care of by the `Redefine` that used it.

[2021-08-19 10:38] eguiraud commented on #8857
As an aside, note that, because of a C++ language quirk, `Take(v, {0})` is parsed as `Take(v, 0)` which always returns an empty `RVec`:

[code]

You need `Take(v, 1)` instead, which returns 1 element from `v` (luckily compilers warn about this).

[2021-08-19 10:55] ferdymercury commented on #8781
You don't need a license for Qt if you click on OpenSource. The option is a bit hidden. Also, you can install just QtCreator without installing full Qt.
Yes, i think qhelpgenerator can be installed independently, check the LLVM link to see related apt packages.

[2021-08-19 10:59] ferdymercury commented on #8781
https://www.qt.io/download-open-source and when installing unselect all except for qtcreator. There are also offline installers that don't require login.

[2021-08-19 12:55] ferdymercury commented on #8781
Here the file format description https://doc.qt.io/qt-5/qthelp-framework.html
I think images are linked, not embedded https://forum.qt.io/topic/73965/linked-png-in-qthelp-file

[2021-08-19 13:40] #8857 closed

[2021-08-20 08:16] #8598 closed

[2021-08-20 10:20] eguiraud commented on #8693
This is fixed, thanks @SpectreVert

[2021-08-20 10:20] #8693 closed

[2021-08-20 11:39] lmoneta commented on #7965
Similar problem is reported in
https://root-forum.cern.ch/t/rooworkspace-with-overloaded-functions/46355

It looks like the internal function defined in RooWSFactoryTool.cxx:

`pair<list<string>,unsigned int> ctorArgs(const char* classname, UInt_t nMinArg)`

works only for the first non trivial constructor .

[2021-08-20 13:41] vepadulano opened #8875 "Error when copying a tuple into a specific position of a vector of tuples in PyROOT"
### Describe the bug

Insertion of a tuple into a vector seems to be buggy on the Python side
[code]

While this works at the prompt
[code]
I couldn't understand how to reproduce the issue with `TEmulatedTuple` which is defined internally in TCling starting at https://github.com/root-project/root/blob/de302abeae86368724e69a7a0e7a24b2dff28f07/core/metacling/src/TCling.cxx#L3876
### Expected behavio

[2021-08-20 14:12] hahnjo commented on #8828
I've tried to look into this, and I'm becoming more and more convinced that the underlying problem is related to `core/meta/` and special handling of `namespace std`, and not to the general Cling machinery in the background. To recap (the following is with a C++17 build, so I can define `std::Detail` as I wish):
[code]
but
[code]
is fine (at least the behavior that `TClass::GetClass("Detail")` ret

[2021-08-20 14:30] couet commented on #8781
Ok, the installed went wrong. I re-did it and i see `qhelpgenerator` now.
I will test on a subset of the doc.

[2021-08-20 15:02] eguiraud commented on #7893
This is fixed, I only have "world-rebuilding" issues when using ccache+makefiles but it looks like it's a problem specific to my setup (and ninja+ccache works).

[2021-08-20 15:02] #7893 closed

[2021-08-20 15:06] couet commented on #8781
I have modified the following entries in Doxyfile:
[code]
I regenerated the hist part of the reference guide on my local machine.
I was expecting the file `ROOT.qch` will appear somewhere . But it does not.

[2021-08-20 15:24] #8713 closed

[2021-08-20 15:57] #8750 closed

[2021-08-20 16:39] ferdymercury commented on #8781
Running doxygen with extra verbose flag might give you a warning message. It could be the path, see https://stackoverflow.com/a/49751322

[2021-08-20 16:40] ferdymercury commented on #8781
By the way, once you open qtcreator, you can click on File, open file or project, and double click on the main Cmakelists.txt

[2021-08-23 08:18] couet commented on #8781
It seems doxygen tried to run this `qhelpgenerator` but failed:
[code]
That's weird because very likely this index.php file has been generated by doxygen, and it seems to have a wrong syntax.

[2021-08-23 10:15] etejedor commented on #8875
It seems that `std::tuple` is being replaced by `TEmulatedTuple`. The same error can be reproduced with:

[code]

[2021-08-23 10:34] romainbqt commented on #6811
HI @couet,
Sorry for the late reply,
many thanks this looks good to me
and yes if it could be added to ROOT `TGraph2DPainter`
it would be amazing

[2021-08-24 08:12] vepadulano opened #8890 "Error 400 while creating a `TWebFile`"
### Describe the bug
With both 6.24/02 and master the following snippet outputs an error:
[code]
[code]
The error is triggered [here](https://github.com/root-project/root/blob/5d536b29d7ce437aad79ff046788735a33fb1dbe/net/net/src/TWebFile.cxx#L866). Curiously, with 6.24 the equivalent `TFile::Open` doesn't error
[code]

But it still errors with the latest master@59e754a
[code]

### Expected behavio

[2021-08-24 10:50] andresailer opened #8892 "Exception in TGeoMixture::ComputeDerivedQuantities"
Since this change https://github.com/root-project/root/pull/8556 in the root master
We see some failures in DD4hep tests against the LCG Dev3 installation, more details in https://github.com/AIDASoft/DD4hep/pull/857#issuecomment-904434545

Our tests are passing again if patching out the `!fElements &&` from this line

https://github.com/root-project/root/blob/5d536b29d7ce437aad79ff046788735a33fb1d

[2021-08-24 11:24] AntoniMarcinek commented on #7979
@lmoneta I ping you once again. What do you think about my idea?

[2021-08-24 13:30] eguiraud opened #8893 "[DF] `Describe` output does not display correctly in Jupyter notebooks"
![image](https://user-images.githubusercontent.com/10999034/130625213-022e17e3-564d-40c4-a1a2-e54fd691ab2e.png)

[2021-08-24 14:54] #8707 closed

[2021-08-24 16:29] pcanal commented on #8890
@linev Could you take a look?

[2021-08-24 18:53] bleve opened #8895 "root-6.24.2-1.el8 rebuild on mock on tmpfs one test fails"
I tried to rebuild epel8 testing version of root and it failed one test case (three times so this is not just random failure).

 150/1107 Test  #109: gtest-io-io-test-RIoUring ...........................................***Failed    0.58 sec
Running main() from gtest_main.cc
Note: Google Test filter = -RCsvDS.Remote:RRawFile.Remote:RSqliteDS.Davix

Looks like this test is not proper.

No problem wi

[2021-08-25 08:16] eguiraud commented on #8895
Hi @bleve ,
the test does not fail in our builds, how can we replicate the issue on our side?

[2021-08-25 08:22] bleve commented on #8895
Have you tried to build on tmpfs?

[2021-08-25 12:17] Axel-Naumann opened #8899 "dataframe_concurrency LLVM valgrind error: SelectionDAG::Combine"
- [X] Checked for duplicates

### Describe the bug
`valgrind ... --suppressions=etc/valgrind-root.supp tree/dataframe/test/dataframe_concurrency` gives

[code]

### Setup
1. ROOT version: tip of 6-24
2. Operating system: Mint 20.1

[2021-08-25 12:30] MarkusFrankATcernch commented on #8892
Please see https://github.com/root-project/root/pull/8900

[2021-08-25 12:43] #8892 closed

[2021-08-25 12:44] agheata commented on #8892
Fixed by #8900

[2021-08-25 15:01] Nowakus opened #8901 "RNTuple: Can not create a Field for a user class with anonymous enum"
RFieldBase::Create("fieldname", "classame") in ROOT 6.24.0 returns an error when the class contains an anonymous enum.
To reproduce execute a ROOT macro EmumTest.C containing:
[code]
[code]
Marcin

[2021-08-26 07:33] VanyaBelyaev opened #8902 "lib/ROOT/pythonization/_roofit/_roocategory.py : SyntaxError: invalid escape sequence \c"
- [ ] Checked for duplicates

### Describe the bug

I my project I use ROOT from LCG nightlies  build dev3 slot
And for my tests (with ctest and nose)  I get an error:

[code]

### Expected behavior

### To Reproduce

### Setup

ROOT version from LCG nightlies dev3 slot

### Additional context

[2021-08-26 14:21] andriish opened #8904 "Weird messages from TInterpreter::AutoParse"
### Describe the bug
I have root installed from EPEL8-testing, version 6.24.02.
I also have installed a package called  perl-Unicode-Map, which provides a file /usr/bin/map.
When TInterpreter::AutoParse  finds
[code]
in my headers it tries to parse /usr/bin/map.

[code]

### Expected behavior
/usr/bin/map is not parsed.

### To Reproduce
Eh,  not sure if I can provide a short reproducer immediatel

[2021-08-26 15:02] SpectreVert opened #8905 "root/io/bigevent tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:02] SpectreVert opened #8906 "root/io/event tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be implemented in CMake rather than calling `make cleantest`. After that their corectness can be verified.

[2021-08-26 15:02] SpectreVert opened #8907 "root/io/compression tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:17] SpectreVert opened #8908 "root/io/datamodelevolution tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:17] SpectreVert opened #8909 "root/io/references tests fail with ASAN enabled"
According to the console logs the tests did not execute successfully, probably because of a badly setup dependency on libEvent.

### How it could be improved
Tests should be remade using CMake with a proper Event generation library and then tested for correctness against libasan.

[2021-08-26 15:18] SpectreVert opened #8910 "root/io/perf tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

Also, perf contains a lot of old tests than seemingly never got run. There is a discussion about this ongoing at https://github.com/root-project/roottest/pull/732 ; any idea @bellenot @pcanal ?

[2021-08-26 15:18] SpectreVert opened #8911 "root/treeformula/event tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be implemented in CMake then have their corectness verified.

[2021-08-26 15:20] SpectreVert opened #8912 "root/treeformula/references test fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:22] SpectreVert opened #8913 "root/treeformula/retobj tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:22] SpectreVert opened #8914 "root/treeformula/schemaEvolution tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:22] SpectreVert opened #8915 "root/treeformula/sync tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:25] SpectreVert opened #8916 "root/tree/friend tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:25] SpectreVert opened #8917 "root/tree/addresses tests fail with ASAN enabled - buffer overflow"
According to the console logs, this looks like a real failure.

`AddressSanitizer: heap-buffer-overflow`

libAsan seems to have detected a real error in the code.

### How it could be improved
The tests should be translated into CMake code and then the error(s) should be adressed

[2021-08-26 15:25] SpectreVert opened #8918 "root/tree/evolution tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:25] SpectreVert opened #8919 "root/tree/treeproblem tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The tests should be translated into CMake code and their corectness then verified.

[2021-08-26 15:25] SpectreVert opened #8920 "root/treeproxy tests fail with ASAN enabled"
According to the console logs, the test crashed on execute due to bad linkage to asan functions.

### How it could be improved
The large number of tests present should be translated to CMake and then their correctness tested.

[2021-08-26 15:25] SpectreVert opened #8921 "root/io/cint tests fail with ASAN enabled"
According to the console logs the tests did not execute successfully, partly because of dynamic linking errors with libAsan.

Moreover, a lot of these tests seem to be old and abandonned due to the deprecation of `cint`

Any suggestions about what to do next? @bellenot @pcanal

[2021-08-26 15:25] SpectreVert opened #8922 "root/io/newClassDef test fail with ASAN enabled"
According to the console logs, this looks like a real failure.

However the tests should first be translated into CMake so that they work with ASAN enabled and then tested for corectness.

[2021-08-26 16:28] flagarde opened #8923 "Allow to use root as dependency using `FetchContent`"
### Explain what you would like to see improved
Allow to use root as dependency using `FetchContent`

### To Reproduce
[code]
### Setup
ROOT version :  latest-stable
Operating system : Linux
How you obtained ROOT : github

[2021-08-29 09:59] #8902 closed

[2021-08-29 20:54] ferdymercury commented on #8781
Thanks for checking. What's the doxygen version?

Could be
https://github.com/doxygen/doxygen/issues/5333
Or
https://github.com/doxygen/doxygen/issues/6254

[2021-08-30 07:25] couet commented on #8781
I install doxygen from sources . I am using the master version 1.9.2

[2021-08-30 08:40] Axel-Naumann commented on #8904
Are you running from `/usr/bin/`, i.e. is that your current working directory?

[2021-08-30 08:42] ferdymercury commented on #8781
Thanks. Then it's probably due to https://github.com/doxygen/doxygen/issues/5333
Can you open index.qhp with a text editor and post here the content around line 15?
And maybe also in that open doxygen issue.

[2021-08-30 11:43] andriish commented on #8904
Hi @Axel-Naumann ,

no, I was running just from home directory.

But, let me have a look if 1) this behaviour will be seen after the recent updates of root in EPEL
2)if  I'm able to provide a simple reproducer.

Best regards,

Andrii

[2021-08-30 12:22] andriish commented on #8904
OK,

now I see I had /usr/bin appended to the ROOT_INCLUDE_PATH in the script that called the executable.
Removing /usr/bin from resolves the problem. Sorry for not reporting it earlier.
In theory, one could expect that build-in paths should take precedence over  ROOT_INCLUDE_PATH, so I'm not sure if this is 100% false alarm,  but "my problem" is resolved, so I would not object to closing this iss

[2021-08-30 12:32] Axel-Naumann commented on #8904
Thanks for your confirmation. I believe we're just following the precedence provided by clang (the compiler library cling is based upon), so I'll close this.

[2021-08-30 12:32] #8904 closed

[2021-08-30 14:58] Axel-Naumann opened #8931 "`TDirectory::RegisterGDirectory` is MT unsafe"
ALICE has reported regular crashes due to MT unsafe access in `TDirectory::RegisterGDirectory`. Example backtrace:

[code]

For the record (not publicly accessible) ALICE bug reports:

* https://alice.its.cern.ch/jira/browse/O2-2372
* https://alice.its.cern.ch/jira/browse/O2-2532

[2021-08-30 15:00] #8931 closed

[2021-08-30 15:50] gartrog commented on #8046
Hello @Axel-Naumann .

Apologies it took me a while to find the time to do it, but this PR #8932 should take care of all cases in TDirectoryFile where the hash list functionality can accelerate upon linear search. Hopefully there are no mistakes due to my limited understanding of the code.

[2021-08-30 15:56] chrisburr opened #8933 "CMAKE_INSTALL_PYTHONDIR on macOS creates broken symlinks"
- [x] Checked for duplicates

### Describe the bug

As of 6.24.04, building with `CMAKE_INSTALL_PYTHONDIR` on macOS causes pyroot to not be functional as the installed symlink is:

[code]
whereas the actually Python module is in:
[code]

which causes `import ROOT` to fail:

[code]

This issue was introduced in https://github.com/root-project/root/commit/aefe374411d9bfecaa4a9eb764aee05f7b76a8e6 as

[2021-08-30 18:24] ferdymercury commented on #8850
Maybe this could be cleanly handled with the CLI11 header-only library (as a git submodule):
https://github.com/CLIUtils/CLI11

[2021-08-30 19:17] guitargeek opened #8935 "[RF] Implement option to not apply bin-width correction to `RooHistPdf` when plotting"
As discussed in https://root-forum.cern.ch/t/binned-likelihood-fit-with-variable-bin-sizes, it is not trivial in RooFit to make a plot where a data histogram and a `RooHistPdf` with non-uniform binning are compared: the data is given in event counts per bin, and the RooHistPdf gives the expected counts *per bin volume*.

A way to easily plot a RooHistPdf without bin-width correction should be impl

[2021-08-30 23:04] flagarde commented on #8923
Hi,
I have made some changes and ROOT seems to compile as main package and as sub-package using FetchContent. Most changes are quite trivial but some parts may require checks from ROOT-expert.

Can I pull request the proposed changes ?

[2021-08-31 07:18] eguiraud commented on #8923
Hi @flagarde ,
nice! I would say yes to the PR, since you have the patch anyway. So we can see what's needed to make this work.

Then it will be up to our build system expert @bellenot (coming back to work in a couple of weeks) to decide if we can merge or not :)

[2021-08-31 14:31] #8697 closed

[2021-08-31 14:42] bernd1995 opened #8939 "-DCMAKE_CXX_STANDARD=20 unsupported for branch `latest-stable`"
Although the [docs for building ROOT from source](https://root.cern/install/build_from_source/#setting-the-c-standard) suggest that the `C++20` standard should be supported, the software won't build with this setting.

The reason is that the file `cmake/modules/CheckCompiler.cmake` hasn't been updated on the `latest-stable` branch within a year. Only for the `master`-branch `C++20` support has bee

[2021-09-01 08:13] VanyaBelyaev opened #8942 "cannot buid the dependent project"
- [ ] Checked for duplicates

I have my own project that uses ROOT (and Python)
my CMakeList file contains following ilnes
[code]
And it build, works, and everything is fine

To follow up development in ROOT, I regularly rebuild my project using ROOT version from LCG nighlies dev3 build.  And starting from Tuesday, August 31 I have a build error - numpy i snot found

[code]

As a result all binari

[2021-09-01 10:17] simonmichal commented on #7709
Just a short summary of our discussion in https://github.com/xrootd/xrootd/issues/1495

1. Threads in xrootd client:

- `XRD_PARALLELEVTLOOP` is by default set to 1, and is the number of event-loop threads handling the async I/O; in some cases e.g. if the xrootd client is interacting with many servers (as it does in case of XCache) a single event loop can become CPU bound and in those scenarios it

[2021-09-01 14:09] ferdymercury commented on #8781
How can I build the documentation to try myself? I build ROOT from source, but I do not see any doxygen output.

[2021-09-01 14:12] couet commented on #8781
we have a dedicated web page for developers [explaining exactly that](https://root.cern/for_developers/doxygen/).

[2021-09-01 14:38] ferdymercury commented on #8781
Thanks! Is there a page explaining the dependencies? I tried and I get this error:
`ImportError: No module named nbformat`

[2021-09-01 14:43] couet commented on #8781
Ah yes `nbformat` . That's use by `converttonotebook.py` to convert the tutorials to notebooks. May be I should add that. In principle that should not stop the build of the documentation . You are installing the tutorials ? you are trying to install the full doc ? (it is 5 hours long)

[2021-09-01 14:44] ferdymercury commented on #8781
Yes, I guess I was doing that hehe. If I want to build only the 'hist', how can I select it?

[2021-09-01 14:45] ferdymercury commented on #8781
`I installed in pip the nbconvert, but I still get: Exception: Jupyter command `jupyter-nbconvert` not found.`

[2021-09-01 14:47] couet commented on #8781
Yes you better do only a part of the manual. The way to do it is explained here. https://root.cern/for_developers/doxygen/#how-to-generate-the-doxygen-documentation

[2021-09-01 15:07] TomasDado opened #8946 "AddressSanitizer reports alloc-dealloc-mismatch error when RooMinimizer is called multiple times"
- [x] Checked for duplicates

### Describe the bug
When using AddressSanitizer compiler flag, i.e. -fsanitize=address and when RooMinimizer is called multiple times (in a loop) to minimize a result of createNLL(), the sanitizer throws an error of type AddressSanitizer: alloc-dealloc-mismatch (malloc vs operator delete).

### Expected behavior
This error should not appear as it points to wrong memo

[2021-09-01 15:08] ferdymercury opened #8947 "[doc] Building Doxygen documentation pollutes source directory"
### Explain what you would like to see improved
To build the documentation using doxygen, one has to enter the (git) source directory and call Make. This creates some files in the source directory that are not part of the git tree.

### Optional: share how it could be improved
I can think of two alternative options:
- The documentation can be created in the build directory rather than in the sourc

[2021-09-01 15:13] ferdymercury commented on #8947
Side note: calling make clean does not clean the directory in case the build failed. I get:

rm -r rootdoc filter htmlfooter.html dataset* ../../bindings/pyroot/pythonizations/python/ROOT/pythonization/*.pyzdoc
rm: cannot remove 'dataset*': No such file or directory
Makefile:56: recipe for target 'clean' failed
make: *** [clean] Error 1

[2021-09-01 15:15] ferdymercury commented on #8781
Thanks. I get now this error:
`jupyter_client.kernelspec.NoSuchKernel: No such kernel named python2`

[2021-09-01 15:17] ferdymercury commented on #8781
Ok, I am now using just this as input:

`./mainpage.md ../../graf2d/gpad/`

It builds well, with just this warning:
[code]

[2021-09-01 15:29] ferdymercury commented on #8781
Ok, I found the issue why qhelpgenerator is failing, it is due to:

[code]

If I change in `mainpage.md` to:
[code]
then `ROOT.qch` is correctly generated.

[2021-09-01 15:34] couet commented on #8781
What did you change in mainpage.md ?

[2021-09-01 15:36] couet commented on #8947
Yes that's known. We were lazy to fix that but we should.

[2021-09-01 15:37] ferdymercury commented on #8781
The `###` to `#` or `##`. It complains that there is a subsubsection with no parent 'section'.

[2021-09-01 15:56] couet commented on #8781
Ah ok ... I do a PR for that ?
BTW I improved the Doxygen doc: https://github.com/root-project/web/pull/639

[2021-09-01 16:21] couet commented on #8781
Ah ok ... but that looks ugly (I tried) the headers are far too big. I guess we never use "#" only in the root ref guide. So fixing the main page might be not enough . The same problem might show with other pages. For instance here: https://github.com/root-project/root/blob/8a63f78a3f910b3bb8b7758a5af06a80d09e567f/hist/hist/src/TH1.cxx#L139

[2021-09-01 16:37] ferdymercury opened #8950 "[doc] CMake flag for building Doxygen reference guide"
### Explain what you would like to see improved
As a follow-up of https://github.com/root-project/root/issues/8947, it would be nice to have a CMake flag that allows you to turn on the building of the Doxygen documentation within a normal build. Right now, it has to be done manually in the source directory.

### Optional: share how it could be improved
In addition, cmake Options can be easily used

[2021-09-01 16:54] ferdymercury commented on #8781
The bug is gonna be solved soon in doxygen:
https://github.com/doxygen/doxygen/pull/8754

[2021-09-01 17:16] ferdymercury commented on #8947
Here a good example on how ALICE's experiment generates the documentation within the build directory, using CMake:
https://github.com/AliceO2Group/Monitoring/blob/dev/doc/CMakeLists.txt#L22

[2021-09-01 17:43] ferdymercury commented on #8781
I tried with building the docu of only the "core" libraries, and the qch file is correctly generated. When added to qtcreator, pressing F1 shows this beautifully:

![image](https://user-images.githubusercontent.com/10653970/131718506-8d759c57-a7d6-4314-8847-c80e7e37748a.png)

[2021-09-02 07:55] #7332 closed

[2021-09-02 08:09] couet commented on #8950
@ferdymercury : that's a good point. That will have to be discussed with the team and in particular wit @bellenot who is responsible of came in root. It is quite a big change seems to me.

[2021-09-02 08:27] vepadulano commented on #8890
While playing a bit with gdb I found we get a `"HTTP/1.1 301 Moved Permanently\r\n"` response from the function `TWebFile::GetHunk`. This could mean we need to follow the redirection to the final location of the file

[2021-09-02 08:46] linev commented on #8890
Actually, `TFile::Open()` uses `TDavixFile` for opening files via http.
[code]
Question - should we support http redirection in `TWebFile`?
Or keep this old code as is?

[2021-09-02 08:47] vepadulano commented on #8890
But `TFile::Open` throws the error from `TWebFile::GetFromWeb10` in ROOT master, doesn't that mean it's  using TWebFile ?

[2021-09-02 08:51] linev commented on #8890
If `davix` is enabled - ROOT will use it and not `TWebFile`.

[2021-09-02 08:56] vepadulano commented on #8890
I see. Then this can boil down to a request of either:
* Support http redirections in TWebFile
* Add an error mechanism in TWebFile when there is an unsupported http redirection, saying something like "TWebFile does not support http redirection, please make sure you have installed ROOT with DAVIX enabled

I'm not sure of the implications of either option, I'm not expert in this area but I remember

[2021-09-02 10:35] linev commented on #8890
`curl -v https://github.com:443/root-project/root/raw/master/tutorials/dataframe/df017_vecOpsHEP.root -o file.root` show the problem. `github.com` server supports `HTTP 2` while `TWebFile` uses `HTTP 1.1`. Therefore `github.com` simply refuses first request with 400 error. Not sure if there is easy way to support `HTTP 2` with `TWebFile`

[2021-09-02 10:53] acampove opened #8951 "Add optional flag to include underflow and overflow weights when returning sum of weights from histogram"
### Is your feature request related to a problem? Please describe.
In:

https://root.cern.ch/doc/master/classTH1.html#aeb8b68e267823506ef8c6efda8b27f0d

It would be good to have an `inrange` flag defaulting to `true`, which the user could change to `false` to include over flow and underflow entries.

### Describe the solution you'd like
[code]

### Describe alternatives you've considered
I guess I

[2021-09-02 11:46] ktf commented on #6520
I confirm that with 6.24/02 all the issues I had are gone and we did not find any new one, at least so far. The issue with `char` was most likely due to a (now corrected) handling of arrays on our side.

[2021-09-02 14:48] aaduszki opened #8952 "Make hadd return a non-zero exit code when encountering a corrupted file"
### Is your feature request related to a problem? Please describe.
I'm merging multiple root files into one with hadd. I realized some of the files were corrupted, because the jobs that produced them were killed in the middle. When I try to open these files I see messages about "recovered keys".
When merging those files with hadd there are multiple messages displayed, like:
[code]
however hadd pro

[2021-09-03 07:24] lmoneta commented on #7332
@AntoniMarcinek :  Thanks for the explanations of the _chg_truncated functions.
I will see if I can use them for some specific methods. I need to investigate what will be the best way of doing it, since these functions do not exist at a general level, but only at the specific method level.

[2021-09-03 10:57] ferdymercury commented on #8781
It's has now been merged into 'master', so no need to use a specific fork or branch, just git update.

[2021-09-03 23:22] pcanal commented on #7125
Note: a similar issue.  A given build after being left alone for a while and then updated and rebuild cease to properly autoload libPhysics based on usage of TVector3 (all of `TVector3 v;` `TVector3::Class()`, `TClass::GetClass("TVector3")` where failing complaining `TVector3` was not known.  No amount of rebuild corrected the problem, nor was there any indication of why it would not find a proper

[2021-09-03 23:28] pcanal commented on #7125
But probably less confusing that giving the wrong result with absolutely not idea why, isn't it?

[2021-09-04 00:08] pcanal opened #8959 "`ninja clean` does not remove `modules.idx`"
Related to #7125

The file modules.idx is not delete upon doing a cleaning of build (and this is fatal because of #7125)

[code]

and even after the rebuild, it has not been updated at all.
[code]

[2021-09-04 09:01] Axel-Naumann commented on #7125
How costly is regenerating this file, and which targets depend on this file (i.e. what gets rebuild just because this file got regenerated)?

[2021-09-05 08:35] vgvassilev commented on #7125
Nothing gets rebuild -- we just need to run `root.exe -l -b -q` to regenerate it.

[2021-09-05 09:31] ktf commented on #6520
Spoke too early: reopening this since we still see a similar issue:

[code]

albeit I do not know yet which kind of branch actually causes this.

[2021-09-05 09:48] ktf commented on #6520
The branch being read seems to be filled with `float[4]`

[2021-09-05 14:38] pcanal commented on #7125
Well *only* if you "hand delete" ..... :(

[2021-09-06 10:04] ktf opened #8961 "Using GetBulkRead() on a branch increases the size of the branch by 4"
### Describe the bug

Using `GetBulkRead()` on a branch increases the size of the branch by 4:

[code]

results in:

[code]

### Expected behavior

Size of the branch should be invariant from the API used to read it.

### To Reproduce

[code]

[2021-09-06 10:39] eguiraud commented on #8850
Changing the way we do argument parsing is a much larger chunk of work but we welcome contributions in that direction, see e.g. the discussion at https://root-forum.cern.ch/t/command-line-argument-parsing/35783

[2021-09-06 13:04] ktf opened #8962 "SetClusterPrefetch(true) breaks BulkIO with more than one basket"
### Describe the bug

Doing:

[code]

crashes with:

[code]

if one of the branches has more than one basket. Removing `t->SetClusterPrefetch(true)` fixes the issue. Notice how it still works fine with branches which have only one basket. I can provide a file to reproduce if needed.

### Expected behavior

I would expect it to work.

### Setup

Vanilla 6.24.02 on linux or macOS.

[2021-09-06 14:24] SergueiEK opened #8964 "JavaScript complains when displaying MultiGraph"
Hello.

I have a multigraph displayed in a Web browser using ROOT JS and I have noticed many complains from the JS engine when I'm hovering mouse pointer above the multigraph object.  I think the errors come from the function that is supposed to display tooltips because they do not appear as this happens for a histogram object. Here is the stack trace of such an error:

`JSRoot.more.js:1502 Uncaug

[2021-09-07 07:03] #8850 closed

[2021-09-07 07:23] Axel-Naumann commented on #7125
@vgvassilev when should `module.idx` be regenerated?

[2021-09-07 08:34] linev commented on #8964
Can you provide example with `TMultiGraph` which reproduces the problem.

Existing demos works fine for me:
https://root.cern/js/latest/examples.htm#tmultigraph_all

[2021-09-07 08:35] linev commented on #8964
I just need ROOT file with such TMultiGraph object.
Just for info - to put file here, just compress it with zip

[2021-09-07 09:01] SergueiEK commented on #8964
Indeed I also don't see a problem with the demo files. Please fin in the attachment a file that reproduces the problem. The multigraph object is called 'RootController;1/my transitions'
[test_case.root.zip](https://github.com/root-project/root/files/7120282/test_case.root.zip)

[2021-09-07 09:10] #8964 closed

[2021-09-07 09:11] linev commented on #8964
I fixed problem in `master` branch - see  https://github.com/root-project/jsroot/commit/090bc0e421b895811f9c5c715681ef32484dd907

[2021-09-07 09:14] bernd1995 commented on #8706
If it helps: I know at least that for instance the [JuliaPlots/Plots](https://github.com/JuliaPlots/Plots.jl) project simply uses a `.zenodo.json` file in their repo which should be automatically parsed, according to [REST API subsection](https://developers.zenodo.org/#add-metadata-to-your-github-repository-release), whenever a new release is created.

[2021-09-07 09:49] Axel-Naumann commented on #8706
Thanks! Agreed, that's what we figured out as well: update `.zenodo.json` and `CITATION.CFF` (#8626 ) as part of the release baking.

[2021-09-07 10:15] Axel-Naumann commented on #8962
@ktf ohw critical is this for ALICE?

[2021-09-07 10:23] Axel-Naumann commented on #8939
That's more of a documentation issue. We don't actually support C++20 yet (clang too old). I hope https://github.com/root-project/web/pull/642 addresses this?

[2021-09-07 10:46] etejedor commented on #8942
I don't see any change around that date in ROOT's CMake files which could be the cause of this problem. I will have a look and let you know.

[2021-09-07 11:01] ktf commented on #8962
With the current benchmarking we have, turning it off does not seem to alter performance much, so I would say it's not critical to have it fixed by "yesterday". However it would be nice if a fix could make the 6.24.08 timeline.

That said I reserve the right to bump the priority if further benchmarks show that `SetClusterPrefech(true)` gives a significant gain.

[2021-09-07 11:13] bernd1995 commented on #8939
Okay that's fair enough.
Wasn't sure wether to put it to the docs or here.

[2021-09-07 11:17] amadio commented on #8933
Yes, I agree that the commit you pointed out is the problem. We need to decide if we fix that to always use .so (not sure what happens to Windows then), or if we let ROOT use .dylib on Mac instead of .so. @Axel-Naumann, please let me know what should be the preferred fix, and I will make a pull request with it.

[2021-09-07 12:34] etejedor commented on #8933
Discussed with @amadio , probably the least disruptive way to solve this would be to use `.so` again instead of `${CMAKE_SHARED_LIBRARY_SUFFIX}` in cppyy's `CMakeList.txt`s. To be confirmed by @Axel-Naumann .

[2021-09-07 12:53] etejedor commented on #8942
@VanyaBelyaev I can't reproduce with latest dev3, does it still fail for you?

I use this `CMakeLists.txt` on lxplus, after sourcing latest dev3:

[code]

and the output I get for Python3 is:

[code]

There was maybe some temporary problem with the NumPy installation in dev3?

[2021-09-07 22:35] uzzielperez opened #8973 "RooFit Python Tutorial Errors"
Hi! I have been trying to run several rooFit tutorials in Swan and also locally with ROOT v6.22.08 in MacOS. I am getting errors with some functions. There are multiple, but on example is `gauss.plotOn(xframe, LineColor="r")` and it doesn't seem to accept the `LineColor` argument. I get:

[code]

I tried copying the code and running them in a cmslpc cluster and in my mac but I get the same error l

[2021-09-08 07:22] #8933 closed

[2021-09-08 08:42] etejedor commented on #8973
The keyword arg functionality that you are trying to use has only been added recently (it's not in 6.22.08). @guitargeek can perhaps elaborate.

If you run the tutorial you mentioned in SWAN and you select as software stack "Bleeding Edge" (which has ROOT master), you will see that it runs fine.

[2021-09-08 10:58] tomlatham opened #8976 "Backward incompatible changes to RooNLLVar constructors"
- [x] Checked for duplicates

### Describe the bug
The changes introduced in PR #7616 have the side effect of breaking existing use of the RooNLLVar constructor where it is specified that the PDF is extended but the defaults for all further arguments are accepted, e.g.
`nllVar_ = new RooNLLVar("nllVar", "", model_, *exptData_, extended_);`
where `model_` is a `RooAddPdf`, `exptData_` is a `RooData

[2021-09-08 22:06] uzzielperez commented on #8973
Thanks @etejedor. Indeed, it works for the "Bleeding Edge" (root v6.25). I tried to update my root version in my desktop but I see I could only download up to 6.24.06. Is there a way for me to run the bleeding edge version locally or in a cluster? (Apart from using SWAN?)

I also see that the tutorial has been taken down. Perhaps someone is working on it?

[2021-09-09 12:42] #8762 closed

[2021-09-09 16:07] kgizdov opened #8981 "[Warning] TStreamerInfo.cxx: ‘this’ pointer is null [-Wnonnull]"
- [x] Checked for duplicates

### Describe the bug
Warning during build time ROOT 6.24.06, GCC 11.1, Arch Linux x86_64
[code]
### Expected behavior
No null pointers.

### To Reproduce
1. Build ROOT
2. See warning

### Setup
1. ROOT version: 6.24.06
2. Operating system: Arch Linux x86_64
3. How you obtained ROOT: GitHub, built from source

### Additional context
Build options located [here](https:/

[2021-09-10 08:14] etejedor commented on #8973
The feature will be released with 6.26, if you want to use it now in your local computer you can install ROOT master:

https://root.cern/install/nightlies/

The tutorial should be back now.

[2021-09-10 08:34] etejedor opened #8982 "[DistRDF] Make logging uniform"
In several places in the code of DistRDF, Python loggers are used (`logging` module). Instead, logging mechanisms should be made uniform with the rest of ROOT (gDebug/RLogger).

[2021-09-10 13:11] marcescalier opened #8984 "[RF] Problem of memory leak (?) with RooDataSet"
### Describe the bug

I open a workspace (RooWorkspace) that contains a pdf and various parameters. From these I do a loop on pseudo-experiments ("toys") that generate a RooDataSet.

For each toy in the loop, after generation, I delete the RooDataset.

But the memory, as reported by the class ProcInfo_t, never decreases.

It means that either ProcInfo_t is not actually showing the current memory i

[2021-09-10 21:14] pcanal commented on #8981
I am confused ... how can the `this` pointer be null in a virtual function?  Why does it complains only about this line (and not all the other lines above and below)?  Is there some context missing (and the problem is really a caller of the `TStreamerInfo::Build` function)?

[2021-09-13 06:29] Axel-Naumann opened #8985 "h1analysis with distRDF"
### Explain what you would like to see improved

We should be able to replace the Proof version of the h1analysis tutorial with one using distRDF. The tutorial should work without any external scheduler, i.e. "just" local multi-process to demonstrate what a distRDF analysis looks like.

Once distRDF is non-experimental, the proof tutorial should be moved to legacy/.

[2021-09-13 07:23] etejedor commented on #8985
Ok for translating the tutorial to DistRDF 👍

About the local multi-process execution: this implies we'd need to create a local backend that spawns local Python processes. Is that something we want, since we can just fall back to regular MT RDF for local runs?

[2021-09-13 07:44] Axel-Naumann commented on #8985
Having local multiprocess distRDF might be really useful also for testing?

[2021-09-13 08:16] jalopezg-r00t commented on #8984
Hi @marcescalier,

I have assigned this to Jonas; he will take a look as soon as he can.  :-)

Cheers.

[2021-09-13 08:28] etejedor commented on #8985
Yes, perhaps just for testing? It would allow to test the creation of ranges and the task processing in separate worker processes with no external scheduler (now we can do the same local runs with Spark and Dask but we need the corresponding libraries). Performance-wise still MT RDF should be the best.

[2021-09-13 18:25] guitargeek commented on #8976
You are right! I was not taking care about the new interface being backwards compatible, because these constructors are considered as RooFit internal. But of course it doesn't hurt to make them backwards compatible either :)

I opened a PR to do that: https://github.com/root-project/root/pull/8986

[2021-09-13 18:26] guitargeek commented on #8973
Thanks to @etejedor for explaining what's going on here! We can close this issue then.

[2021-09-13 18:26] #8973 closed

[2021-09-13 21:35] uzzielperez commented on #8973
Thanks, a lot!

[2021-09-13 22:56] pcanal opened #8987 "Missing operator= in code generated by MakeProject"
In case where the class generated by MakeProject derived from a class that deletes the operator= then in some compiler we get the error  below (which is expected since the class generated by MakeProject has a copy constructor which is needed by stl collection).

[code]

[2021-09-13 22:57] pcanal opened #8988 "Missing include in code generated by MakeProject for pointer to pointer data members."
See https://root-forum.cern.ch/t/makeproject-bug-with-data-members/46718 for details.

[code]

[2021-09-14 09:00] philippe554 opened #8989 "Output in Notebooks only shows after code block finishes"
### Describe the bug
In a local jupyter notebook and SWAN, the output of a code block only shows after the block finishes execution.
This makes progress bars only display after completion, rendering them useless.

### Expected behavior
An std::flush should update the output of a code block of a notebook, even if the code block is still running.

### To Reproduce
For example:
[code]
This takes 7 se

[2021-09-14 10:54] kgizdov commented on #8981
so I see a similar warning in many other places this function is called/overloaded, etc. Not sure about the pattern, but it might be that the compiler can unfold the full vtable and the base object is always null or something of the sort. I will have a deeper dive to check.

[2021-09-14 10:56] kgizdov commented on #8981
oh, wait, this is fixed in #8351

[2021-09-14 10:57] kgizdov commented on #8981
oh, wait, this is fixed in #8351

[2021-09-14 10:57] #8981 closed

[2021-09-14 11:26] etejedor commented on #8989
Hello @philippe554 ,
Indeed, we changed this behaviour a few releases ago, IIRC the reason was that the progressive output implementation had some problems, so we opted for capturing the output and releasing it only at the end, even at the expense of not covering cases such a progress bar.

[2021-09-14 13:43] tomlatham commented on #8976
Many thanks!

[2021-09-14 15:32] jalopezg-r00t commented on #8981
Duplicate of #8129.  Thanks for reporting, though!

[2021-09-14 17:56] #8123 closed

[2021-09-14 18:53] #8976 closed

[2021-09-15 09:12] ferdymercury opened #8999 "Doxygen documentation of CMake flags"
### Explain what you would like to see improved
Related to this comment https://github.com/root-project/root/issues/8742#issuecomment-888177051

There is a way to document CMake flags so that they appear neatly within the Doxygen reference guide of ROOT.

### Optional: share how it could be improved
https://github.com/ferdymercury/cmake-modules/blob/master/make_documentation.cmake
http://jesnault.

[2021-09-15 10:15] nlurkin commented on #7754
Hello, what is the status for this?
Is it going to be included in any 6.24 patch soon? We currently have a workaround so that our current software works, but we have some necessary ongoing development that is incompatible with the workaround and needs the patch for this issue. This necessary development has been on hold for several months already.

[2021-09-15 11:49] philippe554 commented on #8989
Thank you @etejedor for this update.

[2021-09-15 11:49] #8989 closed

[2021-09-15 11:52] ktf opened #9001 "Reading a std::array<Long64_t, 1> from a TFile created on linux does not work on macOS"
To reproduce, download http://ccdb-test.cern.ch:8080/download/d64bd450-1619-11ec-a9d5-200114580202 and open it in TBrowser. Works on ubuntu, but on mac I get:

[code]

when clicking on `ccdb_object;1`.

Both ROOT 6.24.02 and 6.24.06 seem to be affected.

[2021-09-15 12:02] ktf commented on #9001
Notice that using a `std::vector` in place of a `std::array` works as expected.

[2021-09-16 18:58] pcanal commented on #9001
Does the reading work properly on the same platform (both no warning and the correct value)?  What is the array value for the example provided?

[2021-09-16 19:59] ktf commented on #9001
yes. Reading it back on linux works just fine.

[2021-09-16 20:01] ktf commented on #9001
The actual value should be some timestamp around 1630659771715.

[2021-09-16 20:34] pcanal commented on #9001
:) That looks like a random stream :)

[2021-09-16 20:42] ktf commented on #9001
yeah, I cannot check the actual value right now, but it looks correct.

[2021-09-17 09:50] gregoireg1lles opened #9011 "TMultiGraph wrong scale with logarithmic axes : regession introduced in 6.22"
Hi,

A regression was introduced in TMutiGraph with a log scale
I found a commit that seems to be linked to my problem [https://github.com/osschar/root/commit/d087f000322c7958f02c8e9ddce2a302502c8604](https://github.com/osschar/root/commit/d087f000322c7958f02c8e9ddce2a302502c8604)

my OS is  debian10 x86_64 with gcc8.3

here is sample script to reproduce the bug :

[code]

It works fine on version

[2021-09-17 09:58] couet commented on #9011
@osschar can you have a look ?

[2021-09-17 22:00] ktf commented on #6520
Ok, issue understood and actually on our side. Closing again.

[2021-09-17 22:00] #6520 closed

[2021-09-19 13:57] marcescalier commented on #8984
Thank you. Good luck to Jonas if he finds time for the investigation.

[2021-09-21 17:39] pcanal opened #9017 "Access of deleted object during hadd tear down."
As reported in https://root-forum.cern.ch/t/pure-virtual-method-called-on-hadding-tfiles-with-tfriendelements/46836/6
(see there for reproducer), hadd at tear down accesses already deleted objects.

In version of ROOT equal or newer than  v6.22/08 and v6.24/00, the problem appears only in a slow merge. (for example `hadd -f0 output.root testroot_1,root testroot_2.root`)

The resulting stack trace

[2021-09-22 09:53] jalopezg-r00t commented on #8783
Returning back to this...  I think the expected behavior is to checkout the corresponding tag in `roottest`, right?

[2021-09-22 12:56] vepadulano opened #9020 "-Wclass-memaccess with builtin_tbb and gcc 11"
### Describe the bug
It looks like the warning reported at https://sft.its.cern.ch/jira/browse/ROOT-10816 is still not solved with gcc 11 and the current builtin_tbb.

[code]

### Setup
Fedora 34
ROOT master@39de75e
gcc 11.2

### Additional context
This should be indeed fixed by the current builtin_tbb (2019 U9) for gcc 10 as reported at https://github.com/oneapi-src/oneTBB/issues/134
But on the T

[2021-09-22 14:15] Axel-Naumann commented on #8783
They have the same name. We would probably "just" need to also tag roottest as `latest_stable`, and update the tag whenever we update root.git's `latest_stable`.

[2021-09-22 15:51] pcanal commented on #9017
Note: this could happen even outside of hadd.  It just requires the TTree to be a Clone and to have (or have had) friends.

[2021-09-22 16:49] jalopezg-r00t commented on #8783
That is one of the possible solutions.  The other is to add additional code in `CMakeLists.txt` to checkout the corresponding branch of `roottest`, if `latest-stable` has been checked out in the `root` repository, i.e. something similar to
[code]
And then checkout `v6-24-06` in `roottest`, which is what `latest-stable` points to.

For the sake of a simpler release procedure, I vote for this option

[2021-09-22 16:52] jalopezg-r00t commented on #8783
@eguiraud Given that `v6-24-02` should be on both, `root` and `roottest`, this might be a different issue.  Anyway, I will take a look.

[2021-09-22 17:19] will-cern opened #9022 "hadd with -n option misses some content"
I haven't had a chance to look into the hadd code (TFileMerger) but in 6.24/04 I the following problem. Create two files like this:

[code]
now if we hadd these as normal (`hadd merge.root f1.root f2.root`) we get both histograms:

[code]
but do this with the `-n 1` option I only get h1:

[code]

[2021-09-22 20:58] bmjoshi commented on #8935
Hi @guitargeek , I didn't get notification regarding your reply to the issue which I posted on the ROOT forum. Sorry about the late reply. The suggested work around works fine for me. Thank you very much for your helpful reply!

[2021-09-22 21:27] vepadulano opened #9023 "Make types of RDF operations seen from PyROOT more consistent"
### Explain what you would like to see improved
When using RDF from PyROOT and checking the type / string representation of some RDF operation, one gets very different things depending on the operation
[code]
It would be nice to have kind of a similar output for all operations

[2021-09-23 07:13] jblomer commented on #9022
Additional observation: `-n1` is different from `-n 1`. I can reproduce the problem with `-n 1` on master.

[2021-09-23 07:34] etejedor commented on #9023
The `Histo1D` case comes from a pythonization that replaces the original proxy method by a Python function. Perhaps the same pythonization could take care of forwarding to the original method when possible.

What is not clear is why `Count` and `Report` do not print docs.

[2021-09-23 13:51] jalopezg-r00t commented on #8783
The problem you described only occurs if a tag is checked out in the `root` repository (i.e., in detached-HEAD).  The corresponding PR will fix both issues.

[2021-09-24 11:18] #9017 closed

[2021-09-24 11:28] amete opened #9029 "Repeated calls to TClass::GetClass/TClass::ResolveTypedef hoarding memory"
Hi everyone,

We came across this issue in ATLAS recently. There were similar reports in the past, such as [ROOT-7254](https://sft.its.cern.ch/jira/browse/ROOT-7254), but there is none that's still open as far as I could see.

### Describe the bug
Repeatedly calling `TClass::GetClass`/`TClass::ResolveTypedef` w/ an input such as `std::vector<int>::value_size` seems to create memory hoarding.

###

[2021-09-24 17:56] acampove opened #9030 "Implement an RDataFrame::Merge(RDataFrame &df) function."
### Is your feature request related to a problem? Please describe.
Instances of `RDataFrame` objects are meant to be treated like trees. Therefore there should be a function that allows us to merge them. Without this, we would do things like:

[code]

which requires opening each file and saving them. Then loading them again and merging, then saving again, this is all wasteful and time consuming.

[2021-09-24 23:31] badshah400 opened #9031 "glibc 2.34 has dropped `__malloc_hook` and `__free_hook` from the API"
From the release notes of `glibc` 2.34 [[1]]:

  __memalign_hook and __free_hook are now removed from the API.  Compatibility
  symbols are present to support legacy programs but new applications can no
  longer link to these symbols.  These hooks no longer have any effect on glibc
  functionality.  The malloc debugging DSO libc_malloc_debug.so currently
  supports hooks and can be preloaded to ge

[2021-09-25 08:57] vepadulano commented on #9030
We should probably wait for @eguiraud for a final answer, but I'd like to give my two cents about this.

I am curious about this first sentence. I have never got this impression, neither reading docs / toying with tutorials or doing more complex analyses with RDF. the first line of the [RDF docs](https://root.cern/doc/master/classROOT_1_1RDataFrame.html) says `ROOT's RDataFrame offers a high level

[2021-09-25 22:18] jalopezg-r00t opened #9032 "[ntuple,daos] `RNTupleWriter::Recreate()` does not overwrite data in DAOS container"
- [X] Checked for duplicates

### Describe the bug
In DAOS 1.2, `RNTupleWriter::Recreate()` will not overwrite the old ntuple.  Apparently, calls to `daos_obj_update()` (inappropriately) use `DAOS_COND_DKEY_INSERT`.

### Expected behavior
`RNTupleWriter::Recreate()` should overwrite an ntuple that uses the same `daos://` URI.

### Setup
ROOT master, DAOS 1.2

[2021-09-25 22:32] jalopezg-r00t commented on #8064
https://sft.its.cern.ch/jira/browse/ROOT-9202 has been closed.

However, work on this issue has been delayed.  I will come back to it in a few weeks.

[2021-09-26 14:00] #8783 closed

[2021-09-26 16:21] acampove commented on #9030
Dear @vepadulano

Thanks for your reply.

I did not refer to the documentation but to how people would actually use this class. 99% of people do not read CSV files with ROOT and `RDataFrame` will be mostly used to interact in a simple and quick way with trees.

No, the approaches are different. In the approach without `RDataFrame::Merge` I save twice the modified trees with the new column added, s

[2021-09-27 08:42] etejedor commented on #8712
This was fixed by https://github.com/root-project/root/pull/8971

[2021-09-27 08:42] #8712 closed

[2021-09-27 21:26] cgleggett opened #9036 "Trying to build root with nvhpc / nvc++"
I'm trying to build root (v6.24.06) with nvc++ from NVIDIA's nvhpc project (ver 21.9), as I get runtime segfaults when I build a project with nvc++ and link it against root built with gcc 9.3.0. However, building root fails during cmake (3.21.3) with
[code]

so it looks like nvc++ doesn't know about the `__cplusplus` macro. If I hack around this, cmake finishes, but then the compilation dies with

[2021-09-27 21:57] osschar commented on #9011
Hhhm, I don't know how you got to the merge commit in my repo :)

Here's the commit from root itself: https://github.com/root-project/root/commit/aef730659bebc6ec49bb6f62822b91781494daa6

PR: #5578

[2021-09-28 08:54] #9032 closed

[2021-09-28 10:11] eguiraud commented on #9031
Hi, I think you can build with `-Dmemstat=OFF`. Those classes have been completely removed in ROOT master.

[2021-09-28 10:18] eguiraud commented on #9023
Making the issue more concrete, what would certainly be nice would be to:

- have a nice string representation for RDF nodes and results
- be able to access method docs from the Python prompt

Having nice printouts for the types of RDF _methods_ in PyROOT seems low priority.

[2021-09-28 14:53] badshah400 commented on #9031
Thanks a lot. We had it turned on explicitly; turning it off fixed the compilation issue.

[2021-09-28 14:53] #9031 closed

[2021-09-28 15:37] eguiraud commented on #9030
Hi,
assuming that simply producing a single tree to begin with is impossible, I would also recommend to go with a TChain for post-processing.

Is it not possible to store these indexes in the trees when they are produced? If not, currently you have three possible solutions that I can think of:

- calculate the index from the value of `rdfentry_`, knowing how many entries are in each tree and their

[2021-09-28 15:39] #6745 closed

[2021-09-28 15:47] eguiraud commented on #9029
At a quick glance it looks like `TClass::GetClass` calls the interpreter and jitting allocates a little bit every time, notoriously never giving that memory back until the end of the application. I can't tell whether `TClass::GetClass` could avoid any and all jitting on subsequent calls, but it seems reasonable to think so. @Axel-Naumann @pcanal ?

[2021-09-28 17:17] eguiraud commented on #9029
In case it helps here's the output of massif for the first of the two reproducers: https://cernbox.cern.ch/index.php/s/aACGp2JdPzAQUfW (it should be readable with `ms_print`, the most relevant frame is the very last one)

[2021-09-29 09:03] Axel-Naumann commented on #7754
@pcanal can you share your plans / ETA / an update?

[2021-09-29 09:07] #7856 closed

[2021-09-29 15:56] osschar commented on #7718
https://github.com/root-project/root/commit/3480394c02a6335d271f95fcf160274811091155

@alja and I saw exceptions when reading PFCandiadate vector, the size obtained by the auto-generated code was O(10^20).

We have a relatively slim reproducer on top of FWLite, can dig it out / give access to the machine here at UCSD if relevant.

[code]

[2021-09-30 10:02] eguiraud commented on #6796
This is fixed now that we switched to the new RVec implementation.

[2021-09-30 10:02] #6796 closed

[2021-09-30 14:37] iwangyuchun opened #9055 "How to read .root file in javascript?"
I want to draw some things using this Threejs, and the detailed information of the things is saved in a .root file. So I need to use JavaScript to read the data saved in the .root file, but the file is saved in binary format. So I can’t parse the content of the file, so I want to know if there is any way to parse the file using JavaScript

[2021-10-01 05:38] vgvassilev commented on #7774
ping.

[2021-10-01 06:10] Axel-Naumann commented on #7774
@vgvassilev note that this is realtime not CPU time. Could you fire up your own VM to see whether this was fixed by your PR?

[2021-10-01 06:20] vgvassilev commented on #7774
@Axel-Naumann, we did experiment with this when developing the PR. So the performance should be better. We have two options here: a) test it on the same setup as the initial bug (eg afs); b) close the issue as resolved.

[2021-10-01 06:36] Axel-Naumann commented on #7774
OK so I guess we should try to reproduce on AFS then? What does

mean?

[2021-10-01 06:37] vgvassilev commented on #7977
I am not sure how we can fix this issue. The cmake `ExternalProject_Add` is meant to operate on projects which are not changed in tree. There seems to be an option: BUILD_ALWAYS <bool> which says " Enabling this option forces the build step to always be run. This can be the easiest way to robustly ensure that the external project's own build dependencies are evaluated rather than relying on the de

[2021-10-01 06:39] vgvassilev commented on #7774
I tried to reproduce it on lxplus and I cannot run `perf` which is required to produce a flamegraph.

[2021-10-01 06:53] vgvassilev commented on #7774
ok, some updates on running the command by hand on lxplus: ```source /cvmfs/sft.cern.ch/lcg/views/dev3/latest/x86_64-centos7-gcc9-opt/setup.sh```

[code]

This seems to be an improvement to what @hageboeck saw.

Then:

[code]

It looks like the version in the master takes around 10s. It is still a lot more than what it used to be but that is the cost of having more accurate low-level linker symbol

[2021-10-01 07:11] vgvassilev commented on #7774
Here is what I get for the provided test:

[code]

[2021-10-01 07:20] vgvassilev commented on #9036
Can nvc++ build llvm?

[2021-10-01 07:54] etejedor opened #9058 "[TPython] Fix TPython::ExecScript for Python3"
As pointed out in the forum:

https://root-forum.cern.ch/t/tpython-execscript-example-with-arguments-does-not-work

The `TPython::ExecScript` function only works correctly in Python2 - in Python3, the arguments are not correctly passed to the Python script to be executed. These are the relevant lines of code:

https://github.com/root-project/root/blob/master/bindings/tpython/src/TPython.cxx#L346-L

[2021-10-01 09:09] hageboeck commented on #7774
I guess the first time you load a macro, this is the situation:
[code]

If I didn't misread the numbers, it's now as fast as 6.22 used to be, about 30s.
I don't see the additional 10 s that @vgvassilev mentioned?

[2021-10-01 19:26] acampove commented on #9030
Hi,

These trees are produced from jobs in the grid, it is not possible to produce a single file.

It is possible to do that. However those trees do not have those indexes and in order to add them we would need to rerun hundreds of jobs in the grid. We do need to postprocess these ntuples anyway, so the idea is to slip in a small function to add this index.

It is dangerous and requires adding too

[2021-10-02 10:38] vgvassilev commented on #7704
Does that still reproduce for you, I seem to be unable to reproduce...

[2021-10-02 10:59] pcanal commented on #7704
The error messages seems harder to produce (however it is legitimate to issue a message, it bug is that the message is reversed).  [Now] you need to make an effective modification to the io header:
[code]
and then (of course :) ) provoke an "intentionally" inconsistent built by doing a partial build:
[code]
(otherwise ninja/make will correctly rebuild the pcm) and then:
[code]

Note that RIO.pcm i

[2021-10-03 18:19] vgvassilev commented on #7774
@hageboeck, I am happy with what we have now, should we close this issue?

[2021-10-04 07:47] Axel-Naumann opened #9062 "MacOS: `./root` cannot find `root.exe`"
### Describe the bug

[code]
(note the double "bin")

As reported at https://root-forum.cern.ch/t/macos-11-5-cant-execute-root-through-terminal/47054

[2021-10-04 13:39] Axel-Naumann commented on #9055
That's not an issue, I don't see what you are reporting as broken in ROOT here. Could you instead post at https://root-forum.cern.ch? That way we keep bug fixes and discussions / "how do I" questions nicely separated. Much appreciated!

[2021-10-04 13:39] #9055 closed

[2021-10-04 13:41] Axel-Naumann commented on #9036
We have no experience with nvc++. Is that just an experiment or is there something we can help with? What's the motivation for using nvc++?

[2021-10-04 14:17] cgleggett commented on #9036
I have not yet tried building llvm. Will try later this week.

nvc++ has an implementation for std::par which allows seamless execution of both CPUs and NVIDIA GPUs (depending on a compile time flag). This could be a huge win for GPU portability (once other manufactures create the AMD/Intel backends), and allows much simpler user access to GPUs without having to learn CUDA (or hip, dpc++, etc).

I

[2021-10-04 14:46] Axel-Naumann commented on #9020
Needs `-isystem` (cmake's `SYSTEM`) of tbb for `core/imt`

[2021-10-04 15:19] acampove commented on #9030
Hi @eguiraud ,

OK, thanks for your help, that function does give us more flexibility. I closed the issue already.

Cheers.

[2021-10-04 15:19] #9030 closed

[2021-10-04 15:59] nlurkin commented on #7754
@pcanal Any update please? The work on our side that depends on this has been pending for many months already.

[2021-10-05 10:12] #9020 closed

[2021-10-05 10:37] hahnjo commented on #7977
I'm ok to close this; it will probably pop up again in the future, but I agree that rebuilding Clad every time is a higher time sink for the team than one developer having to investigate weird failures. And by now, we hopefully have a sufficient understanding that it will take less time in the future because we know how to "fix" it.

[2021-10-05 11:55] jblomer commented on #9022
Option parsing in `hadd` demands a space between `-n` and the value. The value is passed on to `TFileMerger::SetMaxOpenedFiles()` which in turn sets it to a minimum value of `fMaxOpenedFiles = 2`.

From my tests, it appears that `TFileMerger` merges the first `fMaxOpenedFiles - 1` input files, which is probably not the desired behavior.

[2021-10-05 12:28] Axel-Naumann commented on #8828
Looks like `TClingClassInfo::Init` is confused, and thinks something should be a `Type` where there's no type:
[code]
Can you give it another stab, @hahnjo ? For instance trying to understand why `TClingClassInfo` thinks there should be a type?

[2021-10-05 13:26] jblomer commented on #9022
I'm reassigning to Philippe. I think it boils down to this: when processing the excess files, `TFileMerger` switches to the incremental mode. In this mode, `TFileMerger::MergeOne` sets `canBeFound = true`, which in turn at the end of `MergeOne` skips the if block commented with `// Don't write the partial result for TTree and TH1`. Perhaps `canBeFound` should not be true for a histogram that is no

[2021-10-05 13:53] hahnjo commented on #8624
I think we should close this issue, many / most of the dependencies are correct and `make` being slow when there is nothing to do is exactly the motivation to use Ninja. So not much to improve from the ROOT side of things.

[2021-10-05 13:54] eguiraud opened #9069 "impossible to use type-erased write API to write an existing object"
I would like to write (something equivalent to) the following:

[code]

but that `RNTupleModel::AddField` signature is missing and I could not find another way to do this correctly.
For example the following example code adds a single field to the model ("v") but it adds _two_ corresponding RFieldValues to `model->GetDefaultEntry()`, one explicitly with `m->GetDefaultEntry()->CaptureValue()` and o

[2021-10-05 14:08] alexander-held opened #9070 "Inconsistent behavior when editing constraint terms in HistFactory models"
- [X] Checked for duplicates

### Describe the bug
The HistFactory xml specification allows for editing constraint terms of nuisance parameters in the measurement with constructions like:
[code]

Constraint terms can be removed from `OverallSys` modifiers, but the same method does not seem to work for `HistoSys` modifiers (and the setting seems to be silently ignored).

Constraint term "removal" c

[2021-10-05 14:44] couet commented on #8950
Recent changes in the way the list of directories to be build might obsolete this issue. The documentation build is not part of the cmake procedure. It has its own Makefile. Now the list of directories is build via  script. The page
https://root.cern/for_developers/doxygen/#how-to-generate-the-doxygen-documentation
has been. updated.

[2021-10-05 14:53] ferdymercury commented on #8950
Thanks for the feedback. Just as a suggestion, I think it would still be possible to migrate from that Makefile to a CMakeLists.txt

That way, one could configure via the command line what part of the docs to build, instead of having to modify the makeinput.sh script, which in turn modifies the git source directory, which brings us back to https://github.com/root-project/root/issues/8947

[2021-10-05 15:03] couet commented on #8950
I am now looking at #8947. I am modifying the `Makefile` to left a clean source directory after build. `makeinput.sh` should be modified only temporarily by developers to make only part of the doc in order to speed the build when working on a specific part of the reference guide.  This script is not only a static list. At the end is added the pieces of doc build by `xtract_docstrings.py`
 and `pri

[2021-10-05 15:07] ferdymercury commented on #8950
Thanks. What I am suggesting is something like:
[code]
which lets you tune without modifying the source dir. Or the alternative with cmake, which would be:
[code]
With cmake it would be a bit cleaner, as there is the function doxygen_add_docs() which already does what makeinput.sh is doing manually. See Alice: https://github.com/AliceO2Group/Monitoring/blob/dev/doc/CMakeLists.txt#L22
But with ./co

[2021-10-05 15:12] couet commented on #8950
Yes but the list of folders does not follow the classes naming .... You may need ore `-DENABLE_HIST` .... but then is the `hist` folder we have `hist` and `histpainter` subfolders which might be enabled separately ... and is it a simple example there is much more complex structure for with we need a precise picking which is done by  `makeinput.sh`

[2021-10-05 15:18] ferdymercury commented on #8950
True... But the cherry picking might be still doable by hacking the CMakeLists.txt (instead of hacking the makeinput.sh as right now). But yeah, we don't win much in that case.

[2021-10-05 15:20] couet commented on #8950
Yes because `CMakeLists.txt` will appear as modified instead of `makeinput.sh`. Anyway there is some clean up to be done in order to avoid the sources polluting. I am looking at it..

[2021-10-06 04:57] cozzyd opened #9072 "TFile::Open(), HTTP basic authentication and DaviX"
### Describe the bug
If DAVIX is installed, it is used for TFile::Open("https://...") likes, but unlike TWebFile, it does not seem to support basic auth.

### Expected behavior
auto f = TFile::Open("https://user:password@example.org/lotterynumbers.root") should work regardless of if DaviX is installed or not.

### To Reproduce

Try to access a file hidden behind http basic authentication using TFi

[2021-10-06 14:25] #8947 closed

[2021-10-06 19:01] egpbos opened #9079 "SofieCompileModels_PyTorch fails to compile on old Torch versions"
- [x] Checked for duplicates

### Describe the bug
During compilation, I get the following error:
[code]

### Expected behavior
I expect this to just compile. I believe the problem may lie with the PyTorch version I had installed, 1.7.0. CMake should detect the version and disable incompatible tests. Indeed, installing PyTorch 1.9.1 makes the problem go away.

### To Reproduce
Install PyTorch 1.7.

[2021-10-07 07:13] couet commented on #8742
I guess this one can be closed now.

[2021-10-07 07:13] #8742 closed

[2021-10-07 08:36] agheata commented on #6868
Closing as fixed already.

[2021-10-07 08:36] #6868 closed

[2021-10-07 11:10] ShamrockLee commented on #6676
I encountered similar issue, and found a workaround by dropping the `ROOT::EnableImplicitMT()` line (in C++).

[2021-10-07 12:55] ShamrockLee opened #9087 "[DF] EnableImplicitMT() causes excessive memory usage"
- [X] Checked for duplicates

### Describe the bug

When running an RDataFrame-based analysis macro with ~1000 histogram outputs (each of them has 20000 bins) on a 8-core laptop (16 logical processors), `EnableImplicitMT()` cause ROOT to use up the 32GB RAM and ~30GB swap space. This sometimes causes segmentation violation.

Workaround: Drop the line `EnableImplicitMT()`

Related issue: #6676

###

[2021-10-07 13:00] ShamrockLee commented on #6676
Hi @eguiraud , thanks for replying.
I do specify a binning for every histogram being generated. However, the bin number is about ~20000 each histogram in order to guarantee there's no unexpected overflow/underflow.

[2021-10-08 14:06] hahnjo commented on #8828
Ok, I think `TCling::RefreshClassInfo` incorrectly assumes that any redeclaration that is different from the previous definition must be a type, while in fact the scenario created here redefines a namespace - I assume they end up being detected as redefinition because `std::` is special and normalized out? If that assessment is correct, #9089 should be the obvious fix.

[2021-10-08 14:52] ferdymercury opened #9090 "legacy Makefiles and Configures"
### Explain what you would like to see improved
ROOT migrated some time ago from Makefile to CMakeLists, but there are a couple of places where there are still some legacy Makefiles, check https://github.com/root-project/root/find/master:

[code]

### Optional: share how it could be improved
It could be done all via CMakeLists to be more homogeneous. This allows easier overview from IDEs like QtCr

[2021-10-11 07:14] hahnjo commented on #8828
Aha, now I understand more of the rationale behind the code. Updating a class `K` seems to work, at least `GetDataMember("i")` returns something after giving the full definition (while it is `nullptr` before) - I hope this is tested somewhere? I didn't check, if not we should definitely have a test case here!

Regarding the namespaces, the following test gives what I would expect:
[code]

The only

[2021-10-11 09:35] Axel-Naumann commented on #8828
Exactly. Talking to Philippe we indeed need to decide how to deal with this case of `std::foo` vs `::foo`. We can delay the decision point by renaming `std::Detail` injected by ROOT (#9093).

[2021-10-11 14:58] ynikitenko opened #9098 "typo in TGraphErrors docs; expand the docs for high and low errors"
There are two functions, [GetErrorYhigh](https://root.cern.ch/doc/master/classTGraphErrors.html#aa4864989829fc9f9b3d132b24d28112b)() and [GetErrorYlow](https://root.cern.ch/doc/master/classTGraphErrors.html#a329d183f60726d97cf543b996b65251f), where the docs erroneously write "It returns the error along *X* at point i." - it must be *Y*.
I would fix it myself, but I don't have the recent root sourc

[2021-10-11 19:43] #8939 closed

[2021-10-12 10:19] #8817 closed

[2021-10-12 14:45] dudarboh opened #9106 "Error in <TCollectionLessSTLReader::GetCP()> in the multithreaded loop over Friend column with RDataFrame"
- [] Checked for duplicates

### Describe the bug

Origin of the issue is from the forum discussion [here](https://root-forum.cern.ch/t/error-in-tcollectionlessstlreader-getcp-read-error-in-tbranchproxy/47178).

During the event loop over the friend `TTree` with `ROOT.EnableImplicitMT()` enabled using `RDataFrame` at some point, many errors pop up:
`Error in <TCollectionLessSTLReader::GetCP()>: Re

[2021-10-13 09:11] dudarboh commented on #9106
Hi @eguiraud, @pcanal
I added the link to the root files.
Please take a look if you can reproduce the problem

cheers,
Bohdan

[2021-10-13 13:19] eguiraud opened #9112 "Only add cling nullptr checks in TRint"
As per discussion with Axel: have the ROOT interpreter warn about nullptr dereferences, but avoid injecting the checks in code that is not used interactively, as they bring a notable slowdown even to bug-free code.

[2021-10-13 13:36] Axel-Naumann commented on #9112
cppyy / PyROOT is already doing the nullptr check for python objects

[2021-10-14 06:16] Axel-Naumann opened #9114 "Deprecate then remove exceptions config flag"
ROOT is expecting to be built with exceptions since years. The corresponding CMake configuration flag needs to be removed (after deprecation).

Already deprecated in 6.28, to be removed in 6.30:
- jemalloc
- tcmalloc
- pyroot_legacy

Updated list of build options to deprecate in 6.30:
- exceptions
- pythia6_nolink
- pythia6
- pyroot-python2
- oracle

[2021-10-14 06:18] liyimingihep opened #9115 "Spectator type in TMVACrossValidationApplication"
### Expected behavior

`$ROOTSYS/tutorial/tmva/TMVACrossValidationApplication.C` provides a nice example of applying weights trained using the code `$ROOTSYS/tutorial/tmva/TMVACrossValidation.C`. It assumes the data file has variables `x`, `y` and `eventID`, and assigns the fold deterministically using split expression `int([eventID])%int([numFolds])`, where in this case `numFolds = 2`.

### Descr

[2021-10-14 07:57] guitargeek commented on #8777
Hi @priyanshu1044! Sorry for the late reply, I was on vacation. Are you still available to work on that issue or did we miss that opportunity? If you confirm, I will assign the issue to you and take care of the label :)

Cheers,
Jonas

[2021-10-14 08:32] eguiraud opened #9116 "[DF] Beauty fixes to Display"
Current output:

[code]

Desired output is more like (suggestions welcome):

[code]

[2021-10-14 08:34] eguiraud opened #9117 "[DF] Use RVecI, RVecD, RVecF aliases in tutorials"
RDataFrame tutorials (under tutorials/dataframe) that make use of `RVec` should showcase the handy new type aliases that we recently introduced (e.g. `RVecI` for `RVec<int>`) and use those instead of the longer spelling whenever possible.

[2021-10-14 10:11] lmoneta opened #9118 "Problem running weighted binned fit in batch mode"
Running a weighted batch fit in Batch mode on an unweighted data set results in wrong errors du to a wrong Hessian computed the second time.
Here is the code reproducing the problem:
[code]

This was reported in https://root-forum.cern.ch/t/sumw2error-gives-unexpected-results-with-unweighted-datasets-batchmode/47206

[2021-10-14 16:49] Aneeskhan673 opened #9123 "when i want to run root file like root (filename).root this came Warning in <TClass::Init>: no dictionary for class TRootLHEFEvent is available Warning in <TClass::Init>: no dictionary for class TRootWeight is available Warning in <TClass::Init>: no dictionary for class TRootLHEFParticle is available Warning in <TClass::Init>: no dictionary for class TSortableObject is available (TFile *) 0x5614f99a3290 how can i resolve this"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2021-10-15 07:58] ikabadzhov commented on #9116
Okay, having (`---`) between the lines looks good.

Now for the left-most column, naively I can simply count rows. Alternatively, I can store the length of the longest collection, say 3. And then my left column would contain [0,1,2,0,1,2,0,1,2,0...]. Which alternative would be more useful in your opinion?

[2021-10-15 10:26] ikabadzhov commented on #9116
Makes sense, my only concern now is `RDisplay::Print()` displays a "shortened" version of `fTable`, but `fTable` seems to have no clue of the variable `numEntries` in the `RDataFrame`.

I will try to get `numEntries` to be visible for `Print()`.

[2021-10-15 12:04] TatianaOvsiannikova opened #9127 "roofit plotOn issue"
The versions after 6.18 have strange behavior for plotting components in the fit.  The plots for the 6.20.02 and 6.18.0 are in the attachments, and the script to reproduce the issue is below:
[code]
Thank you.
![componient_draw_issue](https://user-images.githubusercontent.com/43534935/137482639-cd6b8724-2f8c-47bf-8dc7-05f724fd01fb.png)
![componient_draw_old](https://user-images.githubusercontent.c

[2021-10-15 12:49] dudarboh commented on #9106
@eguiraud I think files have been produced with:
`source /cvmfs/sft.cern.ch/lcg/views/LCG_98python3/x86_64-centos7-gcc10-opt/setup.sh`
which is root `6.22.00`

[2021-10-15 13:22] eguiraud commented on #9106
@dudarboh the friend tree has less entries than the main tree. I think that's what's causing the problem. We should definitely have better diagnostics for this (i.e. give you a clear error message rather than the error you see), but this is not a supported usecase.

I could not reproduce the issue when truncating the tree in `test_default.root` to the same amount of entries as the friend. Can you?

[2021-10-15 15:45] vepadulano commented on #9116
+1 if we make it standard markdown :smile:

actual characters:
[code]

automatically converted to markdown (e.g. here in Github)

| entry | x | vec |
|-------|---|-----|
| 0     | 0 | 1   |
|       |   | 2   |
|       |   | 3   |
| 1     | 1 | 1   |
|       |   | 2   |

[2021-10-15 17:02] Aneeskhan673 commented on #9123
how can i load these libraries

[2021-10-18 11:52] jblomer opened #9133 "[ntuple] Memory leak when reading std::vector of complex objects"
- [X] Checked for duplicates

### Describe the bug
While working on #8770, it turns out that the reading of `std::vector<T>` in RNTuple appears to be affected by memory leaks, if ``T` allocates memory in its constructor.  This should be fixed and unit-tested, with a custom class that tracks constructor and destructor calls.

[2021-10-18 16:01] eguiraud opened #9136 "[I/O] Cannot read RVecs written with v6.24 with TTreeReader in current master"
Reading with TTree works.

This affects RDataFrame critically.

To reproduce at the prompt:

[code]

[2021-10-18 16:06] eguiraud opened #9137 "[tree] TTree/TChain silently return bogus data if friend is shorter than main tree"
Reproducer at the prompt:

[code]

Analogous issue for _indexed_ friends: https://github.com/root-project/root/issues/7713

[2021-10-19 08:26] jalopezg-git opened #9140 "[ntuple] `const`-qualified members of a user-defined struct do not work"
- [X] Checked for duplicates

### Describe the bug
For `const uint32_t`:
[code]
One interesting thing is that enums never worked, but I did not see the
`const uint32_t` problem in ROOT 6.24.0, it seems to be new in 6.25.1.

Could you check if something could be done there?

Cheers, Marcin.

[2021-10-19 09:48] Alessandro-Barbieri commented on #8357
What about replacing them with a free alternative?

[2021-10-19 11:46] ferdymercury opened #9141 "complete JIRA migration to find if bug already reported"
### Explain what you would like to see improved
Sometimes, before filing a bug report, I look first if it is already reported here in GitHub, but I forget to check if it may have been reported earlier in JIRA (and is still open).

### Optional: share how it could be improved
There are scripts out there that could be used ot migrate all remaining JIRA issues into GitHub, see e.g.:
https://github.co

[2021-10-19 15:19] ferdymercury opened #9143 "star marker invisible in latex output"
- [x] Checked for duplicates

### Describe the bug
When using TH1::Draw("P*"), the PNG and PDF output looks fine, but the markers are invisible in the TEX output

![image](https://user-images.githubusercontent.com/10653970/137940738-13f9dee9-53c5-4984-964f-ce9740e4d681.png)

### Expected behavior
Markers are visible in TEX also.

### To Reproduce
from ROOT import TCanvas, TH1D
[code]
and then comp

[2021-10-20 08:25] eguiraud opened #9145 "[DF] Various improvements in SaveGraph"
[SaveGraph](https://root.cern/doc/master/namespaceROOT_1_1RDF.html#ac06a36e745255fb8744b1e0a563074c9) would benefit from the following improvements:

- [ ] usage of static variables should be removed, in order to make `SaveGraph` safe to be called concurrently from multiple threads
- [ ] a tutorial should be added, and an example usage should be included in the docs in the reference guide
- [ ] th

[2021-10-20 09:00] couet commented on #9143
I went back to https://github.com/root-project/root/blob/f692b05a07a25a92447db3e3428726285e61ff35/graf2d/postscript/src/TTeXDump.cxx (2013)
And it is still the same ... I am trying to understand ....

[2021-10-20 09:14] couet commented on #9143
and see also:
https://root.cern/blog/saving-canvas-in-TeX/

[2021-10-20 11:47] couet commented on #9143
I tried a bit to test it the library `patterns` is loaded or nor.
I added the line

[code]

at the beginning of the TeX/tikz file generated by ROOT.
I tried several different things but, when I run `pdflatex`, on the TeX file including the picture I always get:

[code]
I tried several different things, without success... I guess I will not spend more time on it.

[2021-10-20 13:57] #9143 closed

[2021-10-20 21:47] adriansev opened #9154 "ROOT.TFile:: corrupt data content (TTree) not signaled/no error thrown"
Checked for duplicates: not found

Discussion started here:
https://root-forum.cern.ch/t/validity-health-checking-for-a-tfile-content-tfile-ok-but-ttree-corrupted-and-no-error/47304

### Describe the bug
Using from python:
A TFile not isZombie() and not TestBit(ROOT.TFile.kRecovered) throw these error when parsing a TTree:
[code]

### Expected behavior
Any catch-able error either at TFile opening

[2021-10-20 22:33] osschar commented on #7718
@pcanal, this is a bit of a pain for CMS as we have to put an "undo commit" on all our 6.24 and master branches, e.g.:
https://github.com/cms-sw/root/commit/425ac414ef564c1cdc5fa490967d95d63df3b8eb

We probably have several incarnation of this undo in various branches :(

[2021-10-20 22:39] pcanal commented on #7718
I know :( ... This is currently the bug I am working on next.  What am I mostly missing (because I stepped away from it too long) is a reproduce of the failing case (ideally I will need a standalone reproducer to add to roottest).

[2021-10-20 22:43] #9133 closed, assigned to jblomer

[2021-10-21 08:07] #6991 closed

[2021-10-21 08:39] #8086 closed

[2021-10-21 11:39] andriish commented on #8778
Hi @Axel-Naumann ,

This is very simple, but seems to be unmerged and 6-24-04 still has this bug.

Best regards,

Andrii

[2021-10-21 15:25] eguiraud commented on #7366
If I understand correctly, this means that ACLiC is pretty much broken (currently on Arch and Gentoo, likely more platforms in the future).

It's not just an issue of the test suite: `interp->getDynamicLibraryManager()->searchLibrariesForSymbol` picks up unrelated binaries from the current directory if they happen to contain the symbol that is being searched, breaking compilation down the road.

[2021-10-21 16:45] jalopezg-r00t commented on #8389
@ferdymercury, it seems that in the first case it was a debug build while the second was a release build.

However, looking at https://github.com/root-project/cling/blob/master/lib/Interpreter/DynamicLookup.cpp#L764-L766, I'm not sure that the assertion is useful, given that it seems to be safe to exit the function if the `CompoundLiteralExpr` node was not built.  @vgvassilev, any preferences?  Sh