[2020-11-22 11:26] Axel-Naumann commented on #6855
@oshadura please let us know of any build system requirements / recommendations you have here, e.g. where to do this config test and how to convey the result ("need -lgcc") to the linker invocation of `libRooFitCore`.

[2020-11-22 13:05] ThomasRuf opened #6856 "error when creating a python class inheriting from a ROOT class, 6.22/02"
Example with TH1F, for reproducibility,  but happens for any class accessed via ROOT.

...    "My Class"
...
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'UpdateBinContent'

The variable with the KeyError is always the variable last in the list of private data members.
This error appears on lxplus, CentOS Linux 7 (Core), gcc version  7.3.0,  CXXFLAGS=-fPIC -g

[2020-11-23 02:02] geonwookim0816 opened #6859 "there is a crash."
- [ ] Checked for duplicates

### Describe the bug

[code]

### Expected behavior

i installed root from homepage,
[code]
i finished these steps and finally i had tried to excute root by $root and then this error message had poped up

### To Reproduce

### Setup

1.latest version 2. oracle VM VirtualBox in window 10 3.i don't know i just followed steps from cern homepage.

### Additional context

[2020-11-23 08:56] manolismih commented on #6855
[code]
This is the code in `roofit/roofitcore/CMakeLists.txt` So the linker error is solved if we run this `target_link_libraries` in this machine. I could not run the tests  in the machine because `roottest` was `OFF` and when I tried to switch it on I get this error
[code]

[2020-11-23 08:57] manolismih commented on #6855
@Axel-Naumann

[2020-11-23 09:21] manolismih commented on #6855
Also, I have found this: https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/ZM2L65WIZEEQHHLFERZYD5FAG7QY2OGB/

[2020-11-23 12:11] HDembinski opened #6862 "How to improve MnScan in Minuit2?"
For the next major release of [iminuit](https://github.com/scikit-hep/iminuit/), I finally implemented the ability to scan the function for a minimum using a brute-force grid search in N dimensions. This is very inefficient, but still a feature that users regularly request and there has been an [open issue in iminuit about it for a long time, now closed](https://github.com/scikit-hep/iminuit/issue

[2020-11-23 12:14] HDembinski commented on #6862
I am very happy to work on this to move the iminuit functionality upstream into Minuit2, but these questions need to be resolved first.

[2020-11-23 14:27] #6624 closed

[2020-11-23 14:49] cdreisbach opened #6868 "TGDMLParse::Tessellated handling of "type" attribute (not added with G4 10.5 export)"
- [x] Checked for duplicates: No duplicated found

Issue also reported here:
https://root-forum.cern.ch/t/importing-and-visualizing-gdml-with-tessellated-solids/40903

### Describe the bug
Exporting a GDML file from GEANT4 (10.5) containing a tessellated object. This tessellated object is defined via vertex1 vertex2 vertex3, but does not add the "type" (absolute/relative) attribute if its in absol

[2020-11-23 16:38] stwunsch opened #6871 "RooDataHist in Python returns None if returned from a function"
You can find the discussion from the ROOT forum here: https://root-forum.cern.ch/t/returning-a-histogram-object/42392

The reproducer goes as follows:

[code]
[code]

Setup:

[code]

[2020-11-23 16:40] stwunsch commented on #6871
Ah stupid, sry, the reproducer has a typo and doesn't return from the function.

[2020-11-23 16:40] #6871 closed

[2020-11-23 16:55] eguiraud commented on #6856
Hi,
thank you for the report.

Is the ROOT version on Ubuntu 20.04 still 6.22/02?

I could not reproduce this with a ROOT v6.22/02 installed via conda or in a couple of different LCG releases that I tried out on LXPLUS. Could you provide a recipe to reproduce this on our side (e.g. on LXPLUS)?

Could this issue be an instance of https://sft.its.cern.ch/jira/browse/ROOT-11025 (fixed in master and 6

[2020-11-23 17:56] lmoneta opened #6872 "Using MethodCategory crashes with segmentation violation in multi class kPyKeras TMVA"
See https://root-forum.cern.ch/t/addspectator-variable-crashes-with-segmentation-violation-in-multi-class-kpykeras-tmva/42210

Script not using multi-class  Spectator_debug.py  works fine while  Spectator_debug_multiClass.py crashes in a segmentation violation.

Furthermore time for evaluating network when using `MethodCathegory` is very slow because is missing an implementation of
`GetMVAValues`.

[2020-11-23 19:07] Axel-Naumann commented on #6859
Which Linux distribution is this? Which version? Is it Ubuntu 19? If so, could you run `sudo apt install g++` and see whether that helps?

[2020-11-24 07:05] ThomasRuf commented on #6856
Thanks for the fast response. The issue 11025 is definitely the same that I observe. The last variable in the list of protected variables is TSelectorList *fOutput;. Same signature as my issue. Concerning Ubuntu, yes, it is the same ROOT version, but different compiler. I will download 6.22/04 and compile. Using the nightly build does not work,  source /cvmfs/sft.cern.ch/lcg/views/dev3python3/late

[2020-11-24 07:32] agheata commented on #6868
This was fixed and merged in the master in: https://github.com/root-project/root/pull/6353
@cdreisbach can you check that this fixes indeed the problem?

[2020-11-24 08:04] olantwin commented on #6856
For the nightly version, could you try using `python3` rather than `python`? `python` probably points to `python2`.

[2020-11-24 08:19] ThomasRuf commented on #6856
python3
Python 3.6.5 (default, Jun 15 2019, 23:43:07)
[GCC 7.3.0] on linux

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'ROOT'

typing root:
/usr/bin/root.exe: /cvmfs/sft-nightlies.cern.ch/lcg/views/dev3python3/Thu/x86_64-slc6-gcc7-opt/lib/liblzma.so.5: no version information available (required by /usr/lib64/root/libCore.so.6.22)

[2020-11-24 08:24] olantwin commented on #6856
Ah, I think I see the problem: You are sourcing the slc6 version. Could you try again with the cc7 version?

[2020-11-24 08:30] ThomasRuf commented on #6856
not much better:
source /cvmfs/sft.cern.ch/lcg/views/dev3python3/latest/x86_64-centos7-gcc7-opt/setup.sh
python3
Python 3.6.8 (default, Oct 13 2020, 16:18:22)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-44)] on linux   ????
import ROOT
  ROOT.__file__
'/usr/lib64/python3.6/site-packages/ROOT/__init__.py'

not what I want.

[2020-11-24 08:41] eguiraud commented on #6856
mmmh yep that should not happen, I'm trying to figure out what's wrong with the LCG nightlies -- sorry about that.

In the meanwhile: if this issue is indeed an instance of https://sft.its.cern.ch/jira/browse/ROOT-11025 , it should be fixed in master and 6.22/04.
Indeed `source /cvmfs/sft.cern.ch/lcg/views/LCG_98apython3/x86_64-centos7-gcc8-opt/setup.sh` (6.22/04) seems to work fine on lxplus, but

[2020-11-24 08:48] olantwin commented on #6856
Maybe an issue with the gcc7 version on LCG? Loading the nightlies with gcc10 works as well.

The issue seems fixed there, but I'll let Thomas confirm.

@eguiraud I saw there is a major issue with 6.22/04? Is this fixed or should we wait for 6.22/06? (we can easily pin any commit or tag, so don't necessarily need to stick to a given release).

[2020-11-24 08:56] eguiraud commented on #6856
That's correct, we can use 6.22/04 to check if the issue is fixed but don't stick with it, 6.22/06 is coming very soon.

[2020-11-24 10:41] ThomasRuf commented on #6856
OK, checked out ROOT master, 8a31480012b2a94d19062ebccead1c4337839c85, and this problem disappeared.

But a news issue comes up when compiling our software, to be discussed in another thread, return type 'class TString' is incomplete.

And by the way, the problem with TPythia8 is still present, https://sft.its.cern.ch/jira/browse/ROOT-10895.

[2020-11-24 10:46] eguiraud commented on #6856
@ThomasRuf ROOT-10895 is indeed still in the works. Please open a new thread with a recipe to reproduce the issue regarding the problem with `return type 'class TString'`.

Marking this one as solved in 6.22/04 and master. Thank you for your collaboration!

[2020-11-24 10:46] #6856 closed

[2020-11-24 13:25] #6855 closed

[2020-11-25 14:25] Axel-Naumann commented on #6797
@dan131riley could you confirm that the PR fixes it?

[2020-11-25 14:29] Axel-Naumann commented on #6430
Finally! See https://root.cern/download/nightly/?C=M;O=D - for instance https://root.cern/download/nightly/root_v6.23.01.macos-10.15-x86_64-clang120.debug.tar.gz

[2020-11-25 14:29] #6430 closed

[2020-11-25 14:35] #6563 closed

[2020-11-25 15:49] andriish commented on #6430
Thanks!!!

[2020-11-25 18:10] eguiraud opened #6881 "[TTreeReader] Partial leaf/branch names not recognized in cases that TTree::Draw supports"
- [x] Checked for duplicates

### Describe the bug

First reported [here](https://root-forum.cern.ch/t/tchain-parallel-reading-more-than-1-branch/42348/13).
For this TTree (the file is linked from the forum post):

[code]

[code]
works, while
[code]

does not. `TTreeReader` instead requires the full leaf name:

[code]

### Expected behavior

`TTreeReader` should support the same set of "valid bran

[2020-11-25 22:57] IIAS opened #6882 "Root-project"

[2020-11-26 08:10] oshadura commented on #6882
The issue doesn't have any description, I will close it or ask you to reopen after adjusting it if it was a mistake. Thank you!

[2020-11-26 08:10] #6882 closed

[2020-11-26 14:35] lmoneta opened #6884 "Difference between root 6.18 and 6.22 for RooProdPdf"
See https://root-forum.cern.ch/t/difference-between-root-6-18-and-6-22-for-rooprodpdf/42457

[2020-11-27 14:01] #6872 closed

[2020-11-27 14:41] Axel-Naumann commented on #6797
Fixed, thanks for the confirmation!

[2020-11-27 14:41] #6797 closed

[2020-11-27 14:46] #6840 closed

[2020-11-30 08:06] cholmcc opened #6889 "JSON I/O (not object serialisation)"
Here is a suggestion for a class to input and output JSON data.   It is _not_ meant for (`T`)object serialisation (there's `TBufferJSON` for that) - but for use cases where one wants to import or export JSON data into ROOT-based code.  Examples could be

- Input and output of HEPData data.  For example, one may want to read in some table via JSON and visualize, or one has produced a result one wan

[2020-11-30 09:48] #6853 closed

[2020-11-30 16:40] linev commented on #6889
Hi Christian,

`TBufferJSON` class of ROOT uses https://github.com/nlohmann/json parser for reading of JSON files.
In current ROOT master one can just include "hlohmann/json.hpp" and use all its features directly - also directly from **cling**. I guess, your TJSON class will have very similar functionality, or I missing something?

[2020-12-01 07:51] cholmcc commented on #6889
Hi Sergey,

The class `TJSON` is indeed similar to the library of _nlohmann_  except a whole lot more lean (_nlohmann_ is 14,748 lines of code, while `TJSON` is 962 lines of code - as per `sloccount`).  _nhlohmann_ tries to be very general and in fact expands upon the JSON standard, while `TJSON` tries to be as simple as possible.

Also, for `TJSON` I tried to do a bit of ROOT integration.  For ex

[2020-12-01 09:54] linev commented on #6889
It is already possible now, but disable by default.
Use of external `nlohmann/json.hpp` has some side effects on build system, therefore should only be enabled when really needed.

Support of special ROOT classes provided with `TBufferJSON`, including support of all ROOT containers.
Concerning `TArrayD` or `TArrayI` - these are old-fashion ROOT arrays; for new classes one should better use standar

[2020-12-01 10:19] lmoneta opened #6894 "Bug in RooSimultaneous::extendMode()"
When a simultaneous pdf is composed by a not-extended pdf and an extended pdf, RooSimultaneous::extendMode() returns
   `MustBeExtended` or ` CanNotBeExtended` depending on the initial category value.

See example and report on
https://root-forum.cern.ch/t/use-of-roosimultaneous-pdf-with-mustbeextended-and-cannotbeextended-pdfs/42462

[2020-12-01 14:09] lmoneta commented on #6894
A related problem is also in RooNLLVar::create  that is called by  RooAbsTestStatistic::initSimMode,
https://root.cern/doc/master/RooAbsTestStatistic_8cxx_source.html#l00500

When the sub-likelihood is created using the component pdf, one should pass the extend flag only if the pdf  canBeExtended()

[2020-12-01 16:27] sbinet opened #6900 "mathmore: invalid roots for a quartic polynomial"
trying to find the roots of the following polynomial:
[code]

I get the following roots:
[code]

plotting that polynomial, we can easily notice the roots are incorrect:
![foo](https://user-images.githubusercontent.com/1070920/100767354-f417b600-33f9-11eb-9181-8ea00b68203e.png)

using `numpy.roots` (which is using a companion matrix):
[code]
we do get saner values.

[2020-12-01 16:28] sbinet commented on #6412
ping?

[2020-12-02 10:13] lmoneta commented on #6900
Hi,
Thank you for reporting this bug !
It looks to be a problem in a routine developed by  HEP people, but it never came to GSL, it is copied inside Mathmore,
see https://root.cern/doc/master/complex__quartic_8h_source.html

If I change the code in ROOT::Math::Polynomial::FindRoots to use the generic GSL function, gsl_poly_complex_solve, it
works fine. This  uses an iterative procedure instead of

[2020-12-02 10:23] sbinet commented on #6900
hi Lorenzo,

I stumbled on this when implementing my own GPL-free polynomial roots-finding algorithm from first principles.
I don't know the specifics of ROOT/GSL code, but in my code https://github.com/go-hep/exp/pull/15 (BSD-3 licensed) I first go through building the cubic resolvent and then follow the wikipedia litterature.
note that for this particular case, what my code gives isn't completel

[2020-12-02 10:41] lmoneta commented on #6900
Hi,
I see, if you are expert and can find the bug in this function, https://root.cern/doc/master/complex__quartic_8h_source.html, it will be great. I am sure somebody else might use that code

[2020-12-02 10:55] lmoneta commented on #6900
Looking back at my emails, I found that the routine comes from the LHCb RICH code and it was proposed to GSL, but it was never merged there at the end.

[2020-12-02 12:42] oshadura opened #6903 "Builtin TBB is broken on MacOS M1"
- [x] Checked for duplicates

### Describe the bug
Builtin TBB has broken on MacOS M1 (reported [here](https://root-forum.cern.ch/t/help-on-compile-root-on-new-arm-macbook/42495/7))
[code]
with:
[code]

### Available patch
https://github.com/oneapi-src/oneTBB/pull/258

### Setup
ROOT on MacOS M1

[2020-12-02 13:33] jiefeng007 opened #6904 "libguide.so problem"
- [x] Checked for duplicates

The bug is not reported.

### Describe the bug

When I compile my code using TMVA reader, I got the following message.

ld: warning: libguide.so, needed by /cvmfs/ams.cern.ch/Offline/root/Linux/root6-14-04-icc19/lib/libTMVA.so, not found (try using -rpath or -rpath-link)

Then, I execute my .exe file, and get:
error while loading shared libraries: libguide.so: cannot

[2020-12-02 16:03] lmoneta commented on #6900
The problem seems to be in the calculation of disc at line 151
https://root.cern/doc/master/complex__quartic_8h_source.html#l00151

If I uncomment these following lines
[code]

it seems top provide the correct result in your example.
It would be nice to have more test points to validate the code

[2020-12-02 16:27] sbinet commented on #6900
I had found this polynomial to test the branch of my code where `R==0`. (brute force, by using the equivalent of MINUIT to minimize `R`).

(I am explicitly not looking at GPL-licensed code not to "taint" my BSD-licensed code)

[2020-12-02 17:12] andriish commented on #6715
Closing as the issue resolved by #6740

[2020-12-02 17:12] #6715 closed

[2020-12-02 20:35] petricm commented on #6903
6.22/06 also does not work macOS BigSur with `intel64`
[code]

[2020-12-04 01:56] pcanal opened #6911 "Test depending on histfactory are run even if histfactory is not build"
Current histfactory is optional (it requires xml is to enable/available) but the test depending on it are run nonetheless.

So with
[code]
In particular tutorial-roostats-CreateExampleFile is ran but fails:
[code]
The following tutorial then fails
[code]
most (if not all) due to the missing root file.

[2020-12-04 13:49] lmoneta commented on #6904
Hi,
I am not sure this is a bug in ROOT, but it could be some configuration problems on your system or  a problem in root-config.
 I see you are using a build done with the Intel compiler. If I am not mistaken libguide is a library needed when using the Intel compiler.
Are you sure you have set up correctly the environment (e.g. LD_LIBRARY_PATH) to use the Intel compiler ?
What is the output of `r

[2020-12-04 17:57] pcanal opened #6915 "roottest-python-regression-regression requires OpenGL but still run when it is disable"
With opengl disabled:
[code]
roottest-python-regression-regression  runs but fails:
[code]

[2020-12-04 18:21] pcanal opened #6916 "tutorials/v7/ntuple/ntpl004_dimuon.C requires Davix but is run when it is not there."
With Davix not present on the machine, the tutorials tutorials/v7/ntuple/ntpl004_dimuon.C is ran and fails:
[code]

[2020-12-05 14:39] HDembinski commented on #6421
Implemented now, so closing this.

[2020-12-05 14:39] #6421 closed

[2020-12-05 21:04] Axel-Naumann commented on #6904
And do *not* link against `-lCling` please! `-lCore` is enough.

[2020-12-07 16:19] #6731 closed

[2020-12-07 17:07] #6894 closed

[2020-12-08 10:42] lmoneta opened #6927 "Overflow in TRandom::Poisson"
`TRandom::Poisson(double mu)` returns an 32 bit integer.
When passing a value `mu>=int_max` (i.e. ~ 2.E9) it returns -2147483648. Also this happens when my is a NaN.
This can create confusions.
I think an error message should be produced such that users needs to take actions and protect it.
In addition one the function return value could be changed from int to unsigned long

To reproduce:

[code]

[2020-12-08 11:56] #6916 closed

[2020-12-08 16:58] Axel-Naumann opened #6931 "`RLogger` improvements"
### Explain what you would like to see improved

A set of usability improvements to `RLogger` coming out of a discussion of #6875 with @pcanal

### Optional: share how it could be improved

[ ] move "ROOT" prefix into channel ctor args (`RLogChannel("ROOT.FitPanel")`) to make it usable by non-ROOT code;
[ ] add a function (to `RLogManager`?) to emit just a string to the log (e.g. by creating an ot

[2020-12-08 18:47] pcanal commented on #6931
It will need to be off by default in roottest (to avoid log file comparison headaches).

[2020-12-08 20:35] andrzejnovak opened #6932 "rdf.Snapshot columnList - automate size columns"
Could `rdf.Snapshot`  figure out which columns it needs for the sizing information and include them automatically? I am assuming since rdf is probably agnostic about the actual branch naming scheme there is some underlying info in the branches that lets rdf identify which one is which anyway (e.g. two different sized collections).

[2020-12-09 09:34] eguiraud commented on #6932
Fair suggestion, thanks! This is fairly tricky to implement because, in general, we want to know the column types at compile-time, but the information about the type of a potential "size branch" is only known at runtime (i.e. when opening the file). So there is little hope to make this work for `Snapshot<coltype1, coltype2, coltype3>(...)`.

For a just-in-time-compiled call, i.e. `Snapshot(...)`,

[2020-12-09 12:54] amadio opened #6933 "ROOT 6.22 should reject TBB 2021.1.1 and above during configuration (fails to compile)"
The fix for newer TBB versions is in master, but 6.22.06 and below cannot use TBB 2021 and above, so CMake should reject these versions during the configuration phase. The error at compilation is known (usage of deprecated functionality which is dropped in TBB 2021.1.1):
[code]

[2020-12-10 11:20] dcervenkov opened #6937 "[RF] RooRealVar setVal() value silently changed"
### Explain what you would like to see improved

When `RooRealVar::setVal(value)` is used with `value` outside the predefined `RooRealVar` range, the `value` is changed to the closest value in the predefined range. This goes against the most basic rules of programming for dealing with unexpected input. To add insult to injury, the behavior is completely silent!

### Optional: share how it could be

[2020-12-10 15:11] knoepfel opened #6939 "Problems when TFile object is opened and closed on different threads."
In the _art_ framework suite, we have a facility that samples from a ROOT file across multiple threads.  The file is opened by the first thread that needs it, and once the file is exhausted, another ROOT file is opened, possibly on a different thread.  Whenever this happens, the framework job can hang due to mismatched `gDirectory` values.

In discussing this issue with Philippe, the suggestion ma

[2020-12-10 16:58] #6915 closed

[2020-12-10 19:49] eguiraud commented on #6939
Marking this as "improvement" rather than "bug" because this is a known limitation. In fact, @pcanal I thought that opening a `TFile` in a thread and closing it from another was simply not supported?

[2020-12-10 20:00] pcanal commented on #6939
It is not supported ... but this example shows that inadvertently breaking that rule leads to very hard to debug broken state.

[2020-12-12 19:54] dudarboh opened #6944 "RDataFrame misidentifies vector<XYZTVector> type of a friend tree with identical branch name to another friend tree"
The issue is initially reported and discussed on the ROOT forum [here](https://root-forum.cern.ch/t/rdataframe-tree-friends-branches-with-identical-variable-name-but-different-types/42701/4)

### Describe the bug

RDataFrame has two tree friends.
Both tree friends have a branch with identical name.
Type of a branch in the 1st friend tree: XYZVector
Type of a branch in the 2nd friend tree: vector\<

[2020-12-13 08:40] jiefeng007 commented on #6904
If I use -lCore instead of -lCling, I got one more error:

icpc generate.C -D__ROOTSHAREDLIBRARY__ -I/cvmfs/
ams.cern.ch/Offline/root/Linux/root6-14-04-icc19/include -I./  -o
generate.exe -L/cvmfs/ams.cern.ch/Offline/root/Linux/root6-14-04-icc19/lib
-lCore -lImt -lRIO -lNet -lHist -lGraf -lGraf3d -lGpad -lROOTDataFrame
-lROOTVecOps -lTree -lTreePlayer -lRint -lPostscript -lMatrix -lPhysics
-lMathC

[2020-12-13 08:41] jiefeng007 commented on #6904
The output is as the following:

$ root-config --cxx
icpc

On Fri, Dec 4, 2020 at 2:49 PM Lorenzo Moneta <notifications@github.com>
wrote:

[2020-12-13 19:36] Axel-Naumann commented on #6904
So there are a couple of issues:
- please use `root-config --libs` and its flags instead of hard-coding lags and libraries. This fixes the issue of `libCore` which should be allowed to have unresolved symbols into `libCling`.
- according to https://community.intel.com/t5/Intel-C-Compiler/libguide-so/m-p/769697/highlight/true#M512 `icpc` needs libguide.so, i.e. you likely did not set up your compil

[2020-12-13 19:45] Axel-Naumann commented on #6859
No response, closing. Let us know and we'll re-open.

[2020-12-13 19:45] #6859 closed

[2020-12-14 03:18] michalpik opened #6946 "Q"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2020-12-14 03:18] michalpik opened #6947 "2"
### Explain what you would like to see improved

### Optional: share how it could be improved

### To Reproduce

### Setup

### Additional context

[2020-12-14 08:45] rdschaffer opened #6948 "xrootd file open on the grid sometimes fail with status code 139"
Hi there,

  Running root-based reading analysis jobs in ATLAS, we are having problems trying to understand why some jobs fail on certain sites at file open when reading remote files with xrootd. We are using ROOT version 6.18/04. (I don't think that we have problems with 6.16/00, and a few tests indicate that 6.20/06 also had this problem.)

What we see is that for a file open:

        std::uniq

[2020-12-14 08:56] krasznaa commented on #6948
Unfortunately this is the sort of issue that could have been easier to track/discuss on JIRA. But since ROOT doesn't use that anymore, here we go...

My suspicion is that the grid nodes in question put some locally installed XRootD version high up in the library search path of the jobs. I don't know how they would do that, but that's my educated guess.

ATLAS analysis releases using ROOT 6.18/04 (

[2020-12-14 09:16] rodwalker commented on #6948
Hi,
The whole ENV is dumped in eg.

https://bigpanda.cern.ch//media/filebrowser/5e40cf5d-179e-4126-ad56-e0bb0173cbd5/panda/tarball_PandaJob_4911855304_CERN/payload.stdout

Does that give any clue?

LD_LIBRARY_PATH=/srv/workDir/usr/HZZAnalRun2Code/1.0.0/InstallArea/x86_64-centos7-gcc8-opt/lib:/cvmfs/atlas.cern.ch/repo/sw/software/21.2/AnalysisBaseExternals/21.2.139/InstallArea/x86_64-centos7-gcc8-o

[2020-12-14 09:30] krasznaa commented on #6948
Hi Rod,

What does

[code]

do? That would be my first suspect. Since `$LD_LIBRARY_PATH` lists our software directories in the correct order, based on just that XRootD **should** be found under:

[code]

Do you know what that preload is (supposed to be) doing exactly?

Cheers,
         Attila

[2020-12-14 09:42] rodwalker commented on #6948
Hi,
It is overloading some network related commands to provide a record of what
users are remote accessing. It creates
https://bigpanda.cern.ch//media/filebrowser/5e40cf5d-179e-4126-ad56-e0bb0173cbd5/panda/tarball_PandaJob_4911855304_CERN/pandatracerlog.txt

2020-12-04 18:55:07.949713 : INFO    connect:
::2001:1458:301:62:0:0:1094  cmd: runH4lAnalRun2

where IPv6 always rings alarm bells with me.

[2020-12-14 11:23] ggraziano98 opened #6949 "RooMCStudyModule finalizeRun() bug"
I initially reported this on the [root forum](https://root-forum.cern.ch/t/roodllsignificancemcsmodule-merge-error/42702)

### Describe the bug
RooAbsMCStudyModule::finalizeRun() returning a RooDataSet sometimes causes a merge error which is difficult to avoid.
Caused by RooMCStudy::_fitParData and RooAbsMCStudyModule data being different sizes

### Expected behavior
RooMCStudy and RooAbsMCStudyMo

[2020-12-14 11:49] eguiraud commented on #6946
Not sure what happened here, but this is not a valid issue.

[2020-12-14 11:49] #6946 closed

[2020-12-14 11:49] eguiraud commented on #6947
Not sure what happened here, but this is not a valid issue.

[2020-12-14 11:49] #6947 closed

[2020-12-14 17:48] huebner-m opened #6951 "Broken weights after reducing RooDataSet created with RooAbsPdf::generate()"
- [x] Checked for duplicates

### Describe the bug

When creating a RooDataSet from a PDF using RooAbsPdf::generate() and afterwards plotting it in a specific region using RooDataSet::reduce() the internal weights of the reduced RooDataSet are broken, i.e. they are all set to 1.

### Expected behavior

The weights of the reduced RooDataSet should not change to 1 when calling RooDataSet::reduce().

[2020-12-15 08:38] stwunsch opened #6953 "Missing documentation for ROOT.RDF.MakeNumpyDataFrame"
We lack a tutorial and/or a documentation of the pythonization for `ROOT.RDF.MakeNumpyDataFrame`. So far, the best documentation is in the tests [here](https://github.com/root-project/root/blob/master/bindings/pyroot/pythonizations/test/rdataframe_makenumpy.py).

[2020-12-15 17:08] rdschaffer commented on #6948
Hey @Axel-Naumann,

  Have you found a moment to have a look at this?

        see you, RD

[2020-12-15 18:00] Axel-Naumann commented on #6948
@simonmichal would you have a recommendation what to look at?

[2020-12-15 21:09] simonmichal commented on #6948
Well, I doubt there are some out-of-band data being sent/received. @rodwalker, @rdschaffer  would it be possible to reproduce the problem with xrootd client logs switched on (`XRD_LOGLEVEL=Dump`)?

Regarding ABI compatibility, we ensure ABI forward compatibility, meaning that it is safe to link an application built with an older version of xrootd, with a newer version of the library (e.g. one can

[2020-12-16 08:15] SimeonEhrig opened #6957 "Does roottest run `cling-test`?"
I have question. Does `roottest` runs `cmake --build . --target cling-test` when the cling interpreter code is changed? From time to time I see, that commits are merged regardless of whether the CI fails.
If I understand Cling's workflow correctly, changes are integrated and tested in ROOT and automatically streamed down to Cling after the merge in ROOT. So, if `roottest` does not run the integrat

[2020-12-16 13:35] rdschaffer commented on #6948
OK, I ran with XRD_LOGLEVEL=Dump, and you can see the response after

=== stderr ===

saying:

Unable to process directory /alrb/.xrootd/client.plugins.d: [ERROR] OS Error: No such file or directory

Log file:

[xrootd_error_on_grid.pdf](https://github.com/root-project/root/files/5702981/xrootd_error_on_grid.pdf)

The file:

root://marsedpm.in2p3.fr:1094//dpm/in2p3.fr/home/atlas/atlasdatadisk/ruci

[2020-12-16 13:45] rdschaffer commented on #6948
The above is running in Marseilles: CCIN2P3-CCPM.

Another for reading from eos from the CERN-T0 facility:

[xrootd_error_on_grid_CERN_T0.pdf](https://github.com/root-project/root/files/5703065/xrootd_error_on_grid_CERN_T0.pdf)

[2020-12-16 14:36] simonmichal commented on #6948
Is it possible to determine the exact version of xrootd client that is being used? Unfortunately, the crash happens before the client logs in so I cannot see it from logs. The server reported protocol version `500` in the xrootd handshake.

[2020-12-16 14:41] rdschaffer commented on #6948
Does this help:

2020-12-16 12:22:18,612 | INFO     | Thread-1            | gfal2                            | connect                   | [gfal_module_load] plugin /cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase/x86_64/emi/4.0.2-1_200423.fix1/usr/lib64/gfal2-plugins//libgfal_plugin_xrootd.so loaded with success

[2020-12-16 14:49] rdschaffer commented on #6948
Marseilles job logs are in:

[marseilles](https://bigpanda.cern.ch/filebrowser/?guid=00354dec-89f9-4687-bc9e-d0151ddff358&lfn=panda.um.group.phys-higgs.user.schaffer.mc16_13TeV.500995.H4lMinitree_nominal.0.16e..201216_01.log.23578674.000051.log.tgz&site=IN2P3-CPPM/SCORE&scope=panda&fileid=23156311480)

and Cern jobs logs are in:
[Cern](https://bigpanda.cern.ch/filebrowser/?guid=52428b18-b810-4194-

[2020-12-16 15:01] rodwalker commented on #6948
Hi,
Submit a job with compiled C to just open the Marseille file (code at
bottom)

https://bigpanda.cern.ch/job?pandaid=4923453571

It has the same release, and it works! I am not sure if anything else is
different, but it points at the specific code rather than a pure TFile open
problem.

Cheers,
Rod.

$ cat main.C
#include <iostream>
#include <string>
#include "TFile.h"

using namespace std;

in

[2020-12-16 15:07] krasznaa commented on #6948
Hi Rod,

:confused: So, how did you compile that code exactly? Just `g++ main.cxx`, right?

In that case XRootD would be picked up from `/usr`. Which doesn't tell us much about our problem. Since RD's test job will pick up XRootD from:

[code]

This is why I said at the beginning, that I'm suspicious about the `LD_PRELOAD` setting. If that library wants to use XRootD, but it was compiled against a

[2020-12-16 15:28] rodwalker commented on #6948
Right, forgot to mention I don`t know what I`m doing with C. A colleague
gave me
 g++ $(root-config --cflags --libs) -o main main.C
which I`m doing after the asetup of the same release. Does ldd answer the
question?

$ ldd main.mars  | grep -i root
libROOTVecOps.so => /cvmfs/
atlas.cern.ch/repo/sw/software/21.2/AnalysisBaseExternals/21.2.139/InstallArea/x86_64-centos7-gcc8-opt/lib/libROOTVecOps.so

[2020-12-16 15:50] krasznaa commented on #6948
Hmm... That in principle looks fine... So okay, your test job **is** relevant.

Unfortunately I'm running out of ideas. The XRootD build in `AnalysisBaseExternals` does depend on a couple of libraries from the OS. But these should only be things that are part of HEP_OSlibs. So the worker nodes should not really have different versions of them...

[code]

Could the version of some of these not be "

[2020-12-16 16:32] rodwalker commented on #6948
RD says it is line 1244 that causes a sigsegv

https://gitlab.cern.ch/HZZ/HZZSoftware/HZZAnalRun2Code/-/blob/changes-for-v25-fJVT/H4lAnalysisRun2/Root/H4lAnalRun2Init.cxx

At least nothing of the ATH_MSG_ERROR in the subsequent lines makes it into
the log.

I`m not sure how close I can get to that in my test.

Cheers,
Rod.

On Wed, 16 Dec 2020 at 16:50, Attila Krasznahorkay <notifications@github.c

[2020-12-16 16:40] rdschaffer commented on #6948
Hi Rod,

  Well, I added a 'print' before and after 1244 in the current jobs - didn't check it it. So this looks like:

  `        ATH_MSG_INFO( "processEvents: try to open file: " << file );
        std::unique_ptr< TFile > ifile( TFile::Open( file.c_str(), "READ" ) );
        ATH_MSG_INFO( "processEvents: called TFile Open " );
`

and in the log, one sees:

`H4lAnalRun2              INFO    proc

[2020-12-16 16:47] #6939 closed

[2020-12-17 09:42] rdschaffer commented on #6948
Well, one thing that is clear is that this problem seems to be associated with specific sites. For my 'test' job:

[test job](https://bigpanda.cern.ch/task/23578674/)

The sites that are successful either have local reading, or the use xrootd without problems. The latter are:
SWT2_CPB
IN2P3-LPSC_LAKE
RAL

For the failures, these are all just xrootd problems, at sites:
IN2P3-CPPM
CERN-T0
TOKYO
BNL

[2020-12-17 11:36] simonmichal commented on #6948
@rdschaffer : could you add following code to your job:

[code]

and then at the beginning of your `main`:

` dl_iterate_phdr(callback, NULL);`

[2020-12-17 17:30] rdschaffer commented on #6948
Hi @simonmichal,

Jobs are running. For a "failed" job at our CERN T0 reading from eos, have a look [here](https://bigpanda.cern.ch//media/filebrowser/607edc99-4061-4618-a697-7a1f9b577b48/panda/tarball_PandaJob_4924768937_CERN-T0/payload.stdout). Let me know if you don't have access, and I'll make a pdf file.

            see you, RD

[2020-12-17 17:43] rdschaffer commented on #6948
I don't see libXrxxx in the list. Would this appear later after a request to xrootd has been made?

I put the call at the very beginning, as suggested:

int main( int argc, char* argv[] ) {
    // setup callback to debugging xrootd problem - RDS 2020/12
    dl_iterate_phdr(callback, NULL);

     see you, RD

[2020-12-17 18:08] simonmichal commented on #6948
@rodwalker : hmm, let me dwell on this for a minute ...

[2020-12-17 18:56] eguiraud commented on #6944
The issue is also present in master. Simple C++ repro:

[code]

This prints the wrong type (the type of the _other_ `vec` branch) in the second case.

Calling `vertex.vec` something else, e.g. `vertex.vec2`, removes the ambiguity.

Work in progress.

[2020-12-18 08:11] Axel-Naumann commented on #6331
Still fails in master, see e.g. https://github.com/root-project/root/pull/6961#issuecomment-747595647

[2020-12-18 09:25] eguiraud opened #6964 "[TTree] GetLeaf ignores the branchname arg if friend trees are present"
- [X] Checked for duplicates

### Describe the bug

`GetLeaf(branchname, leafname)` seems to ignore the `branchname` argument if friend trees are present -- or in any case, it returns a non-null pointer even for a bogus `branchname` argument, but only if friend trees are present.

Note that depending on the situation this might result in wrong data being read.

### Expected behavior

`GetLeaf(bran

[2020-12-18 09:58] rdschaffer commented on #6948
And [here](https://bigpanda.cern.ch//media/filebrowser/ebaf0940-57ad-4062-922c-9dad34e81a0e/panda/tarball_PandaJob_4924912141_RAL/payload.stdout) is a job output from RAL where xrootd seems to work.

More generally, [here](https://bigpanda.cern.ch/task/23593505/) is a jobset which has jobs which both succeed at some sites with xrootd or file staging, and the fails with xrootd at other sites.

[2020-12-18 10:39] simonmichal commented on #6948
I'm bit puzzled here, if I link dummy `main` with `libNetxNG.so` and print out all used shared libs with `dl_iterate_phdr` the output includes xrootd libs. @rdschaffer : could you try moving the `dl_iterate_phdr` just before the open request gets issued, maybe this will help (fingers crossed)?

[2020-12-18 10:47] eguiraud commented on #6964
#6965 fixes the repro above, where the branch contains integers.

The `TBranchElement` case follows a different code path:

[code]

[2020-12-18 11:08] Axel-Naumann commented on #6948
@simonmichal maybe they use `-Wl,--as-needed`, and pull the xrd libraries in through their or ROOT's plugin mechanism?

[2020-12-18 11:23] rdschaffer commented on #6948
OK, thanks. Now I can try to add this just before TFile::Open, but as Axel says, it still might not work. Might there be a way to 'load' the xrootd lib, and then call this?

[2020-12-18 11:25] Axel-Naumann commented on #6957
`cling-test` is part of the test suite run with `ctest` if ROOT is configured with `-Dclingtest=On`. You can trigger Jenkins to do that by saying `@phsft-bot build with flags -Dclingtest=On`. But I agree it would make sense to turn it on by default for PR and nightly builds.

[2020-12-18 11:27] Axel-Naumann commented on #6904
Let us know if there's something to be addressed by us and I'll reopen.

[2020-12-18 11:27] #6904 closed

[2020-12-18 11:30] Axel-Naumann commented on #6948
`TFile::Open("xroot://this-will-totally-fail");` right before the call to `dl_iterate_phdr`? But I cannot tell whether that still gives the results that @simonmichal is after...

[2020-12-18 11:34] rdschaffer commented on #6948
I expect that this will not get to the call to `ls_iterate_phdr`, and ROOT will just catch the segFault and return status code 139... But I can try.  Perhaps there might be a way to 'load' explicitly xrootd?

[2020-12-18 11:44] Axel-Naumann commented on #6948
My call to `TFile::Open` certainly shouldn't segfault.

[2020-12-18 11:47] rdschaffer commented on #6948
ok

[2020-12-18 12:02] eguiraud commented on #6944
Fixed by #6965

[2020-12-18 12:55] rafopar opened #6966 "Return pointer to XXX object in DrawXXX methods."
Unlike to TLine or TLatex, the DrawArc method of TArc is void, will be good to have it to return the pointer to the drawn object.

This issue is created based on the suggestion of @couet in the root forum
https://root-forum.cern.ch/t/pointer-of-drawing-tarc-object/42778

[2020-12-18 12:58] jalopezg-r00t commented on #6812
Hello @Asxcvbn,

I have reproduced this bug and already have a fix for it.  However, because we are currently upgrading to LLVM 9, I will wait until then to apply the fix -this will happen at some point in January-.

Cheers,
J.

[2020-12-18 15:56] simonmichal commented on #6948
It is silly that the version is not reported in the logs when the client lib is loaded (well, now I've added it: https://github.com/xrootd/xrootd/commit/07e6d5db3bd086e3ebd0576b7e73b6a6aa62b902), my fear is that xrootd5 libs are being load.

[2020-12-18 16:19] rdschaffer commented on #6948
OK, so the jobs are running [here](https://bigpanda.cern.ch/task/23611221/) with several "finished/ok" and "failed".

Example log file: for ok at RAL - [RAL](https://bigpanda.cern.ch//media/filebrowser/6bd1c7f6-381f-48fd-8838-c94bd3c034b1/panda/tarball_PandaJob_4925641471_RAL/payload.stdout)

and failed at CERN T0 [CERN T0](https://bigpanda.cern.ch//media/filebrowser/f5d04e4b-4b70-42a4-8b9b-d1ee8a

[2020-12-18 16:45] simonmichal commented on #6948
These are the libs from failed job:
[code]

and these are the libs from a job that was successful:

[code]

yes, they are the same, so it's not a problem with loading a wrong version of xrootd client.

[2020-12-18 16:45] simonmichal commented on #6948
P. S. @rdschaffer : thanks for running the test!

[2020-12-18 16:47] rdschaffer commented on #6948
Sure. This is what I thought. And ideas how to further understand what is going on?

    thanks, RD

[2020-12-21 08:15] SimeonEhrig commented on #6957
@Axel-Naumann That sounds like a great idea.

[2020-12-21 21:03] simonmichal commented on #6948
@rdschaffer : have you tried comparing the full list of shared libs for a failed and successful job? Are there any differences at all? (unfortunately the links to the logs seem to be expired)

[2020-12-22 08:54] rdschaffer commented on #6948
Hi @simonmichal,

  Doing a diff of the lines with "name=/" shows that the failed and succeeding jobs have the same libs.

I can still get to the following outputs:

[failed](https://bigpanda.cern.ch//media/filebrowser/f5d04e4b-4b70-42a4-8b9b-d1ee8a3369ae/panda/tarball_PandaJob_4925690849_CERN-T0/payload.stdout)
[succeeded](https://bigpanda.cern.ch//media/filebrowser/d5f0e039-6855-434c-b1f6-46f473

[2020-12-22 09:04] rdschaffer commented on #6948
The 'succeed' job seems to get to:

[code]

but the failed ends before this point.

I can upload the files of these two logs, if it would help.

[2020-12-23 12:04] TatianaOvsiannikova opened #6974 "pyROOT doesn't work with ipyparallel"
### Describe the bug

ROOT fails inside the ipyparallel.directView.map method.

### Expected behavior

pyRoot should work with ipyparallel

### To Reproduce

Please find bellow the steps to reproduce the issue:

    source /cvmfs/sft.cern.ch/lcg/views/LCG_97/x86_64-centos7-gcc8-opt/setup.sh
    ipcluster start -n 3 --daemonize
    ipython test_ipp.py
the gist for test_ipp.py script:
https://gist.g

[2020-12-30 17:04] lan13005 opened #6975 "RooFit for loop fitTo explodes in memory usage"
- [X] Checked for duplicates

### Describe the bug

Everytime I call fitTo there seems to be various roofit objects that are created and are not cleaned after every iteration. I cannot get RooTrace::dump() to output anything but I am able to use RooTrace::printObjectCounts() to output the object counts. It seems fitTo creates a bunch of RooAbsCollection objects that are not cleaned which starts to

[2021-01-02 01:02] pgamamed opened #6977 "Break segmentation violation error when merging the jobs on the grid"
I am using root version 5. My code ran on the cern grid (PID 2095060486) successfully and it did not give me any errors. But when I try to merge all the jobs (changed the command "full" into "terminate"), it gives me the following error.
[code]

I want to merge all the jobs and create a .root file. Please help me to solve this problem.

[2021-01-03 06:11] jalopezg-r00t commented on #6977
Hi @pgamamed,

It seems to me that the problem might not be on ROOT (according to frame 6 of the backtrace, i.e. `AliAnalysisTask::SetUsed`).  However, I am forwarding this to @Axel-Naumann, maybe he can confirm.

Cheers,
J.

[2021-01-03 15:34] rlalik commented on #6777
Can I do anything to speed up this bugfix? Like merge request? I still have some projects which suffer from this problem and require manual patching after each root fresh installation/upgrade.

[2021-01-04 08:25] Axel-Naumann commented on #6977
This doesn't look like a way to merge the ROOT files, it seems to stem from running the function `AliAnalysisManager::InitAnalysis()`. To merge files consider using `hadd`.

Given that this is unlikely a ROOT issue I propose we continue the discussion at https://root-forum.cern.ch if there's still something for us to help with.

[2021-01-04 08:25] #6977 closed

[2021-01-04 11:05] etejedor commented on #6974
Thank you for the report @TatianaOvsiannikova , it looks like it's not finding `get_ipython`, which should be put by IPython in the global scope by default since you are running your code with `ipython` (it seems it's not the case).

Workaround: can you use `python` instead of `ipython`?

I'll check if explicitly importing `get_ipython` solves this.

[2021-01-04 13:28] eguiraud opened #6981 "RDataFrame::Display should list all elements of a collection by default, like TTree::Scan"
### Explain what you would like to see improved

From Andrea Rizzi: currently `df.Display()` only shows the first and last elements of collection columns. It would be more helpful/intuitive if all elements were listed, at least up to a reasonable collection length.

Example of the current output:

[code]

### To Reproduce

[code]

[2021-01-04 14:26] etejedor commented on #6765
@stwunsch @eguiraud @vepadulano I believe this is the same issue as the one reported here https://github.com/root-project/root/issues/6552 . In short, there was a crash when unpickling a ROOT object without importing ROOT first. The problem is described here: https://github.com/root-project/root/issues/6552#issuecomment-710038856 .

I already merged a fix in master for this: https://github.com/roo

[2021-01-04 16:26] stwunsch commented on #6765
@etejedor Thanks for pointing this out! Indeed, with current master and the fix in commit `c4077aa` all reproducers above work.
@maxgalli Ping :)

[2021-01-04 16:26] #6765 closed

[2021-01-04 16:48] vepadulano commented on #6765
Thanks @etejedor ! Since it was a bug affecting distributed computing environments too I'd like to document it explicitly in the next realease notes, maybe even backport it to older ROOT versions?
What do you guys think @eguiraud @stwunsch ?

[2021-01-04 19:10] eguiraud commented on #6944
Should be fixed in master, must backport

[2021-01-05 02:10] rlalik opened #6985 "TGPictureButton does not load image from disk"
This bug report:
![obraz_2021-01-05_030717](https://user-images.githubusercontent.com/483575/103598565-36ee1180-4f03-11eb-891b-2a66e7bb2062.png)

Reference from tutorial: https://root.cern.ch/doc/master/alice__vsd_8C.html
![image](https://user-images.githubusercontent.com/483575/103598652-6e5cbe00-4f03-11eb-9716-f77d792b80e9.png)

### Describe the bug
By running one of the ROOT tutorials:

    $ r

[2021-01-05 08:22] eguiraud commented on #6777
@rlalik sorry for the late reply, was ROOT compiled with `CMAKE_CXX_STANDARD=17`? Downstream applications are expected to use the same C++ standard than ROOT was compiled with (for interpreter-related reasons).

@oshadura what do you think?

[2021-01-05 09:19] eguiraud commented on #6944
@dudarboh could you please confirm that the problem is fixed in [the nightlies](https://root.cern/install/nightlies/)?

[2021-01-05 11:06] rlalik commented on #6777
@eguiraud  Exactly, but and this is what happens for all source files, but the dictionary (`G__XXX_cc.cxx` file) is not compiled with the same standard like the ROOT due to missing these files. And then takes compiler either default flags, or (perhaps, would need to check) the one specified with `CMAKE_CXX_FLAGS`. Which might be different, or by chance the same and you will not notice it.

[2021-01-05 13:02] oshadura commented on #6777
@rlalik sorry for such late reply... (I think I just lost it in my to-do list). I think your fix totally make sense for me (cc: @vgvassilev ) Could you please open PR with the proposed changes, we could see if the test suite will be 'green'?

[2021-01-05 14:54] dudarboh commented on #6944
Hi @eguiraud,
Yes everything works as expected with `/cvmfs/sft.cern.ch/lcg/views/dev3/latest/x86_64-centos8-gcc10-opt/`

Thanks for your work!

[2021-01-05 15:27] eguiraud commented on #6944
That's great to hear, I'll leave this open for a short while more as a reminder to add a backport for the 6.22 branch if that's ok!

[2021-01-05 16:31] #6964 closed

[2021-01-05 16:34] #6944 closed

[2021-01-05 16:53] goi42 opened #6991 "THStack::GetXaxis->SetRange does not auto-zoom Yaxis range"
- [x] Checked for duplicates

### Describe the bug

If I call `TH1::GetXaxis()->SetRange`, the Yaxis range automatically adjusts to zoom in on the selected bins. For `THStack::GetXaxis()->SetRange`, however, this is not the case–the Yaxis retains the same range it had before.

Originally reported in the [forum](https://root-forum.cern.ch/t/yaxis-range-does-not-adjust-when-zooming-xaxis-of-thstack/

[2021-01-05 17:41] pcanal commented on #6741
Yes this is the intentional behavior.

Only the TTree list of friends is relevant per se because the friend could be from the TChain or from the TTree.  (Only infrastructure code that might need to do something 'different' in case the friend in chain wide, should worry about the TChain's list of friend).

By definition the Branch is TTree specific so indeed it will find something.

[2021-01-05 17:57] eguiraud commented on #6741
Thanks @pcanal , does this mean that the following line, in the RDF code that builds the list of all possible valid branch names, should be `t.GetTree()->GetListOfFriends()` instead of `t.GetListOfFriends()`? (`t` is almost always a `TChain`).

https://github.com/root-project/root/blob/5961bdd1fbd2773b052ede308ed7c55040b809d2/tree/dataframe/src/RDFInterfaceUtils.cxx#L319

[2021-01-05 18:06] pcanal commented on #6741
Yes, as long as LoadTree have been already called.  Note that this syntax will work for both TChain and TTree object.

[2021-01-06 10:27] eguiraud opened #6993 "[TTreeReader] Segfault when reading branch of "automatically loaded" friend"
- [x] Checked for duplicates

### Describe the bug

A seemingly valid usage of TTreeReader with friends causes a segfault because of the dereference of a null `directorTree`:

[code]

### To Reproduce

[code]

### Setup

ROOT master@b694869108 (v6.23).

### Additional context

This blocks #6741 .

Using TTree directly instead of passing through TChain works:

[code]

[2021-01-06 10:33] eguiraud commented on #6741
The RDF part should be fixed in https://github.com/root-project/root/compare/master...eguiraud:df_autofriends , but TTreeReader seems to also have a problem with this scenario (see issue linked above).

[2021-01-06 11:40] eguiraud commented on #6796
This should be fixed as a side-effect of switching to RVec 2.0.

[2021-01-06 13:54] #6777 closed

[2021-01-06 15:09] couet commented on #6991
As said in the forum, this can be reproduced doing a simple zoom on the X axis of a THStack plot.

[2021-01-07 08:21] #6345 closed

[2021-01-07 09:25] akira-okumura opened #6997 "Fill attribute is not fully reflected in THStack"
[code]

The above code draws correct h1 and h2 distributions, but the fill attribute 0 is not fully reflected in the canvas.

![image](https://user-images.githubusercontent.com/2981330/103875205-7d1abf00-5115-11eb-9359-afb7cde03e73.jpeg)

Please also see this thread in the ROOT forum.
https://root-forum.cern.ch/t/fill-attribute-is-not-fully-reflected-in-thstack/42987

[2021-01-07 09:30] couet commented on #6997
Thanks. Here is the code re-formatted (easier to copy/paste in a macro)

[code]

[2021-01-07 10:31] eguiraud commented on #6741
WIP at https://github.com/root-project/root/pull/6995

[2021-01-07 10:31] eguiraud commented on #6993
WIP at https://github.com/root-project/root/pull/6995

[2021-01-07 12:47] gdbos74 opened #7000 "Chris"
- [ ] Checked for duplicates

### Describe the bug

### Expected behavior

### To Reproduce

### Setup

### Additional context

[2021-01-08 14:19] eguiraud commented on #7000
:man_shrugging:

[2021-01-08 14:19] #7000 closed

[2021-01-08 14:32] eguiraud opened #7008 "Better output format for RLogger"
### Explain what you would like to see improved

Currently, when using RLogger, you get an output such as:

[code]

Note in particular the redundant `Info`.

### Optional: share how it could be improved

- `s/Info in <(.*)>/\1/`
- not 100% sure about this, but maybe we could shorten the filename to just the part under `$ROOTSYS`

[2021-01-08 14:58] Axel-Naumann commented on #7008
Thanks! I think I'd like to keep the full path - which can catch cases of "oh that's not the ROOT version I intended". And indeed I should switch to not using `Info` etc, but whatever gets called by `Info`, to provide our own formatting.

[2021-01-08 15:10] eguiraud commented on #7008
Yes you can catch the odd "wrong ROOT" case, but at what price? :sweat_smile: You get that same (typically super long) path to ROOTSYS printed at every log line, and it makes the actual log much less readable.

Maybe filename/line number could be moved out of the way, to the end of the log line?

[2021-01-08 16:16] Axel-Naumann commented on #7008
Ideally I'd like to follow the GCC diag format to some extent:
[code]
and that suggests we should have the source line first. OTOH - the compiler is talking to the user providing the source, i.e. the user's input is that source, and that's what the compiler is referring to. For `RLogger` the situation is different, and the source line is merely the context provided to the developer. So yes, I now

[2021-01-08 16:52] pcanal commented on #7008
I would also argue that the answer might be different for different level of message.  For example, I can see a use (maybe) for the line number for Fatal and Debug message, but I don't see it for "Info" message.  I.e. some message are directed at the user (Print, Info, Warning .. maybe even Error) and other messare  are directed (indirectly) at the developers (Fatal, Debug ... maybe Error)

When r

[2021-01-08 17:45] eguiraud commented on #7008
That's a good argument.

Thinking about [what I'm using RLogger for in RDF](https://github.com/root-project/root/pull/6828) I tend to agree with @pcanal, users won't care about what source code line the `Info` messages come from (and if they really do, they are one grep away) but devs would hate to have to grep for a given Error/Fatal/Warning every time.

[2021-01-08 17:46] Axel-Naumann commented on #7008
*The* file - which file should I open?

Define "rare".

[code]
[code]
to name just those I immediately found in io/io :-)

I'd argue we should keep the file name:
- for debug output, be verbose because someone wanted debug output.
- for error messages, be verbose because it's an exceptional, an error case, and more information is strictly better.
So indeed, maybe for `Info` we could go with your "

[2021-01-08 18:22] pcanal commented on #7008
The one in TStreamerInfo.cxx are:
```if (gDebug>0) Info(...)```
so odd beast and/or now a Debug message.

The one in TFileMerger are likely actually Warnings rather than Info but either way, the line number is not that informative ... (the debugging that would need to happen is about the ROOT file not the source file).

Either way

I suppose so .. and/or have a terse option/parameter (so that it c

[2021-01-11 06:26] evonreis opened #7009 "CMake fails when there is a '+' in the source directory. It may have problems with other REGEX characters."
- [ x] Checked for duplicates

Root version: 6.22/06
OS: Linux Debian Buster
Compiler: GCC 8.3.0

CMake fails when there is a “+” in ${CMAKE_SOURCE_DIR}. I suspect any special regular expression character would cause a problem.

The problem can be reproduced in a debian:buster-slim docker image with the following commands:

`$ apt -y update && apt -y upgrade && apt -y install dpkg-dev cmake g++ gc

[2021-01-11 07:44] Axel-Naumann commented on #6948
@simonmichal so I guess it's not the libraries. What else can we do to debug this?

What's preventing this?

[2021-01-11 07:50] Axel-Naumann opened #7010 "fifo in $CWD causes TCanvas to hang on macOS"
### Describe the bug

See https://root-forum.cern.ch/t/root-hangs-when-creating-tcanvas/42827/3

### Additional context

Tried on Linux; no problem there.

[2021-01-11 08:06] nlurkin commented on #7010
Thank you, but actually the problem was originally spotted on linux (Ubuntu 20.04) with ROOT6.22/00

[2021-01-11 08:07] Axel-Naumann commented on #7010
Humm. I cannot reproduce it on Linux then. Can you give the actual command you use to create the FIFO?

[2021-01-11 08:26] simonmichal commented on #6948
Hi guys, Happy New Year!

@rdschaffer : could we try reproducing this problem on open stack with CernVM image?

[2021-01-11 08:30] nlurkin commented on #7010
I created the fifo with
[code]
Then
[code]
never returns.

[2021-01-11 08:43] rdschaffer commented on #6948
Hi @simonmichal,

  Sure, would be happy to do so. Although, I am not quite sure how to proceed. Perhaps @krasznaa could suggest how I could do so for our sw?

[2021-01-11 09:09] rdschaffer commented on #6948
Since I am a big ignorant here, would running on open stack mean running elsewhere than on our grid sites? I suspect that there is something connected to our grid sites which is causing this...

[2021-01-11 09:26] simonmichal commented on #6948
well, it would be great if we could reproduce the problem somewhere were we could do interactive debugging, meaning not on a batch farm, I said CernVM open stack hoping the environment will be somewhat similar (to job would still need to fetch remote data, right?)

Could you point us to your root analysis job and describe in few words how are you starting it?

[2021-01-11 09:51] rdschaffer commented on #6948
OK, interactively, this is what I do:

cd /afs/cern.ch/work/s/schaffer/public/work-21.xAOD.RD_devRel21_prod25_2/build
setupATLAS
lsetup "asetup 21.2.139,AnalysisBase"
source ../build/x86_64-centos7-gcc8-opt/setup.sh
../run  (or to any directory which you can write in)
runH4lAnalRun2 -i root://eosatlas.cern.ch:1094//eos/atlas/atlasdatadisk/rucio/mc16_13TeV/85/26/DAOD_HIGG2D1.21658940._000001.pool.r

[2021-01-11 09:54] rdschaffer commented on #6948
The TFile::Open is at:

https://gitlab.cern.ch/HZZ/HZZSoftware/HZZAnalRun2Code/-/blob/changes-for-v25-fJVT/H4lAnalysisRun2/Root/H4lAnalRun2Init.cxx#L1245

[2021-01-11 10:06] simonmichal commented on #6948
@rdschaffer : could you create a VM with an Atlas cert where I could run a test?

[2021-01-11 10:09] rdschaffer commented on #6948
OK, I will try to do this a bit later today.

[2021-01-11 10:09] krasznaa commented on #6948
Unfortunately if we could reproduce this issue ourselves, on one of our private machines, we would have started the conversation itself very differently. :frowning: Unfortunately I'm afraid that setting anything up on OpenStack would just be a waste of time right now.

@simonmichal, could you give us a complete list of system libraries/packages that XRootD (or at least the version of XRootD we hav

[2021-01-11 10:13] krasznaa commented on #6948
As for the "VM": We have an image of AnalysisBase-21.2.139 here:

https://hub.docker.com/layers/atlas/analysisbase/21.2.139/images/sha256-cf69e10defa9cb564dcb60c9ca723f0de9e7a1813f588bdde1d1a06a944c1e3e?context=repo

But the issue does not show up in it. So it's of not much help...

[2021-01-11 10:40] rodwalker commented on #6948
Hi,
The grid jobs are running in a standard centos7 image

/cvmfs/atlas.cern.ch/repo/containers/fs/singularity/x86_64-centos7

so it is hard to see how any system libs can be used. OTOH full cvmfs is
available to the job, so I could imagine some different libs are used from
there, although I thought this was checked already. I could not reproduce
the failure even running inside a pilot, as far as

[2021-01-11 11:03] simonmichal commented on #6948
@krasznaa : here are the shared libs loaded by the client:
/usr/lib64/libnss_dns-2.17.so
/usr/lib64/libnss_files-2.17.so
/usr/lib64/libbz2.so.1.0.6
/usr/lib64/libelf-0.176.so
/usr/lib64/libpcre.so.1.2.0
/usr/lib64/libattr.so.1.1.0
/usr/lib64/libkeyutils.so.1.5
/usr/lib64/libkrb5support.so.0.1
/usr/lib64/libdw-0.176.so
/usr/lib64/libresolv-2.17.so
/usr/lib64/libgpg-error.so.0.10.0
/usr/lib64/libgcr

[2021-01-11 11:27] AdvaitDhingra opened #7012 "Add Root to npm?"
## Add root to npm, as to allow for easier installation.
### It would be nice to add Root to npm, as
- It would be easily available on Windows
- The Installation process wouldn't take as long/be as difficult.

I think you can directly add it through Github, if i am not mistaken.

[2021-01-11 11:32] AdvaitDhingra commented on #7010
Isn't it

[code]

Or am I mistaken?

[2021-01-11 11:53] rdschaffer commented on #6948
OK, resubmitted a number of jobs to just ANALY_BNL_INTEL.

23759936    109313

[2021-01-11 11:55] Axel-Naumann commented on #7010
Doesn't matter, just like `new std::string` vs `new std::string`.

[2021-01-11 13:46] rdschaffer commented on #6948
OK, pilot grid job fails at BNL (pilot job is the first test job to see how many files to read and to test the job, I believe):

https://bigpanda.cern.ch//media/filebrowser/fb806010-1b7f-463e-b587-7175f4c12c9e/panda/tarball_PandaJob_4945681098_ANALY_BNL_INTEL/payload.stdout

H4lAnalRun2              INFO    processEvents: file to process:
H4lAnalRun2              INFO                  0 root://dcg

[2021-01-11 13:57] rodwalker commented on #6948
Hi,
saw it, and already tried to reproduce. Naturally it works fine on lxplus,
using the same container commands.
You added XRD_LOGLEVEL=Debug to previous jobs already, e.g.
https://bigpanda.cern.ch/job?pandaid=4925837464

 [lcg-se01.icepp.jp:1094] Found 1 address(es): [::ffff:157.82.116.96]:1094

On lxplus I see
[lcg-fs118.icepp.jp:1095] Found 2 address(es):
[::ffff:157.82.117.118]:1095, [2404:d5

[2021-01-11 14:08] rdschaffer commented on #6948
OK, right. Sorry about the comment. I guess I was looking at the libs loaded comments in this output.

So you're saying that there is nothing useful in this debug output?

       see you, RD

[2021-01-11 14:11] AdvaitDhingra commented on #7010
Ah ok, got it

[2021-01-11 14:15] rodwalker commented on #6948
And I`ll shoot that theory down myself .... from failed jobs (with Debug)
from 18th Dec.

BNL storage is IPv4 only, with many hosts.
$ host dcgftp.usatlas.bnl.gov
dcgftp.usatlas.bnl.gov has address 192.12.15.228
dcgftp.usatlas.bnl.gov has address 192.12.15.242
...

[dcgftp.usatlas.bnl.gov:1096 #0.0] Attempting connection to
[::ffff:10.42.38.56]:1096

Romania storage has both but nodes only IPv4, s

[2021-01-11 14:53] knoepfel opened #7016 "Memory leak during schema evolution of some classes"
### Describe the bug

The DUNE experiment ran into a situation where instances of class `recob::Track` were written to disk with version 13, but were read with a dictionary whose class version was 17.  Although an I/O rule was written, it appears to not have been applied, possibly because version 13 was not specified in selection XML file.  Philippe would know the exact reason.

Significant memory

[2021-01-11 16:19] rdschaffer commented on #6948
Well looking at the debug logs, all failed jobs die after "kXR_protocol" and before " and before "Sending out kXR_login request". I haven't been able to download logs from too many successful jobs. But I have three - two reading from RAL and one reading in LAPP. I give a link to the log files and the last DEBUG line of the failed jobs and the same line plus the next for the successful jobs. So per

[2021-01-11 16:40] rodwalker commented on #6948
Hi,
I see these messages in the xrootd code
https://github.com/xrootd/xrootd
but it is beyond me to find the problem. Maybe it is time to include Andy
etc.

Cheers,
Rod.

On Mon, 11 Jan 2021 at 17:19, rdschaffer <notifications@github.com> wrote:

--
Tel. +49 89 289 14152

[2021-01-11 16:52] rdschaffer commented on #6948
@Axel-Naumann - how do we include Andy Hanushevsky? I don't see him in the list... (Been a while since I have interacted with Andy!)

[2021-01-11 18:14] andriish commented on #6985
Hi @rlalik ,

If I'm not mistaken, the reason could be that the graphic format is not supported with the build you have. I also think this is an  issue of confusing message and is fixed in the master.

Best regards,

Andrii

[2021-01-11 20:31] simonmichal commented on #6948
Well, I can shed some light on how the Xrootd client works (as I'm taking care of that part of xrootd):

- `succesful parsing of kXR_protol` comes from https://github.com/xrootd/xrootd/blob/stable-4.12.x/src/XrdCl/XrdClXRootDTransport.cc#L1546-L1552, it means we successfully parsed the server response to `kXR_protocol` and this is the end of `ProcessProtocolResp` routine
- the next step is to gene

[2021-01-11 20:58] pcanal commented on #7016
Indeed, not listing class version 13 in the rule means it would not be applied.

[2021-01-11 21:09] pcanal commented on #7016
The leak is related to the handling of conversion from unversioned class from MathCore (namely from ```ROOT::Math::Cartesian3D<double>``` to ```ROOT::Math::Cartesian3D<Double32_t>``` and ```"ROOT::Math::DisplacementVector3D<ROOT::Math::Cartesian3D<double>,ROOT::Math::GlobalCoordinateSystemTag>"```` to ```"ROOT::Math::DisplacementVector3D<ROOT::Math::Cartesian3D<Double32_t>,ROOT::Math::GlobalCoordi

[2021-01-11 22:31] knoepfel commented on #7016
At the very least, it sounds like the LArSoft dictionary should be fixed to enable the I/O rule to be applied.

[2021-01-11 22:39] pcanal commented on #7016
Indeed.  Given the current understanding, fixing the rule (even-though it is necessary for LArSoft to read the data properly) should not prevent the memory leak.

[2021-01-12 08:16] simonmichal commented on #6948
@rdschaffer : does this problem apply only to this analysis job, or also it happens with other jobs? (I'm asking because the `GenerateLogIn` is called for every xroot connection that is being established)

It is another desperate one, but have you guys tried to run your analysis job under `valgrind`?

[2021-01-12 08:31] rodwalker commented on #6948
Hi,
And 2 other things to try, that may or may not add info:-
1. Submit to ANALY_BNL_VP <https://bigpanda.cern.ch/site/ANALY_BNL_VP/> -
could use remote storage via xCache. Will at least mix things up a bit.
2. I can make a BNL PQ run native centos7, i.e. no container. I worry about
getuid/user/home issues.

I am not sure I am trainable, but maybe with cut/paste instructions I could
submit jobs my

[2021-01-12 09:04] rdschaffer commented on #6948
Hi @simonmichal,

  This is happening to a colleague's job, different 'client' code, but does the same thing - TFile::Open. Just to note that we have been running these two sets of code on the grid for all of Run2. And it seems only in October, was it?, that we started having problems. We normally just submit on the ATLAS panda grid without any special request about the access to the files. I have

[2021-01-12 09:08] Axel-Naumann commented on #6903
@petricm can we discuss that at https://root-forum.cern.ch? That's not something we see on our Intel macs with Big Sur, so there must be something special here.

[2021-01-12 09:30] simonmichal commented on #6948
@rdschaffer : my understanding is it is 'reliably' failing at the same sites, right? I can get access to CERN batch node, maybe we could then try together to run the job manually on the node and see if we can reproduce it?

[2021-01-12 09:42] simonmichal commented on #6948
P. S.

From what I see your job is using xrootd4, and in there the `GenerateLogIn` didn't change for years:
https://github.com/xrootd/xrootd/blame/stable-4.12.x/src/XrdCl/XrdClXRootDTransport.cc#L1609-L1721

this is all annoyingly puzzling ;-)

[2021-01-12 09:58] Axel-Naumann opened #7021 "cling depends on exact macOS SDK headers"
### Describe the bug

See e.g. https://root-forum.cern.ch/t/homebrew-and-latest-macos-sdk/43049:

[code]
despite 11.1 being there

### Expected behavior
Picks up 11.1 SDK.

Possibly use generic MacOSX.sdk directory instead.

### To Reproduce
Download binaries built with 11.0 SDK while you have a newer Xcode / cmd line tools.

[2021-01-12 11:14] krasznaa commented on #6948
Hi @rdschaffer,

Would you know if it may have been tied to your analysis going to a different analysis release?

Analysis release 21.2.139 uses XRootD 4.10.0. (As it happens we switched to XRootD 4.12.2 just with AnalysisBase-21.2.140.) We've used XRootD 4.10.0 (in sync with external versions from [LCG_96b](http://lcginfo.cern.ch/release/96b/)) from 21.2.115 before that.

Could you check which ve

[2021-01-12 12:16] rodwalker commented on #6948
Hi,
It is interesting that this job fails with the same segfault, although it
does not use directio for the inputs
https://bigpanda.cern.ch/job?pandaid=4946328705

It has some hardwired TFile open from RD

[2021-01-12 06:55:54.209757 -0500][Debug  ][PostMaster        ]
Creating new channel to: this-will-totally-fail:1094 1 stream(s)
[2021-01-12 06:55:54.209835 -0500][Debug  ][PostMaster        ]
[

[2021-01-12 12:55] simonmichal commented on #6948
@rodwalker : is there a back-trace?

[2021-01-12 13:13] rodwalker commented on #6948
no but the is(was) a core
-rw------- 1 usatlas3 usatlas 549974016 Jan 12 06:55 core.118284

It is not stored though.

Maybe a segfault is inevitable when TFile fails and there is nothing
to catch it?

I could help you run it by hand, but I think it will lead to the
disappointment that it works fine.

Cheers,

Rod.

On Tue, 12 Jan 2021 at 13:55, simonmichal <notifications@github.com> wrote:

--
Tel

[2021-01-12 13:21] rdschaffer commented on #6948
Before 139, we were using 91 for a long time and had no problems. I *believe* that I tested again 'after October' 91, and it was still ok. And I tested 150 which I think I still had problems. But I would have to test it again to be 100% certain. I can easily rerun these tests just at BNL where we see the problem...

[2021-01-12 13:48] krasznaa commented on #6948
In AnalysisBase-21.2.91 we used XRootD 4.8.4.

And @#$% me... How did I not remember this earlier?!? Is this not all about

https://its.cern.ch/jira/browse/ATLASG-1546

![Screenshot from 2021-01-12 14-46-12](https://user-images.githubusercontent.com/30694331/104322255-0438b000-54e5-11eb-897e-8d1ae2a125d4.png)

? I.e. it may not be the XRootD version after all, but the version of ROOT... However, i

[2021-01-12 14:56] alexander-held opened #7029 "Minor refactoring of TH1::SmoothArray"
### Explain what you would like to see improved
Looking through `TH1::SmoothArray`, I noticed a few minor things. I am happy to submit a PR with the following changes if desired.

1) The `hh` array
https://github.com/root-project/root/blob/ac22e5a2952150f59c502c7c09692d261bcf31d9/hist/hist/src/TH1.cxx#L6733
is used to store various intermediate values for the running median calculation and the qua

[2021-01-12 17:24] knoepfel commented on #7016
@pcanal, it appears my understanding of the file was incorrect.  The on-disk version of the class in the file was 15, which is specified in the XML file.  However, the XML file looks like:

[code]
Am I correct that because no version older than 14 is specified in the version list, the IO rule can be changed to:

[code]

[2021-01-12 19:06] rodwalker commented on #6948
Hi,
I can run with valgrind now. https://bigpanda.cern.ch/job?pandaid=4946556588
ends with
==2505==    by 0x3FD274BC:
XrdCl::File::Open(std::__cxx11::basic_string<char,
std::char_traits<char>, std::allocator<char> > const&,
XrdCl::OpenFlags::Flags, XrdCl::Access::Mode, unsigned short) (in
/cvmfs/atlas.cern.ch/repo/sw/software/21.2/AnalysisBaseExternals/21.2.139/InstallArea/x86_64-centos7-gcc8-opt/

[2021-01-12 23:14] rlalik commented on #6985
Which parameter/feature of root rules that?

[code]
If this is libafterimage, then it is compiled to support gif:
[code]

[2021-01-13 07:58] rdschaffer commented on #6948
Hi @krasznaa,
  I had tested with 21.2.150 a few weeks ago and saw the same problem. And now I redid the test with 21.2.154 running just at the problematic ANALY_BNL_INTEL site and I get the same problem. So it doesn't seem to be the ROOT version.

Rod has a stack trace which maybe he can share.

[2021-01-13 08:00] rodwalker commented on #6948
Hi,
RD thinks this is the relevant part ....

==2505==    at 0x4C2D257: __strncmp_sse42 (vg_replace_strmem.c:649)
==2505==    by 0x4E36472: connect (in
/srv/workDir/e8d1c011-6cad-4b4c-b0ad-5b9f65b33eb0/lib64/wrapper.so)
==2505==    by 0x3F7B62B8: XrdNetConnect::Connect(int, sockaddr const*,
int, int) (in /cvmfs/
atlas.cern.ch/repo/sw/software/21.2/AnalysisBaseExternals/21.2.139/InstallArea/x86_64-

[2021-01-13 09:03] bellenot commented on #7012
Are you talking about JSROOT or ROOT itself? And if it is ROOT, would that be really simpler than a single self-extracting executable?

[2021-01-13 10:23] bellenot commented on #6985
This might be due to the local (external) libAfterImage... Maybe @couet already saw this or has an idea. Or you could try to build from source with built-in libAfterImage?

[2021-01-13 10:40] hageboeck opened #7032 "[RF] Runtime optimisations in RooFit"
### Explain what you would like to see improved
List of things that can be vectorised / speeded up in RooFit.

- [x] Vectorise https://github.com/root-project/root/blob/bd6bb9f6f62f08eba591edfc7e25b8f45857a562/roofit/roofitcore/src/RooAbsPdf.cxx#L373-L378
- [x] Same for computing logarithms in same class (getLogProbabilities())
- [x] RooNLLVar::computeBatched()
- [x] Investigate if norm and logs c

[2021-01-13 14:05] rdschaffer commented on #6948
@simonmichal ,

  When I google __strncmp_sse42, it looks like it could be a character string which is not zero-terminated. Any ideas?

          see you, RD

[2021-01-13 15:14] simonmichal commented on #6948
@rdschaffer : this is the full error reported:

[code]

right?

If I read this correctly the uninitialised value was not created by the client:
[code]

the `wrapper.so` probably holds the preloads for the posix calls.

[2021-01-13 15:29] rdschaffer commented on #6948
So you mean that 'somehow' wrapper.so is fabricating this incorrect string, or it might be coming in from XrdNetConnect::Connect?

[2021-01-13 15:49] rodwalker commented on #6948
Hi,
I thought the wrapper would be under suspicion at some stage, so disabled
it in
https://bigpanda.cern.ch/job?pandaid=4946999888

== Conditional jump or move depends on uninitialised value(s)
==2512==    at 0x4F01099: TStorage::UpdateIsOnHeap(unsigned int const
volatile&, unsigned int volatile&) (in
/srv/workDir/usr/HZZAnalRun2Code/1.0.0/InstallArea/x86_64-centos7-gcc8-opt/lib/libH4lAnalysisRun

[2021-01-13 16:59] #6903 closed

[2021-01-13 17:47] Axel-Naumann commented on #6948
Can you share the while valgrind report without wrapper? The error you quote is intentional (and part of the ROOT suppression file).

[2021-01-13 17:53] rodwalker commented on #6948
Hi,
Sure
/afs/cern.ch/user/w/walkerr/public/valg.log_nowrapper
I have no idea what the binary junk is in there. I run it like this

valgrind --log-file=../valg.log --leak-check=full --trace-children=yes
--track-origins=yes --error-limit=no
usr/HZZAnalRun2Code/1.0.0/InstallArea/x86_64-centos7-gcc8-opt/bin/runH4lAnalRun2
$@

but have no experience of valgrind so open to corrections.

Cheers,
Rod.

O

[2021-01-14 07:33] rodwalker commented on #6948
Hi,
Letting the valgrind output go to stdout, it looks completely different
/afs/cern.ch/user/w/walkerr/public/RD_valgrid_stdout.log

I`ll try with this
--suppressions=valgrind-root.supp
to see if it reduces it.

Cheers,
Rod.

On Wed, 13 Jan 2021 at 18:53, Rodney Walker <
rodney.walker@physik.uni-muenchen.de> wrote:

--
Tel. +49 89 289 14152

[2021-01-14 08:14] rdschaffer commented on #6948
Hi Rod,

I suppose you have found a file for valgrind-root.supp, but in case you have not found one, Attila pointed to me one that is in:

/afs/cern.ch/work/s/schaffer/public/work-21.xAOD.RD_devRel21_prod19_5/run

[2021-01-14 08:19] rdschaffer commented on #6948
For the output above, it looks like your input list of files is: input.txt and not an explicit list of files. I think you need to give the comma separated list for root://... files?  This job is just failing 'normally' because the file list is not correct, and is exiting with error.

H4lAnalRun2              INFO    processEvents: input files to process:
H4lAnalRun2              INFO

[2021-01-14 08:22] rdschaffer commented on #6948
The output from the job should have just BEFORE the section:

=== stderr ===

H4lAnalRun2              INFO    processEvents: file to process:
H4lAnalRun2              INFO                  0 root://dcgftp.usatlas.bnl.gov:1096//pnfs/usatlas.bnl.gov/BNLT0D1/rucio/mc16_13TeV/90/56/DAOD_HIGG2D1.23315538._000001.pool.root.1
...
H4lAnalRun2              INFO    processEvents: try to open file: root://d

[2021-01-14 09:30] rodwalker commented on #6948
Hi,
Right, I had a typo.
/afs/cern.ch/user/w/walkerr/public/RD_valgrid_stdout.log
/afs/cern.ch/user/w/walkerr/public/RD_valgrid_stdout_supp.log

The latter has an attempt to suppress the root known messages, and has
the slightly promising

[2021-01-14 04:10:07.044153 -0500][Debug  ][XRootDTransport   ]
[dcgftp.usatlas.bnl.gov:1096 #0.0] Sending out kXR_login request,
username: usatlas3, cgi:
?xrd.

[2021-01-14 09:34] #7012 closed

[2021-01-14 10:06] Axel-Naumann commented on #6948
Looking at the log files I see no relevant valgrind reports but SEGVs for every run. Is this expected? Can you run this successfully outside valgrind? Is this setup known to cooperate with valgrind?

[2021-01-14 10:29] Axel-Naumann opened #7039 "TExecutor: handling of non-IMT/... case"
### Explain what you would like to see improved
TExecutor.h currently contains:
https://github.com/root-project/root/blob/ace7d797ecb3df6916f7a328ca01f488755b7914/core/imt/inc/ROOT/TExecutor.hxx#L191:L200
[code]
This should be improved to not rely on CPP macros rewriting code, i.e. the `#define fThreadExecutor` / `#define fProcessExecutor` are problematic.

### Optional: share how it could be impr

[2021-01-14 10:35] hahnjo commented on #7039
[code]
Hm, but you cannot have multiple `std::unique_ptr` reference the same object on the heap, which is what the current `define`s do. Maybe that's fine though, I didn't look into the code...

[2021-01-14 10:46] xvallspl commented on #7039
In this solution we would only have a single `std::unique_ptr` reference. The ifdef conditions are on definitions that depend on the configuration of the root build

[2021-01-14 10:50] Axel-Naumann commented on #7039
@hahnjo

I don't see that being the case, neither for master nor for my proposed change. What am I overlooking?

@xvallspl

I don't know what you mean by "reference", I don't have lvalue references anywhere here. With my proposal, for all ROOT configuration cases we'd have a definition of three members, `fSequentialExecutor`, `fThreadExecutor`, `fProcessExecutor`. Their types differ depending on R

[2021-01-14 10:54] hahnjo commented on #7039
@Axel-Naumann

The current `define`s make `fThreadExecutor` and `fProcessExecutor` aliases of `fSequentialExecutor`, ie they access the very same (sequential) executor. You cannot do this with three `std::unique_ptr`s, but maybe that's not needed?

[2021-01-14 11:11] xvallspl commented on #7039
Shouldn't make any difference. These ifdefs are for compilation purposes. The execution policies available in these specific cases will ensure we never call a method from the fallbacks to TSequentialExecutor.

[2021-01-14 11:13] Axel-Naumann commented on #7039
@hahnjo the master's `define`s (for non-IMT or Windows) do not declare one of the `unique_ptr`s. Instead, all usages of the now undeclared member get rewritten to usages of the `fSequentialExecutor` member. Agreed? :-) So while not beautiful, the current `#define` setup should work (modulo modules, which dislike leaks of CPP defines our of modules).

OK and anyway, there seems to be no counter-arg

[2021-01-14 11:51] mrodozov commented on #6933
@amadio @oshadura could we expect 6-22 and master to be updated for integrating with 2021.1.1 tbb ?

[2021-01-14 12:25] rodwalker commented on #6948
Hi,
There is always a segfault when running at this site, and several other
sites. I cannot reproduce it interactively, and at some grid sites there is
no segfault. What we need is a stack trace to give some clue as to where
the problem is. I understood valgrind would give that, but apparently
nothing useful.
The whole thing is running under python, using exec, so maybe this throws
valgrind. For e

[2021-01-14 13:20] Axel-Naumann commented on #6948
Can you submit the job with `gdb -ex r -ex "thread apply all bt" --args python...` instead of valgrind? That should give us a backtrace at the point of the crash.

[2021-01-14 13:34] rodwalker commented on #6948
Hi,
I had just switched to gdb. Just submitted a test with your -ex too. Will
send the outputs.

I also got the core file - can you do anything with that. I see

(gdb) backtrace
#0  0x00002ac87cbfee5d in __res_context_search () from /lib64/libresolv.so.2
#1  0x00002ac889833f09 in _nss_dns_gethostbyname4_r () from
/lib64/libnss_dns.so.2
#2  0x00002ac8530161c4 in gaih_inet.constprop.8 () from /lib64

[2021-01-14 14:08] rodwalker commented on #6948
The gdb output with your -ex ....

H4lAnalRun2              INFO    processEvents: try to open file:
root://dcgftp.usatlas.bnl.gov:1096//pnfs/usatlas.bnl.gov/BNLT0D1/rucio/mc16_13TeV/90/56/DAOD_HIGG2D1.23315538._000001.pool.root.1
[New Thread 0x2aaae4902700 (LWP 2522)]
[New Thread 0x2aaae50e7700 (LWP 2523)]
[New Thread 0x2aaae58cc700 (LWP 2524)]
[New Thread 0x2aaae60b1700 (LWP 2525)]
[New Thread 0

[2021-01-14 14:28] simonmichal commented on #6948
@rodwalker : before examining the backtrace could you install `xxrootd-debuginfo` and then when in `gdb` could you go to frame 4 (type: `f 4`), you should be then in this source file:

https://github.com/xrootd/xrootd/blob/93871f8241e478a308c8e722fd99aeaa08ff6459/src/XrdNet/XrdNetAddr.cc#L268

could you then print the value of `iP` variable?

[2021-01-14 14:35] Axel-Naumann commented on #6948
@simonmichal `XrdNetUtils::MyHostName()` does `getaddrinfo()` for the local iface? Looks like that fails here? Okay stepping back to the sideline to watch ;-)

[2021-01-14 14:45] rodwalker commented on #6948
Hi,
I can`t install things on lxplus. Is it enough for you to have the core and
exe?
/afs/cern.ch/user/w/walkerr/public/RD.core
/afs/cern.ch/user/w/walkerr/public/runH4lAnalRun2
?

Cheers,
Rod.

On Thu, 14 Jan 2021 at 15:36, Axel Naumann <notifications@github.com> wrote:

--
Tel. +49 89 289 14152

[2021-01-14 14:50] simonmichal commented on #6948
@rodwalker : yes, it should be enough, thanks a lot

[2021-01-14 15:03] simonmichal commented on #6948
@rodwalker : against which version of xrootd was the executable built? the one on lxplus or some version from cvmfs?

[2021-01-14 15:08] rdschaffer commented on #6948
Hi @simonmichal,

  We build against cvmfs. Attila gave the versions above, use XRootD 4.10.0, in his Dec 14th entry.

[2021-01-14 15:11] rdschaffer commented on #6948
-rwxr-xr-x 1 cvmfs cvmfs   13104 Sep 10 03:21 /cvmfs/atlas.cern.ch/repo/sw/software/21.2/AnalysisBaseExternals/21.2.139/InstallArea/x86_64-centos7-gcc8-opt/lib/libXrdXrootd-4.so

(from above)

[2021-01-14 15:15] rdschaffer commented on #6948
Could it be that the iP obtained from the 'host name' which in the log seems to be:

Attempting connection to [::ffff:10.42.38.55]:1096

will have iP == '[' ??  Looks like the name before the first ':' is iP, if I am not mistaken...

[2021-01-14 15:29] simonmichal commented on #6948
it could be also the the call to `gethostname` failed and there's simply garbage:
https://github.com/xrootd/xrootd/blob/master/src/XrdNet/XrdNetUtils.cc#L622

@Axel-Naumann : are there debug symbols on cvmfs? were the libs rebuild or installed from EPEL?

[2021-01-14 15:37] rdschaffer commented on #6948
Right. It is trying to get the local host name, not for the file...

[2021-01-14 16:52] rdschaffer commented on #6948
Rob found: acas1035.usatlas.bnl.gov  for gethostname in some c-code... Should he also try to call getaddrinfo? Not sure is hostHints is default or not.

[2021-01-14 18:06] simonmichal commented on #6948
Well, it segvs in here: https://github.com/xrootd/xrootd/blob/stable-4.12.x/src/XrdNet/XrdNetAddr.cc#L268, right?
`iP` is either a `hSpec` or a substring of `hSpec`, which is the buffer filled in by `gethostname` in here: https://github.com/xrootd/xrootd/blob/master/src/XrdNet/XrdNetUtils.cc#L622
`hostHints` is a global static defined here: https://github.com/xrootd/xrootd/blob/stable-4.12.x/src/X

[2021-01-14 18:22] rdschaffer commented on #6948
Is there a way to see the variable values in the core with gdb? I don't think that we can understand this without seeing them. A simple gethostname works properly, as expected.

[2021-01-14 19:06] rodwalker commented on #6948
Hi,
I would have thought the relevant hostname is that of the xroot door,
rather than the WN hostname. This one has a port and maybe the weird IPv6
form.
// Convert the address as appropriate. Note that we do accept RFC5156
deprecated
// IPV4 mapped IPV6 addresses(i.e. [::a.b.c.d]. This is historical.

but the BNL ones look like [ffff:a.b.c.d]. That ok too?

Cheers,
Rod.

On Thu, 14 Jan 2021 at 19

[2021-01-14 20:13] simonmichal commented on #6948
To inspect the variables we need debug symbols, they need to come from the same build because gdb is validating the crc.

[2021-01-14 20:47] rdschaffer commented on #6948
@krasznaa, is it possible to make a dbg build for xrootd that would be available on cvmfs? Not sure if this is easy.

[2021-01-14 21:15] simonmichal commented on #6948
Normally the release build is stripped from debug symbols and they are installed in a separate location (e.g. /usr/lib/debug), you guys don't do this for cvmfs builds?

[2021-01-14 23:07] #7016 closed

[2021-01-15 00:42] pcanal commented on #7016
I will need to investigate further why the rule was (apparently) not run in the example we had since it is unrelated to the memory growth I discovered.

[2021-01-15 05:55] Axel-Naumann commented on #6948
@gganis @peremato would you know whether the xrootd libraries have their symbols stripped, or who might know?

[2021-01-15 07:56] rodwalker commented on #6948
Hi,

1) Jobs at BNL fail regardless of the source file.
Backs up the gethostname theory.

2) I cannot reproduce with a simple C program containing a TFile::Open,
built after setting up the same release
g++ $(root-config --cflags --libs) -o main main.C
and running after the same setup.
Contradicts (1)

I have not tried to build the binary that fails, so cannot really say my
small C program is built

[2021-01-15 08:10] #6993 closed

[2021-01-15 08:10] xvallspl commented on #6472
This was solved in https://github.com/root-project/root/pull/6327

[2021-01-15 08:10] #6472 closed

[2021-01-15 08:27] rdschaffer commented on #6948
Hi there,

  OK, I think that I have found the culprit, but I don't understand the reasons. The main difference of our current 'minitree production' jobs this round is that we included a build of the MCFM physics generator with the build of our analysis code and we use it while running to calculate physics matrix elements for each event.

So to test this, I rebuilt our analysis code without buildi

[2021-01-15 08:50] eguiraud opened #7047 "[DF] RResultPtr::Release"
### Explain what you would like to see improved

It would be nice if RDataFrame's `RResultPtr` type offered the option to return the result while releasing its ownership. This is useful e.g. to transfer ownership of that result to ROOT7 graphics interfaces. E.g. `RResultPtr<T>::Release() -> unique_ptr<T>`.

[2021-01-15 08:53] eguiraud commented on #6741
The fix is in master.

[2021-01-15 08:53] #6741 closed

[2021-01-15 09:20] Axel-Naumann commented on #6948
@simonmichal just FYI - it's not that `_nss_dns_gethostbyname4_r` (`gethostbyname`) fails - it *crashes*!

@rdschaffer my first guess would be a stack exhaustion. You can check with changing the `gdb -ex` invocation from `thread apply all bt` to `print (char *)_environ - (char *)$sp`; or experimentally by setting the thread stack size to something very high, `ulimit -s  67108864`. Another cause mi

[2021-01-15 09:20] #6948 closed

[2021-01-15 10:06] simonmichal commented on #6948
@Axel-Naumann : correct, just to clarify my theory, `_nss_dns_gethostbyname4_r` is called internally by `getaddrinfo` and the buffer handed over to `getaddrinfo` is initialised by `gethostname`. I was suspecting that the later might have failed and as a result a buffer full of junk has been passed to `getaddrinfo` causing a segv (though, I realise the theory was rather vague ;-).

Anyway, I'm glad

[2021-01-15 11:31] krasznaa commented on #6948
Re-joining the discussion a bit late...

Installing debug symbols for our analysis releases on CVMFS would be pretty difficult. Our builds do produce a separate RPM for the debug symbols of our own code. (Though we didn't even use that machinery for the analysis releases yet.) But when we build XRootD for our standalone analysis release, we don't bother with the "RelWithDebInfo" CMake build mode.

[2021-01-15 11:47] simonmichal commented on #6948
@krasznaa : no, we don't use OpenMP in xrootd.

[2021-01-15 12:11] krasznaa commented on #6948
@rdschaffer, it could be interesting to try running your job at BNL with:
  - Removing the setting of `OMP_STACKSIZE` all together;
  - Setting it to a different / larger value.

For both of these of course you need to edit

https://gitlab.cern.ch/HZZ/HZZSoftware/HZZTools/-/blob/master/MCFM_MatrixElement/MCFMEnvironmentConfig.cmake#L11

in your submission directory.

It's likely that OpenMP is jus

[2021-01-15 16:12] xvallspl commented on #6363
Solved in https://github.com/root-project/root/pull/6814

[2021-01-15 16:12] #6363 closed

[2021-01-15 17:25] rdschaffer commented on #6948
@krasznaa neither removing `OMP_STACKSIZE`, nor setting to 32000 has any effect. So we can rule out this one.

[2021-01-15 17:33] pcanal commented on #7016
yes, but it also should have no practical effect :)

Indeed, that is what I see also.  So it is the expected/intended behavior that the rule is not called :)

[2021-01-15 17:37] knoepfel commented on #7016
Yes.  Thanks Philippe, and sorry for steering you in the wrong direction with the dictionary issue.

[2021-01-15 22:14] pcanal opened #7051 "rootcp odd behavior"
[code]
seems like it would lead to an empty humm.root

However:
[code]

So either the warning's wording need to be improved (is it meant to be akin to 'adding -r for you since it looks like your forgot it or maybe something else) or the behavior of `rootcp` needs to be modified to match the warning.

[2021-01-15 22:30] pcanal opened #7052 "rootcp --replace option ineffective"
rootcp helps says:
[code]
but:
[code]
leads to:
[code]

seemingly addition rather than replacement.

[2021-01-15 22:32] pcanal opened #7053 "rootls does not seem to print the cycle number information"
On a `hsimple.root` with 2 cycles per element we get:
[code]
but we get the confusing:
[code]

It should at least distinguish the `[current cycle]` vs `[backup cycle]`

[2021-01-15 22:53] pcanal opened #7054 "sporadic roottest-python-cmdLineUtils failures"
The roottest-python-cmdLineUtils test sometimes fails with error along the line of:
[code]

[2021-01-15 22:54] pcanal commented on #7054
This is due to the way the "input" file is prepared (see roottest PR).

[2021-01-17 10:28] chrisburr opened #7055 "Fatal error after running "make install" when built against LLVM 9"
Moved from https://github.com/root-project/root/pull/6385 as there are too many bot comments in that PR. cc @vgvassilev

When testing the LLVM 9 PR for conda-forge and had a few issues with external LLVM/Clang/Cling so I temporarily switched to the builtins. This works from the build directory but it then has issues once `make install` is ran. More details are in the comment copied at the end of t

[2021-01-18 09:30] oshadura commented on #6933
@mrodozov does ROOT master works for you with 2021.1.1? (cc: @xvallspl )

[2021-01-18 09:39] xvallspl commented on #6933
@mrodozov The deprecated functionality was removed a while ago and the fix will be included in the next release.

[2021-01-18 09:45] mrodozov commented on #6933
I started testing it for master just now. I didn't check before asking :D that's because 6.22 is of greater importance

great, we use 6.22 for our main releases

[2021-01-18 10:31] Axel-Naumann commented on #6933
@mrodozov is this an official CMS request or "just" an issue you discovered personally? (Trying to sort out priorities here...)

[2021-01-18 10:44] mrodozov commented on #6933
it's official request, we want to integrate TBB 2021.1.1 and the ROOT tag for cmssw master is 6.22.06

[2021-01-18 11:14] #6470 closed

[2021-01-18 13:32] mrodozov commented on #6933
the integration attempt (to build master) failed with

[code]

maybe I have to add something to our cmake config ?

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-623c54/12317/lcg/root/6.23.01-725b5e05650d8bf8cd995e6f1f38ca75/log

[2021-01-18 13:36] xvallspl commented on #6933
that is something I haven't seen yet. I'll take a look :)

[2021-01-18 14:08] xvallspl commented on #6933
Reading the log, it seems like the moment we feared arrived and tbb::task_arena is not an alias of `tbb::interface7::task_arena` but of `tbb::detail::d1::task_arena`

[2021-01-18 17:19] emanca opened #7058 "[DF] crash when asking for type of aliased columns"
RDF is crashing when asking for type of aliased columns.
Here is a small reproducer:
[code]

[2021-01-19 12:16] xvallspl commented on #6933
@mrodozov I just merged PR https://github.com/root-project/root/pull/7062. Can you build against master again?

[2021-01-19 12:20] mrodozov commented on #6933
I already did, it is building.

[2021-01-19 14:33] mrodozov commented on #6933
@xvallspl can we have the TBB 2021 interface backported to 6.22 ?

[2021-01-19 14:36] xvallspl commented on #6933
Yes, I'll work on it next. I assume then it worked also on your side?

[2021-01-19 14:40] mrodozov commented on #6933
I didn't tried backporting only the 7062 commit to our 6.22 because I assumed the cmake etc for tbb 2021 is not backported yet from master. I can try if only 7062 is what's needed

[2021-01-19 14:47] xvallspl opened #7063 "TBB moved to CMake-only in version 2021 and builtin TBB needs to be adapted for the future"
### Explain what you would like to see improved and what isn't as good as it could be and why

By @amadio's words in https://mattermost.web.cern.ch/root/pl/xu1a5816u3rizqe68hi3n6nn1o:

"This new version of TBB only uses CMake as build system, so the builtin TBB logic will also need to be updated, as that relies on the Makefile-based build system up to now."

[2021-01-19 17:15] #7054 closed

[2021-01-20 12:30] richard-lane opened #7067 "RooFit RooAbsArg::graphVizTree produces invalid dot files for graph titles including spaces"
- [x] Checked for duplicates

### Describe the bug

.dot file generated with RooAbsArg::graphVizTree produces an invalid .dot file if the graph title contains spaces.

### Expected behavior

RooAbsArg::graphVizTree should produce a valid .dot file even when the names of the elements contain spaces.

### To Reproduce

ROOT macro, save to graphvizMWE.C and run with `root graphvizMWE.C`:
[code]
Then

[2021-01-20 16:09] hahnjo commented on #7039
@xvallspl shall we close this?

[2021-01-20 16:22] xvallspl commented on #7039
Yes, I merged Axel's proposal today

[2021-01-20 16:22] #7039 closed

[2021-01-21 11:02] #7058 closed

[2021-01-21 11:03] eguiraud commented on #7058
A fix was just merged in master.

[2021-01-21 13:09] xvallspl commented on #6933
Dealt with in https://github.com/root-project/root/pull/7065

[2021-01-21 13:09] #6933 closed

[2021-01-21 19:57] pcanal opened #7076 "RNTuple, parallel unzip tear down race condition"
Running tree/ntuple/v7/test/ntuple_extended sometimes fails (at least on MacOS 11) at tear down.

The crash happens at:

[code]
specifically at:
[code]
and indeed:
[code]

All other threads are idle either with (for most of them):
[code]
or (thread 1):
[code]

[2021-01-21 19:58] pcanal commented on #7076
It seems that `fTaskScheduler` is set to nullptr only at:
[code]
and thus it seems that the solution is either
* Wait for the unzip thread to finish before setting the pointer to `nullptr`.
or
* Check for `nullptr` at `RPageStorageFile.cxx:652:`

[2021-01-21 23:27] pcanal opened #7077 "PyROOT incorrect/unstable overload resolution with enum class."
With master (commit 7f3f3428e4d20) (but has been present for a long time), PyROOT overload resolution of function that takes an enum class is unstable (it appears to depend on the value rather than the type).

With the test file below compiled by ACLiC (for example) running the script:
[code]
gives
[code]

I.e. even-though the argument is an 'enum ETwo', the overload take an `enum EOne` actually c

[2021-01-22 10:15] Axel-Naumann opened #7081 "`cmake -Droottest=On` tests wrong ROOT build!"
### Describe the bug
Configuring a build with a different ROOT build already in the environment causes CTest to test the wrong build. I wonder how many devs are not testing their changes but that of some completely unrelated build :-(

### Expected behavior
`cmake -Droottest=On` should have `ctest` test *that* build.

### To Reproduce
[code]

### Setup
1. ROOT version: master
2. Operating system:

[2021-01-22 10:24] oshadura commented on #7081
@Axel-Naumann you source `. /home/axel/build/root/master/deb/bin/thisroot.sh` and `ROOTSYS:INTERNAL=/home/axel/build/root/master/deb` in roottest is as expected. Am I missing something?

[2021-01-22 15:06] Axel-Naumann commented on #7081
Well yes - if I build `1/` and enable roottest for that build I'd expect that roottest would test that build, no? I think that's a fairly common thing to "have a build of X with tests enabled" - and if I do that I don't expect that to test something else than the build for which I'm enabling the tests?

[2021-01-23 00:08] pcanal commented on #6412
Indeed, it is currently stored the same way as the other collection of bool ... using one 'char' per bool :(.

You may have missed the fact that the std::bitset constructor from a string is in "reverse":
[code]

Cheers,
Philippe.

[2021-01-23 17:33] vgvassilev commented on #7055
Thanks for the report. Should be fixed in the new version of the #6385

[2021-01-23 17:33] #7055 closed

[2021-01-23 18:09] andrzejnovak opened #7084 "rdf TChain and branches interaction"
I was trying to make  a skim from multiple files in the following way
[code]

Unfortunately, I've found that in a limited number of cases I had files that did not have all the required branches. Which threw the following error
[code]

Is there a way around this? Curiously I've also accidentally tried it in an older env with `6.18`  which displayed an error, but created the output file anyway.  `Er

[2021-01-25 09:27] eguiraud commented on #7084
Hi Andrzej,
I think throwing an error is ok, we don't want to create an output where some branches have less entries than others or something like that.

In the future we would like to introduce the possibility to specify something like "if this branch is not there, use this default value instead" but it's a bit tricky, `TChain` and `TTreeReader` (which RDF uses under the hood) are not really buil

[2021-01-25 09:53] andrzejnovak commented on #7084
Thanks for the explanation @eguiraud! Indeed it would be convenient to have to option to fill a default if missing, but indeed I would be better if this didn't come up in the first place

[2021-01-25 11:41] eguiraud opened #7086 "[DF] Section of RDF reference guide about RDF+RVec"
### Explain what you would like to see improved

Currently we have a small paragraph titled "Reading and manipulating collections", but given users' feedback, we can do better in advertising and explaining how to deal with collections in RDF.

### Optional: share how it could be improved

We should expand that paragraph and move it out of "More features" into its own section. Examples should show

[2021-01-25 14:29] Axel-Naumann commented on #7067
Thanks - PR welcome :-) Generally we recommend not to add spaces to names, neither for histograms etc.

[2021-01-25 14:52] eguiraud commented on #7084
Alright, so I'm closing this bug report as "not a bug", but feel free to open an "improvement" issue about the "fallback values for missing branches in TChain".

Cheers!
Enrico

[2021-01-25 14:52] #7084 closed

[2021-01-25 15:22] Axel-Naumann opened #7090 "Apple M1: bug in jitting argument of type short"
### Describe the bug
`new TPad("p","p",0.,0.,1.,1.)` on the prompt (or anything jitted by the interpreter) will pass 65535 for `color` even though the constructor is declared as `TPad (const char *name, const char *title, Double_t xlow, Double_t ylow,
Double_t xup, Double_t yup, Color_t color=-1, Short_t bordersize=-1,
Short_t bordermode=-2)` where `Color_t` is `short`.

Apparently, cling and the

[2021-01-25 15:25] couet opened #7091 "Extremal edges of histograms drawn incorrectly"
Some extra lines are drawn when histograms have negative content.
Take the file pull.root from https://root-forum.cern.ch/t/extremal-edges-of-histograms-drawn-incorrectly/43150

and do:

[code]

You get:

<img width="620" alt="Screenshot 2021-01-25 at 16 23 21" src="https://user-images.githubusercontent.com/4697738/105725837-b0d55180-5f29-11eb-9c4a-c8d85c2c6090.png">

There is wrong lines at the e

[2021-01-25 15:28] arvindv92 opened #7092 "Print variable importances for each fold when using Cross Validation"
### Is your feature request related to a problem? Please describe.
When TMVA training is run with k-fold cross validation, the variable importances (both method unspecific and method specific) are not printed out by TMVA.

### Describe the solution you'd like
It would be nice if TMVA could print out the variable importances for each fold, as evaluated on the training set for that fold.

### Additi

[2021-01-25 19:37] pcanal opened #7093 "Race condition affecting (at least) TEnum::GetEnum"
In https://github.com/cms-sw/cmssw/issues/32734 report what looks like a race condition.
The crashing thread is at:
[code]

while another thread is at:
[code]

[2021-01-25 19:39] pcanal commented on #7093
The assert is in TCling::AutoLoad:
[code]

which does indicate that the state changed between the `if statement` and the `assert`

[2021-01-26 15:23] couet commented on #6997
Actually this behaviour is documented [here](https://root.cern/doc/master/classTHStack.html#a6294f58bebce2f1ce5d6dced8e22bc1e). One should use the option "noclear" . May be the painting option should be made more visible at the top of the THStack class. Just do:

[code]

[2021-01-27 08:52] #7091 closed

[2021-01-27 09:52] huebner-m opened #7103 "[RF] HistFactory::FlexibleInterpVar Interpolation code2 and code3 are the same"
- [x] Checked for duplicates

### Describe the bug

In the current master, the interpolation that is implemented for code2 and for code3 are exactly the same.

Code2: https://root.cern/doc/master/FlexibleInterpVar_8cxx_source.html#l00426
Code3: https://root.cern/doc/master/FlexibleInterpVar_8cxx_source.html#l00440

According to the comment for code3 this interpolation should implement "a parabolic

[2021-01-27 12:17] couet commented on #6997
THStack documentation has been clarified.

[2021-01-27 12:17] #6997 closed

[2021-01-27 12:24] couet commented on #7090
This bug makes stressGraphics fail on Apple M1 machines.

[2021-01-27 13:43] akira-okumura commented on #6997
Thank you Olivier. I did not expect that THStack had drawing options in addition to those for TH1.

I do not understand why the "noclear" option is needed.

Always enabling "noclear" will not change the behaviors of all use cases, I guess.

[2021-01-28 12:32] bellenot commented on #6985
@rlalik @couet ping

[2021-01-28 13:01] rlalik commented on #6985
So I can confirm, that on Ubuntu-20.04.1:
* with external afterimage - do not work
* with built-in afterimage - do works

I also checked that on Ubuntu libAfterImage does not link against libgif.
And on my Gentoo it does:
[code]

[2021-01-28 13:06] bellenot commented on #6985
So I'll let @couet take care of this issue...

[2021-01-28 13:11] couet commented on #6985
Yes you should use the built-in afterimage. This is well known.

[2021-01-28 18:52] eguiraud opened #7108 "Instantiating a ROOT.vector adds the build directory to cling's include paths"
- [X] Checked for duplicates

### Describe the bug

A reproducer:

[code]

prints

[code]

Note that the second line contains ` -I"/home/eguiraud/ROOT/build_dbg_includepaths/include"`, which wasn't there before a `ROOT.vector` was instantiated. That's problematic because the user might not have permissions to access the build directory (while it can access the install directory) leading to cling e

[2021-01-29 08:02] vepadulano commented on #7108
I can't reproduce on my laptop with the following 4 config:
* Python 2.7.18 , Python 3.8.7
* ROOT master@028fcca compiled with `cmake -GNinja -Ddev=ON -DCMAKE_BUILD_TYPE=Debug -Dtesting=ON -Droottest=ON -DCMAKE_INSTALL_PREFIX=$ROOT_INSTALL/${PWD##*/} $ROOT_HOME` or with `cmake -GNinja -Ddistcc=ON -Ddev=ON -Droot7=OFF -Droofit=OFF -Dtmva=OFF -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$ROOT_I

[2021-01-29 08:14] etejedor commented on #7108
I can reproduce with Enrico's reproducer, but not with:

[code]

So it could be related to the use of the TCling interfaces.

[2021-01-29 08:20] etejedor commented on #7108
Instantiating the template is enough to reproduce (no need to create the object):
[code]

[2021-01-29 08:41] etejedor commented on #7108
Using cppyy only has the extra path both before and after:
[code]

[2021-01-29 08:43] eguiraud commented on #7108
I guess that means that the path is added by `import cppyy`. Does `import ROOT` not imply `import cppyy`?

[2021-01-29 08:47] etejedor commented on #7108
Yes, `import ROOT` imports cppyy too, so I don't think it's the cppyy import. And if you add `import ROOT` at the beginning of my last reproducer the first time we get the include paths is correct.

[2021-01-29 08:56] eguiraud commented on #7108
@vepadulano can you try with makefiles instead of ninja? I don't see any other difference

[2021-01-29 09:00] etejedor commented on #7108
More info: it's not a vector thing, it also happens if you instantiate e.g. a map or list or deque.

[2021-01-29 09:11] etejedor commented on #7108
This line in `ROOT/__init__.py` prevents cppyy from adding the path from the beginning.
[code]
but still does not explain why/where the instantiation adds the path.

[2021-01-29 09:11] eguiraud commented on #7108
the wrong include path is added here:

[code]

[2021-01-29 09:16] eguiraud commented on #7108
cling-only repro (PyROOT is off the hook :) ):

[code]

[2021-01-29 09:39] eguiraud commented on #7108
Looks like it's a problem in the dictionary generation. The following snippet comes from `G__vectorDict.cxx`:

[code]

[2021-01-29 09:46] vepadulano commented on #7108
Just finished compiling with `cmake -GUnix\ Makefiles -Ddistcc=ON -Ddev=ON -DCMAKE_BUILD_TYPE=Debug -Dtesting=ON -Droottest=ON -DCMAKE_INSTALL_PREFIX=$ROOT_INSTALL/${PWD##*/} $ROOT_HOME` and still get the same result
[code]

[2021-01-29 09:49] vepadulano commented on #7108
As for the `includePaths` variable in `G__vectorDict.cxx` of the build dir, here is what I get with the three different builds I've used so far

In `rootbuild/debugmakefiles/core/clingutils/G__vectorDict.cxx`
[code]

In `rootbuild/devdebugtest/core/clingutils/G__vectorDict.cxx`
[code]
In `rootbuild/devrelease/core/clingutils/G__vectorDict.cxx`
[code]

[2021-01-29 11:06] eguiraud commented on #7108
As far as I can tell those includes end up in the dictionary because they are passed to `TModuleGenerator::ParseArgs` from `RootClingMain` at `rootcling_impl.cxx:4491` (`modGen.ParseArgs(pcmArgs)`), which saves them in `TModuleGenerator::fCompI` and later writes them to the dictionary when `TModuleGenerator::WriteRegistrationSourceImpl` is called.

`RootClingMain` adds those includes to `pcmArgs`

[2021-01-29 14:02] eguiraud commented on #7108
@vgvassilev @Axel-Naumann ping!

[2021-01-29 18:34] vgvassilev commented on #7108
It may make sense to register such include paths as "private" and adjust the interface of `gSystem->GetIncludePath` (cc:pcanal).

In principle we do not need this injected include path when runtime_cxxmodules are on and we might just drop that part from dictionary generation. There might be some code out there that was relying on this gray area include path.

I'd defer that to @Axel-Naumann.

[2021-01-31 09:38] dlanci opened #7115 "regex_error when selecting pdf components to plot"
I’ve recently updated my ROOT version to v6.20.06 and my once working code snippet to plot several pdf components on the same canvas broke.

No matter if I select the pdf components by object reference or by name, i.e. by:

[code]

or by:

[code]

I get:

[code]

It looks like they are found but then the regex_error appears.
Is this a known issure or shall I do something different to select the pd

[2021-01-31 10:41] dlanci commented on #7115
I investigated a bit more in depth the problem and it seems like the regex_error gets thrown as soon as I plot a composite pdf or by calling RooFit::Components, in fact given the previous example with expo being a simple exponential

[code]

works, but as soon as I do for example:

[code]

I get:

[code]

[2021-01-31 23:13] misha33344 opened #7116 "Root"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-02-01 05:03] Harshalzzzzzzz commented on #6635
@Axel-Naumann  @oshadura
Dear Mentors,
I would like to take up this issue, and since I'm new to this project could you please explain a bit more about what I can do to fix this?
Thank you

[2021-02-01 08:24] oshadura commented on #7116
@misha33344 you forgot to add a description of your issue. I will close an issue, and please free to reopen it with a proper description.

[2021-02-01 08:24] #7116 closed

[2021-02-01 08:38] Axel-Naumann commented on #6635
Check the CMake `TIMEOUT` parameter for `ExternalProject`. Not sure what else to add. If this is unclear for you then maybe pick a different issue to start with?

[2021-02-01 10:49] Harshalzzzzzzz commented on #7047
@eguiraud Dear Mentor,
I'm interested in contributing to the Root project and I would like to work on this issue. Can you please elaborate more on what needs to be done, since I'm a new to the project?
Thanks!

[2021-02-01 11:16] Harshalzzzzzzz commented on #6981
@eguiraud Dear Mentor,
I would like to work on this issue and I have a fair idea of the modifications needed in this [file]( https://github.com/root-project/root/blob/master/tutorials/dataframe/df024_Display.py). Can you please elaborate more on how the output can ideally be represented here?
Thanks!

[2021-02-01 16:53] eguiraud commented on #7108
We've been trying to figure out why Vincenzo doesn't see this. It turns it's regexes: his build path starts with his source path, and that makes `rootcling_impl` drop `buildpath/include` from the list of header paths that are written to the dictionary.

We think the fix should be put in `ROOT_GENERATE_DICTIONARY`, that already sets some `excludePaths` e.g. at https://github.com/root-project/root/b

[2021-02-01 22:07] jalopezg-r00t commented on #6812
Hi @Asxcvbn,

The patch has been sent for inclusion in the LLVM 9 upgrade branch.  This issue will be closed once this branch is merged into `master`.

Cheers.

[2021-02-02 09:44] eguiraud commented on #7047
Hi @Harshalzzzzzzz ,
ROOT has a high-level data analysis interface called [RDataFrame](https://root.cern/doc/master/classROOT_1_1RDataFrame.html), you can take a look at the docs and try reading and running some of the tutorials [here](https://root.cern/doc/master/group__tutorial__dataframe.html).

`RDataFrame` returns results wrapped in the [RResultPtr](https://root.cern/doc/master/classROOT_1_1R

[2021-02-02 09:55] eguiraud commented on #6981
Hi @Harshalzzzzzzz ,
`RDataFrame` has a `Display` method that prints the contents of the dataset on screen.
Some users complained that when a column of the dataset contains a collection (e.g. an array), we only print the first and last element of the collection with `...` in between and that's less helpful than printing all of it.

Ideally, for collections, we would like to have behavior similar t

[2021-02-02 10:00] Harshalzzzzzzz commented on #7047
@eguiraud If possible can you indicate any other Release methods I can refer to in other modules or files so that I can follow proper conventions and methods for adding the same for RResultPtr while creating the PR .

[2021-02-02 10:07] eguiraud commented on #7047
I don't think there are other Release methods in ROOT. RResultPtr behaves similarly to a std::shared_ptr, and RResultPtr::Release should release its ownership of `fObjPtr`, something like:

[code]

For the coding conventions: you can probably figure out the naming conventions from the surrounding code, and you should format the code with `clang-format` before committing (if you run `clang-format`

[2021-02-02 10:20] eguiraud commented on #6676
Closing as "won't fix", please specify a binning to avoid accumulation of a large number of values in memory.

[2021-02-02 10:20] #6676 closed

[2021-02-02 10:38] Axel-Naumann commented on #6753
This issue means that on macOS, people cannot build against the Xcode-provided Python3. I'd say that's fine for 6.24/00 - we should provide this ability at *some* point. So far I haven't see user complaints on this.

[2021-02-02 17:00] Axel-Naumann opened #7123 "`TClass::Init()` does two lookups where one is enough"
### Explain what you would like to see improved
`TCling::CheckClassInfo()` should return (by parameter) the found decl, such that `TClass::Init()` can use it to construct the `TClingClassInfo` and that doesn't need to repeat the lookup.

### To Reproduce
One:

[code]

Two:
[code]

[2021-02-02 17:28] bendavid commented on #7108
Adding ```${CMAKE_BINARY_DIR}/include``` to line 329 fixes the problem we were having with this when building root into a singularity image at least.

[2021-02-02 20:36] pcanal opened #7125 "lib/module.idx needs to be refreshed up library removal."
For example:
[code]
doing
[code]
works around the problem.

[2021-02-03 09:01] Harshalzzzzzzz commented on #6981
@eguiraud Thank you for your inputs and suggestions.
I need to test the changes in this file https://github.com/root-project/root/blob/master/tree/dataframe/src/RDFDisplay.cxx#L194-L249 that I have made in my PR, can you please suggest a way I can do that, or should I just test it using this :
```$ python $(root-config --tutdir)/dataframe/df024_Display.py```

[2021-02-03 09:10] eguiraud commented on #6981
Nice!

Yes you can just use the tutorial to see what comes out :smile:

[2021-02-03 11:35] Axel-Naumann commented on #7081
I was hit by this two more times since I opened this (as I now know I have to check for this).

My teminal sessions are long-lived; I debug an issue (with some ROOT build), then I need to build ROOT from scratch - and now that ROOT build is not testing itself. That's really really terrible :-/ Can we *please* have this fixed?

[2021-02-03 14:53] Axel-Naumann commented on #7021
https://root-forum.cern.ch/t/binary-installation-of-root-with-macos-11-1/43359/9

[2021-02-03 15:16] kgertsenberger opened #7127 "Incorrect work of the 'TPgSQLStatement::SetBinary' function"
- [x] Checked for duplicates

### Describe the bug
Hi, may I discuss possible solutions of the incorrect work of the 'TPgSQLStatement::SetBinary' function.
In our experiment, we've used 'TPgSQLStatement::SetLargeObject' with PostgreSQL 8, but now we've moved to PostgreSQL 12 and discover that since PostgreSQL 9 the developers limited access to pg_largeobject, which leads to some problems.
So now w

[2021-02-03 16:27] Axel-Naumann opened #7128 "Cannot build ROOT if another ROOT at /usr/local"
### Describe the bug
We must be able to build ROOT even if there's another ROOT installation at `/usr/local`. https://root-forum.cern.ch/t/problem-building-6-22-00-on-osx-10-14-with-clang-11/40652/9 seems to suggest that this is currently not the case.

This is relevant for
- sanity: separating the build and its artifacts from other, pre-existing ROOT artifacts allows us to be certain we build wha

[2021-02-04 08:25] eguiraud commented on #7108
Possibly an instance of this problem on the forum: https://root-forum.cern.ch/t/compilation-failing-because-root-is-searching-for-files-in-the-source-directory-and-not-in-the-installation-directory/42686

[2021-02-04 14:08] linev commented on #7127
Hi,

I am not pgsql expert, but somehow maintain these SQL plugins in ROOT.
Looking into [pgsql docu](https://www.postgresql.org/docs/9.1/libpq-exec.html), I guess variant 3 will be preferable. `PQexecPrepared` allows to specify type and length of each parameter. One can use 0 as default and only for binary use 1 - in this case binary can be used as is and do not need any escape characters.

Can y

[2021-02-04 14:41] kgertsenberger commented on #7127
Hello,
I am agree with you, Sergey. In my opinion, the third solution is the best, it does not require to convert binary data into string values by escaping special characters, which leads to the above problems with double backslashes, quotes etc.
Unfotunately at the moment i have no time to carefully implement it and test for different versions of PostgreSQL.
If it can wait until the end of the s

[2021-02-04 16:15] linev commented on #7127
Hi Konstantin,

Implementation is relatively simple, but I have no possibility to test the code.
If you can test changed code, I can provide it very soon

[2021-02-04 16:55] linev commented on #7127
@kgertsenberger
Can you test https://github.com/root-project/root/pull/7134
It also includes two other bugfixes.
Please try statement with binary and without binary data - if it still works

[2021-02-04 18:11] eguiraud commented on #6518
Hi,
I double-checked the behavior of `TTree::Draw` and `TTreeReader` when reading "misaligned" friends in a number of situations: as `TTrees`/`TChains`, friends longer/shorter than the main tree, friends with/without a `TTreeIndex`.

With the path at https://github.com/root-project/root/pull/7131, which avoids an infinite loop with `TTreeReader` + indexed friend tree, `TTreeReader` and `TTree::Dra

[2021-02-04 18:36] pcanal commented on #6518
Semantically the right termination condition is "no more entries in the branch **actually** used" .... which none of the tool does properly if I understand correctly ...

[2021-02-04 18:59] eguiraud commented on #6518
Correct, that doesn't seem to be a thing.

This is my repro: https://gist.github.com/eguiraud/f5b8f045d993acd1c62a242a957c1a94

[2021-02-04 19:28] kgertsenberger commented on #7127
Indeed, I am afraid to use fParamFormats variable in the 'PQexecPrepared' for working database of our experiment because it was not used before. So, we will switch to the solution after complete tests of all the database content a little bit later.
But ok, i will use a set of tests to check the solution for PostgreSQL 8 and 12 deployed on our servers.
Thank you.

[2021-02-05 09:39] guitargeek commented on #7032
Hi @hageboeck, thanks for opening this issue! I investigated the first item (vectorization of normalization in RooAbsPdf), and according to the compiler (`-fopt-info-vec-optimized`) it is already vectorized:
[code]
Am I missing something, or can we consider this part of the issue to be solved?

[2021-02-05 09:42] hageboeck commented on #7032
It is vectorised on the machine where you compile. In cvmfs, where most people get their ROOT from, it is not. That's the reason that Manos' mini library exists, which is compiled a few times for different architectures.
If the computations for normalisation and the logarithms are pulled over into that library, every user gets a speed boost, and not only the ones that compiled ROOT manually.

[2021-02-05 09:43] hageboeck commented on #7032
@manolismih

[2021-02-05 09:52] guitargeek commented on #7032
Thank you for the explanation! What about the loop in `[getLogProbabilities()](https://github.com/root-project/root/blob/master/roofit/roofitcore/src/RooAbsPdf.cxx#L733)`? It doesn't get vectorized when I compile it. So for that part of the issue I need to adapt RooAbsPdf itself, right?

[2021-02-05 10:24] hageboeck commented on #7032
It used to work. Either your compiler is too anxious about it or this commit d72f241f792 broke it or you don't have VDT activated such that the `std::log` is used.

If this is moved over to the mini library, it's not so critical.

[2021-02-05 10:26] hageboeck commented on #7032
I actually think that `BatchCompute::fast_log` is a misnomer, because it doesn't have to do with batch computing. It's just a fast, inlinable logarithm provided by VDT.

[2021-02-05 10:28] guitargeek commented on #7032
Cool, I didn't know that vdt can vectorize! If there is no VDT, `BatchCompute::fast_log` will do the exponential by the way: https://github.com/root-project/root/blob/master/roofit/batchcompute/inc/RooVDTHeaders.h#L56

[2021-02-05 10:32] hageboeck commented on #7032
I know, since I made it like this. :-) If you don't have VDT, you will still have all the computations working, but they will not be vectorised because the `std::` functions may have side effects (unless you use special compiler flags, fast math, ... rabbit hole! :-) )

The entire point of VDT is to provide fully inlinable, vectorisable functions, see introduction here:
https://github.com/dpiparo/

[2021-02-05 10:40] hageboeck commented on #7032
On the topic of vectorisation, maybe you want to pull in this commit (and maybe do something analogous for Manos' new libraries):
https://github.com/hageboeck/root/commit/ad514958b76533f577948bf29817aedde86bd6db

I was running with this since months, but never merged it to master. Nobody needs the stupid side effects of the `std::` functions, and the experiments were happy with us disabling it for

[2021-02-05 12:53] Harshalzzzzzzz commented on #6635
@Axel-Naumann @oshadura Pull Request : https://github.com/root-project/root/pull/7136

[2021-02-05 17:16] guitargeek commented on #7032
Wow I didn't know about these side effects! I guess some people rely on them somewhere. I'll make a PR with this useful change to the `CMakeLists`.

[2021-02-05 17:27] pcanal commented on #6518
Yes, I agree ... more work :(

[2021-02-05 18:41] eguiraud commented on #6518
Do you actually want to change the behavior of TTree::Draw and TTreeReader so the stopping condition depends on the branches that are being read? That is a lot more work than "just" making the behavior of TTreeReader+TTree consistent with TTree::Draw and TTreeReader+TChain.

[2021-02-05 20:53] pcanal commented on #6518
I think we __eventually__ should but in the short term you plan is good enough (in my humble opinion)

[2021-02-05 22:48] kgertsenberger commented on #7127
Hello, Sergey.
I have tried to write test records, and i found that PQexecPrepared in TPgSQLStatement::Process() should be corrected in the same way as in the 'NextIteration()' function:
[code]
After this additional correction the new solution works well.

With respect, Konstantin.

[2021-02-06 06:23] Harshalzzzzzzz commented on #6635
@Axel-Naumann @oshadura Pull Request : https://github.com/root-project/root/pull/7141

[2021-02-06 07:27] Harshalzzzzzzz commented on #7047
@eguiraud Pull Request :  https://github.com/root-project/root/pull/7142

[2021-02-06 08:59] linev commented on #7127
Hi Konstantin,

I modify code once again, adding parameters in `TPgSQLStatement::Process()`
I also add in all setter methods special checks for parameter index and allocated memory - old implementation was error-prone.

Can you check once again?
Did you checking with both PgSQL version?

Regards,
Sergey

[2021-02-06 10:12] kgertsenberger commented on #7127
Hi,
Ok, i'll test it again. Yes, with both version 8 and 12.

With respect, Konstantin.

[2021-02-06 16:51] kgertsenberger commented on #7127
Hi, Sergey.
Oh, it took time to understand a new error while my tests:
[code]
because it doesn't contain any information on line codes.

Finally, i found that it happens because of this new function:  "TPgSQLStatement::SetSQLParamType". The function doesn't take into account all possible cases that have been accounted for before, e.g. if in 'SetBinary(Int_t npar, void* mem, Long_t size, Long_t max

[2021-02-06 19:02] linev commented on #7127
In principle, it is wrong set of arguments. `maxisze` is intend to be allocated memory size.
But now I add check for such situation.

It was by chance. With old code if one call  `SetNull(0)` and then `SetInt(0,0)` was causing segmentation violation.

If I understand correct, all other tests fine for you.
If yes, I will merge changes in master.

Do you need these fixes in older branches - like 6.2

[2021-02-08 01:26] phi-mah opened #7143 "TTreeProcessorMT: Fails when iterating over different treenames within same ROOT file"
Hi,

Some time ago, I have had issues when invoking an `RDataFrame` analysis on a `TChain` that consisted of trees with **different names** in the **same file** (the canonical thing is just the other way around...).

I first described the problem [here in the ROOT forum, rather long read, not absolutely necessary to understand this issue](https://root-forum.cern.ch/t/really-solved-rdataframe-for-t

[2021-02-08 10:08] eguiraud commented on #7143
Hi Philipp,
thank you for the thorough report! Given the lack of a reproducer I have to ask you to help out a bit more.

What is your exact ROOT version? The commit you mentioned is included in 6.20/06 but e.g. not in 6.20/02.

Could you check whether the problem is still present in ROOT master? You can install a ROOT nightly build via conda or source it as an LCG release, see the instructions at

[2021-02-08 10:11] eguiraud commented on #7143
Also, how do you create the TChain exactly?

[2021-02-08 10:14] oshadura commented on #6802
@dciangot I opened a new PR https://github.com/root-project/root/pull/7068  (if you will have a chance to test it, please let me know if it works in your env)

[2021-02-08 10:33] dciangot commented on #6802
Thank a lot @oshadura
I'll give it a try and I'll let you know

[2021-02-08 10:55] eguiraud commented on #7143
ah, definitely, that's a _bug_! that logic assumes that different trees are stored in files with different names :/

[2021-02-08 11:52] eguiraud commented on #6641
Hi @andrey-popov ,
TTreeReader has a built-in assumption that it is the only one modifying the state of its internal tree.
The `GetBranch` call changes the state of the tree in a way that confuses TTreeReader when it looks at it at the next line.

You can/should do this instead:

[code]

and only have read-only interactions with the TTree/TChain as long as TTreeReader is working with it (`GetBranc

[2021-02-08 12:03] eguiraud commented on #6641
(another alternative is calling `reader.Restart()` after you perform non-read-only operations on the object returned by `reader.GetTree()`, before `TTreeReader` itself accesses the object).

[2021-02-08 12:11] eguiraud commented on #6671
@pcanal ping (this is marked as critical)

[2021-02-08 12:27] phi-mah commented on #7143
Hi Enrico,

with the underlying mechanism now unveiled, could you reproduce the behavior with https://github.com/eguiraud/root/commit/97dbdbb6a1a38d8d4706c4b459ff9a8368eb0769? I'm still wondering why the test you suggested in the ROOT forum in November did not trigger it? Although I tried to build up various other test-cases, unluckily they all worked. I finally found it by running a stripped and

[2021-02-08 15:42] eguiraud commented on #7143
_Should_ be fixed (and tested), let me know if you have any feedback (it would be great if you could pick that branch and check it fixes your usecase, or alternatively a nightly build tomorrow -- I plan to merge the fix today).

[2021-02-08 17:16] hageboeck opened #7151 "More convenience when constructing TGraphs"
### Explain what you would like to see improved
I find this kind of plotting code too cumbersome, it only takes `double*` and sizes:
[code]

### Optional: share how it could be improved
Provide an overload that constructs from iterable collections and/or `std::initializer_list`, maybe.
[code]
When the collections don't have the same length, throw `std::invalid_argument`.

[2021-02-08 19:35] vgvassilev commented on #7125
I am not sure how we can support that use-case in a reasonable way. We can ask cmake to remove this index every time it reconfigures but that seems hacky.

[2021-02-08 21:04] #7143 closed

[2021-02-09 08:24] #7127 closed

[2021-02-09 09:42] ferdymercury opened #7156 "TGLedIndicator"
### Is your feature request related to a problem? Please describe.
I would really like to have an LED status indicator class when I create my GUI windows with ROOT. I have found that the TGSpeedo class already contains an LED, but I did not find a standalone equivalent class.

### Describe the solution you'd like
Something equivalent to https://doc.qt.io/qt-5/qml-qtquick-extras-statusindicator.htm

[2021-02-09 10:24] guitargeek opened #7157 "RooFFTConvPdf doesn't work with RooProdPdf"
### Describe the bug

The `RooFFTConvPdf` gives wrong results if one of the input PDFs is a `RooProdPdf`.

### To Reproduce

The issue can be reproduced by computing the convolution of two Gaussians, where one of the Gaussians is turned into a `RooFFTConvPdf` by multiplication with unity (`RooUniform`).

[code]

The executable can be compiled with:
[code]

An interesting observation is that by tur

[2021-02-09 12:13] bfonta opened #7159 "TNetXNGFile::Open fails with double slash (//) in path"
### Describe the bug
When passing a path containing a double slash (```//```) to ```TChain```, the last characters are trimmed. The bug has been described [here](https://root-forum.cern.ch/t/tnetxngfile-open-fails-with-double-slash-in-path-2/43416). This is error-prone.

### Expected behavior
Even if ones does not want to automatically convert the double slash into a single slash in some scenarios

[2021-02-09 12:52] eguiraud commented on #7151
Assigning both @couet and @Axel-Naumann because the ticket is about ROOT6 graphics but the improvement might be added to ROOT7 graphics.

[2021-02-09 12:54] eguiraud commented on #7156
Assigning Bertrand as original author of TGSpeedo.

[2021-02-09 14:26] bellenot commented on #7156
@ferdymercury you can simply use a TGPictureButton with your own enabled/disabled LED picture

[2021-02-09 15:03] ferdymercury commented on #7156
Thanks, I understand. But I think it would still be much nicer to have a dedicated class, so that one can specify the color as a hex number or TColor or something similar, rather than having N different pictures stored for all colors you would think to use...

[2021-02-09 15:07] bellenot commented on #7156
Well, sorry but since we are in the process of moving to a Web based GUI (using openUI5), and since this is quite simple to be implemented on the user side, I don't think we're going to create a new widget. But we'll discuss this and I'll come back to you.

[2021-02-09 15:30] pcanal opened #7160 "MacOS: -Dcocoa=ON -Dopengl=OFF pass cmake but fail compilation"
On MacOS passing to cmake:

    `Dcocoa=ON -Dopengl=OFF`

leads to

[code]
In  `graf2d/cocoa/CMakeLists.txt` the code:
[code]
acknowledge the challenge but fail to address it.

And indeed in `TGCocoa.mm` the file `TGLIncludes.h` is always included.

Maybe this should fail at configuration time.

[2021-02-09 16:06] #6518 closed

[2021-02-09 16:08] linev commented on #7127
Also fixed in 6.20 and 6.22 branches

[2021-02-09 16:09] phi-mah commented on #7143
Hi Enrico, I just wanted to report that the master branch after merge (#6199f0610da0b97b99500803ac3d9af44b0bc955)  indeed solves the problem I originally came up with.

Took me a bit longer to check -- I don't have such a nice build pipeline, ;-).
But finally, this thing should be really fixed

[2021-02-09 16:11] eguiraud commented on #7143
Alright, thank you very much for confirming. v6.22/08 (next 6.22 patch release) and v6.24 (upcoming release, ETA a few weeks) will have the fix.

[2021-02-09 16:18] AlkaidCheng opened #7161 "Wrongly printing root CLI help message when using pyROOT with '-h' or '--help' in sys.argv"
### Version
ROOT version: 6.18/04
OS: Linux, SLC7
How you obtained ROOT: conda install
### Describe the bug

When using pyROOT (might not necessarily be due to using pyROOT) with '-h' or '--help' in sys.argv, if a ROOT method is called, a root CLI help message will be wrongly printed out.

In a lot of cases when designing a python package that uses ROOT with CLI support, this bug will make the CLI

[2021-02-09 16:50] eguiraud commented on #7161
@AlkaidCheng could you check whether that's still the case in 6.22? I think this might be a duplicate of https://sft.its.cern.ch/jira/browse/ROOT-9447 .

[2021-02-09 16:51] eguiraud opened #7162 "Interaction between `from ROOT import TFile` and X11"
Reproducer:

[code]

This error is not printed with other LCG releases, e.g. LCG_99.

[2021-02-09 16:53] etejedor commented on #7161
Indeed, as @eguiraud has mentioned, this behaviour is not present anymore in ROOT >= 6.22, where ROOT does not parse the command line arguments by default. This is documented here:

https://root.cern/manual/python/#user-interface

(see `IgnoreCommandLineOptions` option).

[2021-02-09 16:59] etejedor commented on #7161
If moving to a newer ROOT version is not an option, you can still disable this behaviour by typing at the beginning of your script:
[code]

[2021-02-09 17:12] etejedor commented on #7162
I just tried the same on lxplus745 and I don't get the error.

[2021-02-09 17:12] Axel-Naumann commented on #7162
That's with or without `-Y` passed to `ssh`? I get:
[code]

[code]

[2021-02-09 17:13] etejedor commented on #7162
I get the same as @Axel-Naumann .

[2021-02-09 18:50] ferdymercury commented on #7156
Thanks for the hint. Maybe a combination of TGEllipse + TGLabel could also do the work?

[2021-02-09 23:40] ferdymercury opened #7164 "TGSpeedo mean value calculation"
### Explain what you would like to see improved
TGSpeedo class is quite helpful, but it lacks the ability of auto-calculating the mean value (a mean mark is there, but is up to the user to put a senseful value there on each update).

### Optional: share how it could be improved
I would propose to let the user define a circular buffer size, so that the TGSpeedo class autocalculates the mean value o

[2021-02-10 07:12] kgertsenberger commented on #7127
Thank you much, Sergey.
Have you returned the check, when 'size' variable is greater than 'maxsize', in the new version?

With respect, Konstantin.

[2021-02-10 07:14] linev commented on #7127
Yes, here is it: https://github.com/root-project/root/commit/e550ca8

[2021-02-10 07:16] AlkaidCheng commented on #7161
This worked for me. Thank you!

[2021-02-10 07:30] kgertsenberger commented on #7127
I see. Thank you for your help.

[2021-02-10 07:57] #7161 closed

[2021-02-10 08:26] eguiraud commented on #7162
Looks like it's my own problem then :)

[2021-02-10 08:26] #7162 closed

[2021-02-10 08:31] eguiraud commented on #7115
Hi @dlanci , could you please check whether v6.22 is still affected? You can install it from conda/homebrew/snap/..., grab it from the LCG releases on lxplus or just run it in a docker container, see https://root.cern/install.

[2021-02-10 08:39] bellenot commented on #7156
I don't know where this is coming from, I've never seen a `TGEllipse` class in ROOT (only `TEllipse`)

[2021-02-10 08:47] ferdymercury commented on #7156
Mmm ok, it looks it does not belong to ROOT, but to Taligent's OS (1995) https://twitter.com/stroughtonsmith/status/1130868274298871810 http://www.wildcrest.com/Potel/Portfolio/InsideTaligentTechnology/WW29.htm

[2021-02-10 09:29] dlanci commented on #7115
Hi Enrico,

I installed the same root version in a conda environment and it looks like I'm able to plot without problems in pyROOT. Meanwhile I also found that the system compiler I'm using  for my project is Centos7, and among other problems, looks like std::regex is broken

[https://root-forum.cern.ch/t/std-regex-with-root-interpreter/35609](https://root-forum.cern.ch/t/std-regex-with-root-inter

[2021-02-10 09:39] bellenot commented on #7156
Anyway, as I said, we are focusing now on the new, Web based GUI, and not going to extend the existing one, especially for classes that are most probably not widely used...

[2021-02-10 09:53] eguiraud commented on #7115
Oh, yes `std::regex` is known to be broken in gcc 4.8 -- but that means we shouldn't be using it @lmoneta @hageboeck ?

[2021-02-10 10:50] eguiraud opened #7167 "[TTreeProcessorMP] Warn if Process is called from a multi-thread program"
`fork()`-ing a multi-thread program typically ends up badly. In ROOT, TBB spawns threads when RTaskArena is constructed, and Cocoa spawns threads, on Mac, when graphics are activated.

We would like to employ a similar mechanism to what is used to loop over threads to print their stacktraces on a crash in order to detect whether `TTreeProcessorMP::Process` is called from a multi-thread program, an

[2021-02-10 12:57] hageboeck commented on #7115
Hi,
1. Yes, we are not using std::regex when a broken gcc is used or when running on windows.
2. There was a problem with regexes on Mac, which has been fixed in e0550db0059c17919dc91ad64f5d9d302999f6cc, and been backported to 6.22.04 in 6fecf68733cc675e55eb6ae815993fcac375827a.

@dlanci You didn't say if you are on Mac. Maybe you are seeing the same issue?

[2021-02-10 13:07] eguiraud commented on #7115
Ok the `#ifdef` is not catching this toolchain. Seems to be Centos7 from a previous message -- are you using the default system compiler or are you getting it from devtoolset?

[2021-02-10 13:25] romainbqt opened #7169 "RDataFrame and CreatePoxy/TTreeReaderValue error for selection on string branch in Filter method"
Hi,
I create this issue to report a bug, that was also observed by @eguiraud,
with ROOT version 6.22.06

I am trying to use the RDataFrame to produce histograms running on root files.
With the following code
[code]
I attached the test file on the ROOT forum (which only contains 3 entries on purpose)
Please read the following strange observations that we made about it which to us do not make sense

[2021-02-10 14:08] etejedor commented on #7169
A simpler reproducer, generating a tree with:

[code]

and then running:
[code]

triggers the same error. The culprit here is the lookup of `std::string`.

[2021-02-10 14:08] bellenot commented on #7164
@ferdymercury FYI, a [PR](https://github.com/root-project/root/pull/7170) has been created

[2021-02-10 14:35] dciangot commented on #6802
@oshadura I confirm that is perfectly fine for us. Thank you!

[2021-02-10 14:45] dciangot commented on #6802
Actually, I tested only the token in the environment variable.

In fact, trying out the token-in-file way, I get this error (*), any idea @oshadura ?

(*)
[root@0cfc7b46c606 ~]# echo "$MY_TOKEN" > /tmp/bt_u`id -u`
[root@0cfc7b46c606 ~]# root -l https://212.189.205.141:31094//W.root
*** Error in `/usr/local/bin/root.exe': free(): corrupted unsorted chunks: 0x0000000002141130 ***
======= Backtrace:

[2021-02-10 14:47] oshadura commented on #6802
@dciangot ha, thanks for the report! I am looking into it...

[2021-02-10 15:57] oshadura commented on #6802
@dciangot I forgot to ask, I will not be able to access the file in your mini reproducer?
(I am going to try to test it @UNL but I wanted to ask anyway)
[code]

[2021-02-10 16:01] dciangot commented on #6802
Yeah, unfortunately you won't :/

[2021-02-10 16:07] etejedor commented on #7169
A simpler reproducer, after digging what triggers the problem in the cppyy code:

[code]

So it does not seem a PyROOT problem. @Axel-Naumann and perhaps @vgvassilev any comments on this?

[2021-02-10 16:08] oshadura commented on #6802
Can you try please meanwhile access file exporting `BEARER_TOKEN` environment variable?

[2021-02-10 16:09] dciangot commented on #6802
@oshadura that was the first test I didi actually, and it's working perfectly.

[2021-02-10 16:24] etejedor commented on #7169
A C++ reproducer:

[code]

[2021-02-10 16:50] eguiraud commented on #7169
(use `Histo1D<std:string>` to get everything compiled)

[2021-02-10 17:25] eguiraud commented on #7169
A compilable TTreeReader-only repro:

[code]

This prints:

[code]

The difference between runs with/without the `GetType("std::string")` seems to be that at the following line `fDict != branchActualType` when `GetType` is called, while `fDict == branchActualType` in the sane case. I did not have time to go deeper.

https://github.com/root-project/root/blob/master/tree/treeplayer/src/TTreeReaderVa

[2021-02-10 18:54] pcanal commented on #7162
Still :) could give record the stack where `import TFile` complains about X11?

[2021-02-11 08:05] eguiraud commented on #6641
Hi,
as per my comments above, and discussion with @Axel-Naumann , this sequence of calls without a `Restart` in the middle is not supported. Closing.

[2021-02-11 08:05] #6641 closed

[2021-02-11 08:56] dlanci commented on #7115
@hageboeck I'm on CentOS7, and using the default system compiler which is gcc 4.8.5.

[2021-02-11 09:05] dlanci commented on #7115
I investigated a bit more the problem and I **can** plot components of a total PDF with my script **only** if the parameters in the paramBox (from `model->paramOn(frame)`) have only alphanumerical characters. I was setting their names using the latex titles so that they would appear with latex formatting on the plot.

So actually the regex_error is thrown by the names of the variables that I'm plo

[2021-02-11 09:12] hageboeck commented on #7115
RooFormula was overhauled, which seems to be the only place where regexes show up in diffs. I think there's two simple things we can do to trace it down in a second:
- You attach a debugger and set a breakpoint on exception throw.
- You post an example that the root team can run.

[2021-02-11 14:30] oshadura commented on #6802
@dciangot sorry, I fixed a small typo and now I see that it will not crash anymore for your setup (I am getting "Server certificate verification failed: issuer is not trusted after 3 attempts", but it was expected):
[code]

[2021-02-11 16:34] chrisburr opened #7176 "Unable to build with external LLVM 9"
When testing #6385 I've had issues with the linking order of the LLVM libs due to CMake not knowing about their dependencies. I don't have a log or reproducer to hand but this patch was enough to fix it:

https://github.com/chrisburr/root-feedstock/blob/4dff10152d66bd0e873b60150e72cf0f9bfa8c19/recipe/patches/0001-Use-find_package-for-llvm-clang.patch

The `get_directory_property` call was also an

[2021-02-11 16:40] dlanci commented on #7115
Here is an example from my code. This is the snippet I use to retrieve the workspace (download here: [example workspace](https://www.physik.uzh.ch/~davide/exampleWorkspace.root)) after the fit and plot the pdf components stacked onto each other.

[code]

This will output the var titles I gave to the variables when I defined them, in LaTeX formatting and set them as var names for plotting:

[code]

[2021-02-11 17:44] Axel-Naumann commented on #7176
Thanks, Chris.

IMHO that's fine - during the x years of cling we never had to touch those. Hard-coding those shouldn't be an issue.

[2021-02-11 17:53] hageboeck commented on #7115
Ok, problem found. It's the `{ }` in the parameter name. They have special meaning in a regex. Note that if you use something without special characters for the *name* of a parameter, you can use anything you want in the *title*.
The name identifies elements of the computation, the title is what ends up on axis labels.

Anyway, RooFit should be protected against that. I call @guitargeek to fix it.

[2021-02-11 17:58] hassec opened #7179 "ROOT 6.22, broken operator[] in python for specific Gaudi class"
Apologies for making this an annoying bug report :cry:,
but I unfortunately, so far, wasn't able to create a small self-contained reproducer that triggers the bug.

But with LCG_99 and the following snippet I can at least show the problem.
[code]

Running:
[code]
will print:
[code]

If you try the same on an older ROOT version e.g. with LCG_97a (`source /cvmfs/sft.cern.ch/lcg/views/LCG_97a/x86_64-

[2021-02-11 18:00] ferdymercury opened #7180 "TGCommandLinePlugin Up-Down Arrows and Tab Keys"
### Explain what you would like to see improved
The TGCommandLinePlugin is great for external CMake/C++ applications that use some ROOT classes / TApplication and GUI classes TGFrame, where you want to have some interactive debugging options via Cling. To make it even more user-friendly, it would be nice if the following things were improved:
- Pressing Up and Down Arrow Keys changes the selected

[2021-02-11 18:22] dudarboh opened #7181 "RDataFrame Snapshot of friend trees"
### Encountered problem
Snapshoting the RDataFrame with friend trees does not store variables of the friends.
This is very unfortunate for skimming multiple friend trees if the skimming time consuming and running it only once and storing results would help.

### Feature that could help
Automatically store friend trees / variables into the output file.

### Current workaround
Defining all branches

[2021-02-11 19:24] hassec commented on #7179
Couldn't quite let it rest for the day yet :D
Here is a smaller reproducer that shows the problem

[code]

So it seems that defining a custom call operator somehow results in this bug since that `operator()` is bound to `__getitem__`.
Seems to be independent of the signature, e.g. `void operator()(){}` will also get bound to `__getitem__`.

[2021-02-11 20:33] lmoneta opened #7182 "Range not considered when computing integral of RooParamHistFunc"
The range is not used in RooParamHIstFunc::analyticalIntegralWN, see  https://root.cern/doc/master/RooParamHistFunc_8cxx_source.html#l00247
as reported in https://root-forum.cern.ch/t/createintegral-giving-wrong-results/43508.

Simple code to reproduce:
[code]

[2021-02-11 21:11] lmoneta commented on #7182
The same problem exists also for the RooHIstFunc.
It has been reported already here
https://sft.its.cern.ch/jira/browse/ROOT-7413?filter=-2
using createRunningIntegral

[2021-02-12 07:56] couet commented on #6510
can we close this ?

[2021-02-12 07:59] couet commented on #6360
The figures are back. I close this issue.

[2021-02-12 07:59] #6360 closed

[2021-02-12 08:51] stwunsch opened #7187 "TInterpreter::ToString hogs memory"
**Update:** See the `TInterpreter::ToString` reproducer at the bottom.

As Wim reported privately, the pretty printing feature in PyROOT seems to leak memory. Take the following example

[code]

And here the output of `valgrind --tool=massif python reproducer.py`:

[code]

Here the logfile of the last snapshot:

[massif.log](https://github.com/root-project/root/files/5970579/massif.log)

However,

[2021-02-12 09:48] eguiraud commented on #7181
Thank you for creating the issue, there are a few higher-priority items I'd like to get done before releasing 6.24, then I will look at this. I.e. I totally agree we want this, let's see if I make it for this release or not.

In case someone feels like giving this a shot: the relevant logic is at the following line, `GetTopLevelBranchNames` should also return the names of friend branches:

https:/

[2021-02-12 09:51] couet commented on #6851
I see the error with the 6.23 also:
[code]
and the plot generated is wrong.

[2021-02-12 10:41] #7067 closed

[2021-02-12 11:56] couet commented on #6851
The following code:
[code]
gives:

<img width="219" alt="Screenshot 2021-02-12 at 12 52 41" src="https://user-images.githubusercontent.com/4697738/107765088-8826c780-6d31-11eb-9250-e6138442fa74.png">

so `prod` is ok and it has the same structure as `int` and `sum` which are not. That may help to find the bug.

[2021-02-12 14:00] ferdymercury opened #7195 "ROOT crash when parameter by value passed to slot: StrDup"
### Describe the bug
According to https://root.cern.ch/root/htmldoc/guides/users-guide/WritingGUI.html#event-processing-signals-and-slots one can pass parameters by value to your slots.

`Connect(myButton, "Pressed()","TH1",hist, "Draw(=\"LEGO\")");`

For example, I was trying:
`myTGCheckBox->Connect("Clicked()","TGTextButton", myButton, "SetText(=\"LEGOlegoemoryABCDEF\")");`

But when I click on

[2021-02-12 14:31] bellenot commented on #7180
I'll take a look if and how that could easily be implemented

Sorry, but I don't think I will embark in such development in the current GUI.

I'll cross-check, but I think it should already be the case...

[2021-02-12 14:36] etejedor commented on #7179
Thanks for the reproducer!

Indeed the cppyy issue you mentioned above explains the reason of this behaviour. Note that what you get from `b[0]` in cppyy 1.9.2 is still a vector as in PyROOT, it's just that it's printed differently.

The cppyy issue also explains that there is a fix for the case the call operator returns by value. I could update PyROOT's cppyy with that fix, but I understand this

[2021-02-12 14:48] ferdymercury opened #7196 "gSystem->GetMemInfo reports wrong used RAM memory"
### Describe the bug
On Linux, ROOT reports most of the RAM is full, even if it is free. Probably because it reports:

`used = total - free`
instead of
`used = total - free - cached = total - available`

See: https://github.com/root-project/root/blob/4d2a8650ed0f47fbffed33488426aaa6b6dfc73b/core/unix/src/TUnixSystem.cxx#L5153

[code]

### Expected behavior
It should report the actual free memory,

[2021-02-12 14:52] hassec commented on #7179
Thanks, I actually did miss that :see_no_evil:

But you are right, our use case wouldn't be fixed because this specific piece of code returns a reference.
Not sure what the best way forward would be.
IMHO, breaking `operator[ ]` in favor of `operator ()` isn't great, especially since this happens without a warning of any kind :/

[2021-02-12 15:45] couet commented on #6851
I found the [culprit](https://github.com/root-project/root/commit/b9256d1864a30d33e121eddf4398fe73c43d3ad2). Now we need to understand why this was done.

[2021-02-12 15:57] etejedor commented on #7179
One option is to add a pythonization to your vector class to use the `__getitem__` of `std::vector`.

Something like this:
[code]

It would need to be generalized to that the template parameter is parsed (here I just show the example for double).

Note that the pythonizations are injected lazily: only when your class is actually used for the first time, the injection will happen. More info here:
h

[2021-02-12 16:09] hassec commented on #7179
Thanks, that seems like a good workaround for the reproducer.
But, if I understand correctly, that would require that I always include that in a python script before using that class, which seems hard. There isn't one global entry point where cppyy is loaded where I could just add this.

Are you aware of any examples of how to use the C++ callbacks that are mentioned on the same page?
That could w

[2021-02-12 16:21] eguiraud opened #7199 "[cling] Crash when CompileMacro is called twice on the same file, and the file has been touched in the meanwhile"
A self-contained reproducer:

[code]

results in:

[code]

I could not reduce the repro further. I am not sure whether this is a scenario that is supposed to work, but I _think_ so because making minor, apparently harmless changes to the repro fixes it (e.g. removing the parameter of `Foo` or deleting the first line of its body).

Feel free to close if such a usecase is simply not supported.

[2021-02-12 16:27] etejedor commented on #7179
Indeed, you'll need to register the pythonizor before using your class.

Regarding the C++ callbacks, I never used them myself, but in the cppyy test suite:
https://bitbucket.org/wlav/cppyy/src/master/test/

there is
https://bitbucket.org/wlav/cppyy/src/master/test/pythonizables.h
https://bitbucket.org/wlav/cppyy/src/master/test/pythonizables.cxx

(look for `explicit_pythonize`)

That should work,

[2021-02-12 16:41] hassec commented on #7179
Thanks a lot for your help, it's much appreciated :)
I think that solves it for me, I now have multiple ways around the issue.

IMHO it would have been nicer if the default would be the exact opposite workflow.
That is `operator[ ]` isn't broken and if really needed for a specific class once could use special pythonization to map `__call__` to `__getitem__`...

Anyway I'll leave it to you if you w

[2021-02-12 16:52] pcanal commented on #7196
I would go for this solutions (add missing information).

This would requires update in `GetLinuxMemInfo` and `GetDarwinMemInfo` in `TUnixSystem.cxx` and GetWinNTMemInfo in TWinNTSystem.cxx`

[2021-02-12 16:55] ferdymercury commented on #7196
Sounds good. And also document well what Used means in the MemInfo struct (as it is ambiguous and it does not correspond to any value in /proc/meminfo).

[2021-02-12 16:58] pcanal commented on #7196
@ferdymercury Would you be able to provide a PR?

[2021-02-12 17:04] ferdymercury commented on #7196
If it were only Linux, I would do it, but I am not familiar with OSx or WinNT...

I have put some code snippets above for the Linux version (MemAvailable), I tested it already and it seems to work.

[2021-02-12 17:41] #6802 closed

[2021-02-12 17:47] wlav opened #7201 "cling::evaluate leaks memory"
This is related to #7187, but on review it is independent enough so on Vassil's suggestion, I'm opening a new bug report. Since use of `cling::evaluate` (underlying) seems to proliferate b/c of RDataFrame, it is also directly relevant to ROOT usage.

The issue is that although names such as `TCling::Calc()` and `cling::evaluate` suggest these can be used for dynamic evaluation of C++ code, they ar

[2021-02-13 10:32] andriish opened #7202 "cmake complains about nlohmann_json"
### Describe the bug
Cmake is not able to configure a project with ROOT.
Usage of ROOT from master requires "nlohmann_json".
cmake fails if "nlohmann_json" is not found. Even if this package is not used in any way.

### Expected behavior
Cmake is able to configure a project with ROOT.

### To Reproduce

Call `find_package(ROOT)`, e.g.

`find_package(ROOT REQUIRED COMPONENTS Core RIO Tree TreePlaye

[2021-02-13 10:44] andriish commented on #6510
Hi @couet ,

I don't know. I cannot check anything with nightlies/master  because of #7202 , so it makes sense to keep it open.

Honestly to say I don't event know where to get that package from #7202 in /cvmfs. Any searches in the internet don't provide any useful info.

Best regards,

Andrii

[2021-02-13 10:56] andriish commented on #7202
Wrong source script.

[2021-02-13 10:56] #7202 closed

[2021-02-13 11:16] andriish commented on #6510
OK,
I've checked with
/cvmfs/sft-nightlies.cern.ch/lcg/views/dev3/Thu/x86_64-centos7-gcc8-opt/bin/root
and the issue is still there.

Of course, I know how to fix that for *my* case   -- I just have to disable the `ShowGuidelines` and I'm happy to do that.
So I don't mind if you close this issue, even if the reproducer still crashes.

In short: I don't mind if you close it.

Best regards,

Andrii

[2021-02-13 13:14] #6510 closed

[2021-02-14 12:40] dcervenkov opened #7205 "RDataFrame::Display should display all requested columns"
### Explain what you would like to see improved

When there are many columns in a `ROOT::RDataFrame`, `df.Display(many_columns)->Print()` is truncated and doesn't include all the columns requested. I can understand this truncating without any parameter, but when I pass the columns explicitly, no truncating should occur.

The Pandas approach to truncation is better and should be adopted as well - i

[2021-02-14 13:14] chrisburr opened #7206 "Unable to build with builtin_cling=OFF for LLVM 9"
When building with #6385 I get the following error when building with `builtin_cling=OFF`. I haven't investigated in detail so it could be something wrong on my part:

[code]

## How cling was built

Cling is being built from https://github.com/vgvassilev/cling/tree/upgrade_llvm90 with two patches added:

* https://github.com/chrisburr/cling-feedstock/blob/8359ffc4aafde1fcd09ffa2caeae93600449d439/

[2021-02-14 13:53] ferdymercury opened #7207 "Cling memory leaks"
### Describe the bug
Valgrind reports memory leak when opening and closing ROOT, even when using the ROOT-suppression file. See attachment.
[valgrind.log](https://github.com/root-project/root/files/5977813/valgrind.log)

Definitely lost:
[code]
Possibly lost --> about 4000 lines of output, which make it quite challenging to find your 'own memory leaks' in your code.

### Expected behavior
No leaks

[2021-02-14 17:46] AdvaitDhingra commented on #7196
I have attempted to fix this. I linked this issue in my PR.

[2021-02-15 07:55] bellenot commented on #7195
Please use `ChangeText` instead:
[code]

[2021-02-15 09:11] bellenot commented on #7156
So sorry, but as explained, I close this feature request. Thanks anyway for the suggestion!

[2021-02-15 09:11] #7156 closed

[2021-02-15 09:12] ferdymercury commented on #7195
Thanks for the hint. I just tried that, now I do not get a crash, but rather a warning and the button name is not changed:

`Error in <TClingCallFunc::exec>: The method ChangeText is called without an object.`

[2021-02-15 09:20] etejedor commented on #7179
Yes, I agree this is at least debatable. I have decided to stick for now to what cppyy currently provides and add the fix for the by-value one-arg case:
https://github.com/root-project/root/pull/7209

thus keeping the current behaviour otherwise (as in your reproducer), since the current implementation covers other use cases that are explained in the cppyy ticket.

[2021-02-15 09:21] ferdymercury commented on #7156
Thanks, I understand, no problem.
Please add an LED indicator to the OpenUI5 feature-suggestion list, if it's not already in there ;)

[2021-02-15 09:22] bellenot commented on #7195
Well, this simple example works just fine for me on Windows and CentOS7:
[code]

[2021-02-15 09:28] hageboeck opened #7210 "[RF] Implement checking of parameter ranges"
### Explain what you would like to see improved
Since a while, RooFit can check if parameters are defined with a mathematically allowed range.
https://github.com/root-project/root/blob/c8e050d31d3ed4fefc5f4d28c2daf36953f15a30/roofit/roofit/src/RooGaussian.cxx#L42-L44

This should be implemented for all PDFs where we know that the definition range of the parameters is less than [-inf, inf].

[2021-02-15 09:51] eguiraud commented on #7205
Hi @dcervenkov ,
thank you for the suggestion! As a workaround, does it help if you use `->AsString()` to convert the display output to a `std::string` and then `cout` that string?

[2021-02-15 10:21] ferdymercury commented on #7195
Thanks for the nice example. It works on Ubuntu, too.
(Sorry, my last message was an error on my side,  I was passing a nullptr as myButton).

Why is SetText() leading to a crash?

Maybe we could add a short comment here in the documentation:
https://root.cern/doc/master/classTGTextButton.html#aa2d8b609e96fb43c0a11b6b9ece52c83

"If you use a signal-slot connection with inline argument passed as (t

[2021-02-15 10:27] bellenot commented on #7195
Well, I'll check, but the signatures of `SetText` are : [void TGTextButton::SetText(const TString &new_label)](https://root.cern/doc/master/classTGTextButton.html#a799dba6e9d376cb1dc7709efe3c21aeb) and [void SetText (TGHotString *new_label)](https://root.cern/doc/master/classTGTextButton.html#a72045eca394d5bb77bddef50d54958e2). I.e. no `char *` (or `const char *`) argument. But I agree, ROOT shoul

[2021-02-15 10:35] ferdymercury commented on #7195
Thanks for checking.

My second use case was a combobox selection leading to a tgtextbutton change. I tried it with your example, but it is not working.

Do you get a similar crash on Windows?
[code]
[code]

[2021-02-15 12:10] couet opened #7212 "TMathText does not display with high value coordinates"
first described here:  https://root-forum.cern.ch/t/tmathtext-bug-maybe/43543

The following macro reproduces the problem .
[code]

[2021-02-15 12:28] ShamrockLee opened #7213 "TBrowser get stuck when too many files/directories are presented in the upper directories"
- [X] Checked for duplicates

### Describe the bug

When `TBrowser` is opened, all the child items (files and folders) of the super-directories will be shown. This cause it to get stuck when one of them contains a huge amount of files and directories.

### Expected behavior

`TBrowser` is opened smoothly without being overwhelmed by the upstream folders.

Possible solutions include:
* Provide an o

[2021-02-15 12:31] #7179 closed

[2021-02-15 13:46] bellenot commented on #7195
Yes. I will debug it

[2021-02-15 14:15] couet commented on #7212
`void TMathText::GetAlignPoint` returns a wrong shift to `TMathText::PaintMathText`

[2021-02-15 15:12] bellenot commented on #7213
We had the same kind of issue with network file systems, but I'm afraid that the only solution I see would be to add an entry in `system.rootrc`. I will investigate what can be done

[2021-02-15 15:23] bellenot commented on #7164
Fixed by https://github.com/root-project/root/pull/7170

[2021-02-15 15:23] #7164 closed

[2021-02-15 15:29] couet commented on #7151
Nice idea. Except I do not have any idea how to make a such constructor.
That should be of course extended to TGraphErrors, TGraphAssymError .etc .. TGraph2D etc ..
I am happy to do it .. can you point some example/code I can take inspiration from ?

[2021-02-15 16:33] Axel-Naumann commented on #7151
Can't we simply take `vector<double>`s instead of `int size, double*`?

[2021-02-15 17:11] ferdymercury opened #7216 "TThread documentation outdated"
### Explain what you would like to see improved
The TThread HTML documentation speaks about having to compile with special ./configure flags, see

https://github.com/root-project/root/blob/f8efb11a51cbe5b5152ebef19a4f7b78744ca2fa/documentation/users-guide/Threads.md

### Optional: share how it could be improved
Change it to the corresponding CMake flags, or clarify if it is still needed.

### To R

[2021-02-15 18:30] hageboeck opened #7217 "[RF] Pythonisations for RooFit"
Many C++-like workflows in RooFit can be beautified on the Python side.
Currently:
[code]

Propose:
[code]

Overall, this is not difficult once one figures this out for the first function. Good for e.g. a summer student project. A few candidates that could be pythonised:
- [ ] RooAbsPdf::fitTo
- [ ] RooAbsPdf::chi2FitTo
- [ ] RooAbsReal::plotOn
- [ ] RooAbsPdf::createNLL
- [ ] RooDataHist::RooData

[2021-02-15 19:29] dcervenkov commented on #7205
Hi @eguiraud, the workaround indeed works. Thanks!

[2021-02-16 08:09] eguiraud commented on #7216
Hi, I think `TThread` is deprecated in favour of `std::thread` (this is not to say that we shouldn't update its docs).

[2021-02-16 08:41] ferdymercury commented on #7216
Oh, I see, thanks.

Maybe it would be also interesting then to add a section on how to "migrate" from TThread to std::thread, I would be happy to upgrade my classes if there would be an example on the correspondence between functions.

[2021-02-16 08:47] couet commented on #7160
I asked Timur about that. He told me that Cocca can be installed without OpenGl and a few ifdefs should make it. Indeed I just tried and found that in TGCocoa.mm, TGLIncludes.h should be under a "opengl ifdef"... in that same file    glFlush(); should be also. Then in CMakeFiles/GCocoa.dir/link.txt , -lRGlew should not be generated.
So that mainly defining a new GL flag (or using an existing one)

[2021-02-16 10:01] bellenot commented on #7180
@ferdymercury check [root-project#7180](https://github.com/root-project/root/issues/7180)

[2021-02-16 10:15] bellenot commented on #7213
@ShamrockLee there is already a `Browser.ExpandDirectories` entry in `system.rootrc`, you can simply set it to false. Otherwise I can also add something like:
[code]
But I would prefer not to add such special case...

[2021-02-16 11:33] ferdymercury commented on #7180
Thanks so much.

I checked it, it works great, I saw just a couple of issues:
- If I go all the way down to the last entry, I need press twice 'up' key to go the second entry. Probably, some issue between index 0 and index 1.
- Maybe, index 0 should correspond to the 'empty' comannd line window, or whatever the user had typed in the beginning before pressing the arrows. For example,    if (te) {

[2021-02-16 12:28] bellenot commented on #7180
I'll check

OK, I'll see what I can do

That might well be. But if it's the case then I'm afraid there is not much I can do..

[2021-02-16 12:32] ferdymercury commented on #7180
For the tab-completion, I checked and it looks it could be done in a more or less simple way I guess:

[code]

[2021-02-16 13:41] ferdymercury commented on #7195
This is what my debugger shows before it freezes:

![image](https://user-images.githubusercontent.com/10653970/108070249-4bf5ae80-7032-11eb-9f35-124c473c0521.png)

It looks as if the Selected(Int_t) signal argument (integer) is being passed as a string?.

I was able to reproduce the crash isolatedly in a ROOT terminal:

[code]

[2021-02-16 13:49] bellenot commented on #7195
I didn't have time to look at it yet, but the integer is maybe the argument of the signal `Selected(Int_t)` trying to be passed to the slot...

[2021-02-16 13:51] ferdymercury commented on #7195
Yes, I just confirmed it by changing this:
`myTGComboBox->Connect("Selected(const char*)", "TGTextButton", myButton, "ChangeText(=\"LEGOlegoemoryABCDEF\")");`

Now it does not crash, but instead of changing the text to the one I pass by value, it replaces it with the TGCombo text entry.
Weird... I thought the idea to pass by value was to override this.

[2021-02-16 13:55] bellenot commented on #7195
I know that the signal/slot mechanism has some limitations, so that might well be one of them.

[2021-02-16 13:57] ferdymercury commented on #7195
Ok, thanks for the reply. Maybe a note in the documentation could be added specifying that it only works if the signal has the shape of Clicked() or Pressed(), not with extra arguments ?: https://root.cern.ch/root/htmldoc/guides/users-guide/WritingGUI.html#event-processing-signals-and-slots

[2021-02-16 14:16] hageboeck opened #7223 "[RF] RDataFrame to RooDataSet/RooDataHist conversion"
## Is your feature request related to a problem? Please describe.
You could call it a "problem", yes.

What we want basically is to drop out an RooDataSet directly from RDataFrame. There's two ways to do it:
#### Easy way:
- Create a loopable collection of events that drops out of RDF. Could be a std::vector, a snapshot, etc
- One by one, fill those events into RooDataSet à la https://root.cern/do

[2021-02-16 14:20] eguiraud commented on #7223
I think you want a dedicated custom action that users can [Book](https://root.cern/doc/master/classROOT_1_1RDF_1_1RInterface.html#a9ed8313806398d106bfc2390301c0408).

In general you can also just `Take` std::vectors (or other collections) out of a RDataFrame.

[2021-02-16 14:29] hageboeck commented on #7223
Book is good-ish, it would fill the dataset one-by-one, but RF can do better.

I think `Take` is exactly what's needed!

Eventually, this could look like:
[code]
Internally, this would do something like:
[code]
There is lots of details missing, but that's what it could do eventually. Maybe the `RooRealVars` have to be passed into whatever it is I wrote above, because they have ranges and binnings

[2021-02-16 14:44] eguiraud commented on #7223
Uhm, `Book` exposes the exact same mechanics that RDF uses for its own actions like `rdf.RooDataSet`, so anything you would like to do in there, you can do in the helper type you pass to `Book`.

Then it's a small step to go from `df.Book(RooDataSetMaker(...), {"x", "y", "z"})` to `df.MakeRooDataSet`, basically just syntactic sugar.

[2021-02-16 14:57] vgvassilev commented on #7206
@chrisburr, the branch went out of date for ROOT and it'd be hard to keep it up to date. I'd propose to wait until we land the upgrade PR in ROOT and then fix that if there is still something to fix. How does that sound?

[2021-02-16 15:10] chrisburr commented on #7206
Sounds good 👍

[2021-02-16 15:14] hageboeck commented on #7223
Ok, for single value filling, this may be achievable in a few days, nice.

[2021-02-16 15:59] AdvaitDhingra opened #7227 "Update the copyright year from 2020 to 2021 (good first issue)"
### Explain what you would like to see improved

Update the copyright years from 2020 to 2021

### Optional: share how it could be improved

Someone just needs to go to each file that has Copyright (C) 2020 and change it 2021.

### Additional context

Add the Good-first-issue label so newcomers have something to do.

[2021-02-16 16:00] AdvaitDhingra commented on #7227
I'm personally not going to do this, but a newcomer might like to do it as a first issue.

[2021-02-16 16:05] ferdymercury commented on #7195
I provided a PR for this.
I have tested the new signal in my code and now it does not crash, all works well :)

Thanks for the excellent support.

[2021-02-17 08:58] hageboeck commented on #7207
It's unrelated, but if I can just add this one here:
[code]

[2021-02-17 09:19] #7195 closed

[2021-02-17 09:22] bellenot commented on #7213
@ShamrockLee can you tell me if the given solution (setting `Browser.ExpandDirectories` to `false` in `system.rootrc`) is good enough for you? (so I can close this issue). Thanks!

[2021-02-17 11:08] etejedor commented on #7227
@Axel-Naumann can perhaps reassign.

[2021-02-17 11:10] Axel-Naumann commented on #7227
That's not how we do this. Any file that receives at least non-trivial edits needs to have the copyright year updated. As such it can be automatized, but it's for now part of the developers' task.

[2021-02-17 11:10] #7227 closed

[2021-02-17 14:05] bellenot commented on #7180
@ferdymercury I updated the PR. Please check and let me know. Thanks!

[2021-02-17 16:28] eguiraud commented on #7047
#7142 is merged, thank you @Harshalzzzzzzz !

Before closing the issue I'll go through `RResultPtr`'s API one last time because I think there are a couple more places where we should check for a null `fActionPtr` before dereferencing it, but this is an issue we already had.

[2021-02-17 20:22] ferdymercury commented on #7180
Looks really great, thank you very much.

There is only one issue. The history is not being added. I tracked it down to here:

![image](https://user-images.githubusercontent.com/10653970/108262954-990d7980-7133-11eb-8a03-e76a0c8e9619.png)

The command is about to be added, but the history file name is empty, thus it returns.

`fContext->GetHistory()` on TextInput.cpp has an empty history filename.

[2021-02-17 20:42] bellenot commented on #7180
Yes, I know, but since this is quite a high level change, I don't think I will introduce it in the `TGCommandPlugin` class. You should do that in your own application. For example, you can simply copy and paste what is done in `TRint.cxx`:
[code]
You can even specify your own history file, if you don't want to use the default.

[2021-02-17 21:13] guitargeek commented on #7115
Fixed by:
* https://github.com/root-project/root/pull/7183 in master (v6.24)
* https://github.com/root-project/root/pull/7188 in v6.20
* https://github.com/root-project/root/pull/7189 in v6.22

[2021-02-17 21:13] #7115 closed

[2021-02-17 21:19] dlanci commented on #7115
Thanks a lot!

[2021-02-17 21:58] ferdymercury commented on #7180
Thank you very much Bertrand for the explanation. I tried with this one-liner in my code, and now it works perfectly:

`Gl_histinit(gEnv->GetValue("Rint.History", gSystem->HomeDirectory()));`

The problem I see if it is not introduced in the plugin is that the SetHistAdd() function has no effect. To avoid confusion, I would suggest to add the following in the documentation:

[code]

After that add

[2021-02-17 22:01] bellenot commented on #7180
Right, I agree, I will add those lines in the doc. Thanks!

[2021-02-17 23:00] pcanal commented on #7207
@hageboeck that seems correct and requires TClingDataMemberInfo::fClassInfo to become a unique_ptr.

[2021-02-18 00:46] shahor02 opened #7236 "Memory leak in TFile::WriteObjectAny, depending on data type"
Hello,

I observe a constant (16MB) memory increase when writing to ``TFile`` or ``TMemFile`` with ``WriteObjectAny`` a ``std::vector`` of chars (also have seen this with TArrayC). Strangely, this does not happen when writing ``vector<float>``.
This is with ROOT 6.20/08.
Attached [demoMem.C.gz](https://github.com/root-project/root/files/5999433/demoMem.C.gz) reproduces the problem:
[code]

[2021-02-18 06:38] #7212 closed

[2021-02-18 08:39] hageboeck opened #7239 "[RF] Use integral of PDF curves for pull plots and residuals"
## Explain what you would like to see improved
When using [pullHist](https://root.cern.ch/doc/master/classRooPlot.html#a0d3911db1f4e0ba5cfcf9e182eea3ed0), don't take curve at bin centre, but integrate curve over the bin. That should fix the following pull plot:
| Wrong | Correct |
| ---- | ---- |
| ![oneToy_old](https://user-images.githubusercontent.com/16205615/108328256-acb8ee80-71cc-11eb-9eb1-f

[2021-02-18 09:03] olantwin commented on #7239
Thanks @hageboeck ! I will give this a go, when I find some time.

[2021-02-18 09:08] etejedor commented on #7239
@olantwin do you want this to be assigned to you then?

[2021-02-18 09:14] olantwin commented on #7239
I can't promise being able to look at this soon, but as long as that is understood, feel free to do so.

[2021-02-18 09:50] hageboeck commented on #7239
Stop, stop, stop!

It's much easier, all the code is already there! See this:

| `auto pulls = frame->pullHist();` | `auto pulls = frame->pullHist(nullptr, nullptr, true);` |
| ---- | ---- |
| ![canvas-2](https://user-images.githubusercontent.com/16205615/108338626-c2cbac80-71d6-11eb-8858-d239bf1a74ab.png) | ![canvas](https://user-images.githubusercontent.com/16205615/108338402-80a26b00-71d6-11eb-

[2021-02-18 09:57] hageboeck commented on #7207
I agree @pcanal :-)

[2021-02-18 10:06] guitargeek commented on #7239
Thanks @hageboeck! I'll take care of it.

[2021-02-18 10:37] hageboeck opened #7240 "[RF] Batch mode returns broken logarithms when `-DVDT=OFF`"
This needs fixing:
https://github.com/root-project/root/blob/bfbb243f932dce3982f153212a4f93dc00cdca53/roofit/batchcompute/inc/RooVDTHeaders.h#L56-L58

[2021-02-18 13:13] ShamrockLee commented on #7213
@bellenot Sorry for late reply.

I'm building the nix expression for the solution now. The result will come up later.

(Since `/nix/store/` is read-only, a wrapper is needed to apply the changes on `system.rootrc`.)

[2021-02-18 13:20] bellenot commented on #7213
FYI, you can also have a `${HOME}/.rootrc` file, being your own, custom version of `system.rootrc`

[2021-02-18 13:49] goi42 opened #7249 "Cannot import custom PDF into RooWorkspace"
- [x] Checked for duplicates

### Describe the bug

`RooWorkspace` is supposed to be able to store custom PDFs using `importClassCode`, but, even after setting `Impl` and `Decl` directories, a workspace with a custom PDF will crash on opening.

### Expected behavior

Ideally, just
[code]
should be sufficient.

### To Reproduce

The `.cxx` and `.h` files can be found on the [forum](https://root-for

[2021-02-18 15:05] #7076 closed

[2021-02-18 15:34] ShamrockLee commented on #7213
@bellenot I finally realized that it should be
`Browser.ExpandDirectories: false`
in stead of
`Browser.ExpandDirectories = false`
in `$HOME/.rootrc`

Problem solved. :tada:

![Screenshot_20210218_233311](https://user-images.githubusercontent.com/44064051/108380300-afa1f680-7241-11eb-9515-57eb35b17cbd.png)

[2021-02-18 15:35] #7213 closed

[2021-02-18 15:36] bellenot commented on #7213
Very good! Thanks for letting me know! 👍

[2021-02-18 21:48] tmombaecher opened #7252 "RooAddPdf can fit, but not generate negative coefficients"
I ran into the issue that a RooAddPdf cannot generate pdfs with a negative coefficient for one component (also when the total pdf is positive defined). This caused a severe bias in my pseudo experiments, where one of the coefficients of my Pdf is needed to be negative (outcome of a fit with a RooAddPdf to data). That caused me a lot of head scratching because it never mentioned any warning. In my

[2021-02-19 06:46] quaglia90 opened #7254 "[RF] RooHypatia2 Analytical integral integration"
- [ ] Checked for duplicates

The PDF ```RooHypatia2``` implemented in master has wrong commented code for the analytical integral.
The version copied and adapted of the function is somehow linked to an old version.
The Version i am using in my analysis has different evaluate() and analyticalIntegral implementation.
In attachment the class i am using for my analysis.

[RooIpatia2.zip](https://gith

[2021-02-19 06:47] quaglia90 commented on #7254
The function here seems to well behave for the analytical integral only when ```z=0,beta=0, lambda <-1 strictly```
In the current master implementation some of the logics on the parameter and sigma,lambda interplay seems to be not implemented

[2021-02-19 11:45] meena382 opened #7256 "Errors"
#5  __cxxabiv1::__dynamic_cast (src_ptr=0x7fffd5147510, src_type=0x7f1637f9b028 <typeinfo for TObject>, dst_type=0x7f162ae18df0 <typeinfo for RooAbsArg>, src2dst=0) at ../../../../libstdc++-v3/libsupc++/dyncast.cc:68
#6  0x00007f162ac6a00e in RooLinkedList::Add(TObject*, int) () from /cvmfs/cms.cern.ch/slc7_amd64_gcc700/lcg/root/6.12.07-gnimlf5/lib/libRooFitCore.so
#7  0x00007f162ab62f3b in RooAbs

[2021-02-19 12:03] etejedor commented on #7256
@meena382 could you please add a proper issue message? When you open an issue, there's a template that you can follow. Here we just see partially a stack trace.

[2021-02-19 12:18] #7180 closed

[2021-02-19 13:48] guitargeek opened #7258 "[RF] Update crystal ball shapes in RooFit"
In the still relevant Jira issue [ROOT-10388](https://sft.its.cern.ch/jira/browse/ROOT-10388), it was requested to extend the RooFit crystal ball shape with the possibility to set different standard deviations for the left side and and the right side of the Gaussian core.

An example implementation that didn't implement the analytical integral was linked:
* [RooDoubleCB.h](https://gitlab.cern.ch/l

[2021-02-19 15:42] guitargeek commented on #7249
Hi @goi42, thanks for opening the issue and providing the code.

I could not reproduce your compilation error word-by-work in my ROOT 6.22 environment, but indeed I got an error as well.

In your code, I noticed you run:
[code]
This [website about cling](https://root.cern/cling/) says that `.x` loads the file and then runs the function called `RooSDSCBShape` if it exists. I think it's better to us

[2021-02-19 15:45] manolismih commented on #7032
@hageboeck @guitargeek The important flags for facilitating auto-vectorization are `-fno-signaling-nans` and `-fno-trapping-math`. Clang has this on by default (that's why it's better than gcc in vectorizing) while gcc has this off by default. That's the reason why I have this flag in my computing libraries here: https://github.com/root-project/root/blob/447affc3323b6abacc97b56935a2ad3335aaa6c9/ro

[2021-02-19 15:50] goi42 commented on #7249
Hi @guitargeek,

Thanks for looking into this. Unfortunately, I have the same error after making the changes you suggest.

[code]
results in
[code]

I make my conda environment using
[code]

Sidenote: I submitted #6172, which #7258 seeks to improve, but, as you note, it was never released. Hence my difficulty.

[2021-02-19 15:59] guitargeek commented on #7249
Ah I didn't realize that was you too! Nice, thanks a lot for your contribution! I'm thinking now how this can be further extended to cover also the class of crystal ball functions with asymmetric Gaussian core. Right, there has been no new release in some time.

Hmm what about this line in the error message here:
[code]
What is `CheckFix`, is that also some custom library? I don't think it's part

[2021-02-19 16:00] guitargeek commented on #7249
Just to add some documentation of the problem, here is the error that I have gotten before changing to `.L`:
[code]

[2021-02-19 22:51] #6748 closed

[2021-02-22 07:46] #7239 closed

[2021-02-22 08:04] olantwin commented on #7239
Thanks Jonas, Stephan!

[2021-02-22 08:04] etejedor commented on #7256
@meena382 I suggest that you open a new issue, please follow the template and provide a proper description, thank you very much!

[2021-02-22 08:04] #7256 closed

[2021-02-22 12:36] #7240 closed

[2021-02-22 15:41] goi42 commented on #7249
I can confirm that I don't have this problem on a Linux x86_64 machine. It appears specific to Mac. I don't know what `CheckFix` is.

[2021-02-22 15:58] couet commented on #6851
If we revert the changes done in this [commit](https://github.com/root-project/root/commit/b9256d1864a30d33e121eddf4398fe73c43d3ad2)

[code]
The fraction with in ventral is fine, but the limits of the internal are misplaced in case a greek character appears in front of the `#int`
<img width="512" alt="Screenshot 2021-02-22 at 16 56 30" src="https://user-images.githubusercontent.com/4697738/1087337

[2021-02-22 20:45] guitargeek commented on #7182
While working on this issue, I noticed that also `RooHistPdf` is also not bug free. Here is what you can do to get strange results with it:
[code]
Obviously the integral of a constant function if you only take half of the x range should be half of the value you get for the full range, even if there is an additional variable in the slice set. However, this is what the program above outputs in ROOT

[2021-02-22 22:07] ferdymercury commented on #7216
See also https://root-forum.cern.ch/t/error-in-treentrantrwlock-writeunlock-write-lock-already-released-tthread-member-function/43663/6
ROOT::EnableThreadSafety() could be added to the manual.

[2021-02-23 09:56] couet commented on #6811
Yes the 3D objects can be superposed correctly only when they have the same range ("SAME" option).
This is a known feature. We can try to think of some solutions.

[2021-02-23 09:57] eguiraud commented on #7047
#7267 improved the behavior or null RResultPtrs a bit. Closing this.

[2021-02-23 09:57] #7047 closed

[2021-02-23 10:00] couet commented on #6966
Yes, that should be uniformed. I would even be in favour to break the backward compatibility for that as such methods are utilities.

[2021-02-23 10:18] couet commented on #6991
[code]

[2021-02-23 10:36] dcervenkov opened #7273 "RDataFrame is slow"
### Explain what you would like to see improved

I prepared two short MWEs assigning bin numbers to events in a dataset of 10000 events and printing the number of events in each bin. One is C++ using `RDataFrame`, the other is Python using Pandas. The Pandas one is 3x faster; see the output from `hyperfine`.

[code]
[code]

This is the first time I attempted to use `RDataFrame` and I might very we

[2021-02-23 13:22] romainbqt commented on #6811
Hello @couet,
If it is possible to find a solution it would be a really nice and very useful improvement!
Thanks a lot in advance,

[2021-02-23 13:41] couet commented on #6811
I am not sure yet what the behaviour should be. But we can try.

[2021-02-23 18:16] eguiraud commented on #7273
Hi @dcervenkov , I believe you are counting the time spent just-in-time compiling ("jitting") the cuts as if it was part of the event loop: RDataFrame, when strings are used as filters or defines, has a non-negligible start-up time because it's actually compiling those strings into C++ code. With ROOT master branch (and in v6.24, coming soon), you can retrieve the jitting time and the event loop t

[2021-02-23 18:22] eguiraud commented on #7273
On my workstation:

[code]

[2021-02-23 19:22] dcervenkov commented on #7273
Hi @eguiraud, awesome! It would be great if a filter example similar to `df.Filter([=](int tb) { return tb == time_bin; }, {"time_bin"}).Count();` could be added to the docs (or is it already there and I missed it?).

[2021-02-23 19:22] #7273 closed

[2021-02-23 21:34] timadye opened #7276 "ROOT 6.22/06 crashes reading old workspace file"
- [X] Checked for duplicates

### Describe the bug
ROOT 6.22/06 crashes when reading a RooWorkspace from a file written with ROOT 5.34.

### Expected behavior
The RooWorkspace should be read from the file, as it did when read with ROOT 6.22/00.
ROOT 6.22/06 also successfully reads files created with ROOT 6.02/12 and later.

### To Reproduce
  * Create any workspace file with ROOT 5.34, eg.
[code]

[2021-02-24 10:32] ynikitenko opened #7279 "Update User's Guide pdf"
### Describe the bug
PDF of the User's Guide downloaded from https://root.cern/d/guides/users-guide.html is outdated. On the title page it shows the date of May 2018. On the html page of TTree in User's Guide I can see that it has changed since that time (which is not reflected in the pdf version).

I looked for other reports, but they were either closed or referred to a part of the Guide, not the

[2021-02-24 13:23] pcanal opened #7281 "Trailing dot dropped in top level branch name"
See https://root-forum.cern.ch/t/root-6-23-changing-name-of-branch-with-tclonesarray/43626/4

A recent change to improve GetBranch's behavior lead to an improvement of the sub-branch name but also (inadvertently?) to a change of the top level name.  We need to either confirm that we want to change or revert the top level name part.

[2021-02-24 16:34] ynikitenko opened #7282 "Refactor links hierarchy of the site, including documentation links"
Today I searched for User's guide on the site, and wanted to share several ideas for improvement.

1\) Remove duplicate links.
In modern Web Development it's appreciated that same content has only one link on the site, and a link is meaningful in itself (see Django guidelines).
For example: from the main page I can see a link to the documentation,
https://root.cern/d/documentation.html
If I delete

[2021-02-24 17:44] ynikitenko opened #7284 "Fix grammar and typos in Tree Chapter of User's Guide"
Today I read User's Guide and spotted many mistakes I noticed when reading it for the first time 15 years ago. I thought that now is the time for me to act and to finally fix them.
I'm not a native speaker, so I don't insist on all of them (I still doubt the usage of articles when I write this small report).

If it's really easier for you, the next time I can try to make a push release with the co

[2021-02-24 17:48] ynikitenko commented on #7282
https://root.cern/root/htmldoc/guides/users-guide/Trees.html
\- probably should be in the documentation hierarchy.
https://root.cern/root/
\- an absolutely empty page (check other pages on that path though).

[2021-02-24 21:21] hcmidt commented on #7217
Hi,

I am new to root and trying to wrap my head around some of its features. I thought a good place to start would be to work on this issue. I started by pythonizing `fitTo` and I'd like to send you a pull request. I take it that I should provide some tests for the feature, but I could not find any resources regarding the testing conventions in python for root. If there are any specific guideline

[2021-02-25 01:17] #7093 closed

[2021-02-25 07:32] ynikitenko commented on #7284
Several new corrections since last evening

14.14.3.1
// the objrect event has been filled at this point
\- object
We want to keep the generated
// histograms we open a browser and the TreeViewer
\- when we open
14.15.2
In this analysis, we do not read the entire entry we only read one branch.
\- entry,
(see Trees in Analysis).
\- should be a link.
// we are only interested by the destep branch
\-

[2021-02-25 07:57] ynikitenko commented on #7279
Could you please make the file name to contain the ROOT version? When I download "Complete User's Guide in A4 format" from http://root.cern.ch/root/htmldoc/guides/users-guide/ROOTUsersGuideA4.pdf, I've no idea whether it was changed in 2018 or in 2021.

[2021-02-25 10:31] ynikitenko commented on #7284
14.10.1.2
See "
Performance Benchmarks"
\- redundant newline
14.10.2
If you are creating a branch with an object and in general you want the data members to be split, but you want to exempt a data member from the split. You can specify this in the comment field of the data member:
\- When you create a branch with an object, in general you want the data members to be split. But if you want to exemp

[2021-02-25 11:21] couet commented on #7284
May I suggest that, instead of creating an issue, you do a Pull Request on the source file: https://github.com/root-project/root/blob/master/documentation/users-guide/Trees.md ?

[2021-02-25 11:24] couet commented on #7284
Note also we have now a new "Manual" online: https://root.cern/manual/trees/

[2021-02-25 11:39] couet commented on #7282
https://root.cern/d/ is the old web site and should not be taken into account.

[2021-02-25 11:43] couet commented on #7279
The ROOT user guide is consider as frozen and the "d" URL should not be considered. This ia a copy of the old web site.
The new web site is: https://root.cern

[2021-02-25 12:24] ynikitenko commented on #7284
Yes, I noted that, but it looks like it's a shorter version of that in the User's Guide. I hope "new" doesn't mean that it will replace the existing manual (or, even worse, to create a second source of the same documentation)?

[2021-02-25 12:26] ynikitenko commented on #7284
@couet - ok, next time I'll try to make a Pull Request! An issue seems a bit more interactive though (I don't do PRs often).

[2021-02-25 12:28] couet commented on #7284
PR are very Interactives too. But we discuss over the mods and once finalise we commit. I suggest that you do a PR with all the list of mods you suggest here.

[2021-02-25 12:31] couet commented on #7284
The User's will not be update in the future. It is not referenced form the new web site. The base of the Doc is the Reference Guide now and the Manual Is an overview helping to navigate into it. Se the explanation here: https://root.cern/manual/

[2021-02-25 12:31] ynikitenko commented on #7279
@couet - it seems that the html version is still updated. What do you mean by "The ROOT user guide is consider as frozen"? Do you plan to stop supporting it?

I still find it the best documentation about ROOT. This is pretty detailed and written better than class documentation would be (this is a manual for reading, not a technical reference of existing functions).

[2021-02-25 12:35] couet commented on #7279
It has not been updated since a long time ... and new feature like RDataFrame are not in it ....And yes we do not put any effort into it. See: https://root.cern/manual/. This is the top page of the ROOT documentation now. On the opposite the ref-guide (class doc) is constantly updated ....

[2021-02-25 12:37] ynikitenko commented on #7284
1) Fine, I'll try a PR next time. However, since I already published in issue here, maybe someone will fix that (there is an assignee chosen).
2) I found the User's Guide more comprehensive, but I'll try the Manual as well. I can't find a pdf version of the manual on its page, is there any?

[2021-02-25 12:47] couet commented on #7284
As I said we do not spend time on the users guide now. The .md files are still there though. So if someone is willing to do a valid PR on them we will considered it and merge it when finalised. So please convert this into is PR. And, once again, the User's guide is now frozen and not updated. It has never been update by the way. After the first writing developers did not put any new stuff in it. W

[2021-02-25 13:05] ynikitenko commented on #7284
Ok, thanks for the explanations. I started to use ROOT near 2005, and I mostly used the User's Guide since then (sometimes consulting Class Reference).

I found that there is probably no Manual in pdf (or other format for downloading), which is a pity. I'm not sure whether I shall make a separate improvement issue about that (I already made several ones).

I also think that if it's decided that th

[2021-02-25 13:11] couet commented on #7284
We are not in a development phase and some information still need to be moved form the old structure to the new one. That's why we keep for now the old informations. But hopefully if you do a consistent navigation starting from the new web site it should be consistent.  We made this changes mainly because the old sham did not scale with the fast growing of ROOT. So if you agree we can close this i

[2021-02-25 13:13] couet commented on #7279
See explanation about the User's Guide here: https://github.com/root-project/root/issues/7284

[2021-02-25 13:32] ynikitenko commented on #7284
You probably mean "are now in development phase".
As of today, I see that
1) there is no better document than the User's guide (the chapter about trees there looks more comprehensive to me than in the manual).
2) it is still available from the site, people may use that.
3) the manual has no pdf. For me it's very important, because I don't want to be online to read docs. I could use `wget`, but whe

[2021-02-25 13:39] couet commented on #7284
Yes I made a typo. It is fixed now.

The full information about TTree should be in the Reference Guide. We will not update the User's guide any more. It could be useful if you point stuff you find in the User's Guide but not in the Reference or in the Manual. That would help us to update both. By the way: Try to find something about RDataFrame in the user's Guide.

[2021-02-25 14:27] ynikitenko commented on #7284
I don't need the full information. I needed information to learn about the topic. A good book is not only an information container, but it teaches ideas.

I think that if manual creators know what and how to write, they can look at the existing docs (or skip outdated data from there).

If you don't plan to update the User's guide, there is probably no need to fix that with Push Releases.

As I und

[2021-02-25 14:31] couet commented on #7284
Yes we are working on the manual. And please if you see something missing in Manual or in the reference guide which is no where else but in the Old User's Guide, let us know and we will make sure it appears somewhere.
I guess we can close this issue now ?

[2021-02-25 15:14] ynikitenko commented on #7284
Fine, I'll open a ticket if I find something in the User's Guide missing in the Manual (or the reference guide).

For me this issue is not resolved in this state of things. I would rather simply fix that. However, if your workflow says that you can close that, you can do that - it's your project and your decisions.

[2021-02-25 15:17] couet commented on #7284
As I said if you want to make a PR against the tree.md with this changes I will look at it and apply it.

[2021-02-25 15:17] #7284 closed

[2021-02-25 15:32] ynikitenko opened #7289 "Allow ROOT to work with both Python 2 and 3"
### Is your feature request related to a problem? Please describe.
When I run

    $ python -c 'import ROOT'

in Python 3.9.1 on Arch Linux with ROOT 6.20/02, I get an error

Invoking:
  ccache  -O2 -DNDEBUG -xc++ -E -v /dev/null 2>&1 | sed -n -e '/^.include/,${' -e '/^ \/.*++/p' -e '}'
Results was:
With exit code 0
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "

[2021-02-25 15:33] ynikitenko commented on #7284
I don't understand what would be the use of corrections if no one is going to compile a new PDF, and it is to be removed from the site?

[2021-02-25 15:35] couet commented on #7284
Yes, right. Don't do it in that case.

[2021-02-25 16:26] etejedor commented on #7289
I'm glad to say that MultiPython ROOT is already a feature since 6.22 :smiley:

You can find information on how to build ROOT for both Python2 and Python3 here:
https://root.cern/install/build_from_source/#root-python-and-pyroot

By default, if CMake finds both a Python2 and a Python3 installation in the system, PyROOT will be built for both Python versions.

[2021-02-25 16:47] ynikitenko commented on #7289
Excellent, I'm very glad about this! I'll try this ASAP.

[2021-02-25 16:47] #7289 closed

[2021-02-25 17:28] mrodozov opened #7291 "Add an option to disable TBB warning of specific type"
Dears,

we are having excessive number of warnings coming from ROOT of this type:
[code]
see, https://github.com/cms-sw/cmssw/issues/32977 .
The warnings are as described but this is an intentional limitation in CMSSW (as from what I understood)
One possibility we discussed was to ask ROOT devs to put a cmake flag to silence it or anything similar you can propose (such that we turn it on and the w

[2021-02-25 19:37] ynikitenko opened #7292 "compilation fails on xrootd: _STAT_VER was not declared"
### Describe the bug
I'm installing the most recent ROOT 6.22.06 from source archive on Arch Linux. At progress around 60% the compilation fails suggesting to look for details in

    XROOTD-prefix/src/XROOTD-stamp/XROOTD-build-err.log

  Command failed: 2
   '/usr/bin/make'
  See also
    /opt/root/build-root-6.22.06/XROOTD-prefix/src/XROOTD-stamp/XROOTD-build-*.log
  make[2]: *** [CMakeFiles/XRO

[2021-02-25 20:23] ynikitenko opened #7293 "Installation fails with libvectorDict.so: no such file or directory"
### Describe the bug
I'm installing the most recent ROOT 6.22.06 from a source archive on Arch Linux. At the install phase (progress 100%) the compilation fails with

  file INSTALL cannot find
  "/opt/root/build-root-6.22.06/lib/libvectorDict.so": No such file or
  directory.
Call Stack (most recent call first):
  core/cmake_install.cmake:75 (include)
  cmake_install.cmake:200 (include)
make: ***

[2021-02-25 20:26] ynikitenko commented on #7279
I submitted several corrections to the Guide on https://github.com/root-project/root/issues/7284, but that was closed - so probably this one should be closed too if you don't intend to update the User's Guide.

[2021-02-25 20:30] ynikitenko commented on #7282
I think that since you own and support these two sites, and they can be found, this report is valid.
I can see that you assigned a person for this issue - does it mean you accept that?
Or should I move this issue to the ROOT site repository?

[2021-02-25 20:38] ynikitenko commented on #7293
I found that I also had ROOT installed by Arch Linux package manager (that's why the file was in /usr/lib/root).

[2021-02-26 06:47] couet commented on #7279
Yes I close it.

[2021-02-26 06:47] #7279 closed

[2021-02-26 06:49] couet commented on #7282
Johannes is the person who initiate the new Manual structure. Yes this issue would better apply on the ROOT site repository.  May be we can close it here in that case ?

[2021-02-26 06:49] #7282 closed

[2021-02-26 07:29] ynikitenko commented on #7282
1) I spent some time to show that your site structure is bad for users and wrote that in details and with links.
2) When I made an issue, it was not suggested on the site or here that I should make it in another repository.
I think that to show some respect to people who signal issues and to your project would be for you to at least copy this issue to the appropriate repository.

[2021-02-26 07:32] couet commented on #7282
Ok I will.
Yes tardy we made an issue to remember to check the TTree User's Guide

[2021-02-26 07:33] couet commented on #7282
I asked you to make it yourself because if I do it the authorship will be my ... you will lost the authorship. Is it ok for you ?

[2021-02-26 07:36] couet commented on #7282
Ok done. https://github.com/root-project/web/issues/510 I put your name on top.

[2021-02-26 08:36] ynikitenko commented on #7282
I see. Thank you! I subscribed to notifications there.
I don't care much about the authorship. I was confused by the current sites structure, and if when I visit the site next year all is clear, I will be glad! :)